%ul.controls.controls-horizontal.controls-right
  %li
    %a.up-rank{href: '#'}
      .icon-small.icon-small-chevron-up
  %li
    %a.down-rank{href: '#'}
      .icon-small.icon-small-chevron-down
  %li
    %a.remove-element{href: '#', data: {target: '.content-area'}}
      .icon-small.icon-small-trash

