.section.rankable
  .row-fluid
    .span11
      .well.well-plain
        %fieldset
          = f.label :title, "Section Title"
          = f.input :title, label: false, tabindex: 1
          = f.input :rank, as: :hidden, input_html: {class: 'rank'}
          = f.input :_destroy, as: :hidden, input_html: {class: 'destroy'}

        .template-group
          = f.simple_fields_for :content_items do |builder|
            - case builder.object.content
              - when Pitch::Video
                = render partial: 'template_video', locals: { f: builder }
              - when Pitch::TextArea
                = render partial: 'template_text_area', locals: { f: builder }
              - when Pitch::Image
                = render partial: 'template_image', locals: { f: builder }
              - when Pitch::Carousel
                = render partial: 'template_carousel', locals: { f: builder }

          .content-creation.row-fluid.skinny-margin
            .span3
              = add_content_button_tag('Add Text', f, :text_areas, class: 'btn-dashed btn-block btn-add-template')
            .span3
              = add_image_button_tag('Add Image', f, :images, class: 'btn-dashed btn-block btn-add-template extra-text')
            .span3
              = add_content_button_tag('Add Carousel', f, :carousels, class: 'btn-dashed btn-block btn-add-template')
            .span3
              = add_content_button_tag('Add Video', f, :videos, class: 'btn-dashed btn-block btn-add-template')
    .span1
      = render partial: 'issuer/editor/vertical_controls', locals: {f: f}
