.span4.photo-container.rankable
  .photo.photo-thumbnail.photo-selected
    = f.input :key, as: :hidden
    = f.input :rank, as: :hidden, input_html: {class: 'rank'}
    = f.input :_destroy, as: :hidden, input_html: {class: 'destroy'}

    .photo-controls
      %ul.controls.controls-horizontal
        %li
          %a.up-rank{href: '#'}
            .icon.icon-chevron-left
        %li
          %a.down-rank{href: '#'}
            .icon.icon-chevron-right
        %li
          %a.remove-element{href: '#', data: {target: '.photo-container'}}
            .icon.icon-trash

    - if f.object.has_carousel_photo_upload? && f.object.errors[:carousel_photo].blank?
      = image_tag(f.object.carousel_photo_url, class: 'image-full')

