.content-area.rankable
  = f.input :content_type, as: :hidden
  = f.input :rank, as: :hidden, input_html: {class: 'rank'}
  = f.input :_destroy, as: :hidden, input_html: {class: 'destroy'}

  = f.simple_fields_for :content do |builder|
    %fieldset
      .field-title
        = render 'horizontal_controls'
        = builder.label :body, 'Text'

      = builder.input :body, as: :ckeditor, label: false, input_html: {class: 'pitch-description auto-size', tabindex: 2}
