.content-area.rankable
  = f.input :content_type, as: :hidden
  = f.input :rank, as: :hidden, input_html: {class: 'rank'}
  = f.input :_destroy, as: :hidden, input_html: {class: 'destroy'}

  = f.simple_fields_for :content do |builder|
    %fieldset
      .field-title
        = render 'horizontal_controls'
        %label Carousel

      .photo-group.template-group
        .row-fluid.skinny-margin
          = builder.simple_fields_for :carousel_images do |image|
            = render partial: 'template_carousel_image', locals: { f: image }

          .span4.content-creation
            = add_carousel_image_button_tag('Add Image', builder, :carousel_images, class: 'btn-dashed btn-block photo-thumbnail')

