.content-area.rankable
  = f.input :content_type, as: :hidden
  = f.input :rank, as: :hidden, input_html: {class: 'rank'}
  = f.input :_destroy, as: :hidden, input_html: {class: 'destroy'}

  = f.simple_fields_for :content do |builder|
    %fieldset
      .field-title
        = render 'horizontal_controls'
        %label Image

      .photo.photo-selected
        = builder.hidden_field :key, value: decode_hidden_photo_key(builder.object.key)

        - if builder.object.has_photo_upload? && builder.object.errors[:photo].blank?
          = image_tag(builder.object.photo_url, class: 'image-full')

      .field-attributes
        = builder.input :expandable, as: :boolean, label: 'expandable'

