= content_for(:page_title, "#{@offering.company.name} | Pitch Editor")

= content_for(:main_container_class) do
  full-width light-gray

.flash-notice= flash[:notice]
.flash-alert= flash[:alert]

#offering-editor
  .offering-editor#pitch-editor
    = render partial: 'issuer/editor/navigation', locals: { active_tab: :pitch }

    %h4= t('issuer.editor.pitch.title')
    %p= t('issuer.editor.pitch.description')

    .row-fluid
      .span6
        %ul.item-list
          %li.title= t('issuer.editor.pitch.topics.title')
          %li= t('issuer.editor.pitch.topics.topic_1')
          %li= t('issuer.editor.pitch.topics.topic_2')
          %li= t('issuer.editor.pitch.topics.topic_3')
          %li= t('issuer.editor.pitch.topics.topic_4')
          %li= t('issuer.editor.pitch.topics.topic_5')
          %li= t('issuer.editor.pitch.topics.topic_6')
          %li= t('issuer.editor.pitch.topics.topic_7')
          %li= t('issuer.editor.pitch.topics.topic_8')
          %li= t('issuer.editor.pitch.topics.topic_9')
      .span6
        %ul.item-list
          %li.title= t('issuer.editor.pitch.ideas.title')
          %li= t('issuer.editor.pitch.ideas.idea_1')
          %li= t('issuer.editor.pitch.ideas.idea_2')
          %li= t('issuer.editor.pitch.ideas.idea_3')

    .row-fluid
      .span12
        = simple_form_for @offering, url: issuer_editor_pitch_path(@offering), as: :pitch, method: :put, html: {class: 'content-editor-form template-group'} do |f|
          = f.simple_fields_for :pitch_sections, @offering.pitch_sections.to_a.sort_by!{|e| e.rank} do |builder|
            = render partial: 'template_pitch_section', locals: { f: builder }

          .content-creation.row-fluid
            .span11
              = add_section_button_tag("Add Pitch Section", f, :pitch_sections, class: 'btn-dashed btn-full btn-plus')

    .hidden
      = direct_upload_form_for(@uploader, html: {id: 'file-upload-form'}) do |f|
        = f.file_field :pitch_photo
