.row-fluid
  .span6
    .row-fluid
      .span12
        .small-title= t('investor_transfer_investments.check.details.recipient_information')
      .span12
        %label
          %span=with_popover(t('investor_transfer_investments.check.details.payable_to'), t("investor_transfer_investments.wire.details.#{provider_key}_beneficiary_popover"), t("investor_transfer_investments.wire.details.#{provider_key}_beneficiary_popover_title"))
        %p.bank-info= funding_detail.check_payable_to
      .span12
        %label= t('investor_transfer_investments.check.details.amount')
        %p.bank-info= investment_summary.formatted_amount
      .span12
        %label= t('investor_transfer_investments.check.details.memo')
        %p.bank-info= funding_detail.formatted_check_instructions

  .span5.offset1
    .row-fluid
      .span12
        .small-title= t('investor_transfer_investments.check.details.mailing_information.title')
      .span12
        %label= t('investor_transfer_investments.check.details.mailing_information.subtitle')
        %p.bank-info.push-down-smallest= funding_detail.check_bank_name
        %p.bank-info= funding_detail.formatted_check_address
        %p.bank-info= funding_detail.check_phone_number
