.investment-container
  .investment
    .investment-info
      - if investment[:campaign].escrow_closed? && investment[:campaign].successful?
        .funded-ribbon
      = render partial: 'investments/investment_details', locals: { investment: investment }
      = render partial: 'investments/status_panel', locals: { investment: investment[:investment] }

  - if investment[:investment].display_accreditation_verification_panel?
    = render partial: 'investments/verification_details', locals: { accreditor_data: investment[:investment].accreditor_data,
                                                                    accreditor_url: edit_offering_invest_accreditation_new_path(offering_id: investment[:investment].offering_id),
                                                                    offering_id: investment[:investment].offering_id,
                                                                    resend_verification_url: resend_verification_offering_investment_path(offering_id: investment[:investment].offering_id) }

  - if investment[:investment].display_payment_panel?
    = render partial: 'investments/payment_details', locals: { investment: investment,
                                                               payment_url: edit_offering_invest_fund_path(offering_id: investment[:investment].offering_id),
                                                               is_reg_s: investment[:investment].is_reg_s? }
