.investment-information
  = link_to offering_short_path(investment[:campaign]) do
    .company-block
      .company-logo
        = image_tag investment[:campaign].photo_swatch_url, style: 'width: 222px; height: 99px;'
      .company-info
        .title-and-subtitle
          %h2.title= investment[:campaign].company_name
          - if investment[:investment].is_spv?
            %h4.title= '(' + t('investor_investments.flashfund') + ')'
        .social-share-section
          .social-link
            = link_to investment[:social].facebook.share_url, class: "facebook-share", target: "_blank" do
              %i.fa.fa-facebook
              %span.share-text= t('show_campaign.social.facebook.link_text')
          .social-link
            =link_to investment[:social].linkedin.offering_url, class: 'linkedin-share', target: "_blank"  do
              %i.fa.fa-linkedin-square
              %span.share-text= t('show_campaign.social.linkedin.link_text')
          .social-link
            =link_to investment[:social].twitter.offering_url, class: 'twitter-share', target: "_blank"  do
              %i.fa.fa-twitter
              %span.share-text= t('show_campaign.social.twitter.link_text')
          .social-link
            =mail_to nil, subject: "Check out #{investment[:campaign].company_name} on FlashFunders", body: "#{investment[:campaign].company_name} is fundraising on FlashFunders: #{offering_vanity_url(investment[:campaign])}." do
              %i.fa.fa-envelope
              %span.share-text= t('show_campaign.social.email.link_text')

  .details
    .section-title= t('investment_dashboard.my_investments_tab.offering_details.title')
    %dl.row-fluid.no-margin.campaign-details
      .span4.amount-raised
        %dt= t('investment_dashboard.my_investments_tab.offering_details.amount_raised.term')
        %dd= investment[:campaign].formatted_accredited_balance

      .span4.offering-goal
        %dt= t('investment_dashboard.my_investments_tab.offering_details.offering_goal.term')
        %dd= investment[:campaign].minimum_total_investment_display

      .span4.days-left
        %dt= t('investment_dashboard.my_investments_tab.offering_details.days_left.term')
        - if investment[:campaign].closed_successfully?
          %dd= t('browse.discovery.campaign_swatch.offering.end_date.funded')
        - elsif investment[:campaign].closed_unsuccessfully?
          %dd= t('browse.discovery.campaign_swatch.offering.closed')
        - elsif investment[:campaign].closed_pending?
          %dd= t('browse.discovery.campaign_swatch.pending')
        - else
          %dd= investment[:campaign].formatted_days_left

  .details
    .section-title= t('investment_dashboard.my_investments_tab.investment_details.title')
    %dl.row-fluid.no-margin.investment-details
      .span4.amount
        %dt= t('investment_dashboard.my_investments_tab.investment_details.investment_amount.term')
        %dd= investment[:investment].formatted_amount

      - if investment[:campaign].convertible?
        .span4.percent-ownership
          %dt
            = t('investment_dashboard.my_investments_tab.investment_details.ownership.convertible.term')
            - if investment[:investment].is_spv?
              - popover_text = t('investment_dashboard.my_investments_tab.investment_details.ownership.convertible.description_spv')
            - else
              - popover_text = t('investment_dashboard.my_investments_tab.investment_details.ownership.convertible.description_direct')
            %span{ 'data-info-popover' => 'true', 'data-title' => t('popover_titles.ownership'), 'data-content' => popover_text }
          %dd= investment[:investment].formatted_percent_ownership

      - elsif investment[:campaign].revenue_note?
        .span4.shares-owned
          %dt= t('investment_dashboard.my_investments_tab.investment_details.units_owned.term')
          %dd= investment[:investment].shares_owned
      - else
        - if !investment[:campaign].llcs?
          .span4.shares-owned
            %dt= t('investment_dashboard.my_investments_tab.investment_details.shares_owned.term')
            - if investment[:investment].is_spv?
              %dd= 'Indirect'
            - else
              %dd= investment[:investment].shares_owned
        .span4.percent-ownership
          %dt
            = t('investment_dashboard.my_investments_tab.investment_details.ownership.equity.term')
            - if investment[:investment].is_spv?
              - popover_text = t('investment_dashboard.my_investments_tab.investment_details.ownership.equity.description_spv')
            - else
              - popover_text = t('investment_dashboard.my_investments_tab.investment_details.ownership.equity.description_direct')
            %span{ 'data-info-popover' => 'true', 'data-title' => t('popover_titles.ownership'), 'data-content' => popover_text }
          %dd= investment[:investment].formatted_percent_ownership
