.row-fluid.push-left-smallest.push-up-small.push-down-small.btn--container
  .span6
    - if payment_data[:kind] == 'wire'
      %h2= t('investor_transfer_investments.wire.buttons.update_payment.ask')
    - elsif payment_data[:kind] == 'check'
      %h2= t('investor_transfer_investments.check.buttons.update_payment.ask')
    - else
      %h2= 'Have you sent in your payment?'
  .span5
    %button.btn-with-check.btn-payment-ajax{ data: payment_data }
      =  t('investor_transfer_investments.not_yet')
