- funding_method = investment[:investment].funding_method
- unless funding_method == 'manual' || funding_method == 'ach'
  .wire-container
    .wire-info
      .light-wire-info{ style: "display: #{@show_expanded ? 'none' : 'block'};" }
        %h3.section-title
          - if @show_expanded
            .wire-title= t("investment_dashboard.my_investments_tab.#{funding_method}.view_title")
          - else
            .toggle-link
              .wire-title
                = t("investment_dashboard.my_investments_tab.#{funding_method}.view_title")
                .plus
      .full-wire-info{ style: "display: #{@show_expanded ? 'block' : 'none'};" }
        %h3.section-title
          - if @show_expanded
            .wire-title{class: 'toggle-expand'}
              = t("investment_dashboard.my_investments_tab.#{funding_method}.view_title")
              - unless investment[:investment].offering.reg_c_enabled?
                = link_to t('investment_documents.edit_button'), payment_url, class: 'edit-btn edit-payment full-right', html: { style: 'z-index: 1;'}, data: { 'offering-id' => investment[:investment].offering_id }
          - else
            .toggle-link
              .wire-title
                = t("investment_dashboard.my_investments_tab.#{funding_method}.view_title")
                - unless investment[:investment].offering.reg_c_enabled?
                  = link_to t('investment_documents.edit_button'), payment_url, class: 'edit-btn edit-payment pull-right', html: { style: 'z-index: 1;'}, data: { 'offering-id' => investment[:investment].offering_id }
                .minus
        .row-fluid
          .span12
            %p= t("investment_dashboard.my_investments_tab.#{funding_method}.instructions", email: mail_to(t('contacts.investors'))).html_safe
        .row-fluid.push-left-small.push-right-small.push-up-smallest
          .span12.push-down-small.title
            %p.inline= t('investor_transfer_investments.wire.details.funds_must_equal')
            .inline.push-left-small.dollar-total= investment[:investment_summary].formatted_amount

          - if investment[:funding_international_detail].present?
            - funding_details = { domestic: investment[:funding_detail], international: investment[:funding_international_detail] }
            .span12
              %ul.check-instruction
                - funding_details.each do | key, _ |
                  %li.tab{ class: "#{'active' if (key == :international && is_reg_s) || (key == :domestic && !is_reg_s)}" }
                    %a.small-title{ data: {toggle: 'tab'}, href: "#nav-#{key.to_s}" }
                      = t("investor_transfer_investments.instructions.#{key.to_s}_title")
              .tab-box
                - funding_details.each do | key, _ |
                  .tab-pane{ id: "nav-#{key.to_s}", class: "#{'active' if (key == :international && is_reg_s) || (key == :domestic && !is_reg_s)}" }
                    = render partial: "investments/#{funding_method}_details",
                              locals: { funding_detail: funding_details[key],
                                        investment_summary: investment[:investment_summary],
                                        wire_code: investment[:investment].wire_code,
                                        provider_key: investment[:investment].provider_key,
                                        detail_key: key }
          - else
            = render partial: "investments/#{funding_method}_details",
                          locals: { funding_detail: investment[:funding_detail],
                                    investment_summary: investment[:investment_summary],
                                    wire_code: investment[:investment].wire_code,
                                    provider_key: investment[:investment].provider_key,
                                    detail_key: :domestic }
        .push-left-small.push-right-small
          %hr.skinny-hr
        = render partial: 'investments/payment_confirm',
                  locals: { payment_data: { sent: investment[:investment].funds_sent? ? 'true' : 'false',
                                            kind: funding_method,
                                            msg_on: t("investor_transfer_investments.#{funding_method}.buttons.update_payment.affirmative"),
                                            msg_off: t('investor_transfer_investments.not_yet'),
                                            url: update_payment_offering_investment_path(investment[:investment].offering_id),
                                            offering_id: investment[:investment].offering_id } }
