.investment-status
  - investment_display_state = investment.investment_display_state
  .banner{class: investment_display_state}
  .status-summary
    .status-summary-title{class: investment_display_state}
      = t("investment_dashboard.my_investments_tab.statuses.#{investment_display_state}.title")
    - if investment_display_state == 'pending'
      - unless investment.is_reg_c?
        - if investment.accreditation_state == 'complete'
          .status-summary-description
            .complete= t('investment_dashboard.my_investments_tab.statuses.accredited.message')
        - else
          .status-summary-description
            .pending= t('investment_dashboard.my_investments_tab.statuses.unaccredited.message')
      .status-summary-description
        .pending= t("investment_dashboard.my_investments_tab.statuses.payment_pending.#{investment.funding_method}", amount: investment.formatted_amount)
    - if investment_display_state == 'complete'
      - if investment.escrowed?
        - unless investment.is_reg_c?
          .status-summary-description
            .complete= t('investment_dashboard.my_investments_tab.statuses.accredited.message')
        .status-summary-description
          .complete= t('investment_dashboard.my_investments_tab.statuses.complete.title')
        .status-summary-description
          = t('investment_dashboard.my_investments_tab.statuses.investment_complete.needs_countersign')
      - elsif investment.counter_signed?
        .status-summary-description
          = t('investment_dashboard.my_investments_tab.statuses.investment_complete.countersigned')
      - elsif investment.stock_received?
        .status-summary-description
          = t('investment_dashboard.my_investments_tab.statuses.investment_complete.stock_received')
    - if investment_display_state.in? %w(incomplete unsuccessful)
      .status-summary-description
        = t("investment_dashboard.my_investments_tab.statuses.#{investment_display_state}.description")
    - if investment_display_state.in? %w(cancelled refunded ach_failed)
      .status-summary-description
        = t("investment_dashboard.my_investments_tab.statuses.#{investment_display_state}.description_html", date: investment.current_state_timestamp)

  .button-panel
    - if (investment_display_state.in? %w(incomplete ach_failed)) && !investment.offering_closed?
      = link_to t('investor_investments.invest.resume'), investment.path_to_current_step, class: 'btn-normal btn-full'
      .push-down-small

    - if investment.can_download_docs?
      = link_to t('investor_investments.invest.download_docs'), download_docs_dashboard_investment_path(id: investment.investment_id), class: 'btn-normal btn-full', target: '_blank',
                data: { 'offering-id' => investment.offering_id }
      .push-down-small

    - if !@show_expanded && investment.can_cancel_investment?
      = cancel_button_tag(investment)
