.wire-container
  .wire-info
    .light-wire-info{ style: "display: #{@show_expanded ? 'none' : 'block'};" }
      %h3.section-title
        - if @show_expanded
          .wire-title= t('investment_dashboard.my_investments_tab.statuses.verify_accreditation_incomplete.title')
        - else
          .toggle-link
            .wire-title
              = t('investment_dashboard.my_investments_tab.statuses.verify_accreditation_incomplete.title')
              .plus
    .full-wire-info{ style: "display: #{@show_expanded ? 'block' : 'none'};" }
      %h3.section-title
        - if @show_expanded
          .wire-title{class: 'toggle-expand'}
            = t('investment_dashboard.my_investments_tab.statuses.verify_accreditation_incomplete.title')
            = link_to t('investment_documents.edit_button'), accreditor_url, class: 'edit-btn edit-verification full-right', data: { offering_id: offering_id }
        - else
          .toggle-link
            .wire-title
              = t('investment_dashboard.my_investments_tab.statuses.verify_accreditation_incomplete.title')
              - if accreditor_data[:type] == :third_party
                %button.resend-btn.resend-verification{ data: { url: resend_verification_url, offering_id: offering_id } }
                  = t('investment_documents.resend_button')
              = link_to t('investment_documents.edit_button'), accreditor_url, class: 'edit-btn edit-verification pull-right', data: { offering_id: offering_id }
              .minus
      .row-fluid
        .span12
          - if accreditor_data[:type] == :third_party
            %p= t("investment_dashboard.my_investments_tab.statuses.verify_accreditation_incomplete.#{accreditor_data[:type]}_instructions",
                  role: "#{accreditor_data[:role]}",
                  email: mail_to("#{accreditor_data[:email]}")).html_safe
          - else
            %p= t("investment_dashboard.my_investments_tab.statuses.verify_accreditation_incomplete.#{accreditor_data[:type]}_instructions")
          %br
