.row-fluid
  .span6
    .row-fluid
      .span12
        .small-title= t('investor_transfer_investments.wire.details.beneficiary_recipient_info')
        .solid-header-divider
      .span12
        %label= with_popover(t('investor_transfer_investments.wire.details.issuer_name'), t("investor_transfer_investments.wire.details.#{provider_key}_beneficiary_popover"), t("investor_transfer_investments.wire.details.#{provider_key}_beneficiary_popover_title"))
        %p.bank-info= funding_detail.wire_beneficiary_name
      .span6
        %label= t('investor_transfer_investments.wire.details.account_number')
        %p.bank-info= funding_detail.wire_account_number
      .span6
        %label= t('investor_transfer_investments.wire.details.account_type')
        %p.bank-info= funding_detail.wire_account_type
      .span12
        %label
          %span= with_popover(t('investor_transfer_investments.wire.details.instructions'), t('investor_transfer_investments.wire.details.information_popover'), t('investor_transfer_investments.wire.details.information_popover_title'))
        %p.bank-info= funding_detail.formatted_wire_instructions
      .span12
        %label= t('investor_transfer_investments.wire.details.issuer_address')
        %p.bank-info= funding_detail.formatted_wire_beneficiary_address

  .span5.offset1.pad-bottom
    .row-fluid
      .span12
        .small-title= t('investor_transfer_investments.wire.details.bank_info.title')
        .solid-header-divider
      .span12
        %label= t('investor_transfer_investments.wire.details.bank_info.label')
        %p.bank-info= funding_detail.wire_bank_name
      - if detail_key == :international
        .span12
          %label= t('investor_transfer_investments.wire.details.swift_code_label')
          - if wire_code
            %p.bank-info= wire_code
          - else
            %p.bank-info= t('investor_transfer_investments.wire.details.unregistered_swift_code', email: mail_to(t('contacts.operations'))).html_safe
      - else
        .span12
          %label= t('investor_transfer_investments.wire.details.aba')
          %p.bank-info= funding_detail.wire_routing_number
      .span12
        %label= t('investor_transfer_investments.wire.details.issuer_address')
        %p.bank-info
          = funding_detail.formatted_wire_bank_address
        %p.bank-info= funding_detail.wire_bank_phone_number
