- content_for :main_container_class do
  full-width light-gray

#investment-dashboard
  .row-fluid.no-margin
    - if @investments.empty?
      .span12.centered.empty
        %h2.title.push-up-small= t('investment_dashboard.empty.title')
        %h3.sub-title= t('investment_dashboard.empty.sub_title')
        = link_to t('investment_dashboard.empty.browse'), browse_path, class: 'btn-primary browse'
    - else
      .span12
        %h1= t('investment_dashboard.populated.title')
        - statuses = %w(incomplete pending complete unsuccessful cancelled refunded ach_failed)
        - statuses.each do |status|
          - investments = @investments.select{|h| h[:investment].investment_display_state == status }
          - unless investments.empty?
            %h2.investment-group-title= t("investment_dashboard.section.title.#{status}")
            = render partial: 'investment', collection: investments
        = hidden_confirm_dialog
