#investment-flow-container {

  input {
    font-size: 24px;
  }

  #flow-selector.invest-panel {
    padding-top: 0;
    padding-bottom: 0;
  }
  .invest-panel {
    margin-bottom: 0;
  }
  .header {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 24px;
  }
  .title {
    font-size: 24px;
    font-weight: $normal-font-weight;
    color: $title-gray;
    margin-top: 2px;
    margin-bottom: 0;
  }
  .subtitle {
    text-transform: uppercase;
    position: absolute;
    top: 5px;
    left: 68px;
    font-size: 12px;
    color: $primary-blue;
  }
  .tab {
    padding: 30px 3px 30px 50px;
  }
  .tab-box {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 0;
  }
  .captions {
    margin: 0;
    padding: 0;
  }
  .caption {
    font-size: 11px;
    line-height: 17px;
    margin: 10px 0;
    a {
      font-size: inherit;
    }
  }
  .nationality {
    text-align: center;
    margin-top: 20px;
    font-size: initial;
  }
  #reg-c-panel {
    background-color: $white-lilac;
    margin: 0 -30px;
    padding: 60px 10% 10px 10%;

    input {
      background-color: inherit;
      line-height: initial;
      text-align: right;
    }

    .row-fluid {
      padding-left: 10%;
      padding-right: 10%;
      line-height: 60px;
      height: 60px;
      margin-right: 0;
    }
    #reg-c-limit {
      border-top: $light-gray dashed 1px;
      background-color: $white-lilac;
    }
    #reg-c-total {
      border: $light-green solid 1px;
      background-color: $flow-lighter-gray;
      height: 88px;
      line-height: 88px;
      margin-top: 35px;
    }
    .disclaimer {
      line-height: initial;
      font-size: 14px;
    }
    .title {
      font-weight: $normal-font-weight;
    }
    .subtitle {
      position: relative;
      text-transform: none;
      font-size: 14px;
      color: $title-gray;
      line-height: 10px;
      top: -7px;
      left: 0;
    }
    #reg-c-calculator .span4 {
      font-size: 24px;
      font-weight: $normal-font-weight;
      color: $title-gray;
      text-align: right;
    }
    .computed-value {
      padding-right: 8px;
    }
  }
  #percent-ownership, #projected-cost, #share-price, #security-name {
    font-weight: $bold-font-weight;
  }

  input {
    text-align: center;
    border: none;
    border-bottom: $mid-gray solid 1px;
    &:focus {
      outline: none;
    }
  }

  #investment-flow-calculator {
    .invest-panel {
      margin-top: 0;
    }
    .header {
      margin-bottom: 0;
    }
    input {
      font-size: 24px;
      font-weight: $normal-font-weight;
      color: $title-gray;
      border-bottom: $title-gray solid 1px;

      &.limit-error {
        color: $error-red;
        border-bottom: $error-red solid 1px;
      }
    }
    .invest-limit {
      color: $error-red;
      visibility: hidden;
      &.limit-error {
        visibility: visible;
      }
    }
  }

  #form-buttons {
    margin-top: 50px;
  }

  @include media(">=desktop") {

  }
}
