.fund {
  .help {
    color: $mid-gray;
    padding: 30px;
    text-align: center;
    margin-bottom: 30px;
    font-size: $small-font-size;

    &.warning {
      background-color: $light-orange;
    }

    &.fyi {
      background-color: $helper-blue;
    }
  }

  #wire-info, #check-info {
    margin-top: 30px;
  }

  .notes {
    display: block;
    color: $primary-blue;
  }

  #link-refund-account-form {

    input[type='checkbox'] + label {
      font-size: 16px;
      font-weight: $medium-font-weight;
      margin-left: 30px;
    }

    .authorization {
      margin-top: 10px;
      margin-left: 53px;
      font-size: 16px;
      font-weight: $normal-font-weight;
      text-align: justify;
      line-height: 32px;
      padding-right: 53px;
    }

    .investor_fund_form_authorization.field_with_errors {
      .error {
        margin-left: 53px;
      }
    }

    #notes {
      border: 1px dashed $mid-gray;
      padding: 20px;
      text-align: center;
    }

    hr {
      margin: 15px 5px 15px -32px;
    }
  }
}
