body .investment-success {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-image: image_url('success_bg.png');
  background-repeat: repeat-x;
  background-color: $white-lilac;
}

#investment-funds-complete {
  padding: 0 0 80px 0;

  #investment-dashboard {
    padding-top: 0;
    padding-bottom: 40px;

    .investment-container {
      background-color: $white;
      margin: 50px 0 10px;
    }
  }

  @media (min-width: 1200px) {
    margin: 0 auto;
  }

  .investment-success {

    h1, h2, h5 {
      font-family: $base-font-family;
      color: $title-gray;
      line-height: normal;
    }

    .top-panel {

      .workspace-title {
        text-transform: capitalize;
        text-align: center;
        color: $white;
        width: 60%;
        margin: 80px auto 40px;
      }

      h1 {
        font-size: 48px;
        font-weight: $light-font-weight;
      }
      h2 {
        text-align: center;
        font-size: 24px;
        font-weight: $normal-font-weight;
        color: $white;
      }
    }

    .bottom-panel {
      background-color: $white;
      padding: 30px;
      border: darken($white-lilac, 10%) solid 1px;
      box-shadow: 0px 0px 5px #ccc;
      max-width: $container-large-desktop;
      margin: 0 auto;

      p {
        font-size: $base-font-size;
        color: $mid-gray;

        a {
          font-size: $base-font-size;
        }
      }

      h5 {
        font-weight: $bold-font-weight;
        text-transform: uppercase;
      }
    }
  }
}
