.investment-accreditation {

  .verified-box {
    border: 1px solid $light-gray;
    background-color: #f9fafc;
    padding: 25px 50px;
    line-height: 18px;
    margin-top: 20px;

    label {
      font-weight: $light-font-weight;
      font-size: $small-font-size;
    }

    p {
      margin: 0;
    }
  }


  #third-party-income-form, #third-party-net-worth-form {
    border: 1px solid $light-gray;
    background-color: $hover-gray;
    margin: 30px 0;
    padding: 55px 35px 75px 35px;
  }

  #individual-income, #joint-income, #individual-net-worth, #joint-net-worth {
    margin-top: 50px;
  }

  .small-title {
    font-family: $base-font-family;
    padding: 5px 0;
    border-bottom: 1px solid $mid-gray;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  ul.recommended {
    padding-left: 19px;
  }
  
  .padded-section {
    margin-bottom: 50px;
  }

  .solid-header-divider {
    margin-bottom: 20px;
  }

  #international-verification-options {
    .verification-radio {
      position: relative;
      margin: 18px 1rem 0 0;
      cursor: pointer;
      display: inline-block;
      width: initial;
    }
    .verification-radio:checked:before {
      transform: scale(1.4, 1.4);
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      z-index: 1;
      width: 0.97rem;
      height: 0.9rem;
      background: $primary-blue;
      border-radius: 50%;
    }
    .verification-radio:after {
      transform: scale(1.4, 1.4);
      content: "";
      position: absolute;
      top: 0px;
      left: 0;
      width: 1.5rem;
      height: 1.5rem;
      background: #fff;
      border: 1px solid #d8dcdc;
      border-radius: 50%;
    }
  }

  .boxed-radio {
    border: 1px solid $light-gray;
    padding: 30px 70px;
    cursor: pointer;

    &.active {
      box-shadow: 0 0 10px $primary-blue;
    }
    
    label {
      cursor: pointer;
    }
  }
  #confirm-qualification {
    margin-top: 20px;
    padding: 30px;
    background-color: $hover-gray;
    border: 1px solid $light-gray;
  }
  .expiring {
    color: $light-orange;
  }

  #income-or-net-worth {
    height: 325px;
  }

  #third-party-or-docs, #net-worth-third-party-or-docs {
    height: 390px;
  }

  #net-worth-joint-or-individual, #income-joint-or-individual {
    margin-top: 30px;
    height: 100px;
  }

  #third-party-or-offline {
    height: 360px;

    li {
      padding-left: 53px;
      padding-right: 53px;
    }
  }

  .inline-checkbox {
    .input {
      margin-top: 0;

      input[type="checkbox"] {
        margin-top: 10px;
      }
    }
  }

  #uploading-spinner {
    width: 100%;
    height: 100%;
    background: transparent;
  }
}
