.investment-profiles {
  #individual-or-entity {
    height: 325px;
    margin-top: $spacing2;
  }

  #existing-or-new-entity {
    .tab {
      margin-top: 20px;
      height: 100px;
    }
  }

  #entity-types {
    height: 65px;
  }

  fieldset.suitability-information {
    margin-right: 37px;
  }

  p {
    font-size: $base-font-size;
  }

  h6 {
    margin-top: 50px;
    text-transform: uppercase;
    font-family: $base-font-family;
    color: $title-gray;
    font-size: $base-font-size;

    small {
      a {
        text-decoration: none;
        text-transform: initial;
        margin-left: 18px;
        font-weight: 400;
      }
    }
  }

  .confirmed-authorization {
    input[type="checkbox"] {
      margin-top: 36px;
    }

    label {
      margin-top: 43px;
      line-height: 28px;
    }
  }

  .basic-information, .id-information {
    .popover-title {
      @include retina_background_image('icn_lock', png, 100%, auto, no-repeat 95%, $hover-gray);
    }
  }
}
