@mixin fa-icon($content, $color, $scale: 1) {
  &:before {
    font-family: FontAwesome;
    color: $color;
    content: $content;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: $base-font-size;
  }
}

#investment-dashboard {
  background: $white-lilac;
  margin: 2px 20px 0 20px;
  max-width: $container-large-desktop;
  padding: 80px 0;

  h1, h2, h3, input, label, p, li, body, .title-link, dl, dd {
    color: $title-gray;
  }
  .empty {
    margin: ($spacing2 * 2) 0;
    .title {
      text-transform: uppercase;
      margin-bottom: 0;
    }
    .sub-title {
      @extend .h2;
      color: $mid-gray;
      margin: $spacing1 0;
    }
    a {
      margin: $spacing2 0;
      color: $white;
    }
  }
  .row-fluid { max-width: 100%; }

  @include media(">=desktop") {
    margin: 2px auto 0 auto;
  }

  #cancel-investment-dialog {
    font-size: 18px;
    margin-top: 25px;
  }

  .investment-container {
    background-color: $white;
    margin: 50px 0px;
    border: $gray-lighter solid 1px;
    width: 100%;
    min-width: 800px;
    position: relative;
    @include cross-browser(box-shadow, 0 0 10px 0 $tundora-gray);
  }

  .investment {
    width: 100%;
    position: relative;
  }

  .investment-info {
    position: relative;
    overflow: hidden;

    .corner-ribbon {
      width: 200px;
      background: #e43;
      position: absolute;
      top: 25px;
      left: -60px;
      text-align: center;
      line-height: 30px;
      letter-spacing: 1px;
      color: #f0f0f0;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      font-family: $base-font-family;
      font-size: $small-font-size;
      font-weight: $bold-font-weight;
      text-transform: uppercase;
    }

    .funded-ribbon {
      @extend .corner-ribbon;
      background-color: $light-green;
      &:before {
        content: 'Funded';
      }
    }
  }

  .investment-information {
    width: 70%;
    min-width: 550px;

    .details {
      padding: 0px 30px;

      .section-title {
        @extend .h4;
        @include cross-browser(letter-spacing, 0.02em);
        color: $title-gray;
        padding-top: 15px;
        padding-bottom: 15px;
      }

      dt {
        @include cross-browser(letter-spacing, 0.02em);
        text-transform: none;
        font-weight: $medium-font-weight;
        .popover {
          text-transform: none;
        }
      }
      dl {
        dd {
          padding-bottom: $spacing1;
        }

      }
    }
  }

  .company-block {
  }

  .company-logo {
    display: inline-block;
    padding: 30px 30px 15px 30px;
  }

  .company-info {
    display: inline-block;
    vertical-align: top;
    padding-top: 30px;

    a {
      text-decoration: none;
    }

    .title-and-subtitle {
      max-width: 538px;

      h1 {
        text-transform: none;
        color: $title-gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
          color: $primary-blue;
          white-space: normal;
        }
      }
      h2 {
        text-transform: none;
        color: $mid-gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .social-share-section {
    display: inline-block;
    margin-top: $spacing1 / 2;
    a {
      color: $mid-gray;
    }
  }

  .social-link {
    display: inline;
    margin-right: 10px;
  }

  .share-text {
    @extend .h5;
    color: $mid-gray;
  }

  .investment-status {
    width: 30%;
    min-width: 260px;
    float: right;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: $hover-gray;
    border-left: $gray-lighter solid 1px;
    border-bottom: 0;

    .banner {
      height: 30px;
      width: 100%;

      &.pending {
        background-color: $title-gray;
      }
      &.incomplete, &.cancelled, &.refunded {
        background-color: $light-orange;
      }
      &.complete {
        background-color: $light-green;
      }
      &.unsuccessful, &.expired {
        background-color: $error_red;
      }
    }
  }

  .wire-container {
  }

  .wire-info {
    border: darken($white-lilac, 10%) solid 1px;

    .check-instruction {
      margin-top: 30px;
      li {
        list-style-type: none;
        display: inline-block;
        padding-right: 30px;
        &.active .small-title, &:hover .small-title {
          text-decoration: none;
          padding-bottom: 5px;
          border-bottom: 2px solid;
        }
      }
    }

    .small-title {
      @extend .h5;
      text-transform: uppercase;
      padding-top: $spacing2;
      color: $title-gray;
    }

    label, .label {
      @extend .h4;
      text-transform: capitalize;
      color: $title-gray;
      margin: $spacing1 + 0px 0px 3px 0px;
    }

    .toggle-link {
      cursor: pointer;

      a {
        text-transform: none;
        margin-left: $spacing2;
      }

    }

    .wire-title {
      @extend .h4;
      padding-top: $base-font-size / 3;
      color: $light-orange;
      margin: 30px auto 30px 75px;
      position: relative;

      a {
        text-transform: uppercase;
      }
      .edit-btn {
        border: 1px solid #e8ecef;
        padding: 15px 15px;
        color: $mid-gray;
        font-size: $small-font-size;
        font-family: $base-font-family;
        font-weight: $light-font-weight;
        text-decoration: none;
        text-transform: capitalize;
        position: absolute;
        right: 80px;
        top: -11px;
        z-index: 1;

        &.full-right {
          right: 30px;
        }

        &:before {
          content: "\f040";
          font-family: 'FontAwesome';
          margin-right: 10px;
        }
      }

      button.resend-btn {
        border: 1px solid #e8ecef;
        padding: 15px;
        color: $mid-gray;
        background-color: transparent;
        font-size: $small-font-size;
        font-family: $base-font-family;
        font-weight: $light-font-weight;
        text-decoration: none;
        text-transform: capitalize;
        position: absolute;
        right: 180px;
        top: -11px;
        z-index: 1;

        &.full-right {
          right: 30px;
        }

        &:before {
          content: "\f0e0";
          font-family: 'FontAwesome';
          margin-right: 10px;
        }
      }

      @include fa-icon('\f017', $light-orange, 2);
      &:before {
        top: 5px;
        left: -45px;
      }

      .plus {
        @include fa-icon('\f067', $primary-blue, 1.5);
        &:before {
          right: 30px;
          top: 5px;
        }
      }

      .minus {
        @include fa-icon('\f068', $primary-blue, 1.5);
        &:before {
          right: 30px;
          top: 5px;
        }
      }

    }

    .title {
      background-color: $white-lilac;
      padding: 20px 0px;
      p {
        text-transform: uppercase;
        color: $title-gray;
      }
      .dollar-total {
        font-size: 18px;
      }
    }

    .full-wire-info {

      p {
        color: $mid-gray;
        margin: 0px 30px;

        &.bank-info {
          margin: 0px;
        }
      }
    }
  }

  span[data-info-popover] {
    &.in-label {
      margin-top: 0px;
    }
  }

  .investment-group-title {
    padding: 25px 0;
    border-bottom: 1px solid $light-gray;
    width: 100%;
    min-width: 800px;
  }

  .status-summary {
    width: 100%;
    position: relative;
    padding: 20px 20px;

    .status-summary-title {
      @extend .h4;
      text-transform: uppercase;

      &.pending {
        color: $title-gray;
      }
      &.incomplete, &.cancelled, &.refunded {
        color: $light-orange;
      }
      &.complete {
        color: $light-green;
      }
      &.unsuccessful, &.expired {
        color: $error-red;
      }
    }

    .status-summary-description {
      margin-top: 10px;
      margin-bottom: 10px;
      display: inline-flex;
      display: -webkit-inline-flex;
      color: $mid-gray;

      .pending {
        margin-left: $base-font-size * 2;
        position: relative;
        @include fa-icon('\f017', $light-orange, 1.5);
        &:before {
          top: 0;
          left: $base-font-size * -2;
        }
      }

      .complete {
        margin-left: $base-font-size * 2;
        position: relative;
        @include fa-icon('\f058', $light-green, 1.5);
        &:before {
          top: 0;
          left: $base-font-size * -2;
        }
      }
    }

    a {
      text-decoration: underline;
    }

  }

  .button-panel {
    padding: 0px 30px;
    width: 100%;
    position: absolute;
    bottom: 15px;

    .btn-primary {
      color: $white;
    }

    .btn-outline {
      @extend .btn-outline;
    }
  }
}

.investments-index, .invest-funds-complete {
  footer, header, .main-container.full-width {
    min-width: 1120px;
  }
}
