.investment-documents{
  fieldset {
    position: relative;
  }
  .edit-btn {
    position: absolute;
    top: -9px;
    right: 0;
    border: 1px solid #e8ecef;
    padding: 15px 20px;
    color: $mid-gray;
    font-size: $small-font-size;
    font-family: $base-font-family;
    font-weight: $light-font-weight;
    text-decoration: none;

    &:before {
      content: "\f040";
      font-family: 'FontAwesome';
      margin-right: 10px;
    }

  }

  .pitch {

    min-height: 135px;
    img {
      width: 270px;
      height: auto;
      float: left;
      margin-right: 30px;
    }

    .offering-name {
      font-size: 36px;
      font-weight: $thin-font-weight;
      color: $mid-gray;
      margin-bottom: 30px;
    
    }

    .offering-tagline {
      font-weight: $bold-font-weight;
      margin-bottom: 30px;
    }

    .offering-pitch {
      line-height: 36px;
    }


  }

  .investment_details_title {
    font-family: $base-font-family;
    font-size: $base-font-size;
    margin-top: 30px;
    clear: both;
  }

  .subsection-title {
    color: $title-gray;
    margin: 30px 0;
  }

  .profile-title {
    color: $title-gray;
    margin: 20px 0 0 0;
    font-weight: $bold-font-weight;
  }

  .investment-details {
    height: 150px;
    margin-top: 30px;

    .detail-box {
      border: 1px solid $light-gray;
      height: inherit;
      padding: 30px 35px;

      .title {
        color: $mid-gray;
      }

      .number {
        color: $mid-gray;
        font-size: 30px;
        font-weight: $thin-font-weight;
        overflow: hidden;
        white-space: nowrap;
      }

      .small-number {
        color: $mid-gray;
        font-size: 24px;
        font-weight: $thin-font-weight;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  ul.deal-documents {
    border-top: 1px solid $light-gray;
    margin: 30px 0 20px 0;
    padding: 0;
  
    li.document-link {
      display: block;
      border-bottom: 1px solid $light-gray;
      border-left: 1px solid $light-gray;
      border-right: 1px solid $light-gray;
      padding: 20px 100px;

      &:nth-child(odd) {
        background-color: $white-lilac;
      }

      a {
        text-decoration: none;
        font-size: $small-font-size;
        color: #666;
        vertical-align: middle;

        &:before {
          margin-right: 50px;
          font-family: FontAwesome;
          font-size: 31px;
        }

        &.pdf {
          &:before {
            content: "\f1c1";
          }
        }

        &.doc {
          &:before {
            content: "\f1c2";
          }
        }
      }
    }
  }

  &#review {
    padding: 80px 120px 80px 130px;

    .span11 {
      label {
        margin-top: 15px;
        line-height: 32px;
      }
    }
  }

  &#verify {

      #verification-status {
        position: absolute;
        right: 160px;
        top: 0;
        font-family: $base-font-family;
        text-transform: uppercase;
        font-size: 20px;


        &:before {
          font-family: FontAwesome;
          margin-right: 10px;
          font-size: 24px;
        }
      }

    &.verified {
      border-top: 15px solid $light-green;

      #verification-status {
        color: $light-green;
        right: 0;

        &:before {
          content: "\f058";
        }
      }
    }

    &.expired, &.declined {
      border-top: 15px solid $error-red;

      #verification-status {
        color: $error-red;

        &:before {
          content: "\f058";
        }
      }
    }

    &.pending {
      border-top: 15px solid $light-orange;

      #verification-status {
        color: $light-orange;

        &:before {
          content: "\f017";
        }
      }
    }

    ul.uploaded-documents {
      margin: 0;
      padding: 0;

      li {
        display: block;
        overflow: hidden;

        a {
          text-decoration: none;
          color: $mid-gray;
          display: block;
          overflow: hidden;
          vertical-align: top;

          &:hover {
            background-color: $white-lilac;
          }

          &:before {
            font-family: FontAwesome;
            content: "\f019";
            margin-right: 20px;
            font-size: 20px;
          }
        }
      }
    }
  }

  #sign-documents-modal {
    .modal-dialog {
      width: 975px;

      .modal-content {
        border-radius: 0;
      }
      .modal-body {
        padding: 0;
      }
      a {
        i {
          color: $light-gray;
          font-size: 18px;
          text-decoration: none;
        }
      }
      h4.modal-title {
        font-family: $base-font-family;
        font-weight: $thin-font-weight;
        font-size: 48px;
        text-align: center;

      }
    }

  }
}
