%h6.autoscroll-anchor= t('investment_profile.new.entity.form.title')
%p= t('investment_profile.new.entity.form.select_one_that_applies')
%ul.selections#entity-types
  %li.span3.tab.short
    %a.top-tab{ href: "#entity_#{form_namespace}", data: {toggle: 'tab', type: :trust } }
      %span.vertical-center
      %span.title-and-subtitle
        .title Trust
  %li.span3.tab.short
    %a.top-tab{ href: "#entity_#{form_namespace}", data: {toggle: 'tab', type: :llc } }
      %span.vertical-center
      %span.title-and-subtitle
        .title LLC
  %li.span3.tab.short
    %a.top-tab{ href: "#entity_#{form_namespace}", data: {toggle: 'tab', type: :partnership } }
      %span.vertical-center
      %span.title-and-subtitle
        .title Partnership
  %li.span3.tab.short
    %a.top-tab{ href: "#entity_#{form_namespace}", data: {toggle: 'tab', type: :corporation } }
      %span.vertical-center
      %span.title-and-subtitle
        .title Corporation
.tab-content
  .span12.tab-pane{ id: "entity_#{form_namespace}" }
    = render partial: 'entity_form', locals: {form_object: @forms[form_namespace], form_namespace: form_namespace, form_type: @forms[form_namespace].form_type, tabindex: tabindex}
