- form_object = forms[form_type]
= simple_form_for(form_object, url: offering_invest_investment_profile_path(@offering), as: "#{form_type}_#{form_namespace}", html: {class: 'standard-form--container'}) do |f|
  #entity-info.row-fluid.autoscroll-anchor
    %h6= t("investment_profile.new.entity.form.#{form_type}.information.title")
    .span6
      = f.input :name, label: t("investment_profile.new.entity.form.#{form_type}.information.name"),
                       required: false,
                       input_html: {tabindex: tabindex.next, class: "autoscroll"}

    .span6
      = f.input :tax_id_number, label: t("investment_profile.new.entity.form.#{form_type}.information.tax_id"),
                                required: false,
                                placeholder: t('investment_profile.new.entity.form.placeholders.tax_id'),
                                input_html: {tabindex: tabindex.next, maxlength: 15, class: 'country-sensitive2'}

    .span3
      = f.input :formation_date, label: t("investment_profile.new.entity.form.#{form_type}.information.formation_date"),
                                 required: false,
                                 placeholder: t('investment_profile.new.entity.form.placeholders.date'),
                                 as: :string,
                                 input_html: {tabindex: tabindex.next, :value => format_date(f.object.formation_date), data: {masked_date: true}}

    .span5
      = f.input :formation_country, label: t("investment_profile.new.entity.form.#{form_type}.information.formation_country"),
                                     required: false,
                                     as: :select,
                                     collection: State.get_countries,
                                     input_html: {tabindex: tabindex.next, class: 'country-selector',
                                                                           data: { stateSelector: "##{f.options[:as]}_formation_state_id",
                                                                                   changeHandler: 'respond_to_country_change_on_entity_form',
                                                                                   data: { form: f.options[:as], region_optional: true },
                                                                                   changeTag: 'country-sensitive2' }}
    .span4
      = f.input :formation_state_id, label: t("investment_profile.new.entity.form.#{form_type}.information.formation_state"),
                                     required: false,
                                     as: :select,
                                     include_blank: form_object.formation_country == 'US' ? false : '- not applicable -',
                                     collection: State.get_subregions(form_object.formation_country),
                                     input_html: {tabindex: tabindex.next}

  #contact-info.row-fluid.autoscroll-anchor
    %h6= t("investment_profile.new.entity.form.#{form_type}.contact.title")
    .span6
      = f.input :address_1, label: t("investment_profile.new.entity.form.#{form_type}.contact.line_1"),
                            required: false,
                            input_html: {tabindex: tabindex.next, class: "autoscroll"}

    .span6
      = f.input :address_2, label: t("investment_profile.new.entity.form.#{form_type}.contact.line_2"),
                            required: false,
                            input_html: {tabindex: tabindex.next}

    .span6
      = f.input :country, label: t('investor_information.form_section.fieldset_2.country.label'),
                          as: :select,
                          include_blank: false,
                          collection: State.get_countries,
                          required: false,
                          input_html: {tabindex: tabindex.next, class: 'country-selector', data: { stateSelector: "##{f.options[:as]}_state_id",
                                                                                       changeHandler: 'respond_to_country_change_on_entity_form',
                                                                                       data: { form: f.options[:as] },
                                                                                       changeTag: 'country-sensitive' }}

    .span6
      = f.input :city, label: t("investment_profile.new.entity.form.#{form_type}.contact.city"),
                       required: false,
                       input_html: {tabindex: tabindex.next}

    .span4
      = f.input :state_id, label: t("investment_profile.new.entity.form.#{form_type}.contact.state"),
                        required: false,
                        as: :select,
                        include_blank: false,
                        collection: State.get_subregions(form_object.country),
                        input_html: {tabindex: tabindex.next, class: 'country-sensitive'}

    .span4
      = f.input :zip_code, label: t("investment_profile.new.entity.form.#{form_type}.contact.zip"),
                           required: false,
                           input_html: {tabindex: tabindex.next}

    .span4
      = f.input :phone_number, label: t("investment_profile.new.entity.form.#{form_type}.contact.phone"),
                               required: false,
                               placeholder: t('investment_profile.new.entity.form.placeholders.phone'),
                               input_html: {tabindex: tabindex.next, class: 'country-sensitive'}

  %hr.massive
  %legend= t("investment_profile.new.entity.form.#{form_type}.personal.title")
  %hr

  .row-fluid.signatory_form
    = render partial: 'signatory_form', locals: {form_object: form_object, form_type: form_type, f: f, tabindex: tabindex}
