.basic-information.autoscroll-anchor
  .span5
    = f.input :signatory_first_name, label: t('investor_information.form_section.fieldset_1.first_name.label'),
      required: false,
      input_html: {tabindex: tabindex.next, class: 'autoscroll'}
  .span1
    = f.input :signatory_middle_initial, label: t('investor_information.form_section.fieldset_1.middle_initial.label'),
      required: false,
      input_html: {tabindex: tabindex.next, maxlength: 1}
  .span6
    = f.input :signatory_last_name, label: t('investor_information.form_section.fieldset_1.last_name.label'),
      required: false,
      input_html: {tabindex: tabindex.next}
  .span6
    = f.input :signatory_date_of_birth,
    label: t('investor_information.form_section.fieldset_1.date_of_birth.label',
              popover: inline_popover('Why?',
                        t('investor_information.form_section.info_popovers.content',
                          info: t('investor_information.form_section.fieldset_1.date_of_birth.label', popover: '').downcase.strip,
                          learn_more: link_to(t('investor_information.form_section.info_popovers.link_name'),
                                              t('investor_information.form_section.info_popovers.link_url'), target: '_blank')).html_safe,
                        t('investor_information.form_section.info_popovers.title').html_safe)).html_safe,
      placeholder: t('investor_information.form_section.fieldset_1.date_of_birth.placeholder'),
      required: false,
      input_html: {tabindex: tabindex.next, :value => format_date(f.object.send(:signatory_date_of_birth)), data: {masked_date: true}}
  .span6
    = f.input :signatory_ssn,
      label: t('investor_information.form_section.fieldset_1.social_security_number.label',
               popover: inline_popover('Why?',
                          t('investor_information.form_section.info_popovers.content',
                            info: t('investor_information.form_section.fieldset_1.social_security_number.label', popover: '').downcase.strip,
                            learn_more: link_to(t('investor_information.form_section.info_popovers.link_name'),
                                                t('investor_information.form_section.info_popovers.link_url'), target: '_blank')).html_safe,
                          t('investor_information.form_section.info_popovers.title').html_safe)).html_safe,
      placeholder: t('investor_information.form_section.fieldset_1.social_security_number.placeholder'),
      required: false,
      input_html: {tabindex: tabindex.next, class: 'country-sensitive'}

  = yield "#{f.options[:as]}_signatory_authorization".to_sym
  - tabindex.skip(2)

.location-information.autoscroll-anchor
  %h6= t('investor_information.form_section.fieldset_2.title')
  .span6
    = f.input :signatory_address1, label: t('investor_information.form_section.fieldset_2.address_1.label'),
      required: false,
      input_html: {tabindex: tabindex.next, class: 'autoscroll'}
  .span6
    = f.input :signatory_address2, label: t('investor_information.form_section.fieldset_2.address_2.label'),
      required: false,
      input_html: {tabindex: tabindex.next}
  .span6
    = f.input :signatory_country, label: t('investor_information.form_section.fieldset_2.country.label'),
                        as: :select,
                        include_blank: false,
                        collection: State.get_countries,
                        required: false,
                        input_html: {tabindex: tabindex.next, class: 'country-selector', data: { stateSelector: "##{f.options[:as]}_signatory_state_id", changeHandler: 'respond_to_country_change_on_form', changeTag: 'country-sensitive', data: { form: f.options[:as] }}}
  .span6
    = f.input :signatory_city, label: t('investor_information.form_section.fieldset_2.city.label'),
      required: false,
      input_html: {tabindex: tabindex.next}
  .span6
    = f.input :signatory_state_id, label: t('investor_information.form_section.fieldset_2.state.label'),
      required: false,
      as: :select,
      collection: State.get_subregions(form_object.signatory_country),
      include_blank: false,
      input_html: {tabindex: tabindex.next}
  .span6
    = f.input :signatory_zip_code, label: t('investor_information.form_section.fieldset_2.zip_code.label'),
      required: false,
      input_html: {tabindex: tabindex.next}
  .span6
    = f.input :signatory_daytime_phone, label:   t('investor_information.form_section.fieldset_2.phone.daytime_label'),
      placeholder: t('investor_information.form_section.fieldset_2.phone.placeholder'),
      required: false,
      input_html: {tabindex: tabindex.next, class: 'country-sensitive'}
.id-information.autoscroll-anchor
  %h6
    = t('investor_information.form_section.fieldset_3.title',
        popover: inline_popover('Why?',
                   t('investor_information.form_section.info_popovers.content',
                     info: t('investor_information.form_section.fieldset_3.title', popover: '').downcase.strip,
                     learn_more: link_to(t('investor_information.form_section.info_popovers.link_name'),
                       t('investor_information.form_section.info_popovers.link_url'), target: '_blank')).html_safe,
                     t('investor_information.form_section.info_popovers.title').html_safe)).html_safe
  .span4
    = f.input :signatory_id_type, label: t('investor_information.form_section.fieldset_3.id_type.label'),
      required: false,
      as: :select,
      include_blank: false,
      collection: PersonalFederalIdentificationInformation.id_types.keys,
      input_html: {tabindex: tabindex.next, class: 'country-sensitive autoscroll'}
  .span8

  .span3
    = f.input :signatory_id_number,
      label: t('investor_information.form_section.fieldset_3.id_number.label'),
      required: false,
      input_html: {tabindex: tabindex.next}
  .span3
    = f.input :signatory_location, label: t('investor_information.form_section.fieldset_3.location.label'),
      required: false,
      input_html: {tabindex: tabindex.next}
  .span3
    = f.input :signatory_issued_date, label: t('investor_information.form_section.fieldset_3.issued_date.label'),
      placeholder: t('investor_information.form_section.fieldset_3.issued_date.placeholder'),
      required: false,
      input_html: {tabindex: tabindex.next, :value => format_date(f.object.send(:signatory_issued_date)), data: {masked_date: true}}
  .span3
    = f.input :signatory_expiration_date, label: t('investor_information.form_section.fieldset_3.expiration_date.label'),
      placeholder: t('investor_information.form_section.fieldset_3.expiration_date.placeholder'),
      required: false,
      input_html: {tabindex: tabindex.next, :value => format_date(f.object.send(:signatory_expiration_date)), data: {masked_date: true}}
  .span7
    = f.input :signatory_us_citizen, label: t('investor_information.form_section.fieldset_3.citizenship.label'),
      as: :radio_buttons, required: false, input_html: {tabindex: tabindex.next,
      data: { changeHandler: 'respond_to_citizenship_change', data: { form: f.options[:as] }}}
.employment-information.autoscroll-anchor
  %h6= t('investor_information.form_section.fieldset_4.title')
  .span4
    = f.input :signatory_employment_status, label: t('investor_information.form_section.fieldset_4.employment_status'),
      required: false,
      as: :select,
      include_blank: false,
      collection: IndividualForm::EMPLOYMENT_STATES,
      input_html: {tabindex: tabindex.next, class: 'autoscroll'}
  .span4
    = f.input :signatory_employment_role, label: t('investor_information.form_section.fieldset_4.employment_role'),
      required: false,
      input_html: {tabindex: tabindex.next}
  .span4
    = f.input :signatory_employer_name, label: t('investor_information.form_section.fieldset_4.employer_name'),
      required: false,
      input_html: {tabindex: tabindex.next}
  .span12
    = f.input :signatory_employer_industry, label: with_popover(t('investor_information.form_section.fieldset_4.employer_industry'), t('investor_information.form_section.fieldset_4.popover.body'), t('investor_information.form_section.fieldset_4.popover.title')),
      as: :radio_buttons,
      required: false,
      input_html: {tabindex: tabindex.next}
.passport-photo-copy.hidden{class: "#{f.options[:as]}-non-us"}
  .span12.push-up-small.push-down-medium
    %h6= 'Passport Photo Copy'
  .span12
    = t('investment_profile.new.international.passport_html', email_link: mail_to(t('contacts.investors'), t('contacts.investors')))

= render partial: 'invest/investment_profiles/suitability', locals: { form_object: form_object, form_type: form_type, f: f, tabindex: tabindex}
