= simple_form_for(@forms[:individual], url: offering_invest_investment_profile_path(@offering), as: 'individual_form', html: {class: 'standard-form--container'}) do |f|
  = render partial: 'individual_or_signatory_form', locals: { form_object: @forms[:individual], form_type: form_type, f: f, tabindex: tabindex}
