- content_for "#{f.options[:as]}_signatory_authorization".to_sym do
  - position_tab_index = tabindex.current + 6
  .span6.jq-entity-position{data: {position: f.object.position}}
    -if form_type == :trust
      = f.input :position, label: t("investment_profile.new.entity.form.#{form_type}.personal.position") ,
        required: false,
        readonly: true,
        input_html: {tabindex: position_tab_index, value: 'Trustee'}
    -elsif form_type == :partnership
      = f.input :position, as: :select,
        label: t("investment_profile.new.entity.form.#{form_type}.personal.position") ,
        collection: ['General Partner','Authorized Signatory'],
        required: false,
        include_blank: false,
        input_html: {tabindex: position_tab_index}
    -else
      = f.input :position, label: t("investment_profile.new.entity.form.#{form_type}.personal.position") ,
        required: false,
        input_html: {tabindex: position_tab_index}
  .span6.confirmed-authorization.jq-entity-auth
    .span1
      = f.input :confirmed_authorization, as: :boolean,
        label: false, error: false,
        required: false, boolean_style: :inline,
        input_html: {class: 'checkbox', tabindex: position_tab_index + 1, data: { 'remove-error-for' => :confirmed_authorization } }
    .span10.jq-entity-auth
      %label.checkbox-label{for: "#{f.options[:as]}_confirmed_authorization"}
        = t("investment_profile.new.entity.form.#{form_type}.personal.confirmed_authorization")
        = removable_error f, :confirmed_authorization
= render partial: 'individual_or_signatory_form', locals: { form_object: form_object, form_type: form_type, f: f, tabindex: tabindex}
