%h6.push-up-small= t('investment_profile.new.suitability.fieldset_1.title')
%p= t('investment_profile.new.suitability.fieldset_1.subtitle')
%fieldset.suitability-information
  - kind = @investment.is_reg_c? ? 'reg_c' : 'reg_d'
  .row-fluid
    .span12.input
      .autoscroll-anchor.profile-checkbox{class: form_object.errors.messages[:high_risk_agree] ? 'box-error' : '' }
        .profile-indent
          = f.input :high_risk_agree, as: :boolean, boolean_style: :inline,
                                       wrapper_class: 'prompt-container input',
                                       label: false, required: false, error: false,
                                       input_html: { tabindex: tabindex.next, class: 'checkbox autoscroll', data: { 'remove-error-for' => :high_risk_agree } }
        .span11
          = f.label :high_risk_agree,  "<span>#{t('investment_profile.new.suitability.fieldset_1.affirm')}</span>#{t("investment_profile.new.suitability.fieldset_1.#{kind}.high_risk_agree")}".html_safe
        .span12.profile-indent.floating-error
          = removable_error f, :high_risk_agree

      .autoscroll-anchor.profile-checkbox.with-gutter{class: form_object.errors.messages[:experience_agree] ? 'box-error' : '' }

        .profile-indent
          = f.input :experience_agree, as: :boolean, boolean_style: :inline,
                                       label: false, required: false, error: false,
                                       wrapper_class: 'prompt-container input',
                                       input_html: { class: 'checkbox autoscroll', tabindex: tabindex.next, data: { 'remove-error-for' => :experience_agree } }
        .span11
          = f.label :experience_agree,  "<span>#{t('investment_profile.new.suitability.fieldset_1.affirm')}</span>#{t("investment_profile.new.suitability.fieldset_1.#{kind}.experience_agree")}".html_safe
        .span12.profile-indent.floating-error
          = removable_error f, :experience_agree

      .autoscroll-anchor.profile-checkbox{class: form_object.errors.messages[:loss_risk_agree] ? 'box-error' : '' }

        .profile-indent
          = f.input :loss_risk_agree, as: :boolean, boolean_style: :inline,
                                       label: false, required: false, error: false,
                                       wrapper_class: 'prompt-container input',
                                       input_html: { class: 'checkbox autoscroll', tabindex: tabindex.next, data: { 'remove-error-for' => :loss_risk_agree } }
        .span11
          = f.label :loss_risk_agree,  "<span>#{t('investment_profile.new.suitability.fieldset_1.affirm')}</span>#{t("investment_profile.new.suitability.fieldset_1.#{kind}.loss_risk_agree")}".html_safe
        .span12.profile-indent.floating-error
          = removable_error f, :loss_risk_agree

      .autoscroll-anchor.profile-checkbox.with-gutter{class: form_object.errors.messages[:time_horizon_agree] ? 'box-error' : '' }

        .profile-indent
          = f.input :time_horizon_agree, as: :boolean, boolean_style: :inline,
                                       label: false, required: false, error: false,
                                       wrapper_class: 'prompt-container input',
                                       input_html: { class: 'checkbox autoscroll', tabindex: tabindex.next, data: { 'remove-error-for' => :time_horizon_agree } }
        .span11
          = f.label :time_horizon_agree,  "<span>#{t('investment_profile.new.suitability.fieldset_1.affirm')}</span>#{t("investment_profile.new.suitability.fieldset_1.#{kind}.time_horizon_agree")}".html_safe
        .span12.profile-indent.floating-error.autoscroll
          = removable_error f, :time_horizon_agree

      - if @investment.is_reg_c?

        .autoscroll-anchor.profile-checkbox{class: form_object.errors.messages[:cancel_agree] ? 'box-error' : '' }

          .profile-indent
            = f.input :cancel_agree, as: :boolean, boolean_style: :inline,
                                         label: false, required: false, error: false,
                                         wrapper_class: 'prompt-container input',
                                         input_html: { class: 'checkbox autoscroll', tabindex: tabindex.next, data: { 'remove-error-for' => :cancel_agree } }
          .span11
            = f.label :cancel_agree,  "<span>#{t('investment_profile.new.suitability.fieldset_1.affirm')}</span>#{t('investment_profile.new.suitability.fieldset_1.reg_c.cancel_agree')}".html_safe
          .span12.profile-indent.floating-error.autoscroll
            = removable_error f, :cancel_agree

        .autoscroll-anchor.profile-checkbox.with-gutter{class: form_object.errors.messages[:resell_agree] ? 'box-error' : '' }

          .profile-indent
            = f.input :resell_agree, as: :boolean, boolean_style: :inline,
                                         label: false, required: false, error: false,
                                         wrapper_class: 'prompt-container input',
                                         input_html: { class: 'checkbox autoscroll', tabindex: tabindex.next, data: { 'remove-error-for' => :resell_agree } }
          .span11
            = f.label :resell_agree,  "<span>#{t('investment_profile.new.suitability.fieldset_1.affirm')}</span>#{t('investment_profile.new.suitability.fieldset_1.reg_c.responsible_agree')}".html_safe
          .span12.profile-indent.floating-error.autoscroll
            = removable_error f, :resell_agree
