= content_for(:page_title, 'Investor Profile')

- content_for :main_container_class do
  full-width workflow

- tabindex = Counter.new(0)

= content_for :step_description do
  .step-title.centered
    %h1= t('investment_profile.new.title')
    %small= t('investment_profile.new.subtitle', cip_path: "#{cip_notice_path}").html_safe

= render partial: 'shared/workspace_header', locals: { errors: @active_form.try(:errors) }
.invest-panel.investment-profiles#investor-profile
  %fieldset
    %legend= t('investment_profile.new.select_a_method.title')
    %hr
    %p= t('investment_profile.new.subtitle_html', email_link: mail_to(t('contacts.investors'), t('contacts.investors')))

    .tab-box.row-fluid
      %ul.selections#individual-or-entity
        %li.span6.tab.long{class: @active_form.is_a?(IndividualForm) ? 'active' : ''}
          %a.span12{ href: '#individual', data: {toggle: 'tab'} }
            .title= t('investment_profile.new.individual.title')
            .subtitle= t('investment_profile.new.individual.subtitle_html')
        %li.span6.tab.long
          %a.span12{ href: '#entity', data: {toggle: 'tab'} }
            .title= t('investment_profile.new.entity.title')
            .subtitle= t('investment_profile.new.entity.subtitle')

      #individual.tab-pane{class: @active_form.is_a?(IndividualForm) ? 'active' : ''}
        %h6= t('investor_information.form_section.fieldset_1.title')
        = render partial: 'individual_form', locals: {form_type: 'individual', tabindex: tabindex}

      #entity.tab-pane.autoscroll-anchor
        - if @non_individual_entities.empty?
          #entity-new{ class: 'active' }
            = render partial: 'entity_type', locals: { form_namespace: :new, tabindex: tabindex }
        - else
          %h6= t('investment_profile.new.select_an_entity.title')
          .tab-box
            %ul.selections#existing-or-new-entity
              - @non_individual_entities.each do |e|
                - entity = e[:entity]
                %li.tab.span4.short
                  %a.span12{href: "#entity-#{entity.id}", data: {toggle: 'tab', type: "#{e[:kind]}"}}
                    %span.vertical-center
                    %span.title-and-subtitle
                      %span.title= entity.name
                      %br
                      %span.subtitle
                        - if entity.accreditation.status.approved?
                          =t('investment_profile.new.select_an_entity.verified')
                        - elsif entity.accreditation.status.pending?
                          =t('investment_profile.new.select_an_entity.pending')
                        - else
                          =t('investment_profile.new.select_an_entity.not_verified')
              %li.tab.span4.short
                %a.span12{href: '#entity-new', data: {toggle: 'tab'}}
                  %span.vertical-center
                  %span.title-and-subtitle
                    %span.title= t('investment_profile.new.select_an_entity.new_entity_button')

          - @non_individual_entities.each do |e|
            - entity = e[:entity]
            .tab-pane{ id: "entity-#{entity.id}" }
              = render partial: 'entity_type', locals: { form_namespace: entity.id, tabindex: tabindex }
          .tab-pane{ id: 'entity-new' }
            = render partial: 'entity_type', locals: { form_namespace: :new, tabindex: tabindex }

#form-buttons
  .row-fluid
    .span6
      - if path == 'edit'
        = link_to t('investment_profile.new.buttons.cancel'), new_offering_investment_path(@offering), class: "btn btn-block base-btn btlarge", tabindex: tabindex.current + 2
      - else
        = link_to t('investment_profile.new.buttons.finish_later'), dashboard_investments_path, class: "btn btn-block base-btn btlarge", tabindex: tabindex.current + 2
    .span6
      = button_tag(t("investment_profile.new.buttons.#{path}"), id: "submit-button", class: "btn btn-primary btn-block btlarge", tabindex: tabindex.current + 1)
      #spinner.centered.btn-block.btlarge.la-ball-clip-rotate.la-sm.hidden
        .btn-spinner

