= content_for(:page_title, 'Investor Profile')

- content_for :main_container_class do
  full-width workflow

- tabindex = Counter.new(0)

= content_for :step_description do
  .step-title.centered
    %h1= t('investment_profile.new.title')
    %small= t('investment_profile.new.subtitle', cip_path: "#{cip_notice_path}").html_safe

= render partial: 'shared/workspace_header', locals: { errors: @active_form.try(:errors) }
.invest-panel.investment-profiles#investor-profile
  %fieldset
    %legend= t('investment_profile.new.select_a_method.title')
    %hr

    .row-fluid
      #individual.active
        %h6= t('investor_information.form_section.fieldset_1.title')
        = render partial: 'individual_form', locals: {form_type: 'individual', tabindex: tabindex}

#form-buttons
  .row-fluid
    .span6
      - if path == 'edit'
        = link_to t('investment_profile.new.buttons.cancel'), new_offering_investment_path(@offering), class: "btn btn-block base-btn btlarge", tabindex: tabindex.current + 2
      - else
        = link_to t('investment_profile.new.buttons.finish_later'), dashboard_investments_path, class: "btn btn-block base-btn btlarge", tabindex: tabindex.current + 2
    .span6
      = button_tag(t("investment_profile.new.buttons.#{path}"), id: "submit-button", class: "btn btn-primary btn-block btlarge", tabindex: tabindex.current + 1)
      #spinner.centered.btn-block.btlarge.la-ball-clip-rotate.la-sm.hidden
        .btn-spinner
