.impersonate-banner
  = link_to 'Stop Impersonating', revert_impersonate_path, method: :delete, class: 'btn pull-right'
  %span.impersonate-notice
    %b WARNING:
    = "You are now impersonating '#{current_user.email}' (#{current_user.id})"

