%hr

.message
  .message-info
    -unless message.sent_by_user
      %h4.message-author= message.offering.public_contact_name
      %p.company-name
        = message.offering.company.name
      .date-created
        = message.created_at.to_s(:message)
    - else
      %h4.message-author
        = message.user.registration_name
      .date-created
        = message.created_at.to_s(:message)
    .body
      = formatted_message(message.body)
