%a{href: dashboard_conversation_path(message.offering_id, user_id: message.user_uuid || current_user.uuid) }
  - unread_count = message.unread_count
  .message.full-preview{ class: ( 'unread-messages' if unread_count > 0 ) }
    .row-fluid.responsive.message-info
      .span3.sender
        %h4.user-name= message.user_name
        %p.company-name= message.company_name
      .span2.created
        = message.created_at.today? ? message.created_at.to_s(:today_message) : message.created_at.to_s(:message)
      .span6.preview
        = message.body
      .span1.unread
        - if unread_count > 0
          %div= unread_count
%hr
