.offering-message
  %h2= t('investment_dashboard.messages_tab.index.title')
  .message-list
    - if @messages.empty?
      .centered.empty
        = image_tag('happy_envelope.png')
        %h3= t('investment_dashboard.messages_tab.index.empty')
        %br
        %h4= t('investment_dashboard.messages_tab.index.view_and_reply')
    - else
      = render partial: 'message', collection: @messages
