.offering-message
  - if flash[:notice]
    .flash-notice=flash[:notice]
  - if flash[:alert]
    .flash-alert=flash[:alert]

  %a{ href: dashboard_conversations_path}
    %h2
      %span.icon-arrow-left
      = "#{t('investment_dashboard.messages_tab.show.backlink')}/#{t('investment_dashboard.messages_tab.show.title')}"
      - if @contact
        %span= @contact.registration_name
      - else
        %span= @message.offering.public_contact_name

  .conversations
    = simple_form_for @message, url: dashboard_conversations_path(@message.offering.id) do |f|
      .new-message
        =f.input :offering_id, as: :hidden, label: false
        =f.input :user_id, as: :hidden, label: false, input_html: { value: f.object.user.uuid }
        =f.input :body, type: 'textarea', label: false, placeholder: t("investment_dashboard.messages_tab.placeholder.#{@messages.blank? ? 'new' : 'reply'}")
        .submit-drawer
          = f.button :submit, value: 'Send', class: 'btn-normal btn-medium'
    = render partial: 'message_full', collection: @messages, as: :message
