= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), remote: remote, html: { method: :post, class: 'standard-form--container confirmation-form--container' }) do |f|
  %p.centered.error.alert= alert || I18n.t('devise.registrations.signed_up_but_unconfirmed')
  %fieldset
    .row-fluid
      .span12
        = f.label :email, t('sign_in.form_section.email.label'), class: 'centered'
        = f.input :email, label: false, as: :email, required: false, autofocus: true, input_html: { tabindex: 1, class: 'centered' }
    .button-row.top-margin.push-down-medium
      - if remote
        %br
      = f.button :submit, value: t('recoverable.resend_confirmation.submit'), class: 'btn-normal btn-full', tabindex: 2
