#confirmation-modal.modal{role: 'dialog', tabindex:'-1', 'aria-hidden' => 'true'}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %a.close{href:'#', data: {dismiss: 'modal'}}
          %span &times;
        %h4.modal-title= t('recoverable.resend_confirmation.title')
      .modal-body.account-modal
        .registration
          = render partial: 'devise/confirmations/form', locals: { form_type: 'modal', remote: true }
