var form_html = "#{escape_javascript( render partial: 'devise/confirmations/form', locals: { form_type: 'modal', remote: true } )}";
$('#confirmation-modal form').replaceWith(form_html);
$('#new-session-modal').modal('hide');
$('#confirmation-modal').modal('show');
