- content_for(:main_container_class) do
  full-width body-blue

.row-fluid.no-margin
  .span6.offset3.panel.signup-panel
    %h5.title= t('recoverable.resend_confirmation.title')
    = render partial: 'devise/confirmations/form', locals: { remote: false }
