- content_for(:main_container_class) do
  full-width body-blue

- tabindex = Counter.new(0)

.row-fluid.no-margin
  .span6.offset3.registration-panel
    .panel.welcome-back
      %h5.title= t('sign_up.need_password.greeting', user: @form.user.first_name)
      .description= t('sign_up.need_password.message')

      = simple_form_for(@form, as: :user, url: user_confirm_path,
                                  html: { method: :put, class: 'standard-form--container account-form--container'}) do |f|
        -unless @form.errors.empty?
          %p.centered.error.alert= t('devise.failure.form_error_header')
        %fieldset
          = f.hidden_field :confirmation_token, value: @confirmation_token
          = f.hidden_field :uuid, value: @uuid
          .row-fluid
            .span12= f.input :password, required: false, placeholder: t('sign_up.form_section.password.label'), label: false, input_html: { tabindex: tabindex.next }
          .row-fluid
            .span12= f.input :password_confirmation, required: false, placeholder: t('sign_up.form_section.password_confirmation.label'), label: false, input_html: { tabindex: tabindex.next }
          .row-fluid
            .span12= f.input :us_citizen, label: t('sign_up.form_section.citizenship.label'), as: :radio_buttons, required: false, input_html: { tabindex: tabindex.next }
          .row-fluid
            .span12= f.input :country, label: t('sign_up.form_section.residence.label'),
                              as: :select,
                              selected: @form.country || 'US',
                              include_blank: false,
                              collection: State.get_countries,
                              required: false,
                              input_html: { tabindex: tabindex.next }
          .row-fluid
            .span12.centered.text
              = t('sign_up.form_section.agree_to_terms_html', link: link_to('Terms of Use', terms_path, tabindex: 5, target: '_blank'))

          .row-fluid
            .button-row
              .span12
                = f.button :submit, value: t('sign_up.form_section.commit'), data: { disable_with: t('sign_up.form_section.commit') }, class: 'btn-primary btn-block btlarge', tabindex: tabindex.next
          .row-fluid
            .span12.centered
              = link_to t('sign_up.have_account_prompt'), new_session_path(resource_name), tabindex: tabindex.next
