- if offering_presenter.closed_successfully?
  .offering-banner
    .notice.notice-successful
      = t('show_campaign.banner.successfully_funded', date: offering_presenter.formatted_end_date_for_banner)

- elsif offering_presenter.closed_unsuccessfully?
  .offering-banner
    .notice.notice-unsuccessful
      = t('show_campaign.banner.unsuccessfully_funded', date: offering_presenter.formatted_end_date_for_banner)

- elsif offering_presenter.ended?
  .offering-banner
    .notice.notice-pending
      = t('show_campaign.banner.settlement_pending', date: offering_presenter.formatted_end_date_for_banner)
