%div{ class: "#{type}-container #{'founder-comment' if is_issuer_user?(offering, comment.user)}", id: "comment-#{comment.id}" }
  %h3= comment.username
  .founder-label FOUNDER
  %time.ago{datetime: comment.created_at}
  %p= comment.body
  .actions
    - if can_reply?(offering, current_user, comment)
      = link_to '', href: 'javascript:void(0);', data: {info: :comment, id: comment.id} do
        %i.fa.fa-reply
        &nbsp;Reply
    - if can_message?(offering, current_user, comment)
      = link_to dashboard_conversation_url(@offering.id, user_id: comment.user.uuid) do
        %i.fa.fa-envelope
        &nbsp;Message
    - if can_delete?(offering, current_user, comment)
      = link_to '', href: "javascript:FF.confirmDelete('#{path_for_delete(comment, offering_presenter, parent_id)}');" do
        %i.fa.fa-trash
        &nbsp;Delete

  .reply-form{id: "reply-form-#{comment.id}"}
