.section-element#comments-tab{data: {comment_max_length: OfferingCommentFormValidator::MAX_COMMENT_LENGTH}}
  .element-title Comments
  .element-body
    - if current_user
      = render partial: 'offering_comment_forms/form', locals: { action: :comment, placeholder: t('offering_comment.placeholder.initial'), comment: @comment, offering_presenter: @offering_presenter }
      = render partial: 'offering_comment_forms/form', locals: { action: :reply, placeholder: t('offering_comment.placeholder.reply'), comment: @comment, offering_presenter: @offering_presenter }
    - else
      .login-required
        = t("offering_comment.login.required_html", login: link_to('Login', "#", class: 'newbtn continue-banner-hide', data: {toggle: 'modal', target: '#new-session-modal', return_to: "#{offering_short_path(@offering_presenter)}#comment"}), sign_up: link_to('Sign Up', "#", class: 'newbtn continue-banner-hide', data: {toggle: 'modal', target: '#new-registration-modal', return_to: "#{offering_short_path(@offering_presenter)}#comment"}))

    - if @offering_comments.present?
      .user-comments
        - @offering_comments.each do |comment|
          = render partial: 'comment_display', locals: { type: :comment, offering: @offering, comment: comment, offering_presenter: @offering_presenter, parent_id: nil}
          .replies
          - comment.children.visible.each do |reply|
            = render partial: 'comment_display', locals: { type: :reply, offering: @offering, comment: reply, offering_presenter: @offering_presenter, parent_id: comment.id}
          %hr
      #delete-comment-dialog{ style: 'display: none' }
        %form{ method: 'POST' }
          %input{ type: 'hidden', name: '_method', value: 'delete' }
        .centered
          = t('offering_comment.delete.text')
    - else
      = render partial: 'comment_blank'
