.offering-head
  = render partial: 'banner', locals: { offering_presenter: @offering_presenter }
  .container
    .company-video
      - if @offering_presenter.video_present?
        = render partial: 'video'
      - else
        .video-wrapper.no-video
          = image_tag(@offering_presenter.photo_header_url.present? ? @offering_presenter.photo_header_url : @offering_presenter.photo_cover_url)
    .company-basic
      .sh.company-title= @offering_presenter.company_name
      %p.company-sub-title= @offering_presenter.tagline_browse
    .company-raised
      .raised-amount
        - if @offering.reg_c_enabled?
          %p= with_popover(t('show_campaign.offering_information.raised'), t('show_campaign.offering_information.raised_popover'), t('show_campaign.offering_information.raised'))
        - else
          %p= t('show_campaign.offering_information.raised')
        %h2= @offering_presenter.formatted_accredited_balance
      .investor-count
        %p= t('show_campaign.offering_information.investor_count')
        %h2= @offering_presenter.number_of_investors
      .days-left
        %p= with_popover(t('show_campaign.offering_information.days_left'),
            t('show_campaign.offering_information.days_left_popover_html', offering_close_date: @offering_presenter.formatted_end_date_for_popover, escrow_close_date: @offering_presenter.escrow_end_date),
            t('show_campaign.offering_information.days_left'))
        - if @offering_presenter.closed_successfully?
          %h2= t('browse.discovery.campaign_swatch.offering.end_date.funded')
        - elsif @offering_presenter.closed_unsuccessfully?
          %h2= t('browse.discovery.campaign_swatch.offering.closed')
        - elsif @offering_presenter.closed_pending?
          %h2= t('browse.discovery.campaign_swatch.pending')
        - else
          %h2= @offering_presenter.days_left
      - if @offering_presenter.investable? && !@offering_presenter.ended?
        .invest
          = link_to(new_offering_investment_path(@offering), class: 'btn-normal btn-small') do
            %span= t(@invest_button_text_key)
            - unless @investment&.live? || !@offering_presenter.minimum_investment_amount_display
              %span= @offering_presenter.minimum_investment_amount_display + ' min'
    - if @offering_presenter.has_reg_d_and_reg_cf_securities?
      .company-securities-banner= t('show_campaign.offering_information.reg_d_and_reg_cf_banner.caption_html',
                      accreditation_link: link_to(t('show_campaign.offering_information.reg_d_and_reg_cf_banner.accreditation_link_text'), "#{faq_investor_path}#general-why-is-there-a-difference-between-reg-cf-and-reg-d-investors"),
                      regulations_link: link_to(t('show_campaign.offering_information.reg_d_and_reg_cf_banner.regulations_link_text'), "#{faq_investor_path}#investor_requirements_and_rights-why-are-the-investors-called-reg-cf-and-reg-d"),
                      threshold_link: link_to(t('show_campaign.offering_information.reg_d_and_reg_cf_banner.threshold_link_text'), "#{faq_investor_path}#investor_requirements_and_rights-what-is-the-difference-between-reg-cf-and-reg-d-investors"))
    .company-contact
      - if @offering_presenter.website_url.present?
        .url
          = link_to @offering_presenter.website_link_text, @offering_presenter.website_url, target: '_blank'
      - if @offering_presenter.company_location.present?
        .location
          = @offering_presenter.company_location
      .offering-follower{class: follower_css(@follower)}
        - if user_signed_in? || @follower.persisted?
          = link_to(t('offering_message.ask_a_question.button'), 'javascript:void(0)', id: 'intro-to-founder-btn', class: 'i-follow follow', :onclick => "$('#offering_messages').submit()" )
          = link_to('Following for updates', offering_follower_path(@follower.offering_id), remote: true, method: :delete, class: 'i-follow unfollow')
        - else
          = link_to(t('offering_message.ask_a_question.button'), '#', id: 'intro-to-founder-btn', class: 'i-follow follow', data: {toggle: 'modal', target: '#intro-to-founder-modal', return_to: offering_path(@offering, m: 'intro-to-founder-modal')} )
    .company-social.social-share-section
      = link_to 'Share', @social_urls.facebook.offering_url, class: "share-item facebook-share", target: '_blank'
      = link_to 'Tweet', @social_urls.twitter.offering_url, class: "share-item twitter-share", target: '_blank'
