.convertible_details.info-container
  .info-title
    =t('show_campaign.offering_information.option_pool')
    %span.in-label{ data: { info_popover: true,
                                title: t('show_campaign.offering_information.option_pool'),
                                content: @offering_presenter.option_pool_popover }, }
  .info= @offering_presenter.option_pool
