.info-container
  .info-title Security Type
  .info= security.security_title
.info-container
  .info-title Offering Min
  .info= security.minimum_total_investment_display
.info-container
  .info-title Offering Max
  .info= security.maximum_total_investment_display
.info-container
  .info-title.in-label
    = t('convertible_notes.notes_terms.fifth_section.bullet1_title')
    %span{ 'data-info-popover' => 'true', 'data-title' => t('convertible_notes.notes_terms.fifth_section.bullet1_title'), 'data-content' => t('convertible_notes.notes_terms.fifth_section.bullet1_content') }
  .info= security.valuation_cap_display
.info-container
  .info-title.in-label
    = t('convertible_notes.notes_terms.fifth_section.bullet2_title')
    %span{ 'data-info-popover' => 'true', 'data-title' => t('convertible_notes.notes_terms.fifth_section.bullet2_title'), 'data-content' => t('convertible_notes.notes_terms.fifth_section.bullet2_content') }
  .info= "#{security.discount_rate.to_f}%"
