.info-container
  .info-title
    = t('show_campaign.offering_information.pre_money_valuation')
  .info= @offering_presenter.pre_money_valuation_display
.info-container
  .info-title.in-label
    = t('show_campaign.offering_information.max_equity_offered.title')
    %span.in-label{ data: { 'info-popover' => true,
                                title: t('show_campaign.offering_information.max_equity_offered.title'),
                                content: t('show_campaign.offering_information.max_equity_offered.popover_body') } }
  .info=@offering_presenter.formatted_percent_equity
.info-container.end-of-column
  .info-title
    = t('show_campaign.offering_information.price_per_share.title')
  .info= @offering_presenter.formatted_share_price
.info-container
  .info-title
    =t('show_campaign.offering_information.option_pool')
    %span.in-label{ data: { info_popover: true,
                                title: t('show_campaign.offering_information.option_pool'),
                                content: @offering_presenter.option_pool_popover }, }
  .info= @offering_presenter.option_pool
