.element-body
  - sort_securities.each do |security|
    .info-wrapper
      .title=security.section_title
      .subtitle=security.security_subtitle
      .info-container
        .info-title
          = t('show_campaign.offering_information.amount_raised.title')
        .info=number_to_currency(security.accredited_balance)
      .info-container
        .info-title
          = t('show_campaign.offering_information.investors.title')
        .info=security.number_of_investors
      - if security.convertible?
        = render partial: 'convertible_info', locals: { security: security }
      - elsif security.revenue_note?
        = render partial: 'security', locals: { security: security }
      - else
        = render partial: 'security', locals: { security: security }
      = render partial: 'document', collection: security.deal_documents

  .info-wrapper
    .title= t('show_campaign.offering_information.additional_details')
    - if @offering_presenter.convertible?
      = render partial: 'convertible_details'
    - elsif @offering_presenter.revenue_note?
      = render partial: 'revenue_note_details'
    - else
      = render partial: 'details'

  - unless @offering_documents.empty?
    .info-wrapper
      .title= t('show_campaign.offering_information.diligence_documents')
      = render partial: 'document', collection: @offering_documents
