.panel.offering-panel
  - if @offering_presenter.investable?
    .raised-amount
      = @offering_presenter.formatted_accredited_balance
      %span.currency= t('show_campaign.offering_information.raised')
    .meter
      = render partial: "offerings/progress_#{@offering_presenter.swatch_status}", locals: { offering: @offering_presenter }
    .row-fluid.raised-details--container
      .span6.raised-detail
        .detail-label= t('show_campaign.offering_information.investor_count')
        = @offering_presenter.number_of_investors
      .span6.raised-detail
        .detail-label
          - if !@offering_presenter.closed_pending?
            = with_popover(t('show_campaign.offering_information.days_left'),
                           t('show_campaign.offering_information.days_left_popover_html', offering_close_date: @offering_presenter.formatted_end_date_for_popover, escrow_close_date: @offering_presenter.escrow_end_date),
                           t('show_campaign.offering_information.days_left'))
        - if @offering_presenter.closed_successfully?
          = t('browse.discovery.campaign_swatch.offering.end_date.funded')
        - elsif @offering_presenter.closed_unsuccessfully?
          = t('browse.discovery.campaign_swatch.offering.closed')
        - elsif @offering_presenter.closed_pending?
          = t('browse.discovery.campaign_swatch.pending')
        - else
          = @offering_presenter.days_left
    .row-fluid.span12
      .scope-container
        .span6.scope-title= t('browse.discovery.campaign_swatch.offering.minimum_total_investment_display_long_form')
        .span6.scope-amount
          = @offering_presenter.minimum_total_investment_display
        .span6.scope-title= t('browse.discovery.campaign_swatch.offering.campaign_maximum')
        .span6.scope-amount
          = @offering_presenter.maximum_total_investment_display
    %p.right-pane-description.push-up-smallest
      - if @offering_presenter.unpresentable_minimum?
        = t('show_campaign.offering_information.funding_criteria_zero_min', end_date: @offering_presenter.formatted_end_date_for_offering_panel)
      - else
        = t('show_campaign.offering_information.funding_criteria', minimum_total_investment: @offering_presenter.minimum_total_investment_display, end_date: @offering_presenter.formatted_end_date_for_offering_panel)
    - unless @offering_presenter.ended?
      %a.btn-primary.btn-block.btn-invest.push-up-smallest#invest-offering{ href: new_offering_investment_path(@offering) }
        = t @invest_button_text_key
        - if !@offering.legacy_offering?
          %span
            = @offering_presenter.minimum_investment_amount_display
            = t('show_campaign.details.min')

  = link_to(t('show_campaign.intro_to_founder'), '#', id: 'intro-to-founder-btn', class: 'btn btn-block btn-primary pull-right continue-banner-show', data: {toggle: 'modal', target: '#intro-to-founder-modal', return_to: offering_path(@offering, m: 'intro-to-founder-modal')} )

  .push-down-small
    %a.fundraising-link
      Fundraising Details
      %i.fa.fa-chevron-right
