#navigable-pitch
  - @offering.pitch_sections.each do |section|
    .section-element
      .element-title=section.title

      .element-body
        - section.content.each do |item|
          - case item
            - when Pitch::Video
              = render partial: 'pitch_video', locals: { content: item }
            - when Pitch::TextArea
              = render partial: 'pitch_text', locals: { content: item }
            - when Pitch::Image
              = render partial: 'pitch_image', locals: { content: item }
            - when Pitch::Carousel
              = render partial: 'pitch_carousel', locals: { content: item }
