- carousel_id = "#carousel-#{content.id}"
.pitch_carousel
  .carousel.slide.embeddable-object{ id: carousel_id.gsub('#', ''), class: "expandable", data: { ride: 'carousel', interval: 'false' } }
    %ol.carousel-indicators
      - content.carousel_images.each_with_index do |_, index|
        %li{ data: { target: carousel_id, 'slide-to' => index }, class: "#{'active' if index == 0}" }
    .carousel-inner
      - content.carousel_images.each_with_index do |image, index|
        .item{ class: "#{'active' if index == 0}" }
          %img{ src: image.carousel_photo_url }

    .carousel-control--container
      %a.left.carousel-control{ href: carousel_id, role: 'button', data: { slide: 'prev' } }
        %i.fa.fa-chevron-left
      %a.right.carousel-control{ href: carousel_id, role: 'button', data: { slide: 'next' } }
        %i.fa.fa-chevron-right
      %i.fa.fa-expand.expand-link
