.section-element
  - if @faqs.present?
    .element-title Commonly Asked Questions
    .element-body
      - @faqs.each do |faq|
        .question= faq.question.html_safe
        .answer= faq.answer.html_safe
