.info-container
  .info-title
    = t('show_campaign.offering_information.security_offered.title')
  .info= security.security_title
.info-container
  .info-title
    = t('show_campaign.offering_information.shares_offered.title')
  .info=number_with_delimiter(security.shares_offered)
.info-container
  .info-title
    = t('show_campaign.offering_information.offering_min.title')
    %span.in-label{ data: { 'info-popover' => true,
                                  title: t('show_campaign.offering_information.offering_min.title'),
                                  content: security.min_popover }, }
  .info= security.minimum_total_investment_display
.info-container
  .info-title
    = t('show_campaign.offering_information.offering_max.title')
    %span.in-label{ data: { 'info-popover' => true,
                                title: t('show_campaign.offering_information.offering_max.title'),
                                content: security.max_popover }, }
  .info= security.maximum_total_investment_display
