%h1.panel-header
.section-element
  .element-title
    = t('convertible_notes.notes_rights.title', security_type: security.security_title)
    = link_to '#documents', target: '_blank', class: "pull-right" do
      View Documents
      %i.fa.fa-chevron-right
  .element-body
    %h2.p-title.no-top-margin= t('convertible_notes.notes_terms.first_section.title')
    %p= t('convertible_notes.notes_terms.first_section.content')

    %h2.p-title= t('convertible_notes.notes_terms.second_section.title')
    %p= t('convertible_notes.notes_terms.second_section.content')

    %h2.p-title= t('convertible_notes.notes_terms.third_section.title')
    %p= t('convertible_notes.notes_terms.third_section.content')

    %h2.p-title= t('convertible_notes.notes_terms.fourth_section.title')
    %p= t('convertible_notes.notes_terms.fourth_section.content')

    %h2.p-title= t('convertible_notes.notes_terms.fifth_section.title')
    %p
      = t('convertible_notes.notes_terms.fifth_section.content')
      %ul
        %li= t('convertible_notes.notes_terms.fifth_section.bullet1_title')
        %p= t('convertible_notes.notes_terms.fifth_section.bullet1_content')
        %li= t('convertible_notes.notes_terms.fifth_section.bullet2_title')
        %p= t('convertible_notes.notes_terms.fifth_section.bullet2_content')

    %h2.p-title= t('convertible_notes.notes_terms.sixth_section.title')
    %p= t('convertible_notes.notes_terms.sixth_section.content')

    %h2.p-title= t('convertible_notes.notes_terms.seventh_section.title')
    %p= t('convertible_notes.notes_terms.seventh_section.content')
