%h1.panel-header
.section-element
  .element-title
    FlashSeed Preferred Terms
    = link_to security_type.path, target: security_type.target_attr, class: "pull-right" do
      Term Sheet
      %i.fa.fa-chevron-right

  .element-body
    %h2.p-title.no-top-margin= t('flash_seed_preferred.flash_seed_preferred_terms.first_section.title')
    %p= t('flash_seed_preferred.flash_seed_preferred_terms.first_section.content_html')

    %h2.p-title= t('flash_seed_preferred.flash_seed_preferred_terms.second_section.title')
    %p= t('flash_seed_preferred.flash_seed_preferred_terms.second_section.content')

    %h2.p-title= t('flash_seed_preferred.flash_seed_preferred_terms.third_section.title')
    %p= t('flash_seed_preferred.flash_seed_preferred_terms.third_section.content')

    %h2.p-title= t('flash_seed_preferred.flash_seed_preferred_terms.forth_section.title')
    %p= t('flash_seed_preferred.flash_seed_preferred_terms.forth_section.content_html')

    %h2.p-title= t('flash_seed_preferred.flash_seed_preferred_terms.fifth_section.title')
    %p= t('flash_seed_preferred.flash_seed_preferred_terms.fifth_section.content', return_multiplier: @offering.fsp_return_multiplier)

    %h2.p-title= t('flash_seed_preferred.flash_seed_preferred_terms.sixth_section.title')
    %p= t('flash_seed_preferred.flash_seed_preferred_terms.sixth_section.content_html')

    %h2.p-title= t('flash_seed_preferred.flash_seed_preferred_terms.seventh_section.title')
    %p= t('flash_seed_preferred.flash_seed_preferred_terms.seventh_section.content_html')
