%meta{ property: 'fb:app_id',                          content: Rails.application.config.facebook_app_id }
%meta{ property: 'og:url',                             content: offering_vanity_url(@offering_presenter) }
%meta{ property: 'og:title',                           content: "#{@offering_presenter.company_name} fundraising on FlashFunders" }
%meta{ property: 'og:description',                     content: @offering_presenter.tagline_browse }
%meta{ property: 'og:site_name',                       content: 'FlashFunders' }
- video_url = @offering_presenter.campaign_flash_video_url
- if video_url
  %meta{ property: 'og:type',                            content: 'video' }
  %meta{ property: 'og:video',                           content: "http:#{video_url}" }
  %meta{ property: 'og:video:secure_url',                content: "https:#{video_url}" }
  %meta{ property: 'og:video:url',                       content: "https:#{video_url}" }
  %meta{ property: 'og:video:type',                      content: 'application/x-shockwave-flash' }
- video_frame = { width: 760, height: 562 }
%meta{ property: 'og:video:width',                     content: video_frame[:width] }
%meta{ property: 'og:video:height',                    content: video_frame[:height] }
%meta{ property: 'og:image',                           content: with_http(@offering_presenter.share_photo || @offering_presenter.photo_swatch_url) }
%meta{ property: 'og:image:secure_url',                content: with_https(@offering_presenter.share_photo || @offering_presenter.photo_swatch_url) }
%meta{ property: 'twitter:card',                       content: (@offering_presenter.campaign_flash_video_url.present? ? 'player' : 'summary_large_image') }
%meta{ property: 'twitter:image:src',                  content: with_http(@offering_presenter.photo_cover_url) }
%meta{ property: 'twitter:site',                       content: '@flashfunders' }
%meta{ property: 'twitter:player',                     content: "https:#{@offering_presenter.campaign_embedded_video_url}" }
%meta{ property: 'twitter:player:stream',              content: "#{@offering_presenter.streaming_url}" }
%meta{ property: 'twitter:player:stream:content_type', content: "video/mp4", codecs: "avc1.42E01E, mp4a.40.2" }
%meta{ property: 'twitter:image',                      content: with_http(@offering_presenter.photo_cover_url) }
%meta{ property: 'twitter:player:width',               content: "435" }
%meta{ property: 'twitter:player:height',              content: "244" }
