- index = member.full_name.gsub(/[^0-9a-z ]/i, '').downcase.gsub(' ', '_')
.team-member
  .member-photo
    %img{ src: member.avatar_photo_url }
  .member-info-container
    .member-name= member.full_name
    .member-title= member.position
    .member-social-links
      .social-icons
        - if member.website.present?
          = link_to 'Website', member.website, class: 'website', target: '_blank', title: 'Website'
        - if member.linkedin_url.present?
          = link_to 'LinkedIn', member.linkedin_url, class: 'linkedin', target: '_blank', title: 'LinkedIn'
        - if member.facebook_url.present?
          = link_to 'Facebook', member.facebook_url, class: 'facebook', target: '_blank', title: 'Facebook'
        - if member.twitter_url.present?
          = link_to 'Twitter', member.twitter_url, class: 'twitter', target: '_blank', title: 'Twitter'
    .bio-container{id: "bio-#{index}"}
      %p= truncate_html(simple_format(member.bio).html_safe, length: 420)
      - if member.bio.length > 420
        %a.expand-collapse{id: index}
          Expand Bio
          .fa.fa-chevron-right
    .full-bio.bio-container{id: "full-bio-#{index}"}
      %p= simple_format(member.bio).html_safe
      %a.expand-collapse{id: index }
        Collapse Bio
        .fa.fa-chevron-up
