.section-element
  - if @team_information.present?
    .element-title= @offering_presenter.first_team_title
    .element-body
      - @team_information.each_with_index do |member, index|
        = render partial: "team_member", locals: {member: member}
        %hr{class: (index == (@team_information.size - 1)) ? "last" : ""}
.section-element
  - if @investor_advisor_information.present?
    .element-title= @offering_presenter.second_team_title
    .element-body
      - @investor_advisor_information.each_with_index do |investor, index|
        = render partial: "team_member", locals: {member: investor}
        %hr{class: (index == (@investor_advisor_information.size - 1)) ? "last" : ""}
