#tertiary-nav-container
  .social-sharing
    .container
      - unless @offering_presenter.offering_id == 33
        %p Share This Offering
        .share-item.twitter
          %a.fa.fa-twitter{ href: @social_urls.twitter.offering_url, target: '_blank' }
        .share-item.facebook
          %a.fa.fa-facebook{ href: @social_urls.facebook.offering_url, target: '_blank' }
        .share-item.linkedin
          %a.fa.fa-linkedin{ href: @social_urls.linkedin.offering_url, target: '_blank' }
        .share-item.email
          = mail_to('', '', subject: "Check out #{@offering_presenter.company_name} fundraising on FlashFunders", body: "#{@offering_presenter.company_name} is fundraising on FlashFunders: #{offering_vanity_url(@offering_presenter)}.", class: 'fa fa-envelope')
  %ul.nav.tertiary-navigation
