%a.close-video{ style: 'display: none'}
  %span &times;
.video-wrapper
  = image_tag(@offering_presenter.photo_header_url.present? ? @offering_presenter.photo_header_url : @offering_presenter.photo_cover_url)
  %video{ src: @offering_presenter.streaming_url}
  .play-btn
.video-controls{ style: 'display: none;' }
  .left-controls
    %ul.inline-block
      %li.video-control.border-right.play-pause.pause.active
        %i.fa.fa-pause
      %li.video-control.border-right.play-pause.play
        %i.fa.fa-play
    .progress-marker.current-time
  .video-progress#video_progress_slider
  .right-controls
    .progress-marker.total-duration
    %ul.video-control-rightpane
      %li.video-control.volume
        %i.fa.fa-volume-up
        %i.fa.fa-volume-off
        .video-volume-control{ style: 'display: none;' }
          #volume_slider{ style: 'height: 100px;' }
      %li.video-control.expand.border-right
        %i.fa.fa-arrows-alt
