= content_for(:page_title, @offering_presenter.company_name)

#offering-landing
  - if flash[:notice]
    .flash-notice
      = flash[:notice]
  - if flash[:alert]
    .flash-alert
      = flash[:alert]

  = render partial: 'company_header'

  .pitch-container
    .pitch-nav
      .container
        %span.left-arrow
        %span.right-arrow
        %ul
          %li.company-icon.logo
            = image_tag @offering_presenter.photo_logo_url
          %li.tab.active
            %a{ data: {toggle: 'tab'}, href: '#nav-pitch' } Pitch
          %li.tab
            %a{ data: {toggle: 'tab'}, href: '#nav-team' } Team
          %li.tab
            %a{ data: {toggle: 'tab'}, href: '#nav-fundraising' } Fundraising
          %li.tab
            %a{ data: {toggle: 'tab'}, href: '#nav-questions' } Questions
          %li.tab
            %a{ data: {toggle: 'tab'}, href: '#nav-comment' }
              Comments
              - if total_visible_comments(@offering_comments) > 0
                .comments-count= total_visible_comments(@offering_comments)
          %li.right
            .offering-follower{class: follower_css(@follower)}
              - if user_signed_in? || @follower.persisted?
                = link_to(t('offering_message.ask_a_question.button'), 'javascript:void(0)', id: 'intro-to-founder-btn', class: 'i-follow follow', :onclick => "$('#offering_messages').submit()" )
                = link_to('Following for updates', offering_follower_path(@follower.offering_id), remote: true, method: :delete, class: 'i-follow unfollow')
              - else
                = link_to(t('offering_message.ask_a_question.button'), '#', id: 'intro-to-founder-btn', class: 'i-follow follow', data: {toggle: 'modal', target: '#intro-to-founder-modal', return_to: offering_path(@offering, m: 'intro-to-founder-modal')} )
            - if @offering_presenter.investable? && !@offering_presenter.ended?
              %a.btn.btn-primary.invest{href: new_offering_investment_path(@offering)}= t @invest_button_text_key
    .tab-container

      .tab-box
        .container
          - @offering_presenter.secondary_nav.each do |tab|
            .offering-body.tab-pane{ id: "nav-#{tab}", class: "#{'active' if tab == 'pitch'}" }
              .offering-section
                - if @cache_key.has_key?(tab.to_sym)
                  - cache(@cache_key[tab.to_sym], skip_digest: true) do
                    = render partial: tab
                - else
                  = render partial: tab

  .scroll-to-top.fa.fa-chevron-up

- content_for(:social_sharing_meta_tags) do
  = render partial: "social_sharing_meta_tags"

= render 'offering_messages/intro_to_founder_modal', locals: { offering: @offering }
