- if should_render_newletter_modal?
  #email-capture-banner
    = simple_form_for Subscription.new, method: :post, remote: true, html: {id: 'email_capture' } do |f|
      %section
        .row-fluid.centered
          .span11.subscription-input
            .row-fluid.responsive
              .span8
                .prompt.errors We're currently onboarding Reg CF companies, sign up to see when investments go live.
              .span4
                = f.text_field :email, type: :email, placeholder: 'Email Address'
                = f.submit 'Sign Up', class: 'subscription-confirm'
                = f.text_field :source_page, value: request.fullpath, class: 'hidden'

          .span11.subscription-success.hidden
            .prompt= t('subscription.insider_success')
          = link_to '', href: dismiss_path, remote: true, method: :post, id: 'email_capture_dismiss' do
            %i.fa.fa-times-circle
