= render 'home/header'
-# = render partial: 'devise/sessions/new_modal', locals: { resource: resource, resource_name: resource_name, skip_errors: true }
-# = render partial: 'devise/registrations/new_modal', locals: { resource: resource, resource_name: resource_name }
