:ruby
  def icon_style
    { width: '45', height: '45', style: { padding: "0 #{spacing[:_1]}" } }
  end

  def footer_html
    table_for([
      v_spacer(5),
      [[title('follow us', style: { text_transform: 'uppercase', font_size: '14px !important' })]],
      v_spacer(1),
      center_underline('40px'),
      v_spacer(2),
      [[
        generic_td('', style: 'width: auto;'),
        icon_link('https://www.facebook.com/flashfunders', image_url('mailer/facebook.png'), icon_style),
        icon_link('https://www.linkedin.com/company/flashfunders', image_url('mailer/twitter.png'), icon_style),
        icon_link('https://www.flashfunders.com/', image_url('mailer/web.png'), icon_style),
        generic_td('', style: 'width: auto;'),
      ]],
      v_spacer(4),
      [[title('important notice to recipients', style: { text_transform: 'uppercase', font_size: '14px !important' })]],
      v_spacer(1),
      center_underline('40px'),
      v_spacer(2),
      [[paragraph(I18n.t('snazzy.footer.notice_html',
        footer_legal_links(default_link_attrs).merge({
          email_disclaimer_link: link_to('here', email_disclaimer_url, default_link_attrs)
        })),
          { style: { text_align: 'left', font_size: '12px', line_height: '18px' } })]],
      v_spacer(6),
    ], style: "padding: 0 #{spacing[:_1]};")
  end

= footer_links if footer_links.present?
= footer_html
