%table{cellpadding: '0', cellspacing: '0', width: '100%', align: 'center', height: "#{spacing[:_12]}" }
  %tr
    %td{ height: "#{spacing[:_5]}", style: "height: #{spacing[:_5]}; display:block;" }
  %tr
    %td{ align: 'center' }
      %img{ alt: 'FlashFunders', src: image_url('mailer/logo.png'), width: '100%', height: 22, style: "max-width: 297px;" }
  %tr
    %td{ height: "#{spacing[:_5]}", style: "height: #{spacing[:_5]}; display:block;" }
