%p
  "FlashFunders claims first close under Reg CF with MobileSpike."
%p
  %span
    JD Alois,
  = link_to 'Crowdfund Insider', 'http://www.crowdfundinsider.com/2016/07/88452-flashfunders-claims-first-close-reg-cf-mobilespike/', target: '_blank'
