%p
  "If you’re looking for capital, you may have a list of VCs and Angels that focus on your industry...As Vincent Bradley pointed out, the future for platforms is in their ability to make matches. What if you had a “Match.com” equivalent..."
%p
  %span
    Moira Vetter,
  = link_to 'Forbes', 'http://www.forbes.com/sites/moiravetter/2015/11/10/crowdfunding-platforms-flashfunders-the-future-of-matchmaking/', target: '_blank'
