%p
  "Opening the dialogue between entrepreneurs and investors, taking out the high end venture capital firm."
%p
  %span
    Liz Claman,
  = link_to 'Fox Business', 'http://video.foxbusiness.com/v/3863350656001/improving-startups-access-to-capital/?#sp=show-clips', target: '_blank'
