%p
  "FlashFunders automates everything that a securities law firm like Cooley LLP would normally handle through integrations with Lexis Nexus, DocuSign, IRS, and the SEC Edgar Portal."
%p
  %span
    Jordan Crook,
  = link_to 'Techcrunch', 'http://techcrunch.com/2015/05/11/equity-crowdfunding-platform-flashfunders-is-automating-securities-law-for-seed-stage-rounds/', target: '_blank'
