%p
  "If you’ve ever wished you could invest in cool startups like they do on “Shark Tank,” you may be in luck...Want in? As of Monday, you can find dozens of companies to invest in on sites like FlashFunders..."
%p
  %span
    Kerry Close,
  = link_to 'Time: Money Magazine', 'http://time.com/money/4336838/equity-crowdfunding-rules-finalized/', target: '_blank'
