%p
  "In building [FlashFunders] my team and I saw the need to embrace regulation. We spent 12 months working with the Financial Industry Regulation Authority (FINRA) to create an industry standard for online equity funding."
%p
  %span
    Vincent Bradley,
  = link_to 'Wall Street Journal', 'http://blogs.wsj.com/accelerators/2015/02/20/weekend-read-3-misconceptions-about-the-jobs-act/', target: '_blank'
