#form-buttons
  .row-fluid
    .span6
      - if @action_method == :patch && !@suppress_navbar
        = link_to t('fund.buttons.cancel'), new_offering_investment_path(@offering), class: 'btn btn-block base-btn btlarge', tabindex: 101
      - else
        = link_to t("fund.buttons.#{'edit_' if @suppress_navbar}finish_later"), dashboard_investments_path, class: 'btn btn-block base-btn btlarge', tabindex: 101
    .span6
      - if @action_method == :patch && !@suppress_navbar
        = button_tag(t('fund.buttons.save'), id: 'submit-form-btn', class: 'btn btn-primary btn-block btlarge', tabindex: 100, data: { disable_with: t('fund.buttons.save') })
      - else
        = button_tag(t("fund.buttons.#{'edit_' if @suppress_navbar}commit"), id: 'submit-form-btn', class: 'btn btn-primary btn-block btlarge', tabindex: 100, data: { disable_with: t("fund.buttons.#{'edit_' if @suppress_navbar}commit") })
      #spinner.centered.btn-block.btlarge.la-ball-clip-rotate.la-sm.hidden
        .btn-spinner
