= simple_form_for @form, url: offering_invest_fund_path(@offering), method: (@suppress_navbar ? :patch : :post) do |f|
  = f.input :funding_method, as: :hidden, input_html: {value: funding_method}, label: false
  = f.input :funding_international, as: :hidden, input_html: {value: @investment.investor_entity.is_international?}, label: false
  - tabindex = Counter.new(0)
  .span12
    %p= t('investor_transfer_investments.link_refund_account.description').html_safe
  .span4
    = f.input :bank_account_holder, label: t('investor_transfer_investments.link_refund_account.name_on_account_label'),
      required: false,
      input_html: {tabindex: tabindex.next, class: 'autoscroll' }
  .span4
    = f.input :bank_account_routing, label: t('investor_transfer_investments.link_refund_account.routing_number_label'),
      required: false,
      input_html: {tabindex: tabindex.next, class: 'autoscroll' }
  .span4
    = f.input :bank_account_number, label: t('investor_transfer_investments.link_refund_account.account_number_label'),
      required: false,
      input_html: {tabindex: tabindex.next, class: 'autoscroll' }
  .span6
    = f.input :bank_account_type, label: t('investor_transfer_investments.link_refund_account.account_type_label'),
      collection: bank_account_types,
      as: :select,
      include_blank: false,
      required: false,
      input_html: {tabindex: tabindex.next,  class: 'autoscroll' }
  - if @investment.investor_entity.is_international?
    .span6
      = f.input :funding_type, label: "How will you fund this investment?",
        collection: Bank::Account.funding_types.keys.to_a,
        as: :select,
        include_blank: false,
        required: false,
        input_html: {tabindex: tabindex.next,  class: 'autoscroll' }
