= content_for(:page_title, 'Funded')

- content_for :main_container_class do
  full-width light-gray

#investment-funds-complete

  .investment-success
    .top-panel
      %br
      %h1.workspace-title= t('investor_transfer_investments.success.title').html_safe
      %br
      %h2= t('investor_transfer_investments.success.accreditation_pending_html', amount_due: @investment_hash[:investment].formatted_amount)
      %br

    #investment-dashboard
      = render partial: '/investments/investment', locals: { investment: @investment_hash }

    .bottom-panel
      .span12
        %h2= t('investor_transfer_investments.success.next_steps.title')
        %br
        %p= t('investor_transfer_investments.success.next_steps.meets_goal', company_name: @investment_hash[:campaign].company_name).html_safe
        %br
        %p= t('investor_transfer_investments.success.next_steps.misses_goal', company_name: @investment_hash[:campaign].company_name, email: mail_to(t('contacts.investors'))).html_safe
