= content_for(:page_title, 'Signed Documents')

- if @suppress_navbar
  = content_for(:investment_flow_nav) do
    %span

= content_for :step_description do
  .investment-offering.centered
    .span8
      %h1= t('fund.title')
      %small= t('fund.sub_title')

= render partial: 'shared/workspace_header', locals: { errors: @form.try(:errors) }
#offering-invest-fund.invest-panel.fund
  %fieldset
    %legend= t('fund.instructions.title')
    %hr

    .help.warning
      = t('fund.instructions.warning')

    - unless @investment.security.escrow_provider.any_funding_instructions?
      #manual
        .row-fluid
          .span12
            %p= t('fund.success.notice.manual')

    - else
      .row-fluid
        .tab-box
          %ul.selections.row-fluid
            %li.span6.tab.long
              %a{ href: '#wire-info', data: {toggle: 'tab'} }
                .title= t('fund.wire.title')
                .subtitle
                  %span.notes= t('fund.wire.sub_title')
                  %span= t('fund.wire.description')

            %li.span6.tab.long
              %a{ href: '#check-info', data: {toggle: 'tab'} }
                .title= t('fund.check.title')
                .subtitle
                  %span.notes= t('fund.check.sub_title')
                  %span= t('fund.check.description')

          .tab-pane#wire-info.autoscroll-anchor
            .span12
              .help.fyi= t('fund.instructions.wire_notice')

          .tab-pane#check-info.autoscroll-anchor
            .span12
              .help.fyi= t('fund.instructions.check_notice')

    #link-refund-account-form.row-fluid{ class: @investment.security.escrow_provider.any_funding_instructions? ? "hidden" : "" }
      %hr.massive
      %legend LINK REFUND ACCOUNT
      %hr
      = render partial: "link_refund_account", locals: {funding_method: "manual"}

= render partial: 'form_buttons'
