- tabindex = Counter.new(0)

= simple_form_for(resource, as: :user, url: registration_path(resource_name), remote: remote, method: :post, html: {id: 'user-signup-form', class: 'standard-form--container account-form--container returnable-form'}) do |f|
  -unless resource.errors.empty?
    %p.centered.error.alert= t('devise.failure.form_error_header')
  %fieldset
    = f.hidden_field :user_type, value: 'user_type_investor'
    = f.hidden_field :provider
    = f.hidden_field :uid
    .row-fluid
      .span12= f.input :registration_name, label: false, placeholder: t('sign_up.form_section.registration_name.label'), input_html: { tabindex: tabindex.next }
    .row-fluid
      .span12= f.input :email, label: false, placeholder: t('sign_up.form_section.email.label'), input_html: { tabindex: tabindex.next }
    .row-fluid
      .span12= f.input :password, label: false, placeholder: t('sign_up.form_section.password.label'), input_html: { tabindex: tabindex.next }
    .row-fluid
      .span12= f.input :password_confirmation, label: false, placeholder: t('sign_up.form_section.password_confirmation.label'), input_html: { tabindex: tabindex.next }

    .row-fluid
      .button-row
        .span12
          = f.button :submit, value: t('sign_up.form_section.commit'), data: { disable_with: t('sign_up.form_section.commit') }, class: 'btn-normal btn-full', tabindex: tabindex.next
    .row-fluid
      .span12.centered
        - if remote
          = link_to t('sign_up.have_account_prompt'), '#', data: {toggle: 'modal', target: '#new-session-modal', inherit_return_to: true}, tabindex: tabindex.next
        - else
          = link_to t('sign_up.have_account_prompt'), new_session_path(resource_name), tabindex: tabindex.next
