#new-registration-modal.modal{role: 'dialog', tabindex:'-1', 'aria-hidden' => 'true'}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %a.close{href:'#', data: {dismiss: 'modal'}}
          %span &times;
        %h4.modal-title= t('sign_up.title')
      .modal-body.account-modal
        .registration
          = social_auth_button(:facebook, 'wh_fb_icon.png', 'Sign up with Facebook')
          = separator('or')
          = render partial: 'devise/registrations/form', locals: { form_type: 'modal', remote: true }
