- if resource.errors.empty?
  - if resource.confirmed?
    window.location = "#{controller.location}";
  - else
    var form_html = "#{escape_javascript( render partial: 'devise/confirmations/form', locals: { form_type: 'modal', remote: true } )}";
    $('#confirmation-modal form').replaceWith(form_html);
    $('#new-registration-modal').modal('hide');
    $('#confirmation-modal').modal('show');
    FF.AnalyticsTracker.registered('#{resource.email}');
- else
  var form_html = "#{escape_javascript( render partial: 'form', locals: { remote: true } )}";
  $('form#user-signup-form').replaceWith(form_html);
  $('#new-registration-modal').customBinaryRadioButtons();
  $('#new-registration-modal').customizeSelects();
  FF.AnalyticsTracker.registerFailed('#{flash[:analytics_sign_up_email][:failed]}');
