- content_for(:main_container_class) do
  full-width body-blue

.row-fluid.no-margin
  .span6.offset3.registration-panel
    .panel
      %h2.title
        = t('recoverable.change_password.title')
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: 'standard-form--container signup-form--container'}) do |f|
        %p.centered.error.alert= devise_error_messages!
        %fieldset
          .row-fluid
            .span12= f.password_field :current_password, placeholder: t('recoverable.reset_password.current')
          .row-fluid
            .span12= f.password_field :password, autocomplete: 'off', placeholder: t('recoverable.reset_password.password')
          .row-fluid
            .span12= f.password_field :password_confirmation, placeholder: t('recoverable.reset_password.confirm')
          .push-up-small
          .row-fluid
            .button-row
              .span12
                = f.button :submit, value: 'Update Password', class: 'btn-normal btn-full', tabindex: 4
          .row-fluid
            .button-row
              .span12
                = link_to t('sign_up.form_section.cancel'), root_path, class: 'btn-cancel btn-full', tabindex: 5
