- content_for(:main_container_class) do
  full-width body-blue

.row-fluid.no-margin
  .span6.offset3.registration-panel
    .panel.registration-new
      %h2.title= t('sign_up.title')
      = social_auth_button(:facebook, 'wh_fb_icon.png', 'Sign up with Facebook')
      = separator('or')
      = render partial: 'devise/registrations/form', locals: { remote: false }
