var notice = "#{escape_javascript(flash.notice)}";
var $flashNotice = $('<div class="flash-notice">' + notice + '</div>');
$('#offering-landing').prepend($flashNotice);
$('.offering-follower').removeClass('followed');
$('.follow').text('Follow for updates');
FF.AnalyticsTracker.unfollow(FF.offering.id);
