.btn-frame {
  @include btn-style($white, solid, $light-gray);
}

.btn-dashed {
  @include button-outline($mid-gray, $white, dashed, $light-gray);
  &:hover {
    background-color: $hover-gray;
  }
}

.btn-block {
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.btn-spinner {
  position: relative;
  top: -34px;
  left: 17px;
}

.btn, input[type='submit'].btn {
  @extend .btn-normal;
  padding: ($spacing1/1.5) $spacing2;
  line-height: 19px;
  &:hover {
    @extend .btn-normal-hover;
  }
  &.btn-block {
    @extend .btn-block;
  }
}

.btn-primary, input[type='submit'].btn-primary {
  @extend .btn-normal;
  @include button-disabled($primary-blue);
  padding: ($spacing1/1.5) $spacing2;
  line-height: 19px;
  &.btn-block {
    @extend .btn-block;
  }
  &:hover {
    @extend .btn-normal-hover;
  }
  &:focus {
    color: $white;
  }
}

.btn-success, input[type='submit'].btn-success {
  @include btn-style($primary-blue);
  color: $white;
  &.btn-block {
    @extend .btn-block;
  }
  &:hover {
    color: $white;
  }
  &:focus {
    color: $white;
  }
}

.btn-medium, input[type='submit'].btn-medium {
  font-size: $base-font-size;
  padding: 6px 30px;
}

.btn-add {
  width: 100%;
  &:before {
    content: '+';
    float: left;
    font-size: $base-font-size * 2;
    line-height: $base-line-height;
    font-weight: $light-font-weight;
  }
}

.btn-check {
  width: 100%;
  &:before {
    content: image-url('checkmark.png');
    float: left;
    font-size: $base-font-size + 5;
    line-height: $base-line-height;
    font-weight: $light-font-weight;
  }
}

.btn-fa-add {
  &:before {
    content: '\f067';
    font-family: 'FontAwesome';
    float: left;
    font-size: $base-font-size + 5;
  }
}

.btn-fa-check {
  &:before {
    content: "\f00c";
    font-family: "FontAwesome";
    float: left;
    font-size: $base-font-size + 5;
  }
}

.btn-remove {
  &:before {
    content: "\f00d";
    font-family: "FontAwesome";
    float: left;
    font-size: $base-font-size + 5;
  }
}

.btn--container {
  padding: $spacing1 0 0 $spacing1;
  & [class^="btn"] {
    display: inline-block;
    margin-right: $spacing1;
    &:last-child {
      margin-right: 0;
    }
  }
}

.btn-with-check {
  @include btn-style($white);
  text-transform: none;
  display: inline-block;
  background-color: $white;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 5px;
  border: 1px solid darken($light-gray, 10%);
  font-weight: $bold-font-weight;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-color: darken($white, 5%);
  }
  &.active {
    @extend .btn-primary;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    &:before {
      background-color: darken($primary-blue, 10%);
      content: '\2713';
      left: 0px;
      top: 0px;
      height: 39px;
      width: 35px;
      position: absolute;
      border-radius: 2px 0 0 2px;
      color: $primary-blue;
      line-height: 41px;
    }
  }
}

.btn-without-check {
  @include btn-style($light-gray);
  text-transform: none;
  display: inline-block;
  background-color: $light-gray;
  color: $white;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 5px;
  border: 1px solid darken($light-gray, 10%);
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-color: darken($white, 5%);
  }
  &.active {
    @extend .btn-primary;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}

.btn-large {
  @extend .h5;
  width: 470px;
  height: $spacing4;
  line-height: 4;
  @include media('>=tablet') {
    font-size: $base-font-size;
    font-weight: $medium-font-weight;
    line-height: 3.5;
  }
}
.btn-medium {
  @extend .h5;
  width: 230px;
  height: $spacing4;
  line-height: $spacing3;
  font-size: $base-mobile-font-size;
  @include media('>=tablet') {
    font-size: $base-font-size;
    font-weight: $medium-font-weight;
  }
}
.btn-small {
  @extend .h5;
  width: 170px;
  height: 40px;
  line-height: 1.2;
}
.btn-full {
  @extend .btn-large;
  width: 100%;
}
.btn-full {
  width: 100%;
}
.btn-normal-hover {
  @include button-solid($white, $secondary-blue);
}
.btn-normal {
  @include button-solid($white, $primary-blue);
  &:hover {
    @extend .btn-normal-hover;
  }
}
.btn-outline-hover {
  @include button-outline($primary-blue, $helper-blue, solid, $primary-blue);
}
.btn-outline {
  @include button-outline($mid-gray, $white, solid, $light-gray);
  &:hover {
    @extend .btn-outline-hover;
  }
}
.thin-btn-outline {
  @extend .btn-outline;
  background-color: transparent;
  border: 1px solid $lighter-gray;
  font-weight: $normal-font-weight;
  color: $title-gray;

  &:hover {
    border-width: 1px;
  }
}
.btn-cancel-hover {
  @include button-solid($white, $mid-gray);
}
.btn-cancel {
  @include button-solid($white, $medium-gray);
  &:hover {
    @extend .btn-cancel-hover;
  }
}
.btn-facebook-hover {
  @include button-solid($white, $title-gray);
}
.btn-facebook {
  @include button-solid($white, $fb-color);
  line-height: 40px;

  &:hover, &:focus, &:active {
    @extend .btn-facebook-hover;
  }
  img {
    width: 25px;
    height: 16px;
    padding-right: $spacing1;
    margin-top: -2px;
  }
}
