.carousel {
  ol.carousel-indicators {
    left: 7.5px;
    bottom: 13.5px;
    width: auto;
    margin: 0;
    z-index: 3;
    li {
      border-color: transparentize(#5f6b74, 0.5);
      height: 10px;
      width: 10px;
      &.active {
        background-color: transparentize(#5f6b74, 0.3);
        border-color: transparent;
        height: 11px;
        width: 11px;
        margin: 0.5px;
      }
    }
  }
  .carousel-control--container {
    position: absolute;
    bottom: 7.5px;
    right: 7.5px;
    z-index: 1;
  }
  .carousel-control {
    background: transparent;
    background-image: none;
    opacity: 0.85;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    width: auto;
    text-shadow: none;
    font-size: 0;
    margin-right: 1px;
    .fa {
      background: #5f6b74;
      color: white;
      font-size: 12px;
      height: 30px;
      width: 30px;
      text-align: center;
      line-height: 30px;
      margin-top: -30px;
    }
    &:hover {
      opacity: 1;
    }
  }
}
