.confirm-dialog {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height + 3;
  border-radius: 1px;
  font-weight: $normal-font-weight;
  color: $mid-gray;
  width: 100%;
  text-transform: none;
  box-shadow: 1px 1px 3px #ccc;
  border: solid $light-gray 1px;
  background: $white;
  padding: 0;

  .ui-dialog-titlebar {
    display: none;
  }
  .ui-dialog-buttonpane {
    padding: 5px;
    background-color: $white-lilac;
  }
  .ui-dialog-buttonset {
    width: 100%;
    text-align: center;

    button {
      width: 120px;
      margin-left: 14px;

      .ui-button-text {
        padding: 0;
        margin: 5px;
      }
    }
  }
}
.ui-widget-overlay {
  background-color: $title-gray;
  opacity: 0.85;
}
