.file-list-item {
  display: block;
  border-top: 1px solid $light-gray;
  margin: $spacing1 0 $spacing1;
  padding-top: $spacing1;
  &:first-of-type {
    padding-top: 0;
    border-top: 0;
  }
  .remove-file {
    float: right;
    font-size: 15px;
    cursor: pointer;
    text-align: right;
    height: inherit;
    color: $mid-gray;
    width: 21px;
    height: 21px;
    text-align: center;
    @include cross-browser(transition, all 0.15s);
    &:hover {
      color: $white;
      background-color: $title-gray;
    }
  }
}
