.legend {
  font-family: $base-font-family;
  font-weight: $light-font-weight;
  font-size: $large-font-size + 6;
  color: $primary-blue;
  text-transform: uppercase;
}

.investment-flow .workspace-header-divider {
  width: 90%;
  margin: 0 auto 0 auto;
  font-size: $small-font-size;
  font-weight: $light-font-weight;
  border: none;
  &.errors #errors {
    top: 0;
  }

}

fieldset {
  border: none;
  padding: $spacing1 0;
  fieldset {
    padding: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .prompt {
    font-weight: $light-font-weight;
    margin: 30px 0;
  }
}

.input {
  margin-top: 20px;
}

legend {
  @extend .legend;
}

.prompt-container {
  margin-bottom: 0;
  & > label {
    margin-top: $spacing2;
    @include base-font;
  }
}

label, input {
  display: block;
  width: 100%;
}

label, .label {
  color: $title-gray;
  margin: 0;
  &.signup {
    margin: ($spacing1 * 1.2) 0 ($spacing1 / 1.5);
  }
}

.checkbox-label {
  font-size: $small-font-size;
  margin-top: 25px;
}

input {
  &:not([type='checkbox']) {
    border: 1px solid $light-gray;
    box-shadow: none;
    background-color: $white;
    padding: 10px;
    margin-top: 8px;
    &::-webkit-input-placeholder {
      color: $lighter-gray;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $lighter-gray;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $lighter-gray;
    }
    &:-ms-input-placeholder {
      color: $lighter-gray;
    }
  }
  &[type='checkbox'] {
    display: inline-block;
    width: auto;
    margin-right: 3px;
    background-color: transparent;
    border: none;
    margin-top: 25px;
    & + label {
      display: inline-block;
      width: auto;
      margin-right: 3px;
      font-size: $small-font-size;
      color: $title-gray;
    }
  }
  &.boolean {
    width: auto;
    display: inline;
    margin-right: 3px;
  }
  &[disabled] {
    color: $title-gray;
    cursor: not-allowed;
  }
}

textarea {
  @extend input:not([type='checkbox']);
}

[class^='span'].sub-prompt, .sub-prompt {
  color: $title-gray;
  font-size: $small-font-size;
}

// base error styles are in workflow_page

.field_with_errors {
  input, textarea, .styled-select,
  &.well-input {
    border-color: $error-red;
  }
}

.notice {
  height: $spacing1 * 2.5;
  text-transform: uppercase;
  line-height: $spacing1 * 2.5;
  font-size: $base-font-size - 1;
  text-align: center;
  &.notice-successful {
    color: $white;
    font-weight: $bold-font-weight;
    background-color: $light-green;
  }
  &.notice-unsuccessful {
    font-weight: $normal-font-weight;
    background-color: $title-gray;
    border-bottom: 1px solid #dee4eb;
  }
  &.notice-pending {
    background-color: $title-gray;
    color: $white;
    border: 1px solid white;
  }
  &.notice-reset-password {
    text-transform: none;
    line-height: 120%;
  }
}

.error {
  color: $error-red;
  display: block;
}

.alert {
  margin-top: $spacing1;
}

#errors {
  display: none;
}

.errors {
  .rotated-square:after {
    background-color: $error-red;
  }
  #errors {
    display: block;
    background-color: $error-red;
    padding: $spacing1 /3;
    p {
      margin: ($spacing1 / 2) 0;
      color: $light-gray;
      text-align: center;
    }
    ul {
      list-style-type: none;
    }
    li {
      color: $light-gray;
      text-align: center;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

#error_explanation h2 {
  font-size: 15px;
}

.placeholder {
  color: $light-gray;
}

label.replaced-by-custom-radio-button {
  @extend .visuallyhidden;
}

label.radio_buttons {
  margin-bottom: 20px;
}

.custom-radio-input {
  text-transform: capitalize;
  text-align: center;
  display: inline-block;
  background-color: $white;
  width: 120px;
  padding-right: 0;
  padding-top: 10px;
  padding-left: 0;
  margin-right: 15px;
  border: 1px solid darken($light-gray, 10%);
  position: relative;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-color: darken($white, 5%);
  }
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    width: 26px;
    height: 26px;
    background: #fff;
    border: 1px solid $light-gray;
    border-radius: 50%;
    margin-top: -13px;
  }
  &.active {
    display: inline-block;
    position: relative;
    width: 120px;
    padding-right: 0;
    padding-left: 0;
    &:before {
      position: absolute;
      content: "";
      z-index: 1;
      width: 16px;
      height: 16px;
      background: $primary-blue;
      border-radius: 50%;
      top: 50%;
      left: 30px;
      margin-top: -8px;
      margin-left: 5px;
    }
  }
}

label.checkbox {
  input {
    margin-right: $spacing1 / 2;
    vertical-align: middle;
  }
}

.styled-select {
  width: 100%;
  overflow: hidden;
  border: 1px solid $light-gray;
  box-shadow: none;
  position: relative;
  margin-top: 8px;

  select {
    line-height: $base-font-size + 6px;
    color: $mid-gray;
    outline-offset: -3px;
    text-overflow: '';
    border-radius: 0;
    @include cross-browser(appearance, none);
    border: none;
    width: 100%;
    padding: 10px;
    margin-right: -10px;
    text-indent: .01em;

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
    &::-ms-expand {
      display: none;
    }
  }
}

.styled-select {
  select {
    height: 41px;
    background: image-url('chevron-down.png') no-repeat 95% 50% $white;
  }
}

.profile-checkbox {
  padding: 50px 32px;
  width: 48%;
  margin-bottom: 55px;
  border: 1px solid $light-gray;
  height: 325px;
  text-align: center;
  float: left;
  position: relative;

  &:hover {
    background-color: $hover-gray;
  }
  &.box-error {
    border-color: $error-red;
  }

  label {
    line-height: 35px;
    padding-top: 30px;

    span {
      font-weight: $bold-font-weight;
    }
  }

  .floating-error {
    position: absolute;
    top: 335px;
    left: 0;
    width: 100%;
    text-align: left;
  }
}

.with-gutter {
  margin-left: 4%;
}

#form-buttons {
  width: 90%;
  margin: 0 auto;
  padding: 0 30px;

  input {
    margin: 0;
  }
}

hr.massive {
  border: 16px solid white;
  margin-bottom: 50px;
}

form .counter {
  position: absolute;
  right: 0;
  top: 0;
  font-family: $base-font-family;
  font-weight: $light-font-weight;
  color: $mid-gray;
}

form .warning {
  color: #600;
}

form .exceeded {
  color: #e00;
}
