.icon-large-rotated-square {
  width: 46px;
  height: 50px;
  background-image: image-url('icon-sprite.png');
}

.icon {
  width: 40px;
  height: 40px;
  background-image: image-url('icon-sprite.png');
}

.icon-small {
  width: 30px;
  height: 30px;
  background-image: image-url('icon-sprite.png');
}

.icon-large {
  width: 50px;
  height: 50px;
  background-image: image-url('icon-sprite.png');
}

.icon-large-how {
  width: 50px;
  height: 50px;
  background-image: image-url('how_to_invest_sprite.png');
}

// 30 x 30 icons

.icon-small-dollar {
  @include icon-small-background-position(1,4);
}

.icon-small-dollar-plus {
  @include icon-small-background-position(2,4);
}

.icon-small-briefcase {
  @include icon-small-background-position(3,4);
}

.icon-small-online-verification {
  @include icon-small-background-position(4,4);
}

.icon-small-pen-and-paper {
  @include icon-small-background-position(5,4);
}

.icon-small-upload {
  @include icon-small-background-position(6,4);
}

.icon-small-header-hamburger {
  @include icon-small-background-position(8,4);
}


// 40 x 40 icons

.icon-circle-checkmark {
  @include icon-background-position(1,3);
}

.icon-briefcase-active {
  @include icon-background-position(2,3);
}

.icon-briefcase {
  @include icon-background-position(3,3);
}

.icon-dollar-active {
  @include icon-background-position(4,3);
}

.icon-dollar {
  @include icon-background-position(5,3);
}

.icon-clipboard {
  @include icon-background-position(6,3);
}

.icon-invest{
  @include icon-background-position(7,3);
}

.icon-hourglass {
  @include icon-background-position(8,3);
}

.icon-documents {
  @include icon-background-position(9,3);
}

.icon-clipboard {
  @include icon-background-position(10,3);
}

.icon-book {
  @include icon-background-position(11,3);
}

// 50 x 50 icons

.icon-large-wallet-colored {
  @include icon-large-background-position(4,3);
}

.icon-large-briefcase-colored {
  @include icon-large-background-position(3,3);
}

.icon-large-briefcase-active{
  @include icon-large-background-position(1,1);
}

.icon-large-briefcase {
  @include icon-large-background-position(2,1);
}

.icon-large-invest {
  @include icon-large-background-position(3,1);
}

.icon-large-dollar-active {
  @include icon-large-background-position(4,1);
}

.icon-large-dollar {
  @include icon-large-background-position(5,1);
}

.icon-large-question {
  @include icon-large-background-position(9, 1);
}

.icon-large-email {
  @include icon-large-background-position(4, 5);
}

.icon-large-phone {
  @include icon-large-background-position(3, 5);
}

.icon-large-map {
  @include icon-large-background-position(2, 5);
}

.icon-large-hourglass {
  @include icon-large-background-position(6,1);
}

.icon-large-clipboard {
  @include icon-large-background-position(7,1);
}

.icon-large-book {
  @include icon-large-background-position(8,1);
}

.icon-large-create-account {
  @include icon-large-background-position(12,1);
}

.icon-large-verify-accreditation {
  @include icon-large-background-position(11,1);
}

.icon-large-sign-documents {
  @include icon-large-background-position(10,1);
}

.icon-large-transfer-funds {
  @include icon-large-background-position(13,1);
}

.icon-large-transfer-from-account {
  @include icon-large-background-position(14,1)
}

.icon-large-transfer-from-account-active {
  @include icon-large-background-position(15,1)
}

.icon-large-wire {
  @include icon-large-background-position(16,1)
}

.icon-large-wire-active {
  @include icon-large-background-position(17,1)
}

// Miscellaneous

.icon-small-chevron-up {
  @include icon-custom-background-size(8,6,-33px, -36px, 20px);
}

.icon-small-chevron-down {
  @include icon-custom-background-size(7,6,-33px, -35px, 20px);
}

.icon-chevron-up {
  @include icon-custom-background-size(4,6,-26px, -31px, 26px);
}

.icon-chevron-down {
  @include icon-custom-background-size(3,6,-27px, -30px, 26px);
}

.icon-chevron-left {
  @include icon-custom-background-size(6,6,-33px, -28px, 25px);
}

.icon-chevron-right {
  @include icon-custom-background-size(5,6,-32px, -28px, 25px);
}

.icon-trash {
  @include icon-custom-background-size(1,6,-30px, -27px, 25px);
}

.icon-small-trash {
  @include icon-custom-background-size(2,6,-35px, -34px, 20px);
}

// Rotated Squares

.icon-large-rotated-square-team {
  @include icon-large-rotated-background-position(1,2);
}

.icon-large-rotated-square-documents {
  @include icon-large-rotated-background-position(2,2);
}

.icon-large-rotated-square-rocket {
  @include icon-large-rotated-background-position(3,2);
}

// Circled Numbers
.circled-number {
  background: #cccccc;
  @include cross-browser('border-radius', 0.8em);
  color: $white;
  display: inline-block;
  font-family: $base-font-family;
  font-weight: $bold-font-weight;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em;
}