.modal {
  .modal-md {
    width: 500px;
  }

  a.close {
    font-size: 32px;
    position: absolute;
    font-weight: $normal-font-weight;
    right: 25px;
    top: 25px;
    color: $title-gray;
  }

  .modal-content {
    padding: 35px 10px;
    border-radius: 3px;
    @include cross-browser(box-shadow, 0 5px 15px rgba(0,0,0,0));
    border: transparent;
  }

  .modal-header {
    border: none;
  }

  .modal-body {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .modal-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: $bold-font-weight;
  }

  .modal-dialog {
    @include cross-browser(transform, scale(0.7));
    opacity: 0;
    @include cross-browser(transition, all 0.3s);
  }

  &.in .modal-dialog {
    @include cross-browser(transform, scale(1));
    opacity: 1;
  }
}

.modal-backdrop {
  background-color: $title-gray;
}
.modal-backdrop.in {
  opacity: 0.85;
}
.modal-open:not(.offerings-vanity_show) #main-content,
.modal-open.offerings-vanity_show #offering-landing,
.modal-open header {
  @include cross-browser(filter, blur(10px));
}

#scrim, .scrim {
  display: none;
  &.show {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
  }
}

@include media('>=phone') {
  .modal {
    .modal-sm {
      width: initial;
    }
  }
}

@include media(">=tablet") {
  .modal {
    .modal-sm {
      width: 400px;
    }
  }
}
