.pagination {
  display: table-row;
  font-size: 14pt;

  span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    width: 30px;
  }
  a {
    color: $title-gray;
  }
  .first {
  }
  .last {
  }
  .next {
    width: initial;
  }
  .prev {
    width: initial;
  }
  .page {
    border: 1px solid $light-gray;
    @include cross-browser(border-radius, 3px);
  }
  .page.gap {
    border: none;
    color: $secondary-blue;
  }
  .page.current {
    background: $secondary-blue;
    color: white;
    font-size: 12pt;
  }

}
