.popover {
  @extend .p;
  border-radius: 1px;
  color: $mid-gray;
  width: 100%;
  text-transform: none;
  margin-top: -10px !important; /* I'm sorry David */
  $popover-font-size: 14px;

  &.top > .arrow {
    top: 100%;
  }

  .popover-title {
    font-size: $popover-font-size;
    font-weight: $bold-font-weight;
  }

  .popover-content {
    font-size: $popover-font-size;
    a {
      font-size: inherit;
    }
  }
}

.investment-details {
  position: relative;
  //BREAKING GRID
  .span3.gutter-left.percent-ownership {
    width: 23%;
  }
}

span[data-info-popover] {
  $question-mark-size: 14px;
  border-radius: 50%;
  height: $question-mark-size;
  width: $question-mark-size;
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
  &.in-label {
    margin: -3px 0 0 ($spacing1/2);
  }
  &:hover {
    cursor: pointer;
  }
  &:before {
    content: '';
    @include retina_background_image(tooltip_icon, png, 100%, 100%, no-repeat center center, transparent);
    background-size: $question-mark-size;
    color: white;
    font-size: $question-mark-size - 3;
    font-weight: $bold-font-weight;
    height: $question-mark-size;
    width: $question-mark-size;
    line-height: $question-mark-size;
    display: block;
    text-align: center;
  }
  &.inline-popover {
    background-color: transparent;
    height: auto;
    width: auto;
    margin-left: 0;
    vertical-align: baseline;
    color: $primary-blue;
    &:before {
      display: none;
    }
    text-transform: none;
    font-weight: $normal-font-weight;
  }
  &.persistent-popover {
    border-bottom: $primary-blue dashed 1px;
    border-radius: 0;
    background-color: inherit;
    height: auto;
    width: auto;
    vertical-align: middle;
    margin-left: auto;
    line-height: 26px;
    // For FireFox
    position: relative;
    top: -1.5px;

    &:before {
      display: none;
    }
  }
}

.popover-scrim {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999999999;
}
