.tab-pane {
  display: none;
  &.active {
    display: block;
  }
}
.invest-panel {
  .selections {
    margin: 0;
    padding: 0;
    .tab {

      border: 1px solid $light-gray;
      height: inherit;
      padding: 60px 35px;
      display: inline-block;

      &:hover {
        background-color: $hover-gray;
      }

      &.short {
        text-align: center;
        padding: 3px 3px 3px 50px;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 30px;
          width: 26px;
          height: 26px;
          background: #fff;
          border: 1px solid $light-gray;
          border-radius: 50%;
          margin-top: -13px;
        }

        a {
          text-decoration: none;
          display: inline-block;
          height: inherit;

          .vertical-center {
            height: 90%;
            vertical-align: middle;
            display: inline-block;
          }

          .title-and-subtitle {
            display: inline-block;
            vertical-align: middle;
            line-height: 22px;

            .title {
              color: $mid-gray;
              font-family: $base-font-family;
            }

            .subtitle {
              color: $mid-gray;
              font-size: $small-font-size;
            
            }
          }
        }
      }

      &.long {
        text-align: center;
        padding: 105px 55px 55px 55px;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          top: 55px;
          left: 50%;
          width: 26px;
          height: 26px;
          background: #fff;
          border: 1px solid $light-gray;
          border-radius: 50%;
          margin-left: -13px;
        }

        a {

          text-decoration: none;

          .title {
            color: $title-gray;
            font-family: $base-font-family;
            font-size: 24px;
            text-transform: uppercase;
            margin-bottom: 20px;
          }

          .subtitle {
            color: $mid-gray;
            font-size: $small-font-size;
          
          }
        }
      }

      &.active {
        box-shadow: 0 0 10px $primary-blue;

        &.short {
          &:before {
            position: absolute;
            content: "";
            z-index: 1;
            width: 16px;
            height: 16px;
            background: $primary-blue;
            border-radius: 50%;
            top: 50%;
            left: 30px;
            margin-top: -8px;
            margin-left: 5px;
          }

        }

        &.long {
          &:before {
            position: absolute;
            content: "";
            z-index: 1;
            width: 16px;
            height: 16px;
            background: $primary-blue;
            border-radius: 50%;
            margin-top: 5px;
            margin-left: -8px;
            top: 55px;
            left: 50%;
          }
        }
      }
    }
  }
}
