#browse-offerings {
  background-color: $white-lilac;
  $cover-height: 156px;
  $body-height: 234px;

  h2 {
    color: $title-gray;
    text-align: center;
  }
  .container {
    position: relative;
    width: 100%;
    max-width: $container-large-desktop;
    margin: 0 auto;
    padding: $spacing2 0 0 0;
    box-sizing: border-box;
    .row-fluid {
      margin-bottom: 0;
    }
  }
  .subscription-section {
    padding: $spacing3 $spacing1 $spacing5 $spacing1;
  }
  #hero-image {
    background: linear-gradient(to top, $dodger-blue 20%, $cerulean-blue);
    .hero {
      h1 {
        color: $white;
        text-align: center;
      }
      padding: $spacing5 0;
    }
  }

  .browse-sort-menu {
    display: block;
    width: 140px;
    padding-top: $spacing2;
    margin: 0 auto;

    .label {
      float: none;
      text-align: center;
      padding: 0;
    }
  }

  .raising-banner {
    .header {
      width: 100%;
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
    }
    .caption {
      padding-top: $spacing2;
    }
  }

  .raising-banner, .successful-banner {
    padding: $spacing3 $spacing1 0 $spacing1;
  }

  .open-campaign {
    padding-bottom: $spacing3;
  }

  .open-campaign, .close-campaign {
    background-color: $white-lilac;

    #offering-card { max-width: 100%; }
    .offering-card {
      max-width: 350px;
      text-align: center;
      padding-bottom: $spacing2;
      margin-bottom: $spacing2;
      height: $cover-height + $body-height;

      .card-cover {
        height: $cover-height;
        overflow: hidden;
        position: relative;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;

        img {
          width: 100%;
          height: 100%;
        }
        .days-left {
          position: absolute;
          top: 20px;
          right: 20px;
          padding: 5px $spacing2;
          border-radius: $spacing2;
          background-color: rgba(68, 68, 68, 0.9);
          border: 1px solid rgba(48, 48, 48, 1);
          color: $white;
          font-weight: $bold-font-weight;
          font-size: 14px;
          opacity: 0.8;

          &.funded {
            background-color: rgba(0, 169, 255, 0.9);
            border: 1px solid rgba(0, 101, 136, 1);
          }
        }
      }
      .card-body {
        background-color: $white;
        padding: $spacing3 $spacing2;
        @include cross-browser(box-shadow, 0 0 10px 0 $tundora-gray);

        h4 {
          color: $title-gray;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        p {
          color: $mid-gray;
          height: $spacing5;
          overflow: hidden;
          margin-top: $spacing1;
          margin-bottom: $spacing2;
        }

        span.raise-amount {
          padding: 5px $spacing2;
          border-radius: $spacing2;
          background-color: $light-green;
          color: $white;
          font-weight: 600;
          font-size: 14px;
        }
      }
      .owner-percent {
        color: $mid-gray;
        height: $spacing6;
        padding-top: 35px;
        border: 1px solid #EFEFEF;
        border-top: transparent;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        box-shadow: 0 4px 2px -2px #d8dcdc;
        b {
          color: $mid-gray;
        }
      }

      .full-card, .light-card {
        padding-left: $spacing2;

        .arrow-down {
          font-size: 25px;
          text-align: left;
          display: block;
          margin: -8px 0 25px 15px;
        }
      }
      .full-card {
        .arrow-down {
          color: #F8F8F8;
          text-shadow: 0px 2px 2px #D8DCDC;
        }

      }
      .light-card {
        .arrow-down {
          color: white;
          text-shadow: 0px 2px 2px #248FCA;
        }
      }
    }
    .placeholder-card {
      @extend .offering-card;
      box-shadow: 0 0 10px 0 rgba(52, 64, 93, 0.15);
      border-radius: 3px;

      .card-cover {
        @include cross-browser(filter, blur(7px));
      }
      .card-cover-overlay {
        background-color: rgba(52, 64, 93, 0.75);
        position: relative;
        height: $cover-height;
        margin-top: -$cover-height;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        .button-overlay {
          padding-top: $spacing4;
          .button {
            background-color: rgba(10, 162, 242, 0.4);
            border: 1px solid $primary-blue-gradient-end;
            padding: 5px $spacing2;
            border-radius: $spacing2;
            width: 200px;
            text-align: center;
            margin: 0 auto;
            color: white;
            text-transform: uppercase;
          }
        }
      }
      .card-body {
        @include cross-browser(filter, blur(5px));
      }
    }
    .row-fluid {
      width: 100%;
      margin: 0;
    }
  }

  .close-campaign {
    background: linear-gradient(to top, $dodger-blue 20%, $cerulean-blue);
    padding-bottom: $spacing5;
    h2 {
      color: $white;
      text-align: center;
    }
    .load-more {
      @extend .btn-outline;
      @extend .btn-medium;
      color: $white;
      background-color: transparent;
      margin-top: $spacing3;
    }
    .card-body {
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      box-shadow: 0 4px 2px -2px $cerulean-blue;
    }
  }

  @include media(">=tablet") {
    .raising-banner {
      .header {
        .browse-sort-menu {
          float: right;
          min-width: 230px;
          align-items: baseline;
          margin: 0 $spacing2 0 auto;
          .label {
            float: left;
          }
        }
      }
    }
    .close-campaign {
      .load-more {
        margin-top: $spacing4;
      }
    }
    .raising-banner, .successful-banner {
      padding-top: $spacing4;
    }

    .open-campaign, .close-campaign {
      padding-bottom: $spacing6;
    }
    .subscription-section {
      padding: $spacing4 $spacing2 $spacing6 $spacing2;
    }
  }
}

.campaign-banner {
  text-align: center;
  top: auto;
  bottom: 0;
  font-weight: $bold-font-weight;
  @include cross-browser(letter-spacing, .04em);
  padding: ($spacing1 / 2) 0;
  position: absolute;
  width: 100%;
  height: auto;
}
