#contact-form {
  h1 {
    text-align: center;
    color: $title-gray;
  }
  .form-elements {
    @import 'includes/radio_buttons';

    label, .label {
      @extend p;
      margin: $spacing1 0 6px;
    }
    .input {
      margin-top: 0;
      clear: both;
      padding: 0 0 $spacing2 0;
    }
    input,
    textarea {
      margin: 0;
    }
    textarea {
      width: 100%;
      height: $spacing8;
    }
    .radio-elements {
      padding-left: $spacing2;

    }
  }
  @include media(">=tablet") {
    .form-elements {
      width: 630px;
      margin: 0 auto;

      .radio-elements {
        height: $spacing5;
        margin-left: 0;
      }
    }
  }
}
