.registration {
  .body-blue {
    width: 100%;
    margin: 0;
    padding: 0;
    background: $white-lilac image_url('success_bg.png') repeat;
  }

  .email-consent-panel {
    h2, p { text-align: center; }
    .prompt { margin: $spacing3 0; }

    .logo {
      padding: 10px 0;
      text-align: center;
      a > img {
        max-height: 100px;
      }
    }

    .panel {
      margin-bottom: 60px;
      border: 1px solid $light-gray;
      position: relative;
      padding: $spacing3 $spacing6 0;
      background-color: white;
      line-height: $base-font-size;
      text-align: justify;

      input {
        border-color: $light-gray;
        margin-top: 0;
        &.checkbox:after {
          top: initial;
          left: initial;
        }
      }

      .text {
        font-weight: $normal-font-weight;
        font-family: $base-font-family;
        font-size: $base-font-size;
        color: $mid-gray;
      }

      .econsent {
        padding: $spacing2;
        border: 1px solid $light-gray;
        margin-bottom: $spacing3;
      }

      input[type='submit'] {
        margin-bottom: $spacing2;
      }
    }
  }
}
