.error-panel {
  margin-bottom: $spacing2 * 10;
  padding-bottom: $spacing2 * 1.5;
  padding: $spacing1 * 3 $spacing1 * 3;

  h1 {
    font-size: $base-font-size + 60;
    font-weight: $light-font-weight;
  }
  .row-fluid {
    margin-bottom: 0;
  }

  .sorry-box {
    line-height: $base-line-height * 2;
    margin-top: $spacing2;
    h3 {
      font-size: $base-font-size + 6;
      font-weight: $bold-font-weight;
      text-transform: uppercase;
    }

    hr {
      margin-top: $spacing1;
    }
  }
  p.explanation {
    margin-bottom: $spacing2;
    text-transform: uppercase;
    color: $mid-gray;
  }

  a.support-mail {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .home-link {
    margin-top: $spacing1;
  }
}
