.get-started {
  .entrepreneurs {
    padding-right: $spacing1 * 3;
    margin-right: 0;
    border-right: 1px dashed $mid-gray;
  }
  .investors {
    padding-left: $spacing1 * 3;
    p {
      font-size: $base-font-size;
      line-height: $base-font-size + 6;
      margin-bottom: $spacing2;
    }
  }
  .separating-text {
    margin: $spacing1 0;
  }
  .dashed-line {
    margin-top: 10px;
  }
}
.heading {
  margin-bottom: $spacing1 * 3;
  h2 {
    font-size: $base-font-size + 9;
    font-weight: $bold-font-weight;
    text-transform: uppercase;
  }
}
.post-signup {
  a.btn {
    text-transform: uppercase;
  }
  h5 {
    color: $primary-blue;
    text-transform: uppercase;
  }
  h4 {
    color: $primary-blue;
    text-transform: uppercase;
    margin-bottom: $spacing2;
    font-weight: $bold-font-weight;
  }
}
