#home_show, #browse-offerings {
  hr.medium-bottom-line {
    width: $spacing4;
    border: 0;
    height: 3px;
    background-color: $title-gray;
    display: block;
    margin: $spacing2 auto $spacing1;
  }
  .currently-raising, .funded-cards {
    padding-top: $spacing3;
    display: flex;
    @include cross-browser(flex-flow, column nowrap);
    align-items: center;
  }
  @include media(">=tablet") {
    .currently-raising, .funded-cards {
      @include cross-browser(flex-flow, row wrap);
      justify-content: center;
      .offering-card {
        margin-left: $spacing1;
        margin-right: $spacing1;
      }
    }
  }
}

#home_show {
  background-color: $white-lilac;

  .row:before, .row:after, .clearfix:before, .clearfix:after,
  .container:before, .container:after,
  .primary-nav ul:before, .primary-nav ul:after {
    content: " ";
    display: table;
    clear: both;
  }
  .open-campaign {
    padding-bottom: 0;
  }
  .container {
    position: relative;
    width: 100%;
    max-width: $container-large-desktop;
    margin: 0 auto;
    padding: $spacing5 0;
    box-sizing: border-box;
  }
  h1, h2, h3, ul {
    text-align: center;
  }

  #home_header {
    position: relative;
    overflow: auto;
  }
  #video-bg {
    position: absolute;
    opacity: 0.35;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #filter-image {
    background: $dark-blue-gradient;

    .hero {
      border-top: 3px solid $primary-blue;
      position: relative;
      text-align: center;
      opacity: 0.999999;

      h1 { padding: 0 $spacing1; }
      a { margin: $spacing5 auto 0; }
      h1, h3, li a {
        color: $white;
      }
      padding: $spacing5 0;
      .link-icon {
        @include retina_background_image(home/right-arrow-white, png, 100%, auto, no-repeat center center);
        background-size: cover;
        display: inline-block;
        width: 24px;
        height: 14px;
        margin-left: $spacing2;
        margin-right: $spacing1;
      }
      h1 {
        text-transform: none;
      }
    }
  }

  #mission-panel {
    background-color: $gray-lighter;
    .bottom-image {
      @include retina_background_image(home/product_shots, png, 100%, auto, no-repeat center center);
      background-size: cover;
      min-height: 130px;
      margin-top: $spacing3;
    }
    .container {
      padding: $spacing5 $spacing5 0 $spacing5;
      h1 {
        color: $primary-blue-gradient-end;
      }
    }
  }

  .browse-more {
    padding-top: $spacing3;
  }

  .successfully-funded h2 {
    margin-top: $spacing5;
  }
  .successfully-funded .offerings-carousel {
    display: flex;
    justify-content: center;

    .item.active { display: flex; }
    .item {
      margin: $spacing4 0 0;
      flex-wrap: wrap;
      justify-content: center;
    }
    // .carousel { display: none; }
    .carousel-inner > .active.left .item-detail,
    .carousel-inner > .active.right .item-detail {
      // visibility: hidden;
    }
    .carousel-inner > .next.left,
    .carousel-inner > .prev.right {
      display: flex;
    }
    .item .item-tile {
    }
    .item .item-detail {
      display: flex;
      flex-direction: column;
      justify-content: center;

      > .detail {
        margin-bottom: $spacing1;
      }
      > div .text { text-align: center; }
      > div .text .balance {
        color: $light-green;
      }
      > div .num {
        text-align: center;
        background-color: $white;
        border-radius: 50%;
        border: 1px solid $light-gray;
        padding: 5px;
        width: 36px;
        margin: $spacing1 auto;
      }
      > div .date {
        text-align: center;
        color: $lighter-gray;
      }
      ul {
        display: none;
      }
    }

    .carousel .control {
      display: block;
      position: static;
      padding-top: $spacing1;
      text-align: center;
    }
    .control a {
      display: inline-block;
      padding: $spacing1;
      border: 1px solid $lighter-gray;

      &.left {
        margin-right: $spacing1;
        transform: scaleX(-1);
      }
    }
  }

  .flashfunders-news {
    background-color: $hover-gray;
    border-top: 1px solid $gray-lighter;

    .join-us {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
      padding: $spacing5 0;
    }
    .join-us p {
      text-align: center;
      padding: 0 $spacing2;
    }
    .join-us p span {
      color: $title-gray;
    }
    .join-us a { margin-top: $spacing1; }
    .bottom-line {
      width: 950px;
      max-width: 90%;
      margin: 0 auto;
      display: block;
      height: 2px;
      border: 0;
      background-color: $gray-lighter;
    }
  }

  .ff-news {
    $tile-size: 360px;
    padding: $spacing5 0;

    .news-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: $spacing2;
    }
    .news-items .item {
      display: flex;
      flex-direction: column;
      flex-basis: $tile-size;
      position: relative;
      height: $tile-size;
      margin: $spacing1;
      z-index: 1;
    }
    .news-items .filter {
      background-color: $title-gray;
      opacity: 0.85;
    }
    .news-items .item,
    .news-items .item > img,
    .news-items .filter {
      border-radius: 3px;
      @include cross-browser(box-shadow, 0 5px 10px 0 $tundora-gray);
    }
    .news-items .item > img,
    .news-items .item > .filter {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
    .news-items .item h3 {
      text-align: left;
      color: $white;
      flex-grow: 1;
      padding: $spacing4 $spacing2 0
    }
    .author .name {
      color: $white;
    }
    .author .date {
      color: $lighter-gray;
    }
    .author .avatar {
      float: left;
      object-fit: cover;
      margin-right: $spacing2;
      padding: 0 0 $spacing4 $spacing2;

      img {
        border-radius: 50%;
        height: 45px;
        width: 45px;
      }
    }
    .thin-btn-outline {
      display: block;
      margin: $spacing5 auto 0;
    }
  }

  .subscription-section .container {
    background-color: $dodger-blue;
    padding: $spacing5 $spacing3;

    > h2 { color: $white; }
    > p {
      display: none;
    }
    .subscription-header { padding-bottom: $spacing4; }
  }
  #home_new_subscription {
    .subscription-input {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-end;
      padding: 0;
    }
    .subscription-input li {
      padding: 0;

      &:first-child {
        flex: 2 1 250px;
        margin: 0;
      }
      &:first-child .errors { display: none; }
      &:last-child {
        flex: 1 1 220px;
        margin-top: $spacing2;
      }

      @include custom-placeholder {
        color: $white-lilac;
        text-align: center;
      }
      #subscription_email {
        padding: $spacing1 $spacing2;
        background-color: transparent;
        color: $white;
        border: 0;
        border-bottom: 2px solid $white-lilac;
        outline: none;
      }
    }
    .subscription-input li .btn-normal {
      @extend .btn-outline;
      background-color: transparent;
      color: $white;
      border: 2px solid $white;
    }
  }
  .ff_broker p {
    text-align: center;
    padding: $spacing5 0;
  }

  .sponsors {
    background-color: $white-lilac;
    border-top: 1px solid $gray-lighter;
    text-align: center;

    .container { padding: $spacing4 0; }
    a {
      display: block;
      opacity: 0.5;

      &:hover {
        opacity: 1.0;
      }
      img {
      }
    }
    a.logo-msnbc {
      width: 130px;
    }
    a.logo-msnbc {
      width: 130px;
    }
    a.logo-techcrunch {
      width: 95px;
    }
    a.logo-wsj {
      width: 78px;
    }
    a.logo-wired {
      width: 100px;
    }
    a.logo-huffington {
      width: 108px;
    }
    a.logo-fox {
      width: 80px;
    }

    .press-nav .container {
      white-space: nowrap;
      overflow: scroll;
      padding: $spacing4 0 0;
    }
    .press-nav ul {
      list-style: none;
      display: inline-flex;
      margin: 0;
      padding: 0 $spacing1;
      align-items: center;

      li {
        margin: 0 $spacing1;

        a img {
          border-bottom: 2px solid transparent;
          padding: 0 5px $spacing1;
        }
        &.active a img {
          border-color: $primary-blue;
        }
        &.active a {
          opacity: 1;
        }
      }
    }
    .tab-box .container {
      padding: $spacing4 $spacing1;
    }
    .tab-box .press-section p:last-child {
      margin-top: $spacing1;
    }
    .tab-box .press-section p a {
      color: $primary-blue;
      display: inline-block;
      font-style: italic;
      opacity: 1;

      &:hover { color: $secondary-blue; }
    }
    .tab-box .press-section .avatar {
      object-fit: cover;
      padding: $spacing3 0 $spacing1;

      img {
        border-radius: 50%;
        height: 45px;
        width: 45px;
      }
    }
    .press-body.fade {
      animation: fadein 1.5s;

      @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
      }
    }
  }

  .user-login.toggle-user-menu.with-separator { text-align: left; }

  @include media(">=tablet") {
    #video-bg {

    }

    #filter-image {
      .hero {
        padding: 225px 0 $spacing6;
      }
      .hero h1 {
        padding: 0 $spacing8;
      }
    }

    #mission-panel {
      .bottom-image {
        background-size: contain;
        min-height: 175px;
      }
    }

    .sponsors {
      a.logo-msnbc {
        width: 178px;
      }
      a.logo-wsj {
        width: 90px;
      }
      a.logo-wired {
        width: 100px;
      }
      a.logo-huffington {
        width: 130px;
      }

      .press-nav ul li {
        margin: 0 $spacing2;
      }
    }

    .successfully-funded .offerings-carousel {
      .item {
        flex-wrap: nowrap;
      }

      .item .item-detail {
        padding-left: $spacing3;
        padding-right: $spacing1;
        width: 400px;

        > div.detail {
          margin: 0;

          .date, .text {
            padding-left: 50px;
          }
        }
        > div .text {
          text-align: left;
          word-break: break-word;
        }
        > div .num {
          float: left;
          margin: auto;
        }
        > div .date {
          text-align: left;
        }
        ul {
          display: block;
          margin: -25px 1px 12px; // by design
          padding-left: $spacing2;
        }
        ul li {
          height: 10px;
          line-height: 10px;
          font-size: $base-mobile-font-size;
          color: $lighter-gray;
        }
      }
      .carousel .control {
        display: block;
        position: absolute;
        bottom: $spacing2;
        right: 0;
      }
    }
    .subscription-section .container {
      padding: $spacing5 $spacing4;
    }
    #home_new_subscription {
      .subscription-input { padding: 0 $spacing2; }
      .subscription-input li {
        @include custom-placeholder { text-align: left; }
        &:first-child {
          margin: 0 $spacing2;
        }
        &:last-child {
          flex-grow: 0;
          margin-top: 0;
        }
      }
    }
  }

  // desktop
  @include media('>=desktop') {
    #filter-image {
      border-top: 3px solid $primary-blue;

      .hero {
        border-top: 0;
      }
      .hero a {
        margin: $spacing5 auto 0;
      }
    }
    .flashfunders-news {
      .join-us a { margin-top: 0; }
    }
    .subscription-section .container {
      padding: $spacing4 $spacing8 $spacing5;
    }
    #home_new_subscription {
      .subscription-input { padding: 0 $spacing6; }
    }
    #mission-panel {
      .bottom-image {
        min-height: 300px;
      }
    }
    .sponsors {
      a img { width: 100%; }
    }
  }

}
