#investors {
  #why {
    #pie-chart-image {
      @include retina_background_image(investors/ih-pie-chart, png, 90%, auto, no-repeat center, transparent);
      background-size: contain;
    }
    #bar-graph-image {
      @include retina_background_image(investors/ih-bar-graph, png, 90%, auto, no-repeat center, transparent);
      background-size: contain;
      min-height: 200px;
    }
    a {
      color: $white;
      &:hover {
        color: $primary-blue;
      }
    }
    small {
      display: block;
      color: $white;
    }
    ul {
      padding-top: $spacing3;
    }
    li {
      width: 100%;
    }
  }
  #how {
    #find-company-image {
      @include retina_background_image(investors/ic-find-company, png, 100%, 100%, no-repeat center, transparent);
    }
    #do-homework-image {
      @include retina_background_image(investors/ic-do-homework, png, 100%, 100%, no-repeat center, transparent);
    }
    #invest-image {
      @include retina_background_image(investors/ic-invest, png, 100%, 100%, no-repeat center, transparent);
    }
    #stay-connected-image {
      @include retina_background_image(investors/ic-stay-connected, png, 100%, 100%, no-repeat center, transparent);
    }
    .block-image {
      background-color: $white-lilac !important;
    }
  }
  #what {
    #browse-tiles-image {
      @include retina_background_image(investors/ih-browse-tiles, png, 100%, auto, no-repeat center, transparent);
      min-height: 320px;
    }
    #invest-flow-image {
      @include retina_background_image(investors/ih-invest-flow, png, 100%, auto, no-repeat center, transparent);
      min-height: 360px;
    }
    #security-image {
      @include retina_background_image(investors/ih-security-2, png, 100%, auto, no-repeat center, transparent);
      background-size: cover;
      min-height: 200px;
    }
  }
  #how {
    .container--gray {
      h2, .h2 {
        margin-bottom: 10px;
      }
    }
  }

  @include media('>=tablet') {
    #why {
      #pie-chart-image {
        min-height: 400px;
      }
    }
    #what {
      #browse-tiles-image {
        min-height: 750px;
      }
      #invest-flow-image {
        min-height: 740px;
      }
      #security-image {
        min-height: 350px;
      }
    }
  }

  @include media('>=desktop') {
    #why .container--blue {
      @include retina-background-image('investors/ih-world-map', png, 100%, auto, no-repeat center, linear-gradient(to top, $dark-blue-gradient-start, $dark-blue-gradient-end));
      #pie-chart-image {
        min-height: 500px;
      }
      #bar-graph-image {
        min-height: 400px;
      }
      h2, .h2 {
        padding-bottom: $spacing2;
      }
    }
    #how {
      .container--gray {
        opacity: 0.99;
      }
    }
    #what {
      #browse-tiles-image, #invest-flow-image {
        min-height: 500px;
      }
    }
  }
}
