#issuer-application {
  // Default is mobile
  background-color: $white-lilac;

  .form-banner {
    @include background-gradient(left top, $dark-blue-gradient-start, $dark-blue-gradient-end);
    text-align: center;
    padding: 80px 20px;
  }

  .span12, .row-fluid {
    width: 100%;
    margin: 0 auto;
  }

  h1, h2, h3, input, label, p, li, a, body {
    font-family: $base-font-family;
    line-height: normal;
  }

  h1 {
    padding-bottom: 20px;
    font-size: 48px;
    font-weight: $light-font-weight;
    color: $white;
  }

  p {
    font-size: 18px;
    font-weight: $light-font-weight;
    color: $white;
    line-height: 36px;
    max-width: 1000px;
    margin: 0 auto;
  }

  label {
    margin-bottom: 12px;
  }

  .input {
    margin-bottom: 24px;
  }

  .form-panel {
    max-width: 480px;
    margin: 0 20px;
    padding-bottom: 80px;

    @media (min-width: 520px) {
      margin: 0 auto;
    }
  }

  .legend {
    text-transform: none;
    text-align: center;
    color: $title-gray;
    font-size: $base-font-size*2;

    &:not(:first-child) {
      margin-top: 40px;
    }
  }

  .btn-primary {
    width: 100%;
  }

  .workspace-header-divider {
    border-top: none;
  }

  .footer {
    display: none;
    padding: 30px 0;
    .page-nav {
      display: block;
      float: left;
    }
    .page-info {
      display: block;
      float: right;
      line-height: 37px;
    }
  }

  .footer-mobile {
    padding: 10px 0;

    a {
      border: 1px solid $mid-gray;
      @include cross-browser(border-radius, 3px);
      width: 100%;
      display: block;
      padding: 15px 0;
      text-align: center;
    }
  }

  ul.styled-multi-select {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    @include cross-browser(flex-flow, column nowrap);
    li {
      border: solid 1px $light-gray;
      background-color: $white;
      margin-bottom: 20px;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 10px 0 $primary-blue;
        background-color: $gray-lighter;
      }
      .multi-checkbox {
        margin: 0 0 0 15px;
        cursor: pointer;
        &:focus {
          box-shadow: none;
        }
      }
      input[type='checkbox'] + span {
        padding: 15px;
      }
    }
    li.focus {
      box-shadow: 0 0 10px 0 $primary-blue;
      background-color: $gray-lighter;
    }
  }
  ul.two-up {
    @include cross-browser(flex-flow, row wrap);
    li {
      @include cross-browser(flex, 0 1 48%);
    }
  }
  .multi-checkbox-container {
    height: 100%;
    display: flex;
    @include cross-browser(flex-flow, row nowrap);
    align-items: center;
    input {
      @include cross-browser(flex, none);
    }
  }

  @include media(">=tablet") {
    .footer-mobile {
      display: none;
    }
    .footer {
      display: block;
    }
  }

}

#issuer-application-success {
  background-color: $white-lilac;
  padding: 80px;
  .container {
    background-color: $white;
    padding: 80px;
    margin: 0px auto;
    max-width: 800px;
  }
}
