#offering-editor {
  font-family: $base-font-family;
  font-weight: $normal-font-weight;
  font-size: 16px; // TODO: Need to set up shared font-size variables
  background: $white-lilac;
  margin: 3px 20px;
  max-width: $container-large-desktop;
  padding-bottom: 80px;

  h2 {
    color: $title-gray;
  }
  h4 {
    color: $primary-blue;
    text-transform: uppercase;
    padding-bottom: $spacing1;
  }
  .title-bar {
    padding: 80px 0 60px;

    h2 {
      display: inline;
      padding-right: 20px;
    }
    .title-btn {
      float: right;
    }
  }
  .navigation {
    border-bottom: 1px solid $light-gray;
    margin-bottom: $spacing2;
    li {
      display: inline-block;
      margin: 0 20px 0 0;
      padding: 20px 3px 10px;
    }
    li:first-child {
      padding-left: 0;
    }
    a {
      display: block;
      text-transform: uppercase;
      color: $mid-gray;
      text-decoration: none;
      &:hover {
        color: $primary-blue;
      }
    }
    a.active {
      color: $primary-blue;
    }
    li.active {
      border-bottom: 1px solid $primary-blue;
    }
  }

  .offering-editor {
    padding: 0 0 ($spacing2 * 2);
    min-height: 450px;
    .left-padded-fields {
      padding-left: 16.5px;
    }
    p {
      margin-bottom: $spacing1;
      line-height: $base-line-height + 3;
    }
    fieldset {
      padding: 0px;
      margin-bottom: 30px;
    }
    label {
      color: $title-gray;
      margin-bottom: 8px;
    }
    textarea {
      resize: none;
      width: 100%;
      min-height: 75px;
      font-size: 15px;
      margin-top: 0;
    }
    input {
      margin-bottom: 20px;
    }
    .input {
      margin-top: 0;
    }
    .section {
      label {
        margin-top: 10px;
      }
      fieldset {
        margin-bottom: $spacing1;
        min-width: 0;
      }
    }
    .controls {
      list-style-type: none;
      a {
        display: inline-block;
        opacity: 0.85;
        @include cross-browser(transition, opacity 0.15s);
        &:hover {
          opacity: 1;
        }
        &.disabled {
          opacity: 0.15;
        }
      }
    }
    .controls-vertical {
      li {
        margin-bottom: 10px;
      }
    }
    .controls-horizontal {
      font-size: 0;
      li {
        display: inline-block;
        margin: 0 3px 5px 0;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .controls-right {
      float: right;
    }
    .pitch-description {
      box-sizing: border-box;
      min-height: 150px;
      overflow-x: hidden; // for Firefox
    }
    .pitch-video {
      box-sizing: border-box;
      min-height: 50px;
      overflow-x: hidden; // for Firefox
    }
    .photo {
      position: relative;
      background-color: $light-gray;
      img {
        width: 100%;
      }
      &.photo-selected {
        border: 1px solid $light-gray;
      }
    }
    .photo-thumbnail {
      height: 130px;
      margin-bottom: 10px;
      img {
        width: auto;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .photo-controls {
        background-color: $light-gray;
        opacity: 0;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 2;
        &:hover {
          @include cross-browser(transition, opacity 0.5s);
          opacity: 0.85;
        }
        ul {
          position: absolute;
          float: none;
          left: 50%;
          top: 50%;
          margin: -17px 0 0 -40.5px;
        }
      }
    }
    .photo-group {
      padding: 10px 5px 0px 10px;
      border: 1px solid $light-gray;
      background-color: $light-gray;
      .row-fluid.skinny-margin {
        margin: 0;
      }
    }
    .field-attributes {
      float: right;
      padding-top: 5px;
      label {
        color: $dark-blue-gradient-end;
        margin-right: 5px;
      }
    }
    .item-list {
      padding: 10px 0;
      li {
        list-style-type: none;
        margin-bottom: 6px;
      }
    }
    .plus {
      font-size: 24px;
    }
    .btn-full {
      min-height: 75px;
      width: 100%;
    }
    .btn-plus {
      &:before {
        content: '+';
        position: absolute;
        margin: -16px 69px auto -25px;
        font-size: 24px;
      }
    }
    .carousel {
      font-size: $smaller-font-size;
    }
    button.btn-add-template {
      min-height: 91px;
    }
    .btn-add-template {
      @extend .btn-plus;
      &:before {
        margin-top: -5px;
      }
      line-height: 1;
      outline: none;
      padding: 15px 25px 15px 25px;
    }
    .btn-upload-file {
      @extend .btn-dashed;
      position: relative;
      display: block;
      outline: none;
      background-color: white;

      &.btn-update-file:hover {
        .btn-overlay {
          @include cross-browser(transition, opacity 0.25s);
          opacity: 0.85;
        }
      }
    }
    .btn-overlay {
      opacity: 0;
      text-align: center;
      color: $primary-blue;
      background-color: $white;
      position: absolute;
      padding: 0;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    .btn-upload-file {
      display: flex;
      justify-content: center;
    }
    .image-header {
      padding: 0;
      width: 947px;
      height: 452px;

      img {
        width: 945px;
        height: 450px;
      }

      .btn-overlay {
        line-height: 432px;
      }
    }
    .image-browse {
      padding: 0;
      height: 167px;
      width: 372px;

      img {
        height: 165px;
        width: 370px;
        min-height: 165px;
        max-height: 370px;
      }

      .btn-overlay {
        line-height: 167px;
      }
    }
    .image-cover {
      padding: 0;
      height: 196px;
      width: 700px;

      img {
        height: 194px;
        width: 698px;
      }

      .btn-overlay {
        line-height: 196px;
      }
    }
    .image-logo {
      padding: 0;
      height: 100px;

      img {
        height: 40px;
        width: 40px;
      }

      .btn-overlay {
        line-height: 100px;
      }
    }
    .image-avatar {
      padding: 0;
      height: 152px;
      width: 152px;
      border-radius: 76px;
      overflow: hidden;

      img {
        width: 152px;
      }

      .btn-overlay {
        line-height: 152px;
      }
    }
    .file-document {
      height: 43px;
      &.btn-update-file {
        .file-content {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 14px;
        }
      }
      .plus {
        position: absolute;
        top: 11px;
        left: 70px;
      }
      .btn-overlay {
        font-size: $base-font-size;
        line-height: 41px;
      }
    }
    .file-content {
      overflow: hidden;
      align-self: center;

      .prompt {
        display: block;
      }
    }
    .vanity-path-controls.focused {
      outline-offset: -2px;
      outline: -webkit-focus-ring-color auto 5px;
    }
    .vanity-path-controls {
      padding: 10px;
      border: 1px solid $lighter-gray;
      label {
        display: inline;
      }
      input {
        //TODO better way to take up "rest of space"?
        width: 495px;
        display: inline-block;
        margin: 0 0 0 -3px;
        border: none;
        padding: 0;
      }
      input:focus {
        outline: 0 none;
      }
    }
    .upload-image-error {
      color: $error-red;
      padding-bottom: 15px;
    }

    label.notable-investor {
      position: relative;
      cursor: pointer;
      height: 20px;
      input {
        position: absolute;
        opacity: 0;
      }

      input + span:before {
        position: absolute;
        content: "\f006";
        font-family: FontAwesome;
        font-size: 26px;
        color: $primary-blue;
      }

      input:checked + span:before {
        content: "\f005";
      }

      small {

        @keyframes changeshadow {
          from {
            box-shadow: 0px 0px 22px #0280c0;
          }

          to {
            box-shadow: none;
          }
        }

        position: absolute;
        display: none;
        left: 35px;
        white-space: nowrap;
        background: #0280c0;
        padding: 4px 15px;
        color: white;
        position: absolute;
        margin-left: 20px;
        margin-top: -4px;

        animation-duration: 0.7s;
        animation-name: changeshadow;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        &:before {
          position: absolute;
          height: 18px;
          width: 18px;
          transform: rotate(45deg);
          content: "";
          background: #0280c0;
          margin-left: -24px;
        }
      }

      &:hover {
        small {
          display: block;
          animation-name: none;

        }
      }
    }

    .browse-description {
      position: relative;
    }
  }

  @include media('>=desktop') {
    margin: 3px auto;
  }
}

[class^="issuer-editor-"], [class*="issuer-editor-"] {
  .flash-notice, .flash-alert { margin-top: -2px; }
}
