.messages-show, .messages-index {
  .flash-notice {
    width: 100%;
  }
  background-color: $white-lilac;

  .offering-message {
    hr {
      border-top: solid 1px $light-gray;
    }
    width: 100%;
    margin: 0 auto;
    padding: $spacing4 $spacing3;
    box-sizing: border-box;
    h2 {
      color: $title-gray;
    }
  }
  .icon-arrow-left {
    background: image-url('chevron-left.png') left no-repeat;
    line-height: inherit;
    padding-right: $spacing2;
    height: $spacing1;
    width: $spacing1;
  }
  .conversations, .message-list {
    padding-top: $spacing2;

    .empty {
      h3 {
        color: $mid-gray;
      }
    }
    .row-fluid {
      margin: 0;
    }
    .new-message {
      textarea {
        border: none;
        border-radius: 3px;
        @include cross-browser(box-shadow, 0 0 10px 0 $tundora-gray);
        height: $spacing1 * 10;
        width: 100%;
        resize: none;
        outline: none;
      }
      .submit-drawer {
        padding: $spacing2;
        border: none;
        text-align: right;
      }
    }
  }
  .message {
    padding: $spacing2 $spacing1;
    &.unread-messages {
      border-left: solid 3px $primary-blue;
      background: #efeff1;
      &:hover {
        background-color: $hover-gray;
      }
    }
    &.full-preview {
      &:hover {
        background-color: $hover-gray;
      }
    }
    a {
      color: $title-gray;
      line-height: $base-line-height + 3;
    }
    .message-info {
      position: relative;
      margin-left: $spacing1;
    }
    .unread {
      height: $spacing2;
      width: 24px;
      display: inline;
      margin-left: $spacing1;
      position: absolute;
      right: 0;
      top: 0;
      div {
        background-color: $primary-blue;
        color: $white;
        text-align: center;
        font-size: $small-font-size - 3;
        height: $base-line-height;
        width: $base-line-height;
        line-height: $base-line-height;
        @include cross-browser(border-radius, $base-line-height / 2);
      }
    }
    .user-name, .company-name, .message-author {
      color: $title-gray;
    }
    .created, .date-created {
      @extend .p;
      &.no-float {
        line-height: 21px;
        float: none;
      }
      color: $mid-gray;
      margin-right: 0;
      padding-right: $spacing1;
    }
    .body {
      @extend .p;
      color: $mid-gray;
      word-wrap: break-word;
      margin-top: $spacing1;
    }
    .preview {
      overflow: hidden;
      white-space: normal;
      color: $mid-gray;
      line-height: $base-line-height +3;
      max-height: ($base-line-height + 3) * 2;
      min-height: ($base-line-height + 3) * 2;
      margin-top: $spacing1;
    }
  }

  @include media(">=tablet") {
    .conversations, .message-list {
      h1 {
        text-align: left;
      }
      .message {
        .message-info {
          .created {
            position: absolute;
            right: 40px;
          }
          .preview {
            margin-top: 0;
          }
          .user-name {
          }
        }
      }
      .new-message {
        .submit-drawer {
          text-align: right;
        }
      }
    }
  }

  @include media(">=desktop") {
    .offering-message {
      max-width: $container-large-desktop;
      padding: $spacing5 $spacing3;
    }
    .conversations, .message-list {
      padding-top: $spacing3;
      .message {
        .message-info {
          .created {
            right: $spacing4;
          }
        }
      }
    }
  }
}

