// mobile
@media only screen and (min-width: 300px) {
  header {
    position: relative;
    z-index: 1;
    background-color: $white;
    @include cross-browser(box-shadow, 0 0 10px 0 $tundora-gray);

    .top-nav {
      padding: 20px;

      a.burger-menu {
        position: relative;
        text-decoration: none;

        &:after {
          font-family: 'FontAwesome';
          font-size: 19px;
          width: 30px;
          height: 30px;
          content: "\f0c9";
          position: absolute;
          color: $title-gray;
          margin-top: 4px;
        }
      }
      .logo {
        display: block;
        width: 187px;
        margin: 0 auto;

        img {
          max-width: 205px;

          &.white { display: none; }
        }
      }

      nav.primary-nav {

        .closer {
          position: fixed;
          display: block;
          top: 0;
          right: 0;
          bottom: 0;
          background: white;
          opacity: 0;
          content: "";
          width: 20%;
        }
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a0a0a+0,646464+100&amp;0.98+0,0.98+100 */
        background: -moz-linear-gradient(top, rgba(80, 82, 102, 0.98) 0%, rgba(52, 64, 93, 0.98) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(80, 82, 102, 0.98)), color-stop(100%, rgba(52, 64, 93, 0.98)));
        background: -webkit-linear-gradient(top, rgba(80, 82, 102, 0.98) 0%, rgba(52, 64, 93, 0.98) 100%);
        background: -o-linear-gradient(top, rgba(80, 82, 102, 0.98) 0%, rgba(52, 64, 93, 0.98) 100%);
        background: -ms-linear-gradient(top, rgba(80, 82, 102, 0.98) 0%, rgba(52, 64, 93, 0.98) 100%);
        background: linear-gradient(to bottom, rgba(80, 82, 102, 0.98) 0%, rgba(52, 64, 93, 0.98) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa505266', endColorstr='#fa34405d', GradientType=0);

        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 80%;
        padding: 20px;
        z-index: 10;
        overflow: scroll;

        a.close-menu {
          position: absolute;
          text-decoration: none;
          right: 20px;
          top: 20px;
          width: 20px;

          &:after {
            font-family: 'FontAwesome';
            font-size: 19px;
            width: 30px;
            height: 30px;
            content: "\f057";
            position: absolute;
            color: white;
          }
        }

        ul {
          display: inline-block;
          margin: 0;

          .toggle-user-menu {
            pointer-events: none;
          }
          .user-menu {
            margin-top: 30px;

            li.user-email, li.nav-offering {
              display: none;
            }

            li {
              a {
                font-size: 15px;
              }

            }
          }

          li {
            list-style: none;
            line-height: 22px;

            &.with-separator {
              border-bottom: 1px solid rgba(255, 255, 255, 0.4);
              margin-bottom: 20px;
              padding-bottom: 18px;
            }

            &.user-login {
              font-family: Roboto;
              font-size: 18px;
              color: white;

              &:hover {
                font-weight: $bold-font-weight;
                cursor: pointer;
              }

              small {
                font-size: 15px;
                display: block;
                margin-top: 10px;
              }
            }

            &.user-icon {
              float: left;
              margin: 0 14px 0 0;
              padding: 0;
              border: 0;

              &:before {
                font-family: 'FontAwesome';
                font-size: 19px;
                color: white;
                content: "\f007";
              }
            }

            &.main-header.header-messages {
              position: relative;
              font-size: 22px;
              max-width: 105px;

              &:before {
                font-family: 'FontAwesome';
                content: "\f003";
                color: transparent;
              }

              &:after {
                content: attr(data-count);
                font-size: .45em;
                font-weight: $bold-font-weight;
                font-family: $base-font-family;
                display: block;
                position: absolute;
                top: .4em;
                right: -1em;
                width: 2em;
                height: 2em;
                line-height: 2.1em;
                @include cross-browser(border-radius, 50%);
                text-align: center;
                color: $white;
                background-color: $primary-blue;
              }

              &[data-count='0']:after {
                display: none;
              }

              a {
                display: block;
                width: 20px;
                height: 20px;
                margin-top: -20px;
                color: white;
              }

              &:hover {
                cursor: pointer;
                &:before {
                  color: $primary-blue;
                }
              }
            }

            &.active {
              a {
                font-weight: $medium-font-weight;
              }
            }
            a {
              font-family: 'Roboto';
              font-size: 18px;
              color: white;
              display: flex;
              align-items: flex-start;

              input {
                pointer-events: none;
              }

              &:hover {
                font-weight: $medium-font-weight;
              }

              .fa {
                display: none;
              }
            }
          }
        }

        .offering-choice .custom-radio:after {
          background: #3D4761;
        }
      }
    }

    .sub-menu {
      position: static;
      background: white;

      a.toggle {
        color: white;
        background: #0280c0;
        display: block;
        padding: 15px;

        &.contracted {
          &:after {
            content: "\f0d7";
            font-family: "FontAwesome";
            margin-left: 10px;
            position: absolute;
            right: 20px;
          }
        }

        &.expanded {
          &:after {
            content: "\f0d8";
            font-family: "FontAwesome";
            margin-left: 10px;
            position: absolute;
            right: 20px;
          }
        }
      }

      ul {
        display: none;

        li {
          display: block;
          padding: 15px;

          a {
            color: $title-gray;
            font-weight: normal;
          }
        }
      }
    }
  }
}

@include media(">=tablet") {
  header {
    position: relative;
    z-index: 1;
    background-color: white;

    .top-nav {
      padding: 20px;
      a.burger-menu {
        position: relative;
        text-decoration: none;

        &:after {
          font-family: 'FontAwesome';
          font-size: 19px;
          width: 30px;
          height: 30px;
          content: "\f0c9";
          position: absolute;
          color: black;
          margin-top: 4px;
        }
      }
      .logo {
        display: block;
        width: 182px;
        margin: 0 auto;
      }

      nav.primary-nav {

        display: none;
        top: 0;
        left: 0;
        bottom: 0;
        width: 80%;
        padding: 26px 20px 20px 20px;
        z-index: 10;

        a.close-menu {
          position: absolute;
          text-decoration: none;
          right: 0px;
          top: 26px;
          width: 20px;

          &:after {
            font-family: 'FontAwesome';
            font-size: 29px;
            width: 30px;
            height: 30px;
            content: "\f057";
            position: absolute;
            color: white;
            right: 20px;
          }
        }

        ul {
          display: inline-block;
          width: 80%;

          li {
            list-style: none;
            line-height: 22px;

            &.with-separator {
              padding-bottom: 15px;
              border-bottom: 1px solid white;
            }

          }
        }
      }
    }
  }
}

// Desktop
@include media('>=desktop') {
  header {
    position: relative;
    z-index: 1;
    background-color: white;
    margin: 0;
    padding: 0;

    .top-nav {
      display: table-row;
      padding: 20px;

      a.burger-menu {
        display: none;
      }

      .logo {
        display: table-cell;
        padding: 0 75px 0 20px;
        width: 187px;
        margin: 0;
      }

      nav.primary-nav {
        margin-left: 75px;
        padding: 20px 20px 20px 0;
        display: table-cell;
        background: none;
        position: static;
        width: 100%;
        opacity: 1;
        overflow: hidden;

        .closer, a.close-menu, .offering-choice {
          display: none;
        }

        ul {
          display: inline-block;
          background: none;
          width: 100%;

          .toggle-user-menu {
            pointer-events: auto;
          }
          ul.user-menu {
            display: none;
            position: absolute;
            right: 20px;
            width: 250px;
            background: white;
            margin: 36px 0 0 0;
            padding: 0;
            @include cross-browser(box-shadow, 0px 0px 5px $tundora-gray);
            z-index: 10;

            &.first-menu:after {
              background: $title-gray;
              box-shadow: 1.5px -1.5px 0px $tundora-gray;
            }

            &:after {
              content: "";
              position: absolute;
              display: block;
              top: -6px;
              right: 15px;
              bottom: auto;
              left: auto;
              border-width: 18px 9px 0 0;
              border-color: transparent;
              border-style: solid;
              box-shadow: 1.5px -1.5px 0px #ccc;
              background: white;
              transform: scaleX(1) skewY(119deg);
              z-index: -1;
            }

            .user-email {
              display: block;
            }

            li {
              line-height: 30px;
              font-family: $base-font-family;
              font-size: 14px;
              color: $title-gray;
              width: 100%;
              padding: 0px 25px 10px 20px;
              text-align: left;
              white-space: nowrap;

              &.user-email {
                color: $title-gray;
                padding: 10px 0;
                margin: 0 20px;
                font-weight: 300;
                width: initial;

                &.border-top {
                  border-top: 1px solid rgba(52, 64, 93, 0.4);
                  margin-top: -3px;
                }
                &.border-bottom {
                  border-bottom: 1px solid rgba(52, 64, 93, 0.4);
                  margin-bottom: 10px;
                }
              }

              &.nav-offering {
                padding: 0;
                display: block;

                a {
                  width: 100%;
                  height: 100%;
                  padding: 20px 25px 20px 20px;
                  color: $mid-gray;

                  &:hover {
                    color: $mid-gray;
                    background-color: $hover-gray;
                    cursor: pointer;
                  }
                }
              }

              a, span {
                color: #303030;
                display: inherit;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              a:hover {
                color: $primary-blue;
              }

              &.current-offering {
                a, a:hover {
                  color: $white;
                  background-color: $title-gray
                }
                background-color: $title-gray;
              }
            }

          }

          li {
            list-style: none;
            line-height: 22px;
            display: inline-block;
            margin: 0;
            white-space: nowrap;
            text-align: center;
            padding-right: 5%;

            &.with-separator {
              margin: 0 20px 0 0;
            }
            &.user-login {
              float: right;
              padding: 0;
              text-align: right;
              font-family: Roboto;
              font-size: 14px;
              color: $title-gray;
              margin: 0 0 0 25px;
              width: 40px;

              &:hover {
                font-weight: $normal-font-weight;
                color: $primary-blue;
              }

              small {
                display: none;
              }
            }

            &.user-icon {
              display: block;
              position: relative;
              &:before {
                font-family: 'FontAwesome';
                font-size: 22px;
                content: "\f007";
                color: $title-gray;
              }
            }

            &.main-header.header-messages {
              float: right;
              padding-right: 0;
              margin-left: -45px;

              a {
                color: transparent;
                white-space: nowrap;
                overflow: hidden;
              }
              &:before {
                color: $title-gray;
              }

              &:after {
                top: -.5em;
              }
            }

            a {
              font-family: 'Roboto';
              font-size: 14px;
              color: $title-gray;
              text-decoration: none;

              &:hover {
                color: $primary-blue;
              }

              .fa {
                display: none;
              }

            }

            &.active a {
              margin-left: 0;
            }
            &:not(.active) {
              a:hover {
                font-weight: inherit;
              }
            }

          }
        }
      }
    }

    .sub-menu {
      position: static;
      background: $title-gray;
      text-align: center;

      a.toggle {
        display: none;
      }
      ul {
        display: block;

        li {
          border-right: 1px solid #68767e;
          border-bottom: 3px solid $title-gray;
          padding: 10px 40px;
          margin: 0;
          display: inline-block;

          &:first-child {
            border-left: 1px solid #68767e;
          }

          &:hover {
            border-bottom: 3px solid #0280c0;
            a {
              color: white;
            }
          }

          a {
            color: #8f9ca3;
            font-weight: normal;

          }
        }
      }
    }
  }

  header.homepage {
    position: absolute;
    width: 100%;
    background-color: transparent;
    padding: $spacing1 $spacing4;
    box-shadow: none;

    .logo img.blue { display: none; }
    .logo img.white { display: block; }
    .top-nav {
      display: flex;
      align-items: center;
    }
    .top-nav, .logo { width: auto; }
    .top-nav, .logo, .primary-nav, .primary-nav ul {
      padding: 0;
    }
    .top-nav .primary-nav {
      margin-left: $spacing4;
      overflow: visible;
    }
    .primary-nav ul:not(.user-menu) {
      display: flex;
      align-items: center;

      li.main-header.header-messages {
        a { color: transparent; }
        &:before { color: $white; }
      }
      li.main-header:not(.header-messages) {
        padding: 0 $spacing2;
      }
      li.header-blog { flex-grow: 1; }
      li a { color: $white; }
      ul li a { color: $title-gray; }
    }
    .primary-nav .user-login {
      order: 1;
      margin-left: $spacing2;
      width: auto;
    }
    .user-login.with-separator:not(.toggle-user-menu) {
      border: 0;
      width: auto;
      border: 1px solid $white;
      border-radius: 3px;
      background-color: $white-glass;

      a {
        display: block;
        padding: 10px $spacing3;
      }
      &:hover {
        border-color: $primary-blue;
        background-color: $primary-blue-glass;
      }
    }
    .user-login.toggle-user-menu.with-separator {
      border: 0;
      padding: $spacing1 0;
      color: $white;
      background-color: transparent;

      &:hover { color: $white; }
    }
    .user-login.toggle-user-menu.user-icon {
      order: 2;
      margin-left: $spacing3;

      &:before { color: $white; }
    }
    .top-nav .primary-nav ul ul.user-menu {
      right: $spacing5;
      margin-top: $spacing8;
    }
  }
}
