#newsletter-modal {
  h5, #subscription_email, .subscription-confirm { font-family: 'Roboto'; }
  h5 {
    color: $mid-gray;
    text-align: center;
    padding: 10px 20px;
    font-weight: $light-font-weight;
    margin-bottom: 30px;
  }
  input {
    width: initial;
    display: inline-block;
    border: 1px solid transparent;
  }
  .title-image {
    text-align: center;
    height: 40px;
  }
  .modal-body { margin-bottom: 200px; }
  .modal-content { background-color: transparent; }
  .modal-content.cell-right-subscription-success {
    background-image: image-url('flakes.png');
    background-position: 50% 140px;
    background-repeat: no-repeat;
    background-color: $white;
  }
  #newsletter-modal-dismiss {
    float: right;
    margin-top: -80px;
    margin-right: -10px;
    font-size: $large-font-size;
    color: $mid-gray;
  }
  #newsletter-modal-form {
    @include cross-browser(border-radius, 3px);
    @include retina_background_image(newsletter-modal-bg, png, 120%, 120%, no-repeat -60px 0, transparent);
    background-size: 120% 120%;
    background-position: -60px 0;

    text-align: center;
    margin-top: 20px;
    height: 100%;
    @include custom-placeholder { color: $mid-gray; }
  }
  #subscription_email {
    margin-right: -5px;
    width: 70%;
    @include cross-browser(border, 1px solid $light-gray);
  }
  .subscription-confirm {
    color: $white;
    background-color: #0094e2;
    width: 30%;
  }
  .errors {
    color: $error-red;
    height: 20px;
  }
  .cell-right-subscription-success .title {
    color: $title-gray;
    font-size: 32px;
    font-weight: $light-font-weight;
  }
  .cell-right-subscription-success {
    #newsletter-modal-dismiss { margin-top: -95px; }
    span { font-size: $large-font-size; }
    span:first-child { font-weight: $bold-font-weight; }
    .modal-body { margin-bottom: 0; }
    .success-icon { padding: 60px; }
    .close-modal .btn {
      @include primary-button(49%, 55px);
      background-color: $primary-blue;
      border-color: $primary-blue;
      font-size: $base-font-size;
      line-height: 2.8;

      &:hover { background-color: $primary-blue-gradient-end; }
    }
  }

  @include media(">=tablet") {
    #newsletter-modal-form {
      @include retina_background_image(newsletter-modal-bg, png, 125%, 125%, no-repeat -75px 0, transparent);
      background-size: 125% 125%;
      background-position: -75px 0;
    }
    #subscription_email {
      max-width: 175px;
    }
    .subscription-confirm {
      max-width: 125px;
    }
  }
  @include media(">=desktop") {
    #newsletter-modal-form {
      @include retina_background_image(newsletter-modal-bg, png, 125%, 110%, no-repeat -75px 0, transparent);
      background-size: 125% 110%;
      background-position: -75px 0;
    }
  }

}
