.body-blue {
  width: 100%;
  margin: 0px;
  padding: 0px;
  @include cross-browser(background, linear-gradient(to top, $dodger-blue 20%, $cerulean-blue));
}

.registration, .confirmations-show {

  .logo {
    padding: 10px 0px;
    text-align: center;
    a > img {
      max-height: 100px;
    }
  }

  .panel {
    position: relative;
    @include cross-browser(box-shadow, 0 0 10px 0 $tundora-gray);
    padding: ($spacing2 * 1.5) ($spacing2 * 2) 0;
    background-color: white;
    text-align: left;
    margin-bottom: 60px;

    .panel-icon {
      position: absolute;
      top: -25px;
      left: 50%;
      margin-left: -25px;
      background-color: $primary-blue;
    }

    .title {
      text-align: center;
      margin-bottom: 0;
      color: $title-gray;
    }

    input {
      border-color: $light-gray;
      &.checkbox:after {
        top: initial;
        left: initial;
      }
    }
    input[type='submit'] {
      border-color: $primary-blue;
    }

    .text {
      font-weight: $normal-font-weight;
      font-family: $base-font-family;
      font-size: 14px;
      color: $mid-gray;

      &.instructions {
        font-size: 16px;
      }
    }
  }

  .panel .registration-new {
    .separator { margin: $spacing1 0 #{-$spacing1}; }
  }
  .welcome-founder, .welcome-back {
    h5.title {
      text-align: left;
    }
    .description {
      font-weight: $light-font-weight;
      font-size: 25px;
      padding-top: 20px;
    }
    .email {
      font-weight: $light-font-weight;
      font-size: 18px;
      padding-top: 20px;
    }
  }

  .agreed-to-subscribe {
    text-align: center;
    padding: 20px 15px 20px 0px;
    .span {
      display: inline-block;
      &.inline-checkbox {
        padding-right: 12px;
      }
    }
    .checkbox {
      margin-left: 0;
      margin-right: 14px;
      width: 0;
    }
    .text {
      margin: 10px;
    }
  }

  // For the Yes/No Buttons

  label {
    font-family: $base-font-family;
  }

  .custom-radio-input {
    height: 43px;
    width: 49%;
    margin-bottom: 0;
    margin-right: 2%;
    line-height: 20px;
    border-color: $light-gray;

    &:last-child {
      margin-right: 0;
    }
    &.active {
      &:before {
        // incorrect values were getting set from new_style_guide
        width: 16px;
        height: 16px;
      }
    }
  }


  .agreed_to_tos {
    input[type=checkbox] {
      position: relative;
      margin-right: -20px;
      float: left;
      opacity: 1;
      top: 9px;
      left: 3px;
    }
    input[type=checkbox] + label {
      font-size: $base-font-size;
      margin: 0 0 0 35px;
      position: relative;;
      cursor: pointer;
      float: left;
      text-align: left;
    }
    input[type=checkbox] + label:before,
    input[type=checkbox] + label:after {
      content: '';
      position: absolute;
      top: 5px;
      left: -35px;
      width: 21px;
      height: 21px;
      background-color: #ffffff;
      border: solid 2px #d9dbde;
    }
    input[type=checkbox] + label:after {
      background: image-url('checkmark.png') no-repeat center;
      opacity: 0;
    }
    input[type=checkbox]:checked + label:after {
      opacity: 1;
    }
    .error {
      margin-left: 35px;
    }
  }
}

.account-form--container {

  .button-row {
    margin: ($spacing1 / 1.5) 0 $spacing1;
    &.top-margin {
      margin-top: $spacing2;
    }
  }

  .input {
    margin-bottom: 10px;
  }

  .authenticate-before-continue, .continue-banner {
    background-color: $error-red;
    color: white;
    text-align: center;
    height: 40px;
    display: inline-block;
    padding-top: 10px;
  }
  .authenticate-before-continue {
    margin-left: -26px;
    width: 400px;
  }
  .continue-banner {
    margin: 20px 0 -12px -61px;
    width: 500px;
  }
}

#new-session-modal, #new-registration-modal, #confirmation-modal {
  .modal-title {
    font-family: $base-font-family;
    font-weight: $light-font-weight;
    font-size: 30px;
    text-transform: none;
    color: $title-gray;
  }
  input.btn {
    border-radius: 3px;
    font-size: $base-font-size;
    font-weight: $medium-font-weight;
  }
  fieldset .row-fluid, fieldset .row-fluid .span12 {
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
  }
}


#new-registration-modal, .registration-new,
#new-session-modal, .session-new {
  .btn-facebook {
    width: 100%;
    margin-top: $spacing2;
  }
}
#new-registration-modal, .registration-new {
  .separator {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin: $spacing1 0 -5px;
  }
  .separator span {
    display: inline-block;
    width: 5%;
  }
  .separator hr {
    display: inline-block;
    padding-top: 2px;
    width: 47.5%;
    height: 1px;
  }
}
.account-modal {
  fieldset {
    margin-bottom: 0px;
  }
  .input {
    margin-top: inherit;
  }
  .text {
    font-weight: $normal-font-weight;
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $mid-gray;
    margin: 10px;
    a {
      font-size: $base-font-size;
    }
  }
  input.checkbox:after {
    width: 1rem;
    height: 1rem;
    top: initial;
    left: initial;
  }
}
