@mixin primary-button($width, $height) {
  @include cross-browser(border-radius, 3px);
  background-color: $primary-blue;
  border-color: $primary-blue;
  font-weight: $medium-font-weight;
  height: $height;
  width: $width;
}

#logout {
  .row-fluid, .span12, fieldset, .input, input, .button-row, .fail-icon, .sign-back {
    padding: 0;
    margin: 0;
  }
  .fail-icon, .sign-back { margin: 45px auto; }
  .sign-back {
    line-height: normal;
    font-size: $base-font-size;
    font-weight: $normal-font-weight;
  }
  h6 { color: $mid-gray; }
  .span12 { width: 100%; }
  .panel {
    @include cross-browser(border-radius, 3px);
    padding-left: 0;
    padding-right: 0;
  }
  .input { margin-bottom: 35px; }
  form { margin: 45px auto 0; }
  input { padding: 10px; }
  fieldset {
    max-width: 380px;
    margin: 0 auto;
  }
  .button-row {
    margin-top: 25px;
    padding: 25px;
    background-color: $white-lilac;
    text-align: center;

    input {
      margin: 0 auto;
      @include primary-button(310px, 60px);
    }
  }
}

#idle-session-modal {
  .modal-content {
    #time {
      font-size: 60px;
      font-weight: $thin-font-weight;
      font-family: $base-font-family;
      padding-top: 25px;
      padding-bottom: 20px;
    }
    .modal-title {
      font-size: 37px;
      padding-bottom: 14px;
    }
    span {
      font-weight: $medium-font-weight;
    }
  }
  .modal-dialog {
    max-width: 555px;
  }

  .btn {
    @include cross-browser(border-radius, 3px);
    background-color: $primary-blue;
    border-color: $primary-blue;
    height: 55px;
    width: 49%;
    font-size: $base-font-size;
    line-height: 2.8;
    display: inline-block;
    font-weight: $medium-font-weight;
    max-width: 215px;
    margin: auto 5px;
    &:hover { background-color: #1f99ef; }
  }
  .logout-btn.btn {
    background-color: transparent;
    color: $primary-blue;
    &:hover {
      color: $white;
      background-color: $primary-blue;
    }
  }
}
