#startups {
  #main {
    .container {
      height: 370px;
      .sh {
        padding: 0;
      }
    }
  }
  #panel {
    #raise-up-image {
      @include retina_background_image(startups/ic-crowd, png, 100%, 100%, no-repeat center, transparent);
    }
    #raise-fund-image {
      @include retina_background_image(startups/ic-accredited, png, 100%, 100%, no-repeat center, transparent);
    }
    #raise-fund-inter-image {
      @include retina_background_image(startups/ic-international, png, 100%, 100%, no-repeat center, transparent);
    }
    .block-image {
      width: 70px;
      height: 70px;
      margin: 0;
      background-size: contain !important;
    }
    .plus {
      display: none;
      font-family: $base-font-family;
      font-weight: $thin-font-weight;
      font-size: 40px;
      color: $primary-blue-gradient-end;
    }
    .container {
      left: 0;
      right: 0;
      margin: -185px auto 0;
      padding: $spacing2;
      height: auto;
      width: 95%;
      max-width: 1053px; // 90% of $container-large-desktop
      background-color: white;
      position: absolute;
      border: 1px solid $gray-lighter;
      border-radius: 3px;
      box-shadow: 0 0px 10px 0 $tundora-gray;
      z-index: 1;
      h3, .h3 {
        padding-right: 0;
      }
      ul {
        margin: 0 auto;
        align-items: flex-start;
        li {
          width: inherit;
          padding-bottom: $spacing2;
          ul {
            flex-flow: row;
            align-items: center;
            li {
              width: auto;
              padding-bottom: 0;
              &:last-child {
                width: auto;
                flex: 4 1 auto;
                text-align: left;
              }
            }
          }
        }
      }
      .btn-medium {
        margin-top: 0;
      }
    }
  }
  #how {
    #create-pitch-image {
      @include retina_background_image(startups/ic-create-pitch, png, 100%, 100%, no-repeat center, transparent);
    }
    #market-round-image {
      @include retina_background_image(startups/ic-market, png, 100%, 100%, no-repeat center, transparent);
    }
    #close-deal-image {
      @include retina_background_image(startups/ic-close-deal, png, 100%, 100%, no-repeat center, transparent);
    }
    #grow-business-image {
      @include retina_background_image(startups/ic-grow-business, png, 100%, 100%, no-repeat center, transparent);
    }
    .container {
      background-color: $hover-gray;
      opacity: 0.99;
      padding-top: 325px;
    }
    .block-image {
      background-color: $hover-gray !important;
    }
  }
  #what {
    #offering-page-image {
      @include retina_background_image(startups/sh-offering-page, png, 100%, 100%, no-repeat center, transparent);
    }
    #dashboard-image {
      @include retina_background_image(startups/sh-dashboard, png, 100%, 100%, no-repeat center, transparent);
    }
    #deal-execution-image {
      @include retina_background_image(startups/sh-deal-execution-web, png, 100%, auto, no-repeat center, transparent);
      @include media('>=tablet') {
        min-height: 500px;
      }
    }
    #pricing-image {
      @include retina_background_image(startups/sh-flashfunders-s-s, png, 100%, auto, no-repeat center, transparent);
    }
    #investor-management-image {
      @include retina_background_image(startups/sh-flashfunders-s-s, png, 100%, 100%, no-repeat center, transparent);
      min-height: 220px;
    }
  }
  #pricing {
    background-color: $white-lilac;
    .container {
      margin: 0 $spacing1;
    }
    ul {
      align-items: stretch;
      justify-content: space-between;
      width: auto;
      padding: $spacing3 0;
      li {
        flex: 1 1 auto;
        text-align: center;
      }
    }
    .plus-icon {
      @include retina_background_image(startups/plus, png, 100%, 100%, no-repeat center, transparent);
      height: 60px;
      width: 60px;
      margin: auto;
    }
    .successful-fund-fee, .shareholder-services {
      @include cross-browser(box-shadow, 0 0 10px 0 $tundora-gray);
      padding: $spacing2;
      h2, .h2 {
        padding-bottom: $spacing1;
      }
      .pricing-fee {
        border-bottom: 1px solid $white;
        border-top: 1px solid $white;
        padding: $spacing1 $spacing2;
        margin: 0 auto;
        b {
          @extend .sh;
        }
      }
      .pricing-details {
        padding-top: $spacing1;
        ul {
          padding-bottom: 0;
          li {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .successful-fund-fee {
      background: linear-gradient(to top, $dodger-blue 20%, $cerulean-blue);
      h2, .h2, p, .p, li {
        color: $white;
      }
      .pricing-details ul {
        list-style-image: image-url('checkmark-white.png');
      }
    }
    .shareholder-services {
      background-color: $white;
      .pricing-fee {
        border-bottom-color: $gray-lighter;
        border-top-color: $gray-lighter;
        b {
          color: $title-gray;
        }
      }
      .pricing-details ul {
        list-style-image: image-url('ic-checkmark-only.png');
        li {
          color: $mid-gray;
        }
      }
    }
    .plus-icon-container {
      flex: 0 0 auto;
      margin: -$spacing2 auto;
      z-index: 1;
    }
    .pricing-details {
      ul {
        display: block;
        list-style-position: inside;
        padding: $spacing1 0 $spacing1 $spacing2;
        li {
          margin-bottom: $spacing1;
          text-align: left;
        }
      }
    }
  }
  @include media('>=tablet') {
    #main .container {
      height: 545px;
    }
    #panel {
      .container {
        .plus {
          display: block;
        }
        h3 {
          text-align: center;
          padding: 0;
        }
        padding: $spacing3;
        ul {
          flex-flow: row;
          align-items: stretch;
          width: 100%;
          li {
            width: auto;
            flex: 1 0 0%;
            &:nth-child(even) {
              align-self: center;
            }
            ul {
              flex-flow: column;
              li {
                flex: 0 1 auto;
                width: 100%;
                &:first-child {
                  padding-bottom: $spacing2;
                }
                &:last-child {
                  width: 100%;
                  h2, .h2 {
                    text-align: center;
                    padding: 0;
                  }
                }
              }
            }
          }
          li.plus {
            flex: 0 0.2 auto;
          }
        }
      }
      .block-image {
        margin: 0 auto;
        width: 102px;
        height: 102px;
      }
      .btn-medium {
        margin: 0;
      }
    }
    #pricing {
      ul {
        flex-flow: row;
        align-items: center;
        width: 100%;
        li {
          flex: 1 1 0%;
        }
      }
      .plus-icon-container {
        margin: auto -30px;
      }
      .successful-fund-fee, .shareholder-services {
        width: 50%;
      }
    }
  }
  @include media('>=desktop') {
    #how {
      .container {
        padding-top: 265px;
      }
    }
    #what {
      #investor-management-image {
        min-height: 315px;
      }
    }
    #pricing {
      ul {
        max-width: 950px;
        padding: $spacing4 0 $spacing5 0;
        h2, .h2, p, .p, li {
          text-align: left;
        }
      }
    }
  }
}
