.static-header-divider {
  @include rotated-square(26px);
  border-top: 1px dashed $light-gray;
  margin: ($spacing2 * 1.5) 0 $spacing2;
  .arrow-horizontal-whitespace {
    position: relative;
    z-index: 5;
    background-color: $light-gray;
    margin: -1px auto 0;
    width: 80px;
    height: 1px;
  }
  .rotated-square i {
    color: $primary-blue;
  }
}

.legal-container {
  background-color: $white-lilac;
  width: 100%;
  .legal-document {
    p, .c0, .c1, .c2, .c3, .c4, .c5, li {
      font-family: $base-font-family;
    }
    max-width: 640px;
    display: block;
    margin: 3px auto 0;
    padding: (2 * $spacing2) 10px;
    p, .c0, .c1, .c3, .c4, .c5, li {
      color: $mid-gray;
    }
    .c5, .c3 {
      .c1, .c0 {
        color: $title-gray;
      }
    }
    p .c0, .c2 .c3, p .c3 {
      color: $title-gray;
    }
  }
}

.static {
  .description-box {
    padding: $spacing2;
    h1 {
      font-weight: $bold-font-weight;
      text-transform: uppercase;
      margin-bottom: $spacing1;
    }

    h2 {
      font-size: $base-font-size + 3;
      line-height: $base-line-height;
      font-weight: $bold-font-weight;
      color: $primary-blue;
      text-transform: uppercase;
      margin-bottom: $spacing1;
    }

    h3 {
      font-size: $base-font-size + 3;
      font-weight: $bold-font-weight;
      text-transform: uppercase;
    }

    h4 {
      font-size: $base-font-size;
      font-weight: $bold-font-weight;
      text-transform: uppercase;
    }

    p {
      font-size: $base-font-size;
      line-height: $base-line-height + 3;
      margin-bottom: $spacing1;
    }

    .description-highlight {
      text-transform: none;
      font-weight: $normal-font-weight;
      margin: 0;
    }

    .icon {
      background-color: $primary-blue;
      margin-bottom: $spacing1;
    }
    &.secondary-description-box {
      padding-left: $spacing2 * 2;
      padding-right: $spacing2 * 2;
    }
  }

  .title {
    font-size: $base-font-size + 24;
    font-weight: $bold-font-weight;
    line-height: $base-line-height + 24;
    text-align: center;
    text-transform: uppercase;
  }

  .section {
    h2 {
      margin-top: $spacing1 / 2;
      margin-bottom: $spacing1;
      font-weight: $bold-font-weight;
      text-transform: uppercase;
    }

    h3, h4 {
      margin: $spacing1 0;
      font-size: $base-font-size;
      font-weight: $bold-font-weight;
      line-height: $base-line-height;
    }

    h3 {
      margin-top: $spacing2;
      text-transform: uppercase;
      color: $primary-blue;
    }

    p, ol, ul, dl, dt, dd, li {
      font-weight: $normal-font-weight;
    }

    p {
      margin: $spacing1 0;
      line-height: $base-line-height + 3;
      &.example {
        margin-left: $spacing2;
        &:before {
          content: 'Example: ';
          font-weight: $bold-font-weight;
        }
      }
    }

    ol {
      list-style-position: outside;
      margin-left: $spacing1 * 3;
    }

    ul {
      list-style-position: outside;
      > li {
        margin-left: $spacing1;
      }
    }

    dl {
      margin-left: $spacing2;
      > div {
        margin: $spacing1 $spacing1 0;
        @for $n from 1 through 4 {
          &:nth-child(#{$n}) {
            &:before {
              content: '#{$n}.';
              font-weight: $bold-font-weight;
              margin: 0 3px 0 -21px;

            }
          }
        }
      }
    }

    dt {
      display: inline;
      font-weight: $bold-font-weight;

    }

    dd {
      display: inline;
    }
    &.padded-section {
      padding: 0 $spacing2;
    }
  }

  .details-section {
    padding: ($spacing2 * 2) $spacing1;
    h3 {
      font-size: $base-font-size + 6;
      font-weight: $bold-font-weight;
      line-height: $base-line-height + 3;
      text-transform: uppercase;
      margin-bottom: $spacing1;
    }
    h5 {
      font-size: $base-font-size;
      font-weight: $bold-font-weight;
      text-transform: uppercase;
      vertical-align: top;
      line-height: $base-line-height;
    }
    p {
      margin: $spacing1 0;
      line-height: $base-line-height + 3;
    }

    ol {
      margin: $spacing1 0;
      list-style-position: inside;
    }

    li {
      margin: 0 0 $spacing1 ($spacing1 + 3);
      line-height: $base-line-height + 3;
    }
  }

  .tab-box {
    $tab-gray: #d5dde1;
    $tab-gray-hover: #bac4c9;
    .tab {
      font-size: $small-font-size;
      font-weight: $bold-font-weight;
      height: 100px;
      background-image: image-url('diagonal-stripe-tile-workspace.png');
      background-color: $tab-gray;
      text-transform: uppercase;
      border-left: ($spacing1 / 4) solid $white;
      border-right: ($spacing1 / 4) solid $white;
      margin-bottom: $spacing1 / 2;
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
      &:hover {
        background-color: $tab-gray-hover;
        cursor: pointer;
      }
      &.active {
        background-image: image-url('diagonal-stripe-tile.png');
        background-color: $secondary-blue;
        color: $white;
        font-weight: $bold-font-weight;
        position: relative;

        &:after {
          top: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(255, 255, 255, 0);
          border-top-color: #fff;
          border-width: 15px;
          margin-left: -15px;
        }
        a {
          color: $white;
          font-weight: $bold-font-weight;
        }
      }
    }
    a {
      font-size: $small-font-size;
      font-weight: $bold-font-weight;
      color: $mid-gray;
      height: 100%;
      padding: $spacing1;
      display: block;
    }
  }

  .tab-pane {
    color: $white;
    height: 330px;
    h5 {
      color: $white;
      text-transform: uppercase;
      font-size: $base-font-size;
      font-weight: $bold-font-weight;
      margin: $spacing1 0;
    }
    h3 {
      color: $white;
      font-size: $base-font-size + 3;
      text-transform: uppercase;
      line-height: $base-line-height * 2;
      padding: ($spacing2 * 2) $spacing2;
    }
    .detail-items {
      font-size: $small-font-size;
      line-height: $base-line-height + 3;
    }
    .icon-learn-more {
      display: block;
      margin: (2 * $spacing2) auto $spacing2;
    }
    .explanation {
      margin-bottom: $spacing2;
    }
    .explanation-text {
      font-size: $small-font-size;
    }
  }

  .info-panel {
    background-image: image-url('diagonal-stripe-tile.png');
    background-color: $primary-blue;
    height: 100%;
    &:nth-child(2) {
      background-color: darken($primary-blue, 5%);
    }
    &:nth-child(3) {
      background-color: darken($primary-blue, 8%);
    }
  }

  .double-info-panel {
    padding: $spacing2 * 2;
  }

  .learn-more {
    font-size: $small-font-size;
    display: block;
    margin: ($spacing1 * 1.5) 0 0;

    font-weight: $bold-font-weight;
    text-transform: uppercase;
    &:after {
      content: ' >';
      margin-left: $spacing1 / 2;
    }
  }
  .dashed-line {
    margin: $spacing2 * 2 0;
  }
}

.static-page-bottom-box {
  @include rotated-square(40px);
  @include cross-browser(box-sizing, border-box);
  background: darken($white, 2%) image-url('diagonal-stripe-tile-workspace.png');
  border: 1px solid $light-gray;
  margin-bottom: -$spacing1;
  .bottom-box--text {
    width: auto;
    display: inline-block;
    margin-bottom: $spacing2 * 2.5;
  }
  h1 {
    font-size: $base-font-size + 15;
    font-weight: $bold-font-weight;
    text-transform: uppercase;
  }
  h2 {
    text-transform: uppercase;
    color: $primary-blue;
    font-weight: $normal-font-weight;
    font-size: $base-font-size + 9;
    margin-bottom: $spacing1 / 5;
    margin-top: $spacing2;
  }
  .dashed-line {
    margin: $spacing1 0;
  }
  .btn {
    text-transform: uppercase;
    width: 55%;
  }
}

.static-email_disclaimer, .static-email_disclaimer_to_investor,
.static-email_disclaimer_to_issuer, .static-tos, .static-privacy {
  .main-container {
    width: 100%;
  }
}
