#subscribe {
  background: $light-gray;
  .container {
    position: relative;
    width: 100%;
    max-width: $container-large-desktop;
    margin: 0 auto;
    padding: $spacing5 0;
    box-sizing: border-box;
    .subscription-panel ul li:last-child {
      padding-bottom: 0;
    }
  }
}

.subscription-section {
  height: 100%;
  text-align: center;
  h1, p {
    color: $title-gray;
  }
  a {
    text-decoration: underline;
  }
  .errors {
    color: $error-red;
    padding-bottom: 10px;
  }
  .subscription-header {
    padding-bottom: $spacing5;
    color: $title-gray;
  }
  .subscription-panel {
    a {
      text-decoration: none;
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      padding-left: 0;
      margin: 0;
      li {
        width: 75%;
        padding-bottom: $spacing2;
        &:last-child {
          padding-bottom: $spacing5;
        }
      }
    }
  }
}

@include media('>=tablet') {
  .subscription-section .subscription-panel {
    ul.subscription-input {
      li {
        width: 50%;
      }
    }
  }
}
