.third-party {
  .checkbox-container {
    margin-bottom: 0;

    input[type='checkbox'] {
      margin-top: 0;
    }
  }
}
.padded-ps p {
  margin-bottom: $spacing1;
  line-height: $base-font-size + 6;
  &:first-child {
    margin: $spacing1 0 $spacing2;
  }
}
.signing-statement {
  padding-left: 15px;
}
.signing-statement li {
  margin-left: ($spacing1);
}
.floating-button {
  margin: $spacing2;
}
.decline-link {
  margin-top: $spacing2 * 1.7;
}
.header-block {
  min-width: 1120px;
  width:100%;
  text-align: center;
  padding-top: 20px;
  height: 60px;
  background-color: $white-lilac;

}

#workspace {
  border-top: none;
  padding: 2 * $spacing2;
  padding-top: 10px;
  &.lite {
    padding: $spacing2;
    margin-bottom: 0;
  }
}

.row-fluid {
  #workspace {
    padding-top: 2 * $spacing2;
    &.lite {
      padding-top: $spacing2;
    }
  }
}
