%div{style: 'min-height: 400px;'}
  %h1.push-up-big.push-down-small.workspace-title Investment Documents Signed
  %h4.push-down-small
    Thank you for submitting signed investment documents for
    = "#{@company_name}’s"
    investment raise. FlashFunders will email you shortly with wire transfer instructions to complete your investment.
  %br
  %h4.push-down-big
    Once
    = "#{@company_name}’s"
    investment raise is closed, your counter-signed investment documents and share certificates will be provided to you and the investment funds will be disbursed to
    = "#{@company_name}."
