@mixin highlight-label {
  @include cross-browser(border-radius, $spacing1);
  display: inline-block;
  border: 1px solid $primary-blue;
  background-color: $helper-blue;
  color: $primary-blue;
  padding: 1px 8px; // by design
  font-size: 10px; // by design
  margin: 0 0 0 $spacing1;
}

#offering-landing {
  .pitch-container {
    box-shadow: 0 0 $spacing1 0 $tundora-gray;
  }
  .pitch-container .tab-container {
    padding: 0 $spacing1 $spacing6;
    max-width: map-get($breakpoints, 'tablet');;
    margin-left: auto;
    margin-right: auto;
  }
  .section-element .element-title {
    @extend .h2;
    padding: $spacing4 0;
    color: $title-gray;
    text-align: center;
  }
  .section-element .element-body {
    word-wrap: break-word;
  }
  hr {
    margin: $spacing3 0;
    clear: left;
    border-color: $gray-lighter;

    &.last {
      display: none;
    }
  }
  // This is shared between offering_header.scss and secondary_nav.scss
  $follow-text-width: 115px; // For mataining spacing of long/short text.
  .offering-follower {
    color: $mid-gray;
    text-decoration: none;
    display: inline-block;
  }
  .offering-follower .i-follow {
    color: $mid-gray;
    min-width: $follow-text-width;
    display: inline-block;
    text-align: center;

    &:hover { color: $primary-blue; }
    &:hover:before { content: "\f004"; }
    &:before {
      font-family: "FontAwesome";
      font-size: 16px;
      line-height: 19px;
      margin-left: -$spacing2;
      padding: 0 $spacing1 0 0;
      content: "\f08a";
    }
  }
  .offering-follower.followed {
    .follow {
      display: none;
    }
    .unfollow, .following {
      display: flex;
      color: $primary-blue;

      &:hover { color: $mid-gray; }
      &:hover:before { content: "\f08a"; }
      &:before { content: "\f004"; }
    }
  }
  .offering-follower .unfollow,
  .offering-follower .following {
    display: none;
  }

  @include media(">=desktop") {
    .pitch-container .tab-container {
      padding-left: 0;
      padding-right: 0;
      margin: 0 auto;
    }
    .section-element .element-title {
      padding: $spacing5 0;
    }
  }
}

// Independent components
#offering-landing {
  .scroll-to-top {
    position: fixed;
    right: 20px;
    color: white;
    background: $mid-gray;
    padding: 10px;
    border-radius: 2px;
    display: none;
    cursor: pointer;
  }
}
