#offering-landing #nav-comment {
  h3, p { text-align: left; }

  .login-required {
    @extend .p;
    padding: $spacing2 0;
    margin-bottom: $spacing4;
    text-align: center;
    border-radius: 3px;
    background-color: $hover-gray;
    border: 1px solid $gray-lighter;
  }
  .new-comment {
    text-align: center;

    input[type='submit'] {
      margin-top: $spacing2;
      @include primary-button(230px, $spacing4);

      &:hover { background-color: $secondary-blue; }
      &:disabled {
        pointer-events: none;
        opacity: 0.7;
      }
    }
  }
  .user-comments {
    max-width: 100%;
    margin-top: $spacing4;
    text-align: left;

    h3 {
      display: inline-block;
      width: 70%;
      margin-bottom: $spacing1;
      color: $title-gray;
    }
    .ago {
      @extend .p;
      display: inline-block;
      float: right;
    }
    hr {
      border-color: $gray-lighter;
      margin: $spacing3 0;
      &:last-of-type { display: none; }
    }
  }
  .user-comments .comment-container {
    .founder-label {
      display: none;
    }
    &.founder-comment h3 {
      width: 100%;
    }
    &.founder-comment .founder-label {
      @include highlight-label;
      margin: 0 0 $spacing1 0;
    }
  }
  .user-comments .reply-container {
    @extend .comment-container;
    padding: $spacing1 0 0 $spacing3;

    &.founder-comment h3 {
      width: 100%;
    }
  }
  .user-comments .actions {
    margin: $spacing1 0 $spacing2;

    > a {
      text-decoration: none;
      font-size: $small-font-size;
      color: $mid-gray;
      padding-right: $spacing1;

      &:hover, &.active { color: $primary-blue; }
    }
  }
  .user-comments .replies { margin-left: $spacing4; }
  .offering_comment_form_body {
    @include cross-browser(border-radius, 3px);
    @include custom-placeholder { color: $mid-gray; }
    position: relative;
    margin-top: 0;

    textarea {
      @include cross-browser(border-radius, 3px);
      resize: none;
      width: 100%;
      height: $spacing5;
      background-color: $hover-gray;
      border-color: $gray-lighter;
    }
    span.counter {
      top: -$spacing1;
      color: $mid-gray;

      &.exceeded { color: red; }
    }
  }
  #no-comment {
    table {
      width: 100%;
      margin: $spacing5 0 $spacing3;
    }
    table th, td {
      border: none;
      vertical-align: middle;
      text-align: center;

      h2 {
        margin-bottom: 0;
        text-align: center;
      }
    }
  }
  #delete-comment-dialog {
    margin: $spacing2 0;
  }
  #reply-form-js { display: none; }

  @include media(">=tablet") {
    .new-comment {
      text-align: right;
    }
    .user-comments {
      .comment-container, .reply-container {
        &.founder-comment {
          h3 {
            width: inherit;
            max-width: 70%;
          }
        }
        p { margin-bottom: 0; }
      }
      .comment-container {
        &.founder-comment .founder-label { margin: 0 0 0 $spacing1; }
        .actions > a { padding-right: $spacing2; }
      }
      .reply-container {
        padding-top: $spacing1;
        padding-left: $spacing5;
      }
      hr { margin: $spacing2; }
    }
  }

  @include media(">=desktop") {
    .login-required {
      padding: $spacing3 0;
      margin-bottom: $spacing5;
    }
    .user-comments {
      h3 {
        margin-bottom: $spacing2;
      }
      .reply-container {
        padding-top: $spacing2;
        padding-bottom: $spacing1;
      }
      hr { margin: $spacing2 0 $spacing3; }
    }
  }
}
