#intro-to-founder-modal {
  input:not([type=submit]) {
    display: inline-block;
    margin-top: $spacing1;
  }
  .input-group {
    padding: $spacing1 $spacing2;
    margin-top: $spacing3;
    margin-bottom: $spacing4;
    text-align: center;

    span {
      display: block;

      &:last-of-type { margin-bottom: $spacing3; }
    }
  }
  .message-action input[type='submit'] {
    margin-top: 0;
    @include primary-button(49%, 55px);

    &:hover { background-color: $secondary-blue; }
  }
  .error.centered {
    position: absolute;
    width: 318px;
    top: $spacing6;
  }
}
#intro-to-founder-success-modal {
  .modal-content {
    background-image: image-url('flakes.png');
    background-position: 25px 140px;
    background-repeat: no-repeat;
  }
  .success-message {
    margin: $spacing6 0 $spacing5 0;
    span:first-of-type {
      @extend .h4;
    }
  }
  .success-icon {
    text-align: center;
    margin-top: $spacing5;
  }
  .close-modal .btn {
    @include primary-button(49%, 55px);

    &:hover { background-color: $secondary-blue; }
  }
}
#intro-to-founder-modal, #intro-to-founder-success-modal, #idle-session-modal {
  .modal-dialog {
    max-width: 440px;
    margin: auto;
    padding: 0 $spacing1;
  }
  .input-group, .success-message, .modal-title {
    span { color: $mid-gray; }
  }
  .modal-title {
    @extend .h2;
    padding-top: $spacing4;
    color: $title-gray;
    text-transform: none;
  }
  .modal-content {
    @include cross-browser(box-shadow, 0 1px $spacing1 0 rgba(0,0,0,0.3));
  }
  .modal-content, .modal-body, .message {
    @include cross-browser(border-radius, 3px);
    padding: 0;
  }
  .message-action, .close-modal {
    @include cross-browser(border-radius, 0 0 3px 3px);
    text-align: center;
    padding: $spacing2 0;
    margin: $spacing2 0 0 0;
    background: $hover-gray;
  }
}
@include media(">=tablet") {
  #intro-to-founder-modal {
    .input-group {
      padding: $spacing1;
    }
    input:not([type=submit]) {
      width: 370px;
    }
    .error.centered { width: 370px; }
  }
}
