#offering-landing #nav-fundraising {
  .title, .subtitle {
    width: 100%;
    text-align: center;
  }
  .title {
    @extend .h2;
    color: $title-gray;
    padding: $spacing3 0;
  }
  .subtitle {
    @extend .p;
    padding-bottom: $spacing3;
  }
  .info-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .info-container .info-title,
  .document .name {
    @extend .h4;
  }
  .info-container, .document {
    display: flex;
    justify-content: space-between;
    flex: 0 0 100%;
    padding: $spacing1 0;
    border-top: 1px dashed $light-gray;

    &:last-child {
      border-bottom: 1px dashed $light-gray;
    }
  }
  .document .fa-file-o {
    padding-right: $spacing1;
  }
  .document a {
    display: flex;
    align-self: center;
  }

  @include media(">=tablet") {
    .title {
      padding: $spacing5 0 $spacing4;
    }
    .subtitle {
      padding-bottom: $spacing4;
    }
    .info-wrapper {
      justify-content: space-between;
    }
    .info-container, .document {
      padding: $spacing2 0;
    }
    .info-container {
      flex: 0 0 48%;
    }
    .info-container.convertible_details {
      flex: 0 0 100%;
    }
    .info-container.end-of-column {
      border-bottom: 1px dashed $light-gray;
    }
  }
}
