#offering-landing .offering-head {
  text-align: center;
  background-color: $white-lilac;

  $video-width: 945px;
  $video-height: 450px;
  $video-playing-height: 531.56px; // 945:531.56 =~ 16:9
  $raised-panel-height: 130px;
  $raised-panel-width: 810px;

  .offering-banner {
    text-align: center;
  }
  .offering-banner .notice {
    text-transform: none;
  }
  video {
    width: 100%;
    max-height: $video-height;
    object-fit: cover;
  }
  .company-video {
    position: relative;
  }
  .video-wrapper {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  .video-wrapper .play-btn {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;

    &:before {
      content: "\f04b";
      position: absolute;
      font-family: FontAwesome;
      z-index: 2;
      top: 50%;
      font-size: 38px;
      color: white;
      left: 50%;
      margin-left: -30px;
      border-radius: 50px;
      height: 64px;
      width: 64px;
      border: 4px solid white;
      text-align: center;
      margin-top: -30px;
      padding: 0 0 0 8px;
      background: rgba(0,0,0,0.5);
      box-shadow: 0 0 5px black;
    }
  }
  .video-wrapper.no-video {
    width: 100%;

    img {
      position: relative;
      object-fit: cover;
    }
  }
  .video-wrapper img {
    position: absolute;
    object-fit: cover;
    top: 0;
    height: 100%;
    width: 100%;
  }
  .company-basic {
    margin-top: $spacing2;
    padding: 0 $spacing1;
  }
  .company-title {
    color: $title-gray;
  }
  .company-sub-title {
    color: $mid-gray;
    margin-top: $spacing1;
  }
  .company-raised {
    display: -webkit-box; // Only for supporting old capybara webkit
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    margin-top: $spacing1;
  }
  .company-raised > div {
    padding: $spacing1 0;

    h2 {
      color: $title-gray;
    }
    p {
      color: $primary-blue;
    }
  }
  .company-raised .invest {
    padding: $spacing1;
    display: flex;
    flex: 1 0 100%;
    flex-direction: column;
  }
  .company-raised .invest a {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: $spacing4;
  }
  .company-raised .invest span {
    width: 100%;

    &:last-child { font-weight: $normal-font-weight; }
  }
  .company-securities-banner {
    padding: $spacing2 $spacing1 $spacing1;
    a {
      text-decoration: none;
      font-size: inherit;
    }
  }
  .company-contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: $spacing1 $spacing1 $spacing2;

    a, .offering-follower {
      color: $mid-gray;
      text-decoration: none;
      &:hover { color: $primary-blue; }
    }
    .url, .location, .offering-follower {
      padding: 0 $spacing2;
      margin-bottom: 5px;
    }
  }
  .url {
    @include retina_background_image(icn_website, png, auto, 90%, no-repeat 0, transparent);
  }
  .location {
    @include retina_background_image(icn_location, png, auto, 90%, no-repeat 0, transparent);
  }
  .company-social {
    display: none;
  }

  @include media('>=tablet') {
    .video-wrapper.no-video {
      width: map-get($breakpoints, 'tablet');
      max-width: map-get($breakpoints, 'tablet');
    }
    .container {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
    .container .company-video {
      order: 2;
      width: 100%;
    }
    .container .company-basic {
      order: 1;
      margin: $spacing2 0;
    }
    .container .company-raised {
      order: 3;
    }
    .container .company-securities-banner {
      order: 4;
      max-width: $raised-panel-width;
      padding: $spacing5 0 0;
    }
    .container .company-contact {
      order: 5;
      padding: $spacing4 0;
    }
    .company-contact .url,
    .company-contact .location,
    .company-contact .offering-follower {
      margin: 0;
    }
    .company-raised {
      width: 96%;
      @include cross-browser(box-shadow, 0 0 $spacing2 0 $tundora-gray);
      background-color: $white;
      border-radius: 3px;
      margin: -($raised-panel-height/2) $spacing1 0;
      z-index: 1;
    }
    .company-raised > div {
      background-color: transparent;
      flex: 1 0;
      text-align: center;
      padding: $spacing2;

      &:not(:first-child) {
        border-left: 1px solid $gray-lighter;
      }
    }
    .company-raised .raised-amount,
    .company-raised .days-left {
      p .in-label {
        margin-right: -$spacing2;
      }
    }
    .company-raised .invest {
      flex: 2 0;
      padding: $spacing2;
    }
    .company-raised .invest span {
      padding: 0 $spacing2;
    }
    .company-raised .raised-amount {
      flex: 2 0;
    }
  }

  @include media('>=desktop') {
    video {
      display: flex;
      width: $video-width;
      margin: 0 auto;
    }
    &.video-stopped {
      animation-name: contract;
      animation-duration: 1s;
      animation-iteration-count: 1;

      @keyframes contract {
        from { height: #{$video-playing-height + $spacing4 * 2}; }
        to { height: #{$video-height + 328}; }
      }
    }
    &.video-playing {
      text-align: center;
      animation-name: expand;
      animation-duration: 1s;
      animation-iteration-count: 1;

      @keyframes expand {
        from { height: #{$video-height + 328}; }
        to { height: #{$video-playing-height + $spacing4 * 2}; }
      }
      .container .company-basic,
      .container .company-contact,
      .container .company-securities-banner,
      .container .company-raised,
      .container .company-social {
        display: none;
      }
    }
    .container .company-video.playing {
      padding: $spacing4 0;

      video {
        max-height: 100%;
      }
      .close-video {
        margin-top: -$spacing1;
        right: $spacing2;
        cursor: pointer;
        font-size: 32px;
        position: absolute;
        font-weight: $normal-font-weight;
        color: $title-gray;
      }
      .video-wrapper {
        overflow: visible;
      }
    }
    .container .company-video .video-controls {
      position: absolute;
      width: 750px;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $title-gray;
      opacity: 0.75;
      padding: 10px;
      text-align: left;
      border-radius: 5px;
      z-index: 2;

      .current-time, .total-duration {
        display: inline-block;
        font-size: 12px;
      }
      .left-controls {
        display: inline-block;
        width: 10%;
        vertical-align: middle;
      }
      .right-controls {
        display: inline-block;
        text-align: right;
        float: right;
        margin-right: 10px;
      }
      .left-controls ul,
      .right-controls ul {
        padding: 0;
        margin: 0;
      }
      .video-volume-control {
        position: absolute;
        z-index: 999;
        padding: 18px 12px 12px;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        background: white;
        margin-top: -155px;
        margin-left: -10px;

        &:before {
          content: '';
          width: 0;
          height: 0;
          border-left: 9px solid transparent;
          border-right: 9px solid transparent;
          border-top: 9px solid white;
          position: absolute;
          bottom: -9px;
          left: 50%;
          margin-left: -9px;
        }
      }
      ul {
        display: inline-block;
      }
      ul.video-control-rightpane li {
        display: inline-block;
        padding: 10px 5px;
        text-align: left;
        width: 20px;

        &.mute .fa-volume-up {
          display: none;
        }
        &.mute .fa-volume-off {
          display: block;
        }
        .fa-volume-off {
          display: none;
        }
        .fa-volume-up {
          display: block;
        }
      }
      ul li {
        padding: 10px;
        font-size: 10px;
        text-align: left;
        text-transform: uppercase;
        color: white;
        display: none;
        margin: 0;

        &.active {
          display: inline-block;
        }
      }
      ul li i {
        font-size: 15px;
        display: block;
      }
      #volume_slider .ui-slider-range {
        background: $primary-blue;
      }
      #volume_slider .ui-slider-handle {
        border-radius: 20px;
      }
      #video_progress_slider {
        background: $mid-gray;
        border-radius: 0;
        border: 0;
        display: inline-block;
        width: 75%;
        height: 5px;
      }
      #video_progress_slider .ui-widget-header {
        background: $primary-blue;
        border-radius: 0;
      }
      #video_progress_slider .ui-slider-handle {
        border-radius: 20px;
        width: 15px;
        height: 15px;
        background: white;
      }
    }
    .video-wrapper.no-video {
      width: 100%;
      max-width: 100%;
    }
    .video-wrapper img {
      width: $video-width;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    .company-raised {
      width: $raised-panel-width;
      max-width: $raised-panel-width;
      max-height: $raised-panel-height;
    }
    .company-social {
      display: block;
      position: absolute;
      right: 0;
      top: #{$spacing12 + $spacing4}; // 240px by design

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        color: $white;
        padding: 15px 0;
        width: $spacing8;
        height: $spacing2;
        font-size: $base-mobile-font-size; // by design
      }
      a:before {
        font-family: "FontAwesome";
        width: $spacing2;
        color: $white;
        display: inline-block;
        text-align: left;
        margin-left: $spacing1;
      }
      .share-item {
        text-align: left;
        margin: $spacing1 0;
      }
      .facebook-share {
        background-color: $secondary-blue;
        &:hover { background-color: $primary-blue; }
        &:before { content: "\f09a"; }
      }
      .twitter-share {
        background-color: $cerulean-blue;
        &:hover { background-color: $dodger-blue; }
        &:before { content: "\f099"; }
      }
    }
  }
}
