#offering-landing #nav-pitch {
  .section-element img {
    max-width: 100%;
  }
  .pitch-video,
  .pitch-text,
  .pitch-image,
  .pitch-carousel {
    margin: $spacing2 0;
  }
  .pitch-text {
    text-align: left;
  }
  .pitch-video {
  	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	height: 0;
  }
  .pitch-video iframe {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
  .embeddable-object {
    position: relative;
    video, img, .carousel, iframe {
      width: 100%;
    }
    &.expandable {
      cursor: pointer;
      padding: 0;

      &.carousel .expand-link {
        position: relative;
        right: auto;
        bottom: auto;
      }
      .expand-link {
        position: absolute;
        z-index: 1;
        right: $spacing1;
        bottom: $spacing1;
        vertical-align: middle;
        color: white;
        width: $spacing2;
        height: $spacing2;
        line-height: $spacing2;
        text-align: center;
        background: $title-gray;
        cursor: pointer;
        opacity: 0.85;
      }
    }
  }
  .element-body {
    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
  .carousel-inner > .item {
    @include cross-browser(transition, all 0.2s ease-in-out left);

    img {
      margin: auto;
    }
  }

  @include media(">=tablet") {
    .pitch-video,
    .pitch-text,
    .pitch-image,
    .pitch-carousel {
      margin: $spacing3 0;
    }
  }

  @include media(">=desktop") {
    .pitch-text {
      padding: 0 $spacing6;
    }
  }
}

.offerings-vanity_show {
  .modal-close-icon {
    background: image-url("close-icon-dark.png") no-repeat center;
    position: fixed;
    top: $spacing2;
    right: $spacing2;
    z-index: 999;
    width: $spacing2;
    height: $spacing2;
    opacity: 0.66;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
  .modal-container {
    .expandable {
      cursor: auto;
      margin: 0;
    }
    .carousel ol.carousel-indicators {
      position: fixed;
      left: $spacing2;
      bottom: $spacing2;
    }
    .carousel-control--container {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      $icon-height: $spacing3;
      $icon-position: $spacing2;

      .carousel-control {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
        height: auto;
        opacity: 1;
      }
      .carousel-control .fa {
        position: fixed;
        bottom: $icon-position;
        height: $icon-height;
        width: $icon-height;
        line-height: $icon-height;
        opacity: 0.85;

        &:hover {
          opacity: 1;
        }
      }
      .carousel-control.left .fa {
        right: $icon-height + $icon-position + 3;
      }
      .carousel-control.right .fa {
        right: $icon-position;
      }
    }
  }
}
