#offering-landing #nav-questions {
  .question {
    @extend .h3;
    text-align: center;
    padding: $spacing2 0 $spacing1;
    color: $title-gray;

    &:first-child { padding-top: 0; }
  }
  .answer {
    @extend .p;
    text-align: center;
    padding: $spacing1 0 $spacing2;
    border-bottom: 1px solid $gray-lighter;
  }


  @include media(">=tablet") {
    .question, .answer {
      width: 100%;
      text-align: left;
    }
    .question {
      padding: $spacing4 0 $spacing1;
    }
    .answer {
      padding: $spacing1 0 $spacing4;
    }
  }
}
