#offering-landing .pitch-container .pitch-nav {
  background-color: white;
  position: relative;

  $nav-width: 920px; // Same as $video-width

  .left-arrow, .right-arrow {
    position: absolute;
    padding: $spacing1;
    background-color: $white;
    z-index: 1;
  }
  .left-arrow {
    display: none;

    &:before {
      font-family: "FontAwesome";
      content: "\f053";
    }
  }
  .right-arrow {
    right: 0;

    &:before {
      font-family: "FontAwesome";
      content: "\f054";
    }
  }
  ul {
    margin: 0;
    white-space: nowrap;
    overflow: scroll;
    position: relative;
    box-shadow: inset 0 -1px 0px 0 $white-lilac;
  }
  ul li.company-icon {
    display: none;
  }
  ul li:not(.right):not(.company-icon) {
    display: inline-block;
    padding: $spacing1;
    cursor: pointer;

    a {
      @extend .p;
      color: $mid-gray;
    }
    &.active, &:hover {
      box-shadow: inset 0px -2px 0px 0px $primary-blue;
    }
    &.active a,
    &:hover a {
      text-decoration: none;
      color: $primary-blue;
    }
  }
  ul li.right {
    display: none;
  }
  ul li .comments-count {
     @include highlight-label;
     margin-left: $spacing1;
  }

  @include media(">=tablet") {
    .left-arrow, .right-arrow {
      display: none;
    }
    ul {
      text-align: center;
      margin: 0;
      padding: 0;
    }
    ul li.company-icon {
      padding: 0;
      margin: 0 $spacing1;
      display: inline-block;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  @include media(">=desktop") {
    width: 100%;
    margin: 0 auto;

    ul {
      display: flex;
      max-width: $nav-width;
      justify-content: center;
      margin: 0 auto;
      padding: 0 $spacing2;
      overflow: hidden;

      animation: unpining 0.8s;
      @keyframes unpining {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
    ul li.company-icon {
      margin: $spacing1;
    }
    ul li:not(.right):not(.company-icon) {
      padding: 0 $spacing2;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
    }
    &.pinned {
      position: fixed;
      z-index: 2;
      top: 0;
    }
    &.pinned .container {
      animation: fadein 1s;
      @keyframes fadein {
        from { opacity: 0; }
        to { opacity: 1; }
      }
    }
    &.pinned ul {
      box-shadow: 0 0 10px 0 $tundora-gray;
      max-width: 100%;
      justify-content: center;

      animation: movein 0.5s;
      @keyframes movein {
        from { top: -2em; }
        to { top: 0em; }
      }
    }
    &.pinned ul li.right {
      padding: 0 $spacing2;
      margin: auto 0 auto $spacing3;
      display: inline-block;

      // main style is in ./_shared.scss
      .offering-follower { margin-right: $spacing1; }
    }
  }
}
