#offering-landing #nav-team {
  .team-member {
    text-align: center;

    &:after {
      content: "";
      clear: left;
      display: block;
    }
    .member-photo {
      width: 50%;
      overflow: hidden;
      border-radius: 50%;
      max-height: 100%;
      padding-bottom: 50%;
      height: 0;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }
    .member-social-links {
      text-align: center;
      margin: $spacing1 0;

      .social-icons a {
        padding: $spacing1;
        color: white;
        background-position: center;
      }
      .social-icons a.website {
        background: image-url('icn_website.png') no-repeat center;
        &:before { content: image-url('icn_link_onhover.png'); } // preload to prevent blinking image hovering
        &:hover {
           background: image-url('icn_link_onhover.png') no-repeat center;
           background-size: $spacing1;
         }
      }
      .social-icons a.twitter {
        background-position-y: 10px;
      }
    }
    .member-name {
      @extend .h3;
      color: $title-gray;
    }
    .member-title {
      @extend .p;
    }
    .full-bio {
      display: none;
    }
    .bio-container {
      margin-top: $spacing1;

      a.expand-collapse {
        margin-top: $spacing2;
        display: block;
      }
      p:not(:last-of-type) {
        margin: 0 0 $spacing1 0;
      }
    }
  }

  @include media(">=tablet") {
    .member-info-container > div {
      text-align: left;
    }
    .team-member .member-photo {
      width: 152px;
      padding-bottom: 152px;
      display: inline-block;
      vertical-align: top;
      float: left;
    }
    .team-member .member-info-container {
      padding-left: $spacing3;
      margin-left: 152px;

      .member-social-links {
        float: right;
        margin: -$spacing4 0 0 0;
      }
      .bio-container {
        margin-top: $spacing2;
        display: none;

        &.full-bio { display: block; }
        &.full-bio .expand-collapse { display: none; }
      }
    }
  }

}
