//= require ckeditor/init
//= require ckeditor/plugins/divarea
//= require_tree ./plugins/sourcedialog
//= require_tree ./plugins/link

CKEDITOR.config.customConfig = '<%= javascript_path 'ckeditor/my_config.js' %>';
CKEDITOR.config.stylesSet = 'default:<%= javascript_path 'ckeditor/my_styles.js' %>';
CKEDITOR.config.contentsCss = '<%= stylesheet_path 'vendor/ckeditor/my_contents.scss' %>';
