@media only screen and (min-width: 300px) {
  .radio {
    display: block;
    margin-bottom: 15px;
    height: 1.5em;

    label {
      position: relative;
      color: $mid-gray;

      input.custom-radio {
        opacity: 0;
        width: 30px;
        position: absolute;
      }

      input + span {
        padding-left: 30px;
        position: absolute;
        content: "";

        &::before {
          content: "";
          width: 21px;
          height: 21px;
          border-radius: 15px;
          background-color: $white;
          border: 1px solid $light-gray;
          display: inline-block;
          position: absolute;
          left: -25px;

        }
      }

      input:checked + span {
        &::after {
          opacity: 1;
          content: "";
          border: 1px solid $primary-blue;
          width: 13px;
          height: 13px;
          position: absolute;
          border-radius: 14px;
          background: $primary-blue;
          margin-top: 4px;
          left: -21px;
        }
      }
    }
  }
}

@include media(">=tablet") {
  .radio {
    width: 33%;
    margin: 0;
    float: left;
    label {
      text-align: center;
    }
  }
}
