- content_for(:main_container_class) do
  full-width gray

.main-container
  .row-fluid.no-margin
    .span6.offset3.panel.signup-panel
      .panel-icon.icon-large.icon-large-clipboard
      %h5.title= t('recoverable.resend_unlock.title')
      = simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, id: 'user-signin-form', class: 'standard-form--container account-form--container'}) do |f|
        %fieldset
          .row-fluid
            .span12= f.input :email, label: t('sign_in.form_section.email.label'), as: :email, input_html: {tabindex: 1}
          .button-row.top-margin
            = f.button :submit, value: t('recoverable.resend_unlock.title'), class: 'btn btn-primary btn-block'
          .span12.centered.push-up-smallest
            = render "devise/shared/links"
