%div{ style: 'min-height: 1200px, height: 1200px'}

= javascript_include_tag 'application'

= render partial: 'shared/tracking/analytics'

= Gon::Base.render_data

:javascript

  switch (gon.event) {
    case 'cancel':
      FF.AnalyticsTracker.signLater(#{@offering.id});
      break;
    case 'signing_complete':
      FF.AnalyticsTracker.signSubmit(#{@offering.id});
      break;
  }

  window.top.location.assign('#{URI.parse(@redirect_to_url).path}');
