= content_for(:page_title, 'Started Investment')

= content_for :step_description do
  .investment-offering.centered
    .span8
      %h1= t('investment_documents.title')
      %small= t('investment_documents.prompt', target: '_blank')

#offering-invest-investment-documents.workspace-header-divider
  #errors
= form_tag accept_offering_invest_investment_documents_path(@offering), id: "investment-documents-form" do
  .invest-panel.investment-documents#amount
    %fieldset
      %legend= t('investment_documents.sections.amount.title')
      - if @offering.reg_c_enabled?
        = link_to t('investment_documents.edit_button'), edit_offering_investment_flow_path(@offering), class: "edit-btn pull-right"
      - else
        = link_to t('investment_documents.edit_button'), edit_offering_investment_path(@offering), class: "edit-btn pull-right"
      %hr
      %p.subsection-title= t('investment_documents.sections.amount.company_title').upcase
      .pitch
        = image_tag @offering_presenter.photo_swatch.url
        .offering-name= @offering_presenter.company_name
        .offering-pitch= @offering_presenter.tagline_browse
      %h6.investment_details_title= t('investment_documents.sections.amount.investment_details_title').upcase
      .row-fluid.investment-details
        -if @offering_presenter.convertible?
          .span6.detail-box
            .title= t('investment_documents.sections.amount.title')
            .number= @investment_presenter.formatted_amount
          .span6.detail-box
            .title= with_popover(t('investment_documents.sections.amount.ownership_title'), t("investment_documents.sections.amount.ownership_popover.convertible.content#{@investment.is_spv? ? '_spv' : ''}"), t('investment_documents.sections.amount.ownership_popover.convertible.title'))
            .number= @investment_presenter.formatted_percent_ownership

        - else
          - if @investment.is_spv?
            .span6.detail-box
              .title= t('investment_documents.sections.amount.title')
              .number= @investment_presenter.formatted_amount
            .span6.detail-box
              .title= with_popover(t('investment_documents.sections.amount.ownership_title'),  t('investment_documents.sections.amount.ownership_popover.stock.content_spv'), t('investment_documents.sections.amount.ownership_popover.stock.title'))
              .number= @investment_presenter.formatted_percent_ownership
          - else
            .span4.detail-box
              .title= t('investment_documents.sections.amount.title')
              .number= @investment_presenter.formatted_amount
            .span4.detail-box
              - unit = @investment.offering.reg_c_enabled? && !@offering_presenter.revenue_note? ? 'Share' : 'Unit'
              .title= unit.pluralize
              - units_blurb = "#{@investment_presenter.shares_owned} #{unit.pluralize}"
              .number{title: units_blurb }= units_blurb
              - share_price = "#{number_to_currency(@offering_presenter.share_price)}/#{unit}"
              .small-number{title: share_price}= share_price
            - unless @offering_presenter.revenue_note?
              .span4.detail-box
                .title= with_popover(t('investment_documents.sections.amount.ownership_title'), t('investment_documents.sections.amount.ownership_popover.stock.content'), t('investment_documents.sections.amount.ownership_popover.stock.title'))
                .number= @investment_presenter.formatted_percent_ownership


  .invest-panel.investment-documents#profile
    %fieldset
      %legend PROFILE
      = link_to "Edit", new_offering_invest_investment_profile_path(@offering), class: "edit-btn pull-right"
      %hr
      .row-fluid
        - prefix = @investment.investor_entity.is_a?(InvestorEntity::Individual) ? "" : "signatory_"
        - if !prefix.blank?
          .span4
            %p.profile-title= "#{@investment.investor_entity.class.to_s.demodulize.titleize} Name"
            %span= investor_entity_name_and_address(@investment.investor_entity).html_safe
          .span4
            %p.profile-title= t('investment_documents.sections.profile.tax_id_title')
            %span= @investment.investor_entity.tax_id_number
          .span4
            %p.profile-title= t('investment_documents.sections.profile.formation_date_title')
            %span= @investment.investor_entity.formation_date
            %p.profile-title= t('investment_documents.sections.profile.formation_state_title')
            %span= investor_entity_formation_state_and_country(@investment.investor_entity).html_safe
        .span4
          %p.profile-title= t("investment_documents.sections.profile.#{prefix}name_title")
          %span= signatory_name_and_address(@investment.investor_entity.personal_federal_identification_information).html_safe
        .span4
          %p.profile-title= t("investment_documents.sections.profile.#{prefix}birth_date_title")
          %span= @investment.investor_entity.personal_federal_identification_information.date_of_birth
        .span4
          %p.profile-title= t("investment_documents.sections.profile.#{prefix}ssn_title")
          %span= @investment.investor_entity.personal_federal_identification_information.ssn_last_four

  - unless @investment.is_reg_c?
    .invest-panel.investment-documents#verify{class: @investment_presenter.accreditor_data[:state]}
      %fieldset
        %legend= t('investment_documents.sections.verify.title')
        #verification-status= t("investment_documents.sections.verify.verification_#{@investment_presenter.accreditor_data[:state]}_status") if @investment_presenter.accreditor_data[:state].present?
        = link_to t("investment_documents.sections.verify.edit_#{@investment_presenter.accreditor_data[:state]}button"), edit_offering_invest_accreditation_new_path(@offering), class: "edit-btn" if @investment_presenter.can_edit_verification?
        %hr
        .row-fluid
          - if @investment_presenter.accreditor_data[:type] == :third_party
            .span6
              %p.profile-title= t('investment_documents.sections.verify.verification_method')
              %span= @investment_presenter.accreditor_data[:role]
            .span6
              %p.profile-title= t('investment_documents.sections.verify.verifier_email')
              %span= @investment_presenter.accreditor_data[:email]
          - else
            .span6
              %p.profile-title= t('investment_documents.sections.verify.verification_method')
              %span= @investment_presenter.accreditor_data[:method] == 'International' ? 'Self Certified - Regulation S' : @investment_presenter.accreditor_data[:method]
            - unless @investment_presenter.accreditor_data[:method] == 'Offline Entity' || @investment_presenter.accreditor_data[:method] == "International"
              .span6
                %p.profile-title= t('investment_documents.sections.verify.verifier_docs_title')
                %ul.uploaded-documents
                  - @investment_presenter.accreditor_data[:docs].each do |doc|
                    %li= link_to doc[:name], doc[:url]

  .invest-panel.investment-documents#preview
    %fieldset
      %legend= t('investment_documents.sections.preview_docs.title')
      %hr
      %ul.deal-documents
        - @documents.each do |document|
          %li.document-link
            %a{class: document_class_for(document), href: document.document_new.url, target: "_blank"}= document.name


  .invest-panel.investment-documents.autoscroll-anchor#review
    .row-fluid
      .span1
        %input#reviewed-information-checkbox{name: 'reviewed_information', type: 'checkbox', class: 'checkbox', tabindex: 1}
      .span11
        %label{for: 'reviewed-information-checkbox'}= t('investment_documents.sections.review.label')
        .error.hidden{"data-error-for" => "#reviewed-information-checkbox"}
          = t('investment_documents.sections.review.error_message')

    #sign-documents-modal.modal.fade{role: 'dialog', tabindex:'-1', 'aria-hidden' => 'true'}
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            %a.pull-right{href:'#', data: {dismiss: 'modal'}}
              %i.fa.fa-times
            %h4.modal-title= t('investment_documents.sign.title')
          .modal-body

  #form-buttons
    .row-fluid
      .span6
        = link_to t('investment_documents.buttons.finish_later'), dashboard_investments_path, class: "btn btn-block base-btn btlarge", tabindex: 3
      .span6
        = button_tag(t('investment_documents.buttons.commit'), id: 'sign-documents-submit-button', class: "btn btn-primary btn-block btlarge", tabindex: 3, data: { disable_with: t('investment_documents.buttons.commit') })
        #spinner.centered.btn-block.btlarge.la-ball-clip-rotate.la-sm.hidden
          .btn-spinner
