#email-capture-banner {
  background: linear-gradient(to top, $dodger-blue 20%, $cerulean-blue);
  padding: 10px;

  .row-fluid, .span11, .span8, .span4, input { margin: 0; }
  .span11 { margin-right: -20px; }
  .span4 { margin-bottom: 5px; }
  input {
    display: inline-block;
    width: initial;
  }
  .prompt {
    font-size: $small-font-size;
    color: $white;
    line-height: 20px;
    margin-right: 20px;
    margin-bottom: 12px;
  }
  //.subscription-success .prompt { margin-left: 0; }
  .fa-times-circle {
    font-size: 20px;
    float: right;
    color: $white;
    cursor: pointer;
  }
  #subscription_email, .subscription-confirm {
     padding: 2px;
     border: 0;
     font-size: $small-font-size;
   }
  #subscription_email {
    padding-left: 15px;

    @include custom-placeholder { font-size: $small-font-size; }
    @include cross-browser('border-top-left-radius', 3px);
    @include cross-browser('border-bottom-left-radius', 3px);
  }
  .subscription-confirm {
    color: $white;
    background-color: $primary-blue;
    margin-left: -4px;
    min-width: 95px;

    &:hover { background-color: $secondary-blue; }
    @include custom-placeholder { font-size: $small-font-size; }
    @include cross-browser('border-top-right-radius', 3px);
    @include cross-browser('border-bottom-right-radius', 3px);
  }

  @include media(">=tablet") {
    .span11 {
      width: 97%;
      margin-left: -20px;
    }
    .span4 {
      margin: 0;
      min-width: 270px;
    }
    .prompt {
      float: right;
      line-height: 25px;
      margin-bottom: 0;
      margin: 0 15px 0;

      &.errors { float: none; }
    }
    #subscription_email, .subscription-confirm {
      float: left;
    }
    .fa-times-circle {
      font-size: 24px;
    }
  }

  @include media(">=desktop") {
    .span11 { width: 96%; }
    .span8 { margin-left: -10%; }
    .prompt {
      margin-left: 0;
      margin-right: 20px;
      float: none;

      &.errors { float: right; }
    }

    #subscription_email { width: 180px; }
    .subscription-confirm { width: 80px; }
  }
}
.home-show #email-capture-banner {
  background: $mid-gray;
}
