.footer-container {
  position: relative;
  width: 100%;
  max-width: $container-large-desktop;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;

  @include media('>=desktop') {
    width: 85%;
  }
}

footer {
  padding: 0 0 45px 0; //TODO: change to number to $spacingX
  border: 1px solid $gray-lighter;
  @include cross-browser(box-shadow, 0 0 10px 0 $tundora-gray);
  @include retina_background_image(lines-shapes, png, 100%, auto, no-repeat bottom, $white);
  background-position-y: 460px;

  .footer-nav {
    .footer-menu, .footer-img, .social-icons {
      width: 100%;
      text-align: center;
    }
    .footer-menu {
      padding: 60px 0 50px;
      display: inline-block;
      color: $mid-gray;
      border-bottom: 1px solid $light-gray;
      a {
        font-size: $small-font-size;
        line-height: $small-font-size;
        font-weight: $normal-font-weight;
      }
      > a:nth-child(even) {
        margin: 0 18px 15px 18px;
        display: inline-block;

        @include media('>=tablet') {
          margin: 0 48px 20px 48px;
        }
      }
      a:hover {
        color: $primary-blue;
      }
    }
    img {
      width: 180px;
    }
    .social-icons {
      display: inline-block;
      margin-right: 0px;
      a {
        font-size: 0px;
        line-height: 30px;
      }
      a:nth-child(odd) {
        margin: 0 30px;
      }
    }
    .footer-img {
      display: inline-block;
    }
  }

  a {
    color: $mid-gray;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  .social-icons, .contacts {
    display: inline-block;
    padding: 0 55px;
    margin: 65px 0 0;
    text-align: center;

    h6 { margin-bottom: 25px; }
  }
  .contacts {
    .address, .phone { margin-bottom: 25px; }
  }
  .contacts p {
    display: flex;
    justify-content: center;
  }
  .social-icons {
    margin-bottom: 70px;
  }
  .disclosure {
    padding-top: 45px; // TODO: change the number to $spacingX
    border-top: 1px solid $light-gray;
    p, a {
      font-size: 11px;
      line-height: 1.7;
      color: $mid-gray;
    }
    a {
      text-decoration: underline;
      color: $primary-blue;
    }
  }
}

.footer-logo {
  max-width: 209px;
  margin: 0 auto 40px;
  a, img {
    width: 100%;
    display: block;
  }
}

.contacts ul li p,
.contacts h6, .social-icons h6 {
  font-size: $small-font-size;
  line-height: $small-font-size;
  font-weight: $medium-font-weight;
  color: $title-gray;
}
.contacts ul li p {
  font-weight: $normal-font-weight;
  color: $mid-gray;
}
.contacts ul {
  padding-left: 0;
  margin: 0;
}
.contacts ul li { list-style-position: inside; }
.contacts ul li.address {
  list-style-image: image-url('logos/ic-direction.svg');
}
.contacts ul li.phone {
  list-style-image: image-url('logos/ic-phone.svg');
}
.contacts ul li.email {
  list-style-image: image-url('logos/ic-mail.svg');
}

.social-icons a {
  width: 21px;
  height: 21px;
  display: inline-block;
  text-indent: -9999px;

  &:before { display: none; }
}
.social-icons a:first-child {
  margin-left: 0;
}
.social-icons a.facebook {
  background: image-url('logos/facebook.svg') no-repeat left;
  &:before { content: image-url('logos/facebook-blue.svg'); } // preload to prevent blinking image hovering
  &:hover { background: image-url('logos/facebook-blue.svg') no-repeat left; }
}
.social-icons a.twitter {
  background: image-url('logos/twitter.svg') no-repeat left;
  &:before { content: image-url('logos/twitter-blue.svg'); }
  &:hover { background: image-url('logos/twitter-blue.svg') no-repeat left; }
}
.social-icons a.linkedin {
  background: image-url('logos/linked-in.svg') no-repeat left;
  &:before { content: image-url('logos/linked-in-blue.svg'); }
  &:hover { background: image-url('logos/linked-in-blue.svg') no-repeat left; }
}

.investment-flow {
  footer {
    background: $white;
    margin-top: 90px;
    padding: 0;

    .footer-nav {
      display: none;
    }
    .disclosure {
      font-family: $base-font-family;
      color: $white;
      padding: 45px 0;
      border: none;

      p {
        margin: 0;
        line-height: 15px;
        text-align: justify;
        color: $mid-gray;
        font-size: 10px;
      }
      p:not(.active) { display: none; }
    }
  }
}

.site-footer {
  footer .new-container {
    width: 85%;
    margin: 0 auto;
  }
  footer {
    a:hover {
      color: $primary-blue;
    }
  }
  footer a {
    font-family: $base-font-family;
    font-weight: $normal-font-weight;
  }
}

.footer-nav .span12 {
  margin-right: 0;
}


@include media('>=tablet') {
  footer .row-fluid.no-margin .contacts {
    width: 100%;
    margin: 60px 0 55px; // TODO: change numbers to $spacingX
    text-align: center;

    ul {
      text-align: left;
      margin: 0 30px;
    }
    ul li {
      list-style-position: outside;
      padding-left: 10px;
      margin-bottom: 0;
    }
    ul li.phone {
      margin-left: -4px;
      padding-left: 14px;
    }
    .address, .phone, .email {
      p {
        display: inline;
        vertical-align: text-top;
      }
      &:before {
        margin: 0 20px 0 0;
        display: inline-block;
      }
    }
  }

  footer .row-fluid.no-margin .social-icons {
    width: 100%;
    margin-top: 0;
  }
}

@include media('>=desktop') {
  footer .footer-nav .footer-menu {
    padding: 60px 0 40px; // TODO: change numbers to $spacingX
  }
  footer .row-fluid.no-margin .contacts {
    width: initial;

    .address { width: 90%; }
    h6 {
      text-align: left;
      margin-left: 85px;
    }
  }
  footer .row-fluid.no-margin .social-icons {
    width: initial;
    margin: 60px 0 50px; // TODO: change numbers to $spacingX
    h6 {
      text-align: left;
    }
  }
}
