.main-container {
  &.light-gray {
    background: $white-lilac;
  }
}

.impersonate-banner {
  text-align: center;
  line-height: 40px;
  padding: 20px 40px;
  color: white;
  background-color: $error-red;
}

.flash-notice, .flash-alert, .flash-warning {
  position: absolute;
  text-align: center;
  font-size: $base-font-size;
  line-height: $base-font-size * 2;
  width: 100%;
  margin: 0;
  color: $white;
}

.flash-notice {
  background-color: $light-green;
}

.flash-alert {
  background-color: $error-red;
}

.flash-warning {
  background-color: $light-orange;
}

.investment-flow {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $mid-gray;

  form {
    font-size: 0;
  }
  a {
    font-family: $base-font-family;
    line-height: inherit;
  }
  p {
    margin: 16px auto;
  }
  p, li {
    color: $mid-gray;
    line-height: 32px;
    font-size: 16px;
    font-weight: $normal-font-weight;
  }
  &.container {
    padding-top: 70px;
    width: 85%;
    margin: 0 auto;
  }

  .centered {
    text-align: center;
  }
  /* Grid */
  .container {
    position: relative;
    width: 100%;
    max-width: 1171px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .column,
  .columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
  }

  /* For devices larger than 400px */
  @media (min-width: 400px) {
    .container {
      width: 85%;
    }
  }

  /* For devices larger than 550px */
  @media (min-width: 550px) {
    .container {
      width: 80%;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $base-font-family;
    color: $title-gray;
    margin: 0;
  }
  h1 {
    font-size: 48px;
    font-weight: 100;
  }
  h2 {
    font-size: 32px;
    font-weight: 300;
  }
  h3 {
    font-size: 26px;
    font-weight: 400;
  }
  h4 {
    font-size: $large-font-size;
    font-weight: 500;
  }
  h5 {
    font-size: $base-font-size;
    font-weight: 700;
  }
  h6 {
    font-size: $small-font-size;
    font-weight: 600;
    padding-top: 30px;
  }
  hr {
    margin: 20px 0px;
    display: block;
  }
  .head-title {
    margin: 20px 0px;
    clear: both;
    padding-top: 60px;
  }
  .logo-section {
    .column {
      h1 {
        float: right;
      }
    }
  }
  .section-title {
    font-family: $base-font-family;
    font-size: 28px;
    font-weight: 100;
    color: $primary-blue;
  }
  small {
    font-size: 15px;
    color: $mid-gray;
  }
  .very-small-text {
    font-size: $very-small-font-size;
    color: $mid-gray;
    display: block;
  }
  .subsection-title {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: 700;
  }
  .btn {
    border-radius: 2px;
    border-style: none;
    text-decoration: none;
    &.btprimary:hover, &.btprimary.bthover {
      background-color: #10618c;
    }
    &.btprimary:active, &.btprimary.btactive {
      background-color: #174663;
      box-shadow: 0px 0 5px 1.5px rgba(8, 128, 191, 0.8);
      border: 1px solid #e3e5e7;
    }
    &.btdanger {
      border: 1px solid #c45f43;
      background-color: $white;
    }
    &.base-btn:hover, &.base-btn.bthover {
      background-color: #999999;
    }
    &.base-btn:active, &.base-btn.btactive {
      background-color: #3b3b3b;
      box-shadow: 0px 0 5px 1.5px rgba(8, 128, 191, 0.8);
    }
    &.base-btn {
      color: $white;
      background-color: $mid-gray;
    }
    &.btlarge {
      line-height: 2.04;
      font-size: $base-font-size;
      font-weight: $bold-font-weight;
    }
    &.btmedium {
      line-height: 1.837;
      font-size: $base-font-size;
      width: 220px;
      height: 50px;
    }
    &.btsmall {
      line-height: 1.24;
      font-size: $small-font-size;
      width: 140px;
      height: 40px;
    }
    &.btn-file {
      color: $white;
      background-color: $mid-gray;

      &:hover {
        background-color: $mid-gray;
      }
    }

  }
  .icons-container {
    i {
      padding: 0px 10px;
      font-size: 22px;
      color: #646464;
      &.fa-exclamation-triangle {
        color: #bc4d30;
      }
      &.fa-info-circle {
        color: #1680bc;
      }
      &.fa-plus-circle, &.fa-check-circle {
        color: #6aca9a;
      }
      &.fa-clock-o {
        color: #f48925;
      }
    }
  }
  .field_with_errors {
    @include custom-placeholder {
      color: $error-red;
    }
  }
  .field_with_success {
    @include custom-placeholder {
      color: #5cb85c;
    }
    input {
      border: 1px solid #4cae4c;
    }
  }
  .input-focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
    outline-offset: -2px;
  }
  .form-elements-container {
    input, .styled-select {
      margin-bottom: 15px;
    }
    .flash-notice, .flash-warning, .flash-alert {
      width: auto;
      position: initial;
      margin-left: 15px;
    }
    textarea {
      width: 94%;
      margin: 0px 15px;
    }
  }

  .flash-notice, .flash-warning, .flash-alert {
    text-align: left;
    padding: 5px 20px;
    font-size: $small-font-size;
    position: initial;
    width: 100%;
  }
  .flash-notice, .flash-warning {
    color: $mid-gray;
  }
  .flash-notice {
    background-color: #d3f0fe;
  }
  .flash-alert {
    color: $white;
  }
  .close {
    float: right;
    font-size: $base-font-size;
    font-weight: 700;
    line-height: 0.8;
    opacity: 0.7;
    border-radius: 50%;
    color: $white;
    padding: 1px 4.5px 2px 4px;
    background-color: transparent;
    border: 2px solid $white;
    margin-top: 7px;
    margin-left: -5px;
  }
  .ui-elements {
    .small-elm-box, .medium-elm-box {
      cursor: pointer;
      &.box-hover, &:hover {
        background-color: $white-lilac;
      }
      &.box-error {
        border-color: $error-red;
      }
    }
    .small-elm-box {
      @include element-box(225px, 60px);
    }
    .medium-elm-box {
      @include element-box(220px, 145px);
      display: inline-block;
      margin-right: 20px;
    }
    .radio-elements, .checkbox-elements {
      position: relative;
      display: inline;
    }
    .radio-elements {
      top: -60px;
    }
    .checkbox-elements {
      left: -60px;
    }
  }
  #progressbar {
    padding: 0;
    counter-reset: step;
    li {
      list-style-type: none;
      width: 16.66%;
      float: left;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      font-family: $base-font-family;
      font-size: $small-font-size;
      color: $light-gray;
      a {
        color: $light-gray;
        font-weight: 600;
      }
      a:hover, a:active, .link-hover, .link-active {
        text-decoration: underline;
      }
      a:active, .link-active {
        color: $primary-blue;
      }
    }
    li:before {
      content: counter(step);
      counter-increment: step;
      width: 20px;
      line-height: 20px;
      display: block;
      font-size: 12px;
      font-weight: 900;
      color: #FFF;
      background: $light-gray;
      border-radius: 10px;
      margin: 0 auto 18px auto;
    }
    li.active {
      color: $mid-gray;
    }
    li.active a, li.done a {
      color: $mid-gray;
      &:active, &.link-active {
        color: $primary-blue;
      }
    }
    li.active:before, li.active:after {
      background: $primary-blue;
    }
    li.done:before, li.done:after {
      background: $light-green;
    }
    li.visited a {
      color: $mid-gray;
      font-weight: $normal-font-weight;
    }
    li.visited:before, li.visited:after {
      background: $mid-gray;
    }
    li:after {
      content: '';
      width: 100%;
      height: 10px;
      background: $light-gray;
      position: absolute;
      left: 0%;
      top: 6px;
      z-index: -1;
    }
  }
  .custom-radio {
    position: relative;
    margin: 0 1rem 0 0;
    cursor: pointer;
    display: inline-block;
    width: initial;
  }
  .custom-radio:checked:before {
    transform: scale(1.4, 1.4);
    content: "";
    position: absolute;
    top: 0;
    left: 0.125rem;
    z-index: 1;
    width: 0.97rem;
    height: 0.9rem;
    background: $primary-blue;
    border-radius: 50%;
  }
  .custom-radio:after {
    content: "";
    position: absolute;
    top: -0.27rem;
    left: -0.15rem;
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    border: 1px solid #d8dcdc;
    border-radius: 50%;
  }
  .checkbox {
    cursor: pointer;
    @include cross-browser(transform, scale(2, 2));
    margin-left: 6px;
    position: relative;
  }
  .checkbox:checked:before {
    @include cross-browser(transform, scale(0.7) rotate(-45deg));
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    z-index: 1;
    width: 16px;
    height: 5px;
    border: 2px solid #16a085;
    border-top-style: none;
    border-right-style: none;
  }
  .checkbox:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 1px solid #f2f2f2;
    cursor: pointer;
  }
  .custom-radio-input {
    height: 60px;
    width: 225px;
    margin-bottom: 25px;
    line-height: 40px;
    .active {
      width: 225px;
    }
    .radio-focus .custom-radio-input.active {
      outline: -webkit-focus-ring-color auto 5px;
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
      outline-width: 5px;
      outline-offset: -2px;
    }
    &.box-error {
      border-color: $error-red;
    }
    &:hover:not(.active) {
      background-color: $hover-gray;
    }
  }
  .miscellaneous-container {
    .columns {
      margin-bottom: 50px;
    }
  }
  .typo-section {
    h1, h2, h3, h4, h5, h6, .sectiotitle, .subsectiotitle, p {
      padding: 10px 0px;
    }
    .body-section {
      ul, ol {
        padding-left: 50px;
      }
      b {
        font-style: italic;
      }
    }
  }
  .large-logo {
    background: rgba(255, 255, 255, 0.5);
  }
  .btstyle-container, .btsize-container {
    .btn {
      margin-bottom: 24px;
    }
  }
  .btsize-container {
    .btlarge, .btmedium, .btsmall {
      line-height: 20px;
      padding-left: 15px;
    }
    .btsmall {
      padding-top: 0px;
    }
  }

  @media only screen and (max-width: 575px) {
    .logo-section {
      .column {
        text-align: center;
        h1 {
          padding-top: 20px;
          float: none;
        }
      }
    }
    .typo-section {
      h1 {
        line-height: 60px;
      }
    }
    .miscellaneous-container {
      #progressbar li a {
        font-size: 10px;
      }
    }
    .ui-elements {
      .radio-elements {
        top: 0;
        display: block;
        margin-bottom: 10px;
      }
      .checkbox-elements {
        left: 2px;
      }
    }
  }

  .investment-container {
    width: 1000px;
    margin: 0 auto;
  }

  .investment-nav {
    display: block;
    margin: 0;
    padding: 20px 50px;
    height: 75px;
    text-align: center;

    .logo {
      //width: 1160px;
      margin: 0 auto;
    }
  }

  .investment-offering, .step-title {
    padding: 0 100px;
    margin-bottom: 38px;

    h1 {
      margin-bottom: 5px;
    }
    small {
      font-size: 17px;
      line-height: 36px;

      span {
        color: $primary-blue;
      }
    }
  }

  .progressbar {
    height: 75px;
  }

  .investment_flow_panel {
    width: 1000px;
    background-color: $white;
    box-shadow: 0px 0px 5px #ccc;

    hr {
      margin: 15px -32px;
      border-color: $white-lilac;
    }

    hr.massive {
      border: 16px solid white;
      margin-bottom: 50px;
    }
  }
  .new-invest-panel {
    @extend .investment_flow_panel;
    padding: 55px 160px;
    margin: 15px auto 20px auto;
  }

  .invest-panel {
    @extend .investment_flow_panel;
    padding: 40px 30px 20px 30px;
    margin: 15px auto 35px auto;
  }

  .title {
    margin-bottom: 2px;
  }

  .summary {

    .title {
      text-transform: uppercase;
      font-family: $base-font-family;
      font-weight: $bold-font-weight;
    }
  }

  .amount-raised {
    font-family: $base-font-family;
    color: $primary-blue;
    font-weight: 100;
    font-size: 70px;
  }

  .primary-value {
    color: $primary-blue;
  }

  dl {
    margin: 0;

    dt {
      margin: 0;
      text-transform: uppercase;
      font-family: $base-font-family;
      font-weight: $light-font-weight;
    }

    dd {
      margin: 0;
      color: $primary-blue;
      font-weight: $light-font-weight;
      font-size: 32px;
    }
  }

  #investment-details {
    margin-top: 35px;
    padding-top: 40px;

    #investment-amount-form {
      height: 180px;

      .span6 {
        height: inherit;

        .span11 {
          .input {

          }
        }
      }
    }

    .span6.separator-left {
      position: relative;
    }
    .arrow-container {
      @include rotated-square(18px);
      position: absolute;
      width: 36px;
      height: 36px;
      top: 60px;
      left: -18px;
      background-color: $white;
    }

    .investment-amount-field {
      margin-top: $spacing1 * 1.5;
    }

    .ownership-percentage-holder, #amount_invested {
      color: $primary-blue;
      font-size: 24px;
      display: block;
    }
  }

  p.notes {
    font-size: 13px;
    color: $light-gray;
    line-height: $small-font-size;
  }

  p.offer-description span {
    font-weight: $bold-font-weight;
  }

  .action-value {
    color: $primary-blue;
  }
}
