- content_for(:main_container_class) do
  full-width body-blue

.row-fluid.no-margin
  .span6.offset3.registration-panel
    .panel
      %h2.title= t('recoverable.reset_password.title')
      = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, id: 'user-signin-form', class: 'standard-form--container signin-form--container' }) do |f|
        %p.centered.error.alert= devise_error_messages!
        = f.hidden_field :reset_password_token
        %fieldset
          .row-fluid
            .span12= f.input :password, placeholder: t('recoverable.reset_password.password'), label: false
          .row-fluid
            .span12= f.input :password_confirmation, placeholder: t('recoverable.reset_password.confirm'), label: false
          .row-fluid.push-up-large.push-down-extra-extra-large
            .button-row
              .span12
                = f.button :submit, value: t('recoverable.reset_password.commit'), class: 'btn-normal btn-full'
