- content_for(:main_container_class) do
  full-width body-blue

.row-fluid.no-margin
  .span6.offset3.registration-panel
    .panel
      %h2.title= t('recoverable.forgot_password.title')
      .row-fluid
        .span12.text.instructions.push-up-small
          = t('recoverable.forgot_password.instructions')
      = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, id: 'user-signin-form', class: 'standard-form--container account-form--container' }) do |f|
        %fieldset
          .row-fluid
            .span12= f.input :email, placeholder: t('sign_in.form_section.email.label'), label: false, as: :email, input_html: {tabindex: 1}
          .row-fluid.push-up-small
            .button-row
              .span12
                = f.button :submit, value: t('recoverable.forgot_password.commit'), class: 'btn-normal btn-full', tabindex: 2
          .row-fluid.push-up-small.push-down-big
            .button-row
              .span12
                = link_to t('recoverable.forgot_password.cancel'), root_path, class: 'btn-cancel btn-full', tabindex: 3
