//************** Colors
// White
$white: #FFF;
$white-glass: rgba(255,255,255,0.15);
// Red
$error-red: #EC7678;
// Blue
$primary-blue: #0AA2F2;
$primary-blue-glass: rgba(10, 159, 240, 0.2);
$secondary-blue: #0880BF;
$cerulean-blue: rgba(18, 161, 237, 0.8);
$dodger-blue: rgba(83, 160, 253, 0.8);
$fb-color: #3b5998;
// Green
$light-green: #12CEAA;
$mid-green: #11B999;
// Orange
$light-orange: #F9A56E;
// Gray
$white-lilac: #F6F6FB;
$hover-gray: #FBFBFD;
$gray-lighter: #EEEEF5;
$light-gray: #DDE0E7;
$flow-lighter-gray: #DCF8F2;
$lighter-gray: #C1C2CE;
$medium-gray: #999999;
$mid-gray: #77798C;
$title-gray: #34405D;
$helper-blue: #DAF1FD;
$tundora-gray: rgba(52, 64, 93, 0.15); // $title-gray @ 0.15 alpha

// Gradients
$dark-blue-gradient-start: #2C304E;
$dark-blue-gradient-end: #34405D;
$primary-blue-gradient-start: #0880BF;
$primary-blue-gradient-end: #0AA2F2;

$dark-blue-gradient: linear-gradient(to top, $dark-blue-gradient-start 20%, $dark-blue-gradient-end);
$primary-blue-gradient: linear-gradient(to top, $primary-blue-gradient-start 20%, $primary-blue-gradient-end);

//************** Fonts
$base-font-family: 'Roboto';

$thin-font-weight: 100;
$light-font-weight: 300;
$normal-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;

$base-mobile-font-size: 14px;
$base-font-size: 16px;
$large-font-size: $base-font-size + 2;
$small-font-size: $base-font-size - 2;
$smaller-font-size: $base-font-size - 4;
$very-small-font-size: $base-font-size - 5;
$base-line-height: $base-font-size + 3;
$medium-line-height: $base-line-height + 5;

//************** Spacing
$header-height: 69px;

$spacing1: 15px;
$spacing2: 30px;
$spacing3: 45px;
$spacing4: 60px;
$spacing5: 75px;
$spacing6: 90px;
$spacing8: 120px;
$spacing12: 180px;

$grid-count: 12;
$gutter-width: 4%;

$container-large-desktop: 1170px;
