@import 'include-media';
@import "include-media-export";

//FONT
@mixin base-font {
  font-family: $base-font-family;
  font-weight: $normal-font-weight;
  color: $mid-gray;
  @include cross-browser(font-smoothing, antialiased);
  line-height: 1.5;
  font-size: $base-mobile-font-size;
  @include media('>=tablet') {
    font-size: $base-font-size;
  }
}


//BUTTONS
@mixin button-disabled($background, $border-color: $background) {
  &.disabled, &.disabled:hover, &.disabled:active,
  &[disabled], &[disabled]:hover, &[disabled]:active {
    background-color: transparentize($background, 0.5);
    border-color: transparentize($border-color, 0.5);
    cursor: not-allowed;
    @include cross-browser(box-shadow, none);
    outline: none;
  }
}

@mixin button-outline($color, $background, $border-style, $border-color) {
  @include cross-browser(box-sizing, border-box);
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: 3px $border-style $border-color;
  background-color: $background;
  color: $color;
  @include cross-browser(border-radius, 3px);
  &:active {
    @include cross-browser(box-shadow, inset 0 1px 3px darken($background, 30%));
    outline: none;
  }
  @include button-disabled($background, $border-color);
}

@mixin button-solid($color, $background) {
  @include button-outline($color, $background, solid, $background)
}

@mixin btn-style($background, $border-style: solid, $border-color: $background){
  @include base-font;
  @include button-disabled($background, $border-color);
  @include cross-browser(transition, all 0.15s);
  @include cross-browser(user-select, none);
  @include cross-browser(box-sizing, border-box);
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-size: $base-font-size;
  line-height: 19px;
  width: auto;
  height: auto;
  border: 1px $border-style $border-color;
  padding: ($spacing1/1.5) $spacing2;
  background-color: $background;
  text-decoration: none;
  text-indent: 0;
  &:hover {
    background-color: darken($background, 3%);
  }
  &:active {
    @include cross-browser(box-shadow, inset 0 1px 3px darken($background, 30%));
    outline: none;
  }
}

@mixin icon-left-gutter($left-icon-width, $left-icon-height: $left-icon-width) {
  $offset: $left-icon-width + $spacing1;
  height: $left-icon-height;
  position: relative;
  margin-left: $offset;
  list-style-type: none;
  &:before {
    content: '';
    position: absolute;
    left: -$offset;
    width: $left-icon-width;
    height: $left-icon-height;
  }
}

//CROSS BROWSER SYNTAX
@mixin cross-browser($property, $value){
  #{$property}: $value;
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
}

@mixin background-gradient($direction, $start, $end){
  background: linear-gradient($direction, $start, $end); /* W3C */
  background: -webkit-gradient(linear, $direction, $start, $end); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient($direction, $start, $end); /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient($direction, $start, $end); /*FF3.6+ */
  background: -ms-linear-gradient($direction, $start, $end); /* IE10+ */
  background: -o-linear-gradient($direction, $start, $end); /* Opera 11.10+ */
}

@mixin rotated-square($width-of-square) {
  $white-border: 3px;
  $width-of-border-square: $width-of-square + ($white-border * 2);
  position: relative;
  text-align: center;
  .rotated-square {
    position: relative;
    z-index: 15;
    top: 0;
    display: inline-block;
    background-color: $light-gray;
    font-size: $width-of-square / 2;
    width: $width-of-border-square;
    height: $width-of-border-square;
    line-height: $width-of-border-square;
    @include cross-browser(transform, rotate(45deg));
    &:after {
      position: absolute;
      content: ' ';
      background-color: $light-gray;
      width: $width-of-square;
      height: $width-of-square;
      top: $white-border;
      left: $white-border;
    }
    i, .icon-large-rotated-square {
      color: $light-gray;
      position: relative;
      z-index: 16;
      @include cross-browser(transform, rotate(-45deg));
    }
    .icon-text {
      color: $mid-gray;
      position: relative;
      z-index: 16;
      @include cross-browser(transform, rotate(-45deg));
    }
  }
}

@mixin icon-position-for-column-row-size ($column, $row, $size) {
  $icon-column-distance: 50px;
  $x: ($column * $icon-column-distance) + $size;
  $y: ($row * $icon-column-distance) + $size;
  background-position: $x $y;
}

@mixin icon-small-background-position($column, $row) {
  @include icon-position-for-column-row-size($column, $row, -20);
}

@mixin icon-background-position($column, $row) {
  @include icon-position-for-column-row-size($column, $row, -10);
}

@mixin icon-large-background-position($column, $row) {
  @include icon-position-for-column-row-size($column, $row, 0);
}
@mixin icon-custom-background-size($column, $row, $x, $y, $size) {
  $icon-column-distance: 50px;
  $x: ($column * $icon-column-distance) + $x;
  $y: ($row * $icon-column-distance) + $y;
  background-position: $x $y;
  width: $size;
  height: $size;
}

@mixin icon-large-rotated-background-position($column, $row) {
  @include icon-position-for-column-row-size($column, $row, -4);
}

@mixin horizontal-menu-separated-by-pipes {
  .nav-items--container {
    font-size: 0;
    .nav-items--list {
      height: $header-height;
      font-size: 0;
      line-height: inherit;
      list-style-type: none;
      display: inline-block;
      margin: 0;
    }
    .nav-items--item {
      height: $header-height;
      line-height: $base-font-size;
      text-align: center;
      display: inline-block;
      @include cross-browser(box-sizing, border-box);
      margin: 0;
      padding: 30px 0;
      .nav-items--link {
        font-size: $small-font-size;
        line-height: $small-font-size - 3;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 $spacing1;
        display: inline-block;
        border-right: 1px solid $primary-blue;
      }
      &:last-child .nav-items--link {
        border-right: none;
      }
    }
  }
}

@mixin ellipsis-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin retina_background_image($file, $type, $width, $height, $options, $linear-gradient:null) {
  background: image-url($file + '.' + $type) $options, $linear-gradient;
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx){
    & {
      background: image-url($file + '@2x.' + $type) $options, $linear-gradient;
      @include cross-browser(background-size, $width $height);
    }
  }
}

@mixin primary-button($width, $height) {
  @include cross-browser(border-radius, 3px);
  background-color: $primary-blue;
  border-color: $primary-blue;
  font-weight: $medium-font-weight;
  height: $height;
  width: $width;
}

@for $n from 1 through $grid-count {
  .span#{$n} {
    $single-column-width: (($n / $grid-count) * 100);
    $width: $single-column-width - $gutter-width;
    $gutter-padding: ($gutter-width * 2);
    width: $width;
    margin-right: $gutter-width;
    display: inline-block;
    vertical-align: top;
    @include cross-browser(box-sizing, border-box);
    &.gutter-left,
    &.gutter-right {
      width: ($single-column-width - $gutter-padding);
    }
    &.gutter-both {
      width: ($single-column-width - ($gutter-padding * 2));
      padding-left: $gutter-padding;
      padding-right: $gutter-padding;
    }
    &.gutter-right { padding-right: $gutter-padding; }
    &.gutter-left  { padding-left: $gutter-padding; }
    &.large-gutter-left {padding-left: $gutter-padding * 2;}
  }
  .offset#{$n} {
    margin-left: (($n / $grid-count) * 100%);
  }
}

.row-fluid {
  display: block;
  margin: 0 (-$gutter-width) $spacing1 0;
  font-size: 0;
  & [class^="span"] {
    font-size: $base-font-size;
  }
  &.no-margin {
    margin: 0;
    @for $n from 1 through $grid-count {
      $single-column-width: (($n / $grid-count) * 100);
      $gutter-padding: ($gutter-width * 2);
      & > .span#{$n} {
        $width: ($single-column-width - 0%);
        width: $width;
        margin-right: 0;
        margin-left: 0;
      }
    }
    @for $n from 1 through $grid-count {
      .offset#{$n} {
        margin-left: (($n / $grid-count) * 100%);
      }
    }
  }
}

.row-fluid.responsive {
  @include media("<tablet") {
    @for $n from 1 through $grid-count {
      .span#{$n} {
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}

@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -khtml-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

@mixin transform($params) {
  @include css3-prefix('transform', $params);
}

@mixin custom-placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin placeholder {
  ::-webkit-input-placeholder::first-letter {@content}
  :-moz-placeholder::first-letter           {@content}
  ::-moz-placeholder::first-letter          {@content}
  :-ms-input-placeholder::first-letter      {@content}
}

@mixin element-box($width, $height) {
  width: $width;
  height: $height;
  line-height: $height;
  font-size: $small-font-size;
  color: $mid-gray;
  text-align: center;
  border: 1px solid #d8dcdc;
  background-color: $white;
  margin-bottom: 25px;
}

@mixin pill-style($font-color, $background-color, $border-color, $border-radius: "30px", $padding: "0px") {
  @include cross-browser(box-sizing, border-box);
  @include cross-browser(border-radius, unquote($border-radius));
  background-color: $background-color;
  border: 1px solid $border-color;
  color: $font-color;
  display: inline-block;
  padding: unquote($padding);
  text-align: center;
}

@mixin line-clamp($line-height, $lines-to-show) {
  max-height: calc(#{$line-height} * #{$lines-to-show});
}
