.push-down-smallest {
  margin-bottom: $spacing1;
}
.push-down-small {
  margin-bottom: $spacing2;
}
.push-down-normal {
  margin-bottom: $spacing3;
}
.push-down-medium {
  margin-bottom: $spacing4;
}
.push-down-big {
  margin-bottom: $spacing5;
}
.push-down-bigger {
  margin-bottom: $spacing6;
}
.push-down-biggest {
  margin-bottom: $spacing8;
}
.push-down-huge {
  margin-bottom: $spacing12;
}
.push-up-smallest {
  margin-top: $spacing1;
}
.push-up-small {
  margin-top: $spacing2;
}
.push-up-normal {
  margin-top: $spacing3;
}
.push-up-medium {
  margin-top: $spacing4;
}
.push-up-big {
  margin-top: $spacing5;
}
.push-up-bigger {
  margin-top: $spacing6;
}
.push-up-biggest {
  margin-top: $spacing8;
}
.push-up-huge {
  margin-top: $spacing12;
}
.push-left-smallest {
  margin-left: $spacing1;
}
.push-left-small {
  margin-left: $spacing2;
}
.push-left-normal {
  margin-left: $spacing3;
}
.push-left-medium {
  margin-left: $spacing4;
}
.push-left-big {
  margin-left: $spacing5;
}
.push-left-bigger {
  margin-left: $spacing6;
}
.push-left-biggest {
  margin-left: $spacing8;
}
.push-left-huge {
  margin-left: $spacing12;
}
.push-right-smallest {
  margin-right: $spacing1;
}
.push-right-small {
  margin-right: $spacing2;
}
.push-right-normal {
  margin-right: $spacing3;
}
.push-right-medium {
  margin-right: $spacing4;
}
.push-right-big {
  margin-right: $spacing5;
}
.push-right-bigger {
  margin-right: $spacing6;
}
.push-right-biggest {
  margin-right: $spacing8;
}
.push-right-huge {
  margin-right: $spacing12;
}
.padding-left-smallest {
  padding-left: $spacing1;
}
.padding-left-small {
  padding-left: $spacing2;
}
.padding-left-normal {
  padding-left: $spacing3;
}
.padding-left-medium {
  padding-left: $spacing4;
}
.padding-left-big {
  padding-left: $spacing5;
}
.padding-left-bigger {
  padding-left: $spacing6;
}
.padding-left-biggest {
  padding-left: $spacing8;
}
.padding-left-huge {
  padding-left: $spacing12;
}
.padding-right-smallest {
  padding-right: $spacing1;
}
.padding-right-small {
  padding-right: $spacing2;
}
.padding-right-normal {
  padding-right: $spacing3;
}
.padding-right-medium {
  padding-right: $spacing4;
}
.padding-right-big {
  padding-right: $spacing5;
}
.padding-right-bigger {
  padding-right: $spacing6;
}
.padding-right-biggest {
  padding-right: $spacing8;
}
.padding-right-huge {
  padding-right: $spacing12;
}
.padding-top-smallest {
  padding-top: $spacing1;
}
.padding-top-small {
  padding-top: $spacing2;
}
.padding-top-normal {
  padding-top: $spacing3;
}
.padding-top-medium {
  padding-top: $spacing4;
}
.padding-top-big {
  padding-top: $spacing5;
}
.padding-top-bigger {
  padding-top: $spacing6;
}
.padding-top-biggest {
  padding-top: $spacing8;
}
.padding-top-huge {
  padding-top: $spacing12;
}
.padding-bottom-smallest {
  padding-bottom: $spacing1;
}
.padding-bottom-small {
  padding-bottom: $spacing2;
}
.padding-bottom-normal {
  padding-bottom: $spacing3;
}
.padding-bottom-medium {
  padding-bottom: $spacing4;
}
.padding-bottom-big {
  padding-bottom: $spacing5;
}
.padding-bottom-bigger {
  padding-bottom: $spacing6;
}
.padding-bottom-biggest {
  padding-bottom: $spacing8;
}
.padding-bottom-huge {
  padding-bottom: $spacing12;
}
