html, html > body, dl, ol, li, dd, dt, hr, p, h1, h2, h3, h4, h5, h6, form, fieldset, a, legend, input, .h1, .h2, .h3, .h4, .h5 {
  @include base-font;
  margin: 0;
}

.sh {
  font-size: 32px;
  font-weight: $thin-font-weight;
}
h1, .h1 {
  font-size: 32px;
  font-weight: $thin-font-weight;
}
h2, .h2 {
  font-size: 24px;
  font-weight: $light-font-weight;
}
h3, .h3 {
  font-size: 20px;
  font-weight: $normal-font-weight;
}
h4, .h4 {
  font-size: 16px;
  font-weight: $medium-font-weight;
}
h5, .h5 {
  font-size: 14px;
  font-weight: $bold-font-weight;
}
p, .p {
  font-size: 14px;
  font-weight: $normal-font-weight;
}
a {
  font-size: 14px;
}

@include media('>=tablet') {
  .sh {
    font-size: 60px;
    font-weight: $thin-font-weight;
  }
  h1, .h1 {
    font-size: 48px;
  }
  h2, .h2 {
    font-size: 32px;
  }
  h3, .h3 {
    font-size: 24px;
  }
  h4, .h4 {
    font-size: 16px;
  }
  p, .p {
    font-size: 16px;
    font-weight: $normal-font-weight;
  }
  a {
    font-size: 16px;
  }
}
a {
  cursor: pointer;
  color: $primary-blue;
  &:hover {
    color: $secondary-blue;
    text-decoration: none;
  }
  &[class^="btn"], & [class^="btn"], &[class^="icon"], & [class^="icon"] {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}
.section-title {
  text-transform: uppercase;
}
