.main-container.workflow {
  background: #f3f4f4; /* Old browsers */
  background: -moz-linear-gradient(left,  #f3f4f4 0%, #f3f4f4 50%, #ffffff 51%, #ffffff 58%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f3f4f4), color-stop(50%,#f3f4f4), color-stop(51%,#ffffff), color-stop(58%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #f3f4f4 0%,#f3f4f4 50%,#ffffff 51%,#ffffff 58%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #f3f4f4 0%,#f3f4f4 50%,#ffffff 51%,#ffffff 58%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #f3f4f4 0%,#f3f4f4 50%,#ffffff 51%,#ffffff 58%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to right,  #f3f4f4 0%,#f3f4f4 50%,#ffffff 51%,#ffffff 58%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f4f4', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  .main-container {
    background-color: $white;
  }
}

.auto-icon {
  margin: auto;
  margin-bottom: $spacing2;
}

.workspace-header-divider {
  @include rotated-square(18px);
  border-top: 1px dashed $light-gray;
  margin: ($spacing2 * 1.5 ) 0 $spacing2;
  .arrow-horizontal-whitespace {
    position: relative;
    z-index: 5;
    background-color: $light-gray;
    margin: -1px auto 0;
    width: 60px;
    height: 1px;
  }
  &.errors{
    .rotated-square:after {
      background-color: $error-red;
    }
    #errors {
      position: relative;
      z-index: 10;
      top: -24px;
    }
  }
}

.workspace-errors {
  margin-bottom: $spacing1 / 2;
}
.padded-bottom {
  margin-bottom: $spacing1;
}
