.progressbar
  %ul#progressbar
    - @progress_bar.steps_for_investment.each do |step|
      %li{class: "#{@progress_bar.step_state(step)}", style: "width: #{(100.0 / @progress_bar.steps_for_investment.length).round(3)}%"}
        - if @progress_bar.step_link(step)
          = link_to "#{@progress_bar.step_name(step)}", "#{@progress_bar.step_link(step)}"
        - else
          = "#{@progress_bar.step_name(step)}"
