.press-container
  .press-nav
    .container
      %span.left-arrow
      %span.right-arrow
      %ul
        %li.tab.active
          %a{ data: {toggle: 'tab'}, href: '#nav-time' }
            = image_tag "logos/time.png", alt: 'Time: Money Magazine'
        %li.tab
          %a{ data: {toggle: 'tab'}, href: '#nav-tc' }
            = image_tag "logos/techcrunch.png", alt: 'TC'
        %li.tab
          %a{ data: {toggle: 'tab'}, href: '#nav-forbes' }
            = image_tag "logos/forbes.png", alt: 'FORBES'
        %li.tab
          %a{ data: {toggle: 'tab'}, href: '#nav-fox' }
            = image_tag 'logos/fox-business.png', alt: 'Fox Business'
        %li.tab
          %a{ data: {toggle: 'tab'}, href: '#nav-cf_insider' }
            = image_tag 'logos/cf-insider.png', alt: 'Crowdfund Insider'
        %li.tab
          %a{ data: {toggle: 'tab'}, href: '#nav-wsj' }
            = image_tag 'logos/wsj.png', alt: 'WSJ'

  .tab-container
    .tab-box
      .container
        - %w(time tc forbes fox cf_insider wsj).each do |tab|
          .press-body.tab-pane.fade{ id: "nav-#{tab}", class: "#{'active' if tab == 'tc'}" }
            .press-section
              = render partial: "shared/press/#{tab}"
