.subscription-panel
  = simple_form_for subscription, method: :post, remote: true, html: {id: subscription_form_id } do |f|
    = f.text_field :source_page, value: request.fullpath, class: 'hidden'
    %ul.subscription-input
      %li
        = f.text_field :email, type: :email, placeholder: 'Enter Your Email Address'
        .errors
      %li
        = f.button :submit, 'Subscribe', class: 'btn-normal btn-full'
    %ul.subscription-success.hidden
      %li
        %h2= t('subscription.insider_success')
      - unless browse_page?
        %li= link_to t('subscription.insider_browse'), browse_path, class: 'btn-normal btn-medium'
