%meta{ property: 'og:url',                             content: request.original_url }
%meta{ property: 'og:title',                           content: "FlashFunders - Access for investors. Empowerment for startups." }
%meta{ property: 'og:description',                     content: t("meta.description.default") }
%meta{ property: 'og:image',                           content: with_http(asset_url("fb_social_share_photo_big.jpg")) }
