- unless user_has_subscribed_to_newsletter? || user_signed_in?
  .subscription-section
    .container
      %h2.subscription-header
        = subscribe_page? ? t('subscription.subscribe_header').html_safe : t('subscription.home_header').html_safe
      = render partial: 'shared/simple_subscription', locals: {subscription_form_id: form_id, subscription: @subscription || Subscription.new}
      - unless user_signed_in? || subscribe_page?
        %p
          or
          = link_to t('sign_up.sign_me_up'), new_user_registration_path
