- errors ||= {}
- default_message ||= t('workspace_header.errors.general_error_message')

.workspace-header-divider{ class: ('errors' if errors.any?) }
  - if errors.any?
    #errors
      - if errors[:base].any?
        %ul<
          -errors[:base].each do |error|
            %li= error
      - else
        %p= default_message

