:ruby
  def yaml_t(key, args={})
    I18n.t("accreditation_mailer.third_party.entity_verification.snazzy.#{key}", args)
  end

  content_for(:header_img) { 'mailer/header_photo.png' }
  content_for(:header_text) do
    header_elements text_weight(yaml_t('overlay'), 100)
  end

  html = mail_body([
    [[icon('mailer/follow_icon.png')]],
    v_spacer(2),
    [[title(yaml_t('title', investor_name: @investor_name, entity_name: @entity_name,
        finra_link: link_to_finra('FINRA', default_link_attrs),
        sipc_link: link_to_sipc('SIPC', default_link_attrs)
      ))]],
    v_spacer(5),
    [[paragraph(yaml_t('p1', entity_name: @entity_name,
        email: mail_to(t('contacts.accreditation'), t('contacts.accreditation'), default_link_attrs)
      ))]],
    v_spacer(5),
    normal_button(yaml_t('btn'), edit_third_party_qualification_url(@qualification))
  ])

= html
