.ff_broker
  %p
    Checkout the background of our broker-dealer, funding-portal, and investment professionals on
    = link_to 'FINRA BrokerCheck', 'http://brokercheck.finra.org/Firm/Summary/134742', title: 'FINRA BrokerCheck'
