.ff-news
  %h2= t('home.ff_news')
  %hr.medium-bottom-line
  .news-items
    %a.item{href: 'http://blog.flashfunders.com/raising-capital-how-do-i-find-investors', target: '_blank'}
      = image_tag 'home/blog-post-2.jpg'
      .filter
      %h3
        Raising Capital - How Do I Find Investors?
      .author
        .avatar
          = image_tag 'home/Matt@2x.png'
        %p.name
          by Matthew Lebo
        %p.date
          11/28/2016
    %a.item{href: 'http://blog.flashfunders.com/dos-and-donts-of-pr-for-equity-crowdfunding', target: '_blank'}
      = image_tag 'home/blog-post-3.jpg'
      .filter
      %h3
        Do's and Don'ts of PR for Equity Crowdfunding
      .author
        .avatar
          = image_tag 'home/ronjini.jpg'
        %p.name
          by Ronjini Joshua
        %p.date
          11/28/2016
    %a.item{href: 'http://blog.flashfunders.com/verizon-acquire-lqd-wifi', target: '_blank'}
      = image_tag 'home/blog-post-1.jpg'
      .filter
      %h3
        Funded On FlashFunders: Verizon Acquires LQD WiFi
      .author
        .avatar
          = image_tag 'home/Matt@2x.png'
        %p.name
          by Matthew Lebo
        %p.date
          11/17/2016
  = link_to(t('home.read_more'), blog_path, class: 'thin-btn-outline btn-medium')
