%header{role: 'banner', class: "#{'homepage' if home_page?}"}
  .top-nav
    %a.burger-menu.js-burger-menu{ href: "#" }
    .logo
      %a{:href => root_path, :title => "FlashFunders Home"}
        = image_tag 'FFLogo_2x.png', alt: 'FlashFunders Home', class: "large-logo blue"
        = image_tag 'home/FF_Logo_white.svg', alt: 'FlashFunders Home', class: "large-logo white"
    %nav.primary-nav.js-nav{:role => "navigation"}
      .closer
      %a.close-menu.js-burger-menu{ href: "#"}
      %ul
        - if current_user
          %li.user-login.toggle-user-menu.user-icon
          %li.user-login.toggle-user-menu.with-separator
            Hi #{current_user.forename}
            %small= current_user.email
          .offering-choice
            - offering_title_tabs.count > 1 && offering_title_tabs.each do |offering_tab|
              %li.nav-offering{ class: "#{offering_tab[:current_offering]}" }
                %a{ href: offering_tab[:dashboard_path], class: 'nav-icon nav-text', title: offering_tab[:name]}
                  %input{ type: :radio, class: "custom-radio", name: 'offerings', checked: offering_tab[:current_offering] == 'current-offering', disabled: true }
                  = offering_tab[:name]

        - else
          %li.user-login
            - if @within_blog
              = link_to t('nav.main_links.sign_in'), new_user_session_path(return_to: blog_path), class: 'nav-items--link sign-in continue-banner-hide', target: '_parent'
            - else
              = link_to t('nav.main_links.sign_in'), '#', class: 'nav-items--link sign-in continue-banner-hide', data: {toggle: 'modal', target: '#new-session-modal'}, title: t('nav.main_links.sign_in')
          %li.user-login.with-separator
            - if @within_blog
              = link_to t('nav.main_links.sign_up'), new_user_registration_path(return_to: blog_path), class: 'join-us nav-items--link sign-in continue-banner-hide', target: '_parent'
            - else
              = link_to t('nav.main_links.sign_up'), '#', class: 'join-us nav-items--link sign-in continue-banner-hide', data: {toggle: 'modal', target: '#new-registration-modal'}, title: t('nav.main_links.sign_up')
        = generate_header_menus
        - if current_user
          %ul.user-menu
            - offering_title_tabs.count > 1 && offering_title_tabs.each do |offering_tab|
              %li.nav-offering{ class: "#{offering_tab[:current_offering]}" }
                = link_to(offering_tab[:name], offering_tab[:dashboard_path], class: 'nav-icon nav-text', title: offering_tab[:name])
            %li.user-email{ class: "#{offering_title_tabs.count <= 1 ? 'border-bottom' : 'border-top' }" }
              %span= current_user.email
            %li= link_to 'Change Password', edit_user_registration_path, class: 'nav-password nav-icon nav-text', title: 'Change Password', target: link_target
            %li= link_to t('nav.sign_out'), destroy_user_session_path, class: 'nav-sign-out nav-icon nav-text', title: t('nav.sign_out'), target: link_target
-if content_for?(:below_header)
  = yield(:below_header)
