.join-us
  %p
    %span
      Over $20,000,000 raised on FlashFunders.
    Interested in Raising Captital for your Business?
  = link_to(startups_path) do
    %button.btn-normal.btn-small= t('home.join_us')
%hr.bottom-line
