#browse-offerings
  .open-campaign
    .container
      %h2= t('browse.discovery.current_raise.home')
      %hr.medium-bottom-line
      .currently-raising
        = render partial: 'browse/offering_card', collection: @offerings
        = render partial: 'browse/placeholder_card', collection: @placeholder_offerings
      .centered.browse-more
        =link_to('Browse More Startups', browse_path, title: 'Browse More Startups', class: 'thin-btn-outline btn-medium')
      .successfully-funded
        %h2= t('browse.discovery.successfully_funded.home')
        %hr.medium-bottom-line
        = render partial: 'offerings_carousel'
