- carousel_id = "#offerings-carousel"
.offerings-carousel
  .carousel.slide{ id: carousel_id.gsub('#', ''), data: { ride: 'carousel', interval: 5000 } }
    .carousel-inner
      - carousel_offerings.each_with_index do |offering, index|
        .item{ class: "#{'active' if index == 0}" }
          .item-tile
            = render partial: 'browse/offering_card', collection: [offering[:offering_presenter]]
          .item-detail
            .detail.one
              %p.num= '1'
              %p.text= offering[:bullets].first[:text].html_safe
              %p.date= offering[:bullets].first[:date]
            %ul
              %li
              %li
              %li
            .detail.two
              %p.num= '2'
              %p.text= offering[:bullets].last[:text].html_safe
              %p.date= offering[:bullets].last[:date]
    .control
      %a.left.carousel-control{ href: carousel_id, role: 'button', data: { slide: 'prev' } }
        = image_tag 'home/right_arrow.svg'
      %a.right.carousel-control{ href: carousel_id, role: 'button', data: { slide: 'next' } }
        = image_tag 'home/right_arrow.svg'
