- cache(@cache_key, skip_digest: true) do
  #home_show
    #home_header
      %video#video-bg{autoplay: "", loop: "", muted: "", playsinline: ""}
        %source{src: asset_path('FF_Video_Reel.mp4'), type: "video/mp4"}

      #filter-image
        .hero
          %h1.sh= t('home.title')
          = link_to(t('home.start_invest'), browse_path, class: 'btn-normal btn-medium')

    %main{:role => 'main'}
      - if @offerings.count == 0
        = render partial: 'mission'
      - else
        = render partial: 'offerings'

      .flashfunders-news
        = render partial: 'join_us'
        = render partial: 'ff_news'
        = render partial: 'shared/subscription_panel', locals: { form_id: 'home_new_subscription' }
        = render partial: 'ff_broker'

    .sponsors
      = render partial: 'shared/news_media'
