.row-fluid
  .push-up-medium
    %legend= ''
    %hr
  - if funding_options.length == 1 && funding_method == 'wire'
    .span12#notes
      = t('fund_flow.wire.link_refund_account.notes')
  = simple_form_for @form, url: offering_investment_flow_fund_path(@offering), method: (@suppress_navbar ? :patch : :post) do |f|
    = f.input :funding_method, as: :hidden, input_html: {value: funding_method}, label: false
    = f.input :funding_international, as: :hidden, input_html: {value: @investment.investor_entity.is_international?}, label: false
    = f.input :bank_name, as: :hidden, label: false
    - tabindex = Counter.new(0)
    .span12
      %p#description= t('link_refund_account.description').html_safe
    .span4
      = f.input :bank_account_holder, label: t('link_refund_account.name_on_account_label'),
        required: false,
        input_html: {tabindex: tabindex.next, class: 'autoscroll' }
    .span4
      = f.input :bank_account_routing, label: t("link_refund_account.routing_number_#{funding_method}_label"),
        required: false,
        input_html: {tabindex: tabindex.next, class: 'autoscroll' }
    .span4
      = f.input :bank_account_type, label: t('link_refund_account.account_type_label'),
        collection: bank_account_types,
        as: :select,
        include_blank: false,
        required: false,
        input_html: {tabindex: tabindex.next,  class: 'autoscroll' }
    .span6
      = f.input :bank_account_number, label: t('link_refund_account.account_number_label'),
        required: false,
        input_html: {tabindex: tabindex.next, class: 'autoscroll' }
    - if @investment.investor_entity.is_international?
      .span6
        = f.input :funding_type, label: t('link_refund_account.international_option_label'),
          collection: Bank::Account.funding_types.keys.to_a,
          as: :select,
          include_blank: false,
          required: false,
          input_html: {tabindex: tabindex.next,  class: 'autoscroll' }
    #authorization
      .span12
        = f.input :authorization, label: I18n.t('fund_flow.authorization.amount', amount: number_to_currency(@investment.amount, precision: 2)),
          as: :boolean,
          boolean_style: :inline,
          required: false,
          input_html: {tabindex: tabindex.next, class: 'checkbox autoscroll'}
      .span12.authorization
        = I18n.t('fund_flow.authorization.text', escrow_provider_long: @investment.security.escrow_provider.title(long: true), escrow_provider_short: @investment.security.escrow_provider.title)
