= content_for(:page_title, 'Signed Documents')

- if @suppress_navbar
  = content_for(:investment_flow_nav) do
    %span

= content_for :step_description do
  .investment-offering.centered
    .span8
      %h1= t('fund_flow.title')

#investment-funds
  = render partial: 'shared/workspace_header', locals: { errors: @form.try(:errors) }
  .invest-panel.fund
    %fieldset
      %legend= t('fund_flow.instructions.title')
      %hr

      .help.warning
        = t('fund_flow.instructions.warning')

      - if funding_options.first == 'manual'
        #manual
          .row-fluid
            .span12
              %p= t('fund_flow.success.notice.manual')
      - else
        - funding_method = funding_options.first
        - if funding_options.length > 1
          .row-fluid
            .tab-box
              %ul.selections.row-fluid
                %li.span6.tab.long
                  %a{ href: '#ach-info', data: {toggle: 'tab'} }
                    .title= t('fund_flow.ach.title')
                    .subtitle
                      %span.notes= t('fund_flow.ach.sub_title')
                      %span= t('fund_flow.ach.description').html_safe
                %li.span6.tab.long
                  %a{ href: '#wire-info', data: {toggle: 'tab'} }
                    .title= t('fund_flow.wire.title')
                    .subtitle
                      %span.notes= t('fund_flow.wire.sub_title')
                      %span= t('fund_flow.wire.description')

    #link-refund-account-form{ class: funding_options.length > 1 ? 'hidden' : '' }
      = render partial: 'link_refund_account', locals: {funding_method: funding_method, funding_options: funding_options}

  = render partial: 'form_buttons'
