#issuer-dashboard {
  // Default is mobile
  background: $white-lilac;
  color: $white;
  margin-top: 3px; // Show the drop-box shadow of the nav bar

  .title-link {
    padding-left: 20px;
  }
  .footer-spacer {
    height: 40px;
  }
  .left {
    text-align: left;
  }
  .title-bar {
    padding: 80px 20px 60px;
    color: $title-gray;
    h2 {
      display: inline-block;
    }
  }
  h3 {
    color: $title-gray;
  }

  .popover {
    display: block;
    width: 270px;
    margin-top: 10px;
    border-color: $gray-lighter;
    @include cross-browser(box-shadow, 0 0 10px 0 $tundora-gray);
  }
  .popover-title {
    text-align: center;
    background-color: $hover-gray;
  }
  .popover-content {
    font-size: 12px;
    text-align: center;
  }

  .content-mobile {
    display: block;
  }
  .content {
    display: none;
  }

  #kpi-tiles, .kpi-tile, .raise, .limits { display: flex; }
  #kpi-tiles {
    margin: 0 20px;
    flex-flow: row wrap;
    justify-content: space-between;

    .kpi-tile {
      flex-direction: column;
      justify-content: center;
      padding: 30px 25px;
      margin-bottom: 20px;

      @include cross-browser(border-radius, 3px);
      @include cross-browser(box-shadow, 0 1px 3px 0 $light-gray);
    }
    .raise, .limits { flex-direction: column; }
    .limits {
      align-self: flex-end;
      text-align: right;
      color: $mid-gray;
    }
    .title, .value { align-self: center; }
    .value {
      line-height: 1.5;
      font-size: 32px;
      font-weight: $light-font-weight;
    }
    .kpi-tile:nth-of-type(odd) {
      @include background-gradient(left top, $dark-blue-gradient-start, $dark-blue-gradient-end);
    }
    .kpi-tile:nth-of-type(even) {
      background: linear-gradient(to top, $dodger-blue 20%, $cerulean-blue);
    }
    .kpi-tile:first-of-type {
      flex-direction: row;
      justify-content: space-between;
      flex: 0 1 100%;

      .title, .value { align-self: flex-start; }
    }
    .kpi-tile:not(first-of-type) {
      flex: 0 1 48%;
    }
  }

  .dashboard-panel {
    padding: 0 20px;
    color: $mid-gray;

    .empty {
      display: none;
      text-align: center;
      padding: 50px 0;

      .icon {
        width: 100%;
        margin-bottom: 30px;

        &.traffic_overview {
          background: image-url('no_traffic_icon.png') center center no-repeat #fff;
        }

        &.top-traffic {
          background: image-url('no-traffic.png') center center no-repeat #fff;
        }
      }
      .title {
        color: $title-gray;
      }
      .subtitle {
        color: $mid-gray;
      }
    }

    .styled-select {
      margin-top: 10px;
    }

    .stats-container {
      .totals, .timeframe {
        margin: 20px 0;
      }
      .totals {
        margin-top: 30px;
        .number {
          @extend .h3;
        }
        small {
          @extend p;
        }
      }
      .items {

        .spinner-container {
          width: 100px;
          height: 100px;
          text-align: center;

          .la-dark {
            color: $primary-blue;
          }
        }
        .item {

          margin-top: 30px;

          .referrer {
            white-space: nowrap;
            overflow: hidden;
            color: $title-gray;
          }
          .count, .share {
            text-align: right;
          }

          .slider {
            background: $light-gray;
            height: 5px;
            border: none;

            .slider-value {
              background-color: $primary-blue;
              height: 5px;
              border: none;
              width: 0;
            }
          }
        }
      }
    }

    .well {
      background: $white;
      margin-bottom: 40px;
      padding: 25px;
      @include cross-browser(border-radius, 3px);
      @include cross-browser(box-shadow, 0 0px 10px 0 $tundora-gray);
    }

    h3 {
      padding: 10px 0;
    }
  }

  #issuer-investments {
    // For Responsive Tables
    h3, .csv-export { display: inline-block; }
    .csv-export { margin-bottom: 15px; }
    .pinned {
      width: 110px;
      tr.highlight {
        border-left-width: 8px;
      }
    }
    div.table-wrapper div.scrollable table {
      margin-left: 110px;
      border-left: 2px solid $gray-lighter;

      tr.highlight {
        border-left: none;
      }
    }

    table {
      width: 100%;
      color: $title-gray;

      tr.highlight {
        background: $white-lilac;
        border-left: $primary-blue 4px solid;
      }
      th {
        text-transform: capitalize;
        border-bottom: 1px solid $light-gray;
        font-weight: $medium-font-weight;
        a {
          color: inherit;
          &:active {
            color: inherit;
          }
        }
      }
      td {
        border-bottom: 1px solid $gray-lighter;
        vertical-align: middle;
        color: $mid-gray;
        height: 50px;
      }
      .fa {
        font-size: 24px;
        width: 24px;
        height: 24px;
        vertical-align: middle;
      }
      .fa-check-circle {
        color: $light-green;
      }
      .fa-comment {
        color: $title-gray;
      }
    }

    .table {
      display: table;
      width: 100%;
      min-width: 640px;
      border-spacing: 20px;
      border-collapse: collapse;
      font-weight: 400;
      line-height: 50px;

      .row {
        display: table-row;

        &:first-child {
          text-transform: capitalize;
          text-align: left;
          font-weight: $bold-font-weight;
        }
      }
    }
  }

  #issuer-traffic_overview {
    #traffic-chart {
      display: none;
      position: relative;
      left: -15px;
    }

    .totals {
      small:not(.active) { display: none; }
    }

    .styled-select {
      display: inline-block;
      width: 100%;
      margin: 0 0 20px 0;
    }
    h3 {
      display: inline-block;
    }
    .spinner-container {
      width: 100px;
      margin: 0 auto;
      height: 100px;

      .la-dark {
        color: $primary-blue;
        padding: 30px
      }
    }

    #date-ranges {
      text-align: center;
      margin-bottom: 20px;

      ul {
        list-style: none;
        padding-bottom: 8px;
        display: inline;

        li {
          display: inline-block;
          cursor: pointer;
          margin-right: 20px;
          color: $mid-gray;
          &.active {
            pointer-events: none;
            border-bottom: 3px solid $primary-blue;
            padding-bottom: 8px;
            color: $title-gray;
          }
          &.lock {
            pointer-events: none;
          }
        }
      }

      #pageview-date-range-text {
        color: $mid-gray;
        text-align: center;
      }
    }


    .stats-container {
      .totals {
        text-align: center;
      }
    }

  }

  .error-retrieving {
    display: none;
  }

  #no-investments, #no-traffic_overview, #error-retrieving-traffic_overview {
    table {
      width: 100%;
      margin: 80px 0;

      th, td {
        border: none;
        vertical-align: middle;
        text-align: center;
        color: $mid-gray;
        h2 {
          padding: 0;
          text-align: center;
        }
      }
    }
  }

  #top-traffic {
    .row-fluid { margin-right: 0; }
  }
  .footer {
    display: none;
    padding: 20px 0 40px 0;

    .page-nav {
      display: table;
      float: left;
      border-spacing: 10px 0;
    }
    .page-info {
      @extend .h5;
      color: $mid-gray;
      display: block;
      float: right;
      padding-right: 10px;
    }
  }
  .footer-mobile {
    margin: auto;
    display: table;

    a {
      width: 240px;
      height: 40px;
      border: 1px solid $mid-gray;
      @include cross-browser(border-radius, 3px);
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      color: $title-gray;
      &:active {
        color: inherit;
      }

    }
  }

  @include media(">=tablet") {
    .dashboard-panel {
      .empty {
        padding: 100px 0;
      }

      #date-ranges {
        margin-bottom: 30px;
      }
    }
    .popover {
      margin-top: 0;
      width: auto;
    }

    .content-mobile {
      display: none;
    }
    .content {
      display: block;
    }

    .table {
      display: table;
      width: 100%;
      border-spacing: 0 20px;
    }

    #kpi-tiles {
      .kpi-tile:nth-of-type(even) { margin: 0 20px 20px; }
      .kpi-tile:first-of-type { flex: 0 1 50%; }
      .kpi-tile:not(first-of-type) { flex: 1; }
    }

    .footer-mobile {
      display: none;
    }
    .footer {
      display: block;
    }
    #issuer-investments {
      .csv-export {
        margin-left: 25px;
        margin-bottom: 0;
      }
    }
    #issuer-traffic_overview {
      .styled-select {
        width: 255px;
        margin-left: 8px;
        margin-bottom: -14px;
      }
      h2 {
        min-width: 190px;
        padding-bottom: 50px;
      }

      #date-ranges {
        text-align: left;

        ul {
          position: relative;
          top: -75px;
          float: right;
        }

        #pageview-date-range-text {
          text-align: left;
        }
      }
    }

  }

  @include media(">=desktop") {
    .dashboard-panel {
      .well { padding: 40px; }
    }
    #traffic-chart {
      height: 450px;
      width: 100%;
    }
    .dashboard-panel {
      padding: 0;
    }
    .title-bar { padding-left: 0; }
    #kpi-tiles, .dashboard-panel, .title-bar {
      max-width: $container-large-desktop;
      margin: 3px auto;

      .kpi-tile { padding: 30px 40px; }
    }
  }
}
