if !is_spv
  span#note_value.action-value $#{investment_amount}
  span  of
  span#note_value  #{other_security_type_title_plural}
  span  and
.ownership-percentage-holder
  span#percent_ownership.action-value  #{ownership_percentage}%
  span#popover_direct
    span(data-info-popover='true', data-title="Ownership Percentage", data-content="Represents the ownership % on a fully diluted basis immediately following the closing of this offering, if the maximum amount of the offering is sold and all convertible securities in this round convert into equity at the valuation cap.")
  span#popover_spv.hidden
    span(data-info-popover='true', data-title="Ownership Percentage", data-content="Represents an indirect ownership % on a fully diluted basis immediately following the closing of this offering, if the maximum amount of the offering is sold and all convertible securities in this round convert into equity at the valuation cap. The indirect ownership % incorporates a one-time fee related to managing a FlashFund (LLC).")
span  of the Company
