.ownership-percentage-holder
  span#percent_ownership.action-value  #{ownership_percentage}%
  span#popover_direct
    span(data-info-popover='true', data-title="Ownership Percentage", data-content="Represents the ownership % on a fully diluted basis immediately following the closing of this offering, if the maximum amount of the offering is sold.")
  span#popover_spv.hidden
    span(data-info-popover='true', data-title="Ownership Percentage", data-content="Represents an indirect ownership % on a fully diluted basis immediately following the closing of this offering, if the maximum amount of the offering is sold. The indirect ownership % incorporates a one-time fee related to managing a FlashFund (LLC).")
span  of the Company for
span#amount_invested.action-value  $#{investment_amount}
  span(data-info-popover='true', data-title='Investment Amount', data-content="This amount may be adjusted to reflect a whole number of ownership units.")
