input(name='utf8', type='hidden', value='✓')
input(name=authenticity_token_param_name, type='hidden', value=authenticity_token_value)
input(name='_method', type='hidden', value=form_method)
.row-fluid.no-margin#investment-amount-form
  .span6
    .investment-amount-field.row-fluid
      .span10
        .input.investment_unrounded_investment_amount
          label(for='investment_unrounded_investment_amount') How Much Do You Want To Invest?
          input#investment_unrounded_investment_amount(name='investment[unrounded_investment_amount]', placeholder='Minimum Investment ' + minimum_investment_amount, type='text', value=presented_investment_amount, tabindex="1", onkeypress='return FF.floatInput(event, ' + maximum_investment_amount + ')')
          span.error #{unrounded_investment_amount_error_message}
        input#investment_investment_amount.hidden(name='investment[investment_amount]', type='hidden', value=investment_amount)
        input#investment_investment_percent_ownership.hidden(name='investment[investment_percent_ownership]', type='hidden', value=investment_percent_ownership)
        p.notes.hidden#notes_spv Investments above  #{formatted_direct_investment_threshold} will be made directly into #{company_name} without any fees or carry. 
  .span6.separator-left
    .arrow-container
      .rotated-square
        i.fa.fa-arrow-right
    .row-fluid.no-margin
      .span10.offset2.centered
        p.title.bold-weight You will own:
        .convertible-note-ownership-widget
