- tabindex = Counter.new(0)

#issuer-application
  .form-banner
    %h1= t('issuer_application.new.title').html_safe
    %p= t('issuer_application.new.subtitle').html_safe
  .form-panel
    .row-fluid
      = render partial: 'shared/workspace_header', locals: { errors: @form.errors }
      = simple_form_for(@form, url: issuer_applications_path, html: {class: 'standard-form--container', data: { 'submit-btn' => 'submit-issuer-app' } }) do |f|
        %fieldset
          .legend= t('issuer_application.new.company.title').html_safe
          .row-fluid.push-down-medium
            .span12
              = f.input :company_name, label: t("issuer_application.new.company.name"), required: false, input_html: {tabindex: tabindex.next}
            .span12
              = f.input :website, label: t('issuer_application.new.company.website'), required: false, input_html: {tabindex: tabindex.next}
            .span12
              = f.input :entity_type, label: t("issuer_application.new.company.entity"), required: false, as: :select, include_blank: false,
                                      collection: IssuerApplication::ENTITY_TYPES,
                                      placeholder: t("issuer_application.new.select_one"), input_html: {tabindex: tabindex.next}

          .legend= t("issuer_application.new.details.title").html_safe
          .row-fluid.push-down-medium
            .span12
              = f.input :amount_needed, label: t("issuer_application.new.details.raise_amount"), as: :string, required: false, input_html: {tabindex: tabindex.next}
            .span12
              = f.input :company_criteria, label: t('issuer_application.new.details.criteria'), required: false, as: :select, include_blank: false,
                                    collection: IssuerApplication::COMPANY_CRITERIA,
                                    input_html: {tabindex: tabindex.next, multiple: true, size: IssuerApplication::COMPANY_CRITERIA.count}
            .span12
              = f.input :new_money_committed_range, label: t("issuer_application.new.details.new_money_committed"),
                                                    required: false, as: :select, include_blank: false,
                                                    collection: IssuerApplication::NEW_MONEY_COMMITTED_RANGES,
                                                    placeholder: t("issuer_application.new.select_one"), input_html: {tabindex: tabindex.skip(IssuerApplication::COMPANY_CRITERIA.count+1)}
            .span12
              = f.input :num_users, label: t('issuer_application.new.details.num_users'),
                                    required: false, as: :select, include_blank: false,
                                    collection: IssuerApplication::NUM_USERS,
                                    placeholder: t("issuer_application.new.select_one"), input_html: {tabindex: tabindex.next}
            .span12
              = f.input :promotion_budget, label: t('issuer_application.new.details.budget'),
                                           required: false, as: :select, include_blank: false,
                                           collection: IssuerApplication::PROMOTION_BUDGET,
                                           placeholder: t("issuer_application.new.select_one"), input_html: {tabindex: tabindex.next}
            .span12
              = f.input :lead_source, label: t('issuer_application.new.details.lead_source'),
                                              required: false, as: :select, include_blank: false,
                                              collection: IssuerApplication::LEAD_SOURCES,
                                              placeholder: t("issuer_application.new.select_one"), input_html: {tabindex: tabindex.next}
            .span12
              = f.input :preferred_partner, label: t('issuer_application.new.details.partner'), required: false, input_html: {tabindex: tabindex.next}

          .legend= t('issuer_application.new.founder.title').html_safe
          .row-fluid.push-down-medium
            .span12
              = f.input :registration_name, label: t('issuer_application.new.founder.name'), required: false, input_html: {tabindex: tabindex.next, readonly: current_user.present? }
            .span12
              = f.input :email, label: t('issuer_application.new.founder.email'), required: false, as: :email, input_html: {tabindex: tabindex.next, readonly: current_user.present? }
            .span12
              = f.input :phone_number, label: t('issuer_application.new.founder.phone'), required: false, placeholder: t('investment_profile.new.entity.form.placeholders.phone'), input_html: {tabindex: tabindex.next}

          .row-fluid
            .span12
              .push-up-small
                = button_tag(t('issuer_application.new.button'), id: 'submit-issuer-app', class: 'btn btn-primary', tabindex: tabindex.next)
