#issuer-application-success
  .container
    %h1= t('issuer_application.success.title')
    .push-up-small
      %p= t('issuer_application.success.subtitle_html', link: mail_to(t('contacts.startups'), t('contacts.startups')))

    = render partial: 'shared/workspace_header'

    %h6.push-down-small= t('issuer_application.success.prepare.title')
    %ul
      %li= link_to(t('issuer_application.success.prepare.startups_home'), startups_path)
      %li= link_to(t('issuer_application.success.prepare.faq'), faq_startup_path)

    .push-up-small
      = link_to t('issuer_application.success.home_link'), root_path, class: 'btn-normal btn-medium', tabindex: 1
