%tr
  %td{ colspan: '3', style: 'font:15px/24px Open Sans, Helvetica, Arial, sans-serif; color:#093954; padding:0 0 18px;' }
    %ul{ style: 'list-style: decimal;' }
      %li= t('investment_mailer.closing_details.closing_date', close_date: @offering_presenter.formatted_escrow_end_date)
      %li= t('investment_mailer.closing_details.security_type')
      %li= t('investment_mailer.closing_details.security_identity')
      %li= t('investment_mailer.closing_details.investment.amount', amount: number_to_currency(@investment.amount, precision: 2))
      %li= t('investment_mailer.closing_details.investment.shares', shares: number_with_delimiter(@investment.shares))
      %li= t('investment_mailer.closing_details.raise.amount', amount: number_to_currency(@offering_presenter.cf_amount_raised, precision: 2))
      %li= t('investment_mailer.closing_details.raise.shares', shares: number_with_delimiter(@offering_presenter.cf_shares_sold))
      - fees = @offering_presenter.cf_fees
      - unless fees.blank?
        %li
          = t('investment_mailer.closing_details.fees.title')
          %ul
            - fees.each do |key, fee|
              %li= t("investment_mailer.closing_details.fees.#{key}", fee: number_to_currency(fee, precision: 2)) if fee > 0.0
