%tr
  %td{ colspan: '3', style: 'font:15px/24px Open Sans, Helvetica, Arial, sans-serif; color:#093954; padding:18px 0 18px;' }
    = t('investment_mailer.reg_c_details.heading', company: @offering_presenter.company_name)
%tr
  %td{ colspan: '3', style: 'font:15px/24px Open Sans, Helvetica, Arial, sans-serif; color:#093954; padding:0 0 18px;' }
    %ul{ style: 'list-style: decimal;' }
      %li= t('investment_mailer.reg_c_details.amount', amount: number_to_currency(@investment.amount, precision: 2))
      %li= t('investment_mailer.reg_c_details.price', price: number_to_currency(@offering_presenter.offering.share_price, precision: 2))
      %li= t('investment_mailer.reg_c_details.security')
      %li= t('investment_mailer.reg_c_details.cancellation',
      cancel_date: @offering_presenter.formatted_cancel_date,
      learn_link: link_to(t('investment_mailer.reg_c_details.learn_link'), "#{faq_investor_url}#how_to_invest_flow-if-i-change-my-mind-can-i-cancel-my-investment-and-receive-a-refund")).html_safe
      - if @offering_presenter.cf_minimum_reached?
        %li= t('investment_mailer.reg_c_details.limit_reached', company: @offering_presenter.company_name, target: number_to_currency(@offering_presenter.cf_amount_raised, precision: 0))
