:ruby
  def yaml_t(key, args={})
    I18n.t("investment_mailer.#{key}", args)
  end

  content_for(:header_img) { @offering_photo }
  content_for(:header_text) do
    header_elements safe_join [
      text_weight(@offering_presenter.company_name, 300),
      text_weight(yaml_t('counter_signed.snazzy.overlay'), 100)
    ]
  end
  content_for(:review_browse_blog_links) do
    review_browse_blog_links
  end

  html = mail_body([
    [[icon("mailer/cup_icon.png")]],
    v_spacer(2),
    [[title(yaml_t("counter_signed.snazzy.title", company_name: @offering_presenter.company_name))]],
    v_spacer(5),
    [[paragraph(yaml_t('counter_signed.snazzy.p1'))]],
    v_spacer(3),
    two_cols_boxes(
      normal_box_content(yaml_t('closing_details.snazzy.closing_date'), @offering_presenter.formatted_escrow_end_date),
      normal_box_content(yaml_t('closing_details.snazzy.security_type'), 'Equity')
    ),
    v_spacer(1),
    two_cols_boxes(
      normal_box_content(yaml_t('closing_details.snazzy.security_identity'), 'Flash CF Preferred Stock'),
      normal_box_content(yaml_t('closing_details.snazzy.investment.amount'), number_to_currency(@investment.amount, precision: 2))
    ),
    v_spacer(1),
    two_cols_boxes(
      normal_box_content(yaml_t('closing_details.snazzy.investment.shares'), number_with_delimiter(@investment.shares)),
      normal_box_content(yaml_t('closing_details.snazzy.raise.amount'), number_to_currency(@offering_presenter.cf_amount_raised, precision: 2))
    ),
    v_spacer(1),
    two_cols_boxes(
      normal_box_content(yaml_t('closing_details.snazzy.raise.shares'), number_with_delimiter(@offering_presenter.cf_shares_sold)),
      normal_box_content(yaml_t('closing_details.snazzy.fees'), number_to_currency(@offering_presenter.cf_fees.values.sum, precision: 2))
    ),
    v_spacer(5),
    [[paragraph(yaml_t('counter_signed.snazzy.p2',
        book_entry_link: link_to(yaml_t('counter_signed.snazzy.book_entry'), "#{faq_investor_url}#post_investment", default_link_attrs),
        transfer_agent_link: link_to(yaml_t('counter_signed.snazzy.transfer_agent'), "#{faq_startup_url}#close_and_post_offering-why-should-i-engage-a-transfer-agent", default_link_attrs)
      ))]],
    v_spacer(5),
    [[paragraph(yaml_t('counter_signed.snazzy.closing'))]],
    v_spacer(2),
    [[title('INVESTOR RELATIONS', style: { text_align: 'left' })]],
    [[paragraph(yaml_t('counter_signed.snazzy.closing_address'), style: { color: color[:title_gray] })]],
  ])

= html
