:ruby
  def yaml_t(key, args={})
    I18n.t("investment_mailer.funds_received.snazzy.#{key}", args)
  end

  content_for(:header_img) { @offering_photo }
  content_for(:header_text) do
    header_elements safe_join [
      text_weight(yaml_t('overlay'), 100),
      text_weight(' received!', 300)
    ]
  end
  content_for(:review_browse_blog_links) do
    review_browse_blog_links
  end

  def social_btns
    share_btn, share_opts = icn_txt_button('SHARE', 'mailer/facebook.png', @social_urls.facebook.offering_url)
    tweet_btn, tweet_opts = icn_txt_button('TWEET', 'mailer/twitter.png', @social_urls.twitter.offering_url)

    {share: share_btn, tweet: tweet_btn, opts: share_opts}
  end

  html = mail_body([
    [[icon("mailer/card_icon.png")]],
    v_spacer(2),
    [[title(yaml_t("title_#{@investment.is_spv? ? 'flashfund' : 'direct'}_html",
        company_name: link_to(@presenter.company_name, offering_url(@investment.offering_id), default_link_attrs)
      ))]],
    v_spacer(5),
    two_cols_boxes(
      normal_box_content(yaml_t('date'), DateTime.current.to_formatted_s(:full_date)),
      normal_box_content(yaml_t('amount'), number_to_currency(@investment.amount))
    ),
    v_spacer(5),
    [[paragraph(
      if @presenter.funded?
        yaml_t('goal_raised_html',
          days_left: @presenter.days_left, offering_raised: @presenter.formatted_accredited_balance,
          offering_goal: @presenter.formatted_minimum_total,
          company_name: link_to(@presenter.company_name, offering_url(@investment.offering_id), default_link_attrs))
      else
        yaml_t('goal_not_raised_html',
          days_left: @presenter.days_left,
          company_name: link_to(@presenter.company_name, offering_url(@investment.offering_id), default_link_attrs))
      end
    )]],
    v_spacer(2),
    [[
      icn_txt_button('SHARE', 'mailer/facebook.png', @social_urls.facebook.offering_url),
      generic_td('', width: spacing[:_1], style: "width: #{spacing[:_1]}; display: inline-block;"),
      icn_txt_button('TWEET', 'mailer/twitter.png', @social_urls.twitter.offering_url),
    ]],

    # two_cols_boxes(social_btns[:share], social_btns[:tweet], social_btns[:opts], { style: "max-width: 305px !important;" }),
    v_spacer(5),
    * unless @investment.verified? || !@investment.is_reg_d?
      [
        [[paragraph(yaml_t('not_yet_accredited'))]],
        v_spacer(2)
      ]
    end,
    [[icon("mailer/email_icon.png")]],
    v_spacer(2),
    [[paragraph(
        safe_join [
          yaml_t('contact_html'),
          mail_to(t('contacts.investors'), t('contacts.investors'), default_link_attrs)]
      )]],
  ])

= html
