:ruby
  def yaml_t(key, args={})
    I18n.t("investment_mailer.funding_method_selected.#{key}", args)
  end

  content_for(:header_img) { @offering_photo }
  content_for(:header_text) do
    header_elements safe_join [
      text_weight(yaml_t('overlay'), 100),
      text_weight(@investment.investor_entity.full_name, 300)
    ]
  end
  content_for(:review_browse_blog_links) { review_browse_blog_links } if @investment.ach?

  def overview_title
    if @investment.ach?
      yaml_t("ach.title")
    else
      yaml_t("#{@investment.funding_method}.title", company_name: link_to(
        @investment.offering.company.name, offering_url(@investment.offering_id), default_link_attrs))
    end
  end

  def cancel_or_end_date
    if @investment.is_reg_c?
      [yaml_t('reg_c_details.cancellation'), @offering_presenter.formatted_cancel_date]
    else
      [yaml_t('offering_end_date'), @offering_presenter.formatted_end_date]
    end
  end

  def offering_share_price
    return  'N/A' unless @offering_presenter.share_price.present?
    number_to_currency(@offering_presenter.share_price, precision: 2) + ' per share'
  end

  def overview_html
    elements = [
      [[icon('mailer/info_icon.png')]],
      v_spacer(2),
      [[title(overview_title)]],
      v_spacer(5),
      two_cols_boxes(
        normal_box_content(yaml_t('reg_c_details.amount'), number_to_currency(@investment.amount, precision: 2)),
        normal_box_content(yaml_t('reg_c_details.price'), offering_share_price)
      ),
      v_spacer(1),
      two_cols_boxes(
        normal_box_content(yaml_t('reg_c_details.security'), 'Flash CF Preferred'),
        normal_box_content(* cancel_or_end_date)
      )
    ]

    if @investment.ach?
      elements.insert(4, [[paragraph(yaml_t('ach.p1', company: link_to(
        @investment.offering.company.name, offering_url(@investment.offering_id), default_link_attrs)))]])
      elements.insert(5, v_spacer(2))
      elements << v_spacer(5)
      elements << [[icon('mailer/email_icon.png')]]
      elements << v_spacer(2)
      elements << [[paragraph(t('investment_mailer.help',
          faq: link_to('FAQ', faq_investor_url, default_link_attrs),
          email: mail_to(t('investment_mailer.investors_email'), t('investment_mailer.investors_email'), default_link_attrs)
        ))]]
    end

    mail_body(elements)
  end

  def routing_or_swift(detail_key)
    if detail_key == :domestic
      [yaml_t('wire.routing_number'), @funding_details[detail_key].wire_routing_number]
    else
      if @investment.security.escrow_provider.wire_code
        wire_code = @investment.security.escrow_provider.wire_code
      else
        wire_code = t("investor_transfer_investments.wire.details.unregistered_swift_code", email: mail_to(t('contacts.operations'), default_link_attrs))
      end
      [yaml_t('wire.swift_code'), wire_code]
    end
  end

  def wire_ins_data(detail_key)
    [{
      section_title: yaml_t('wire.recipient_info'),
      items: [
        [yaml_t('wire.beneficiary_name'), @funding_details[detail_key].wire_beneficiary_name],
        [yaml_t('wire.account_number'), @funding_details[detail_key].wire_account_number],
        [yaml_t('wire.account_type'), @funding_details[detail_key].wire_account_type]
      ]
    },{
      section_title: yaml_t('wire.bank_info'),
      items: [
        [yaml_t('wire.bank_name'), @funding_details[detail_key].wire_bank_name],
        routing_or_swift(detail_key),
        [yaml_t('wire.address'), @funding_details[detail_key].formatted_wire_bank_address]
      ]
    }]
  end

  def check_ins_data(detail_key)
    [{
      section_title: yaml_t('check.recipient_info'),
      items: [
        [yaml_t('check.payable_to'), @funding_details[detail_key].check_payable_to],
        [yaml_t('check.memo'), @funding_details[detail_key].formatted_check_instructions],
        [yaml_t('check.amount'), number_to_currency(@investment.amount)]
      ]
    },{
      section_title: yaml_t('check.mailing_info'),
      items: [
        [yaml_t('check.mail_check_to'), @funding_details[detail_key].formatted_check_address]
      ]
    }]
  end

  def domestic_ins_html(opts={})
    instructions_data = @investment.wire? ? wire_ins_data(:domestic) : check_ins_data(:domestic)
    mail_body(two_cols_info(instructions_data, opts),
      bgcolor: "#{color[:hover_gray]}", style: { border_top: "1px solid #{color[:gray_lighter]};", width: '100%' })
  end

  def international_ins_html(opts={})
    instructions_data = @investment.wire? ? wire_ins_data(:international) : check_ins_data(:international)
    mail_body(two_cols_info(instructions_data, opts),
      bgcolor: "#{color[:white]}", style: { border_top: "1px solid #{color[:gray_lighter]};", width: '100%' })
  end

  def any_question_html
    mail_body([
      [[icon("mailer/email_icon.png")]],
      v_spacer(2),
      [[paragraph(yaml_t('check.any_question',
          email: mail_to(t('contacts.investors'), t('contacts.investors'), default_link_attrs)
        ))]],
    ], style: { border_top: "1px solid #{color[:gray_lighter]}" })
  end


= overview_html
- unless @investment.ach?
  - if @funding_details[:international].present?
    = domestic_ins_html(with_title: yaml_t("domestic_title"))
    = international_ins_html(with_title: yaml_t("international_title"))
  - else
    = domestic_ins_html(with_title: false)
  = any_question_html
