:ruby
  def yaml_t(key, args={})
    I18n.t("investment_mailer.offering_target_reached.snazzy.#{key}", args)
  end

  content_for(:header_img) { @offering_photo }
  content_for(:header_text) do
    header_elements safe_join([
      text_weight(yaml_t('overlay'), 100),
      text_weight(@investment.investor_entity.full_name, 300)
    ]), { order: {
            '0': [[icon("mailer/checkmark_icon.png")]],
            '1': v_spacer(1),
            '5': v_spacer(2),
            '6': [[title(yaml_t('overlay_opts', company: @offering_presenter.company_name),
              style: { color: color[:light_gray] })]],
          }
        }
  end
  content_for(:review_browse_blog_links) do
    review_browse_blog_links
  end

  html = mail_body([
    [[title(yaml_t("title",
        company: link_to(@offering_presenter.company_name, offering_url(@offering_presenter.offering_id), default_link_attrs),
        end_date: @offering_presenter.formatted_end_date
      ))]],
    v_spacer(5),
    [[title("What's Next?")]],
    v_spacer(2),
    [[paragraph(yaml_t("p1"))]],
    v_spacer(5),
    [[paragraph(yaml_t("p2"))]],
    v_spacer(2),
    [[
      icn_txt_button('SHARE', 'mailer/facebook.png', @social_urls.facebook.offering_url),
      generic_td('', style: "width: #{spacing[:_1]};"),
      icn_txt_button('TWEET', 'mailer/twitter.png', @social_urls.twitter.offering_url),
    ]],
  ])

= html
