=t('investment_mailer.reminds_to_complete.opener')
="\n"
=t('investment_mailer.reminds_to_complete.text_part.body_p1')
="\n"
=t('investment_mailer.reminds_to_complete.text_part.body_p2', p2_link_text: t('contacts.investors'))
="\n"
=t('investment_mailer.reminds_to_complete.text_part.body_p3')
="\n"
=t('investment_mailer.reminds_to_complete.closer')
="\n"
=t('investment_mailer.reminds_to_complete.sign')
