:ruby
  def yaml_t(key, args={})
    I18n.t("investment_mailer.reminds_to_complete.snazzy.#{key}", args)
  end

  content_for(:header_img) { 'mailer/header_photo3.png' }
  content_for(:header_text) do
    header_elements text_weight(yaml_t('overlay'), 100)
  end

  html = mail_body([
    [[icon("mailer/loading_icon.png")]],
    v_spacer(2),
    [[title(yaml_t("title", company_name: @investment.offering.company.name))]],
    v_spacer(2),
    [[paragraph(yaml_t("p1",
        contact_investor: text_weight(mail_to(t('contacts.investors'), t('contacts.investors'), default_link_attrs), 400, '16px')
      ))]],
    v_spacer(2),
    [[paragraph(yaml_t("p2"))]],

    v_spacer(5),
    normal_button(yaml_t('btn1'), yaml_t('link1'), '90%'),
    v_spacer(1),
    normal_button(yaml_t('btn2'), yaml_t('link2'), '90%'),
    v_spacer(1),
    normal_button(yaml_t('btn3'), yaml_t('link3'), '90%'),
    v_spacer(5),
    [[paragraph(yaml_t('sign1'))]],
    [[paragraph(yaml_t('sign2'))]]
  ])

= html
