- content_for(:main_container_class) do
  full-width body-blue
- tabindex = Counter.new(0)

.row-fluid.no-margin
  .span6.offset3.email-consent-panel
    .panel
      = simple_form_for @form, url: user_email_consent_path, method: :post do |f|
        .span12
          .container
            %h2= "Hi, #{current_user.full_name}"
            .prompt
              %p= "You've successfully created a FlashFunders account."
              %p= "Please agree to the terms below to continue."

            .row-fluid.econsent
              .span12
                %label.agreed_to_tos
                  = f.input_field :email_consent,
                    as: :boolean,
                    boolean_style: :inline,
                    data: { 'remove-error-for' => :email_consent }
                  = f.label :email_consent, t('sign_up.form_section.agree_to_tos_html',
                      tos_link: link_to('Terms of Use', terms_path, target: '_blank'),
                      agreement_link: link_to('Electronic Consent & Delivery Agreement', econsent_path, target: '_blank'))
                  = removable_error(f, :email_consent)
            .row-fluid
              .span4
              .span4
                = f.button :submit, value: t('email_consent.submit'), data: { disable_with: t('email_consent.submit') },
                  class: 'btn-primary btn-block',
                  tabindex: tabindex.next
