git:
  use_rerere: true
  merge_remote: origin
  merge_branch: acceptance
  master_branch: master
  release_branch: compliance
branch_info_file: 'public/deployed'
notifier:
  class:
    name: 'FlashFlow::Notifier::Hipchat'
    token: <%= ENV['HIPCHAT_TOKEN'] %>
    room: Engineering
issue_tracker:
  class:
    name: 'FlashFlow::IssueTracker::Pivotal'
    token: <%= ENV['TRACKER_TOKEN'] %>
    project_id: 913432
    timezone: 'US/Pacific'
lock:
  class:
    name: 'FlashFlow::Lock::Github'
    token: <%= ENV['GH_TOKEN'] %>
    repo: 'flashfunders/flashfunders'
    issue_id: 458
branches:
  class:
    name: 'FlashFlow::Data::Github'
    token: <%= ENV['GH_TOKEN'] %>
    repo: 'flashfunders/flashfunders'
    master_branch: master
    unmergeable_label: unmergeable
    do_not_merge_label: 'do not merge'
    shippable_label: 'can ship'
release:
  class:
    name: 'FlashFlow::Release::PercyClient'
    token: <%= ENV['PERCY_TOKEN'] %>
    repo:  'flashfunders/flashfunders'
    api_url: 'https://percy.io/api/v1/'
smtp:
  settings:
    domain: 'flashdough.com'
    address: <%= ENV['SMTP_HOST'] %>
    user_name: <%= ENV['SMTP_USERNAME'] %>
    password: <%= ENV['SMTP_PASSWORD'] %>
    port: 587
    authentication: 'plain'
    enable_starttls_auto: true
  emails:
    compliance:
      from: 'no-reply@flashfunders.com'
      to: 'compliance@flashfunders.com'
      cc: 'engineering@flashfunders.com'
      subject: 'The engineering team has a new release candidate'
      body_file: 'app/views/flash_flow_mailer/percy_snapshots.txt.erb'
    release_ready:
      from: 'no-reply@flashfunders.com'
      to: 'engineering@flashfunders.com'
      subject: 'Release build has been approved for release'
      body_file: 'app/views/flash_flow_mailer/release_ready.txt.erb'
