:ruby
  def yaml_t(key, args={})
    I18n.t("offering_follow_mailer.notify_issuer_reply.#{key}", args)
  end

  content_for(:header_img) { 'mailer/header_photo3.png' }
  content_for(:header_text) do
    header_elements safe_join [
      text_weight(@offering.company.name, 300),
      text_weight(yaml_t('overlay'), 100)
    ]
  end

  html = mail_body([
    [[paragraph(yaml_t('p1', company_name: @offering.company.name, issuer_name: @offering.issuer_user.full_name))]],
    v_spacer(5),
    [[paragraph('“', style: { font_size: spacing[:_3], color: color[:light_gray] }, valign: 'top', height: spacing[:_3])]],
    [[title(@comment.user.full_name, style: { text_align: 'left', MArgin: "0 0 0 #{spacing[:_1]}" })]],
    v_spacer(1),
    [
      [
        generic_td(''),
        paragraph(@comment.body, style: { font_style: 'italic', width: '100%', MArgin: "0 #{spacing[:_1]}" }),
        generic_td('')
      ], { width: '100%' }
    ],
    v_spacer(2),
    [[title(@offering.issuer_user.full_name, style: { text_align: 'left', MArgin: "0 0 0 #{spacing[:_4]}" })]],
    v_spacer(1),
    [
      [
        paragraph(' ', style: { width: '45px', MArgin: "0 0 0 #{spacing[:_3]}" }),
        paragraph(@reply.body, style: { font_style: 'italic', width: '100%', MArgin: "0 #{spacing[:_1]}" }),
        generic_td(' '),
      ], { width: '100%' }
    ],
    [[paragraph('”', style: { font_size: spacing[:_3], text_align: 'right', line_height: '0', color: color[:light_gray] }, valign: 'bottom', height: spacing[:_3])]],
    v_spacer(5),
    normal_button(yaml_t('btn'), offering_vanity_url(@offering_presenter, comment_id: @comment.id, anchor: 'comment').to_s)
  ])

= html
