:ruby
  def yaml_t(key, args={})
    I18n.t("offering_follow_mailer.welcome_follower.#{key}", args)
  end

  content_for(:header_img) { 'mailer/header_photo3.png' }
  content_for(:header_text) do
    header_elements safe_join [
      text_weight(yaml_t('overlay'), 100),
      text_weight(@offering.company.name, 300)
    ]
  end

  html = mail_body([
    [[icon('mailer/info_icon.png')]],
    v_spacer(2),
    [[title(yaml_t('title', company_name: link_to(@offering.company.name, offering_vanity_url(@offering_presenter).to_s, default_link_attrs)))]],
    v_spacer(2),
    [[paragraph(yaml_t('p1', company_name: @offering.company.name))]],
    v_spacer(5),
    normal_button(yaml_t('btn'), browse_url)
  ])

= html
