#offering-message.message
  = form_tag offering_messages_path(offering), remote: true, id: :offering_messages do
    .input-group
      - unless @follower.following?
        %span= t('offering_message.ask_a_question.modal.subtitle', company: offering.company.try(:name) || 'the company')
        .error.centered= flash.alert
        %input{id: 'investor_name', name: 'investor_name', placeholder: 'Name', value: params[:investor_name]}
        %input{id: 'investor_email', name: 'investor_email', placeholder: 'your@email.com', value: params[:investor_email]}
    .message-action
      = submit_tag t('offering_message.ask_a_question.modal.submit_label'), class: 'btn-primary btn-medium'
