#intro-to-founder-modal.modal{role: 'dialog', tabindex:'-1', 'aria-hidden' => 'true'}
  .modal-dialog.modal-xs
    .modal-content
      .modal-header
        %a.close{href:'#', data: {dismiss: 'modal'}}
          %span &times;
        %h4.modal-title= t('offering_message.ask_a_question.modal.title')
      .modal-body
        = render partial: 'offering_messages/form', locals: { offering: @offering }

#intro-to-founder-success-modal.modal{role: 'dialog', tabindex:'-1', 'aria-hidden' => 'true'}
  .modal-dialog.modal-xs
    .modal-content
      .modal-header
        %a.close{href:'#', data: {dismiss: 'modal'}}
          %span &times;
        %h4.modal-title= t('offering_message.ask_a_question.modal.success.title')
      .success-icon= image_tag('intro_success_icon.png')
      .modal-body
        .centered
          .success-message
            %span= t('offering_message.ask_a_question.modal.success.description_part1')
            %br
            %br
            %span= t('offering_message.ask_a_question.modal.success.description_part2', company: @offering.company.try(:name) || 'the company')
          .push-up-small.push-down-small.close-modal
            = link_to t('offering_message.ask_a_question.modal.close_label'), '#', class: 'btn btn-medium btn-success', data: {dismiss: 'modal'}
