-if @needs_confirmation
  var form_html = "#{escape_javascript( render partial: 'devise/confirmations/form', locals: { form_type: 'modal', remote: true } )}";
  $('#confirmation-modal form').replaceWith(form_html);
  $('#intro-to-founder-modal').modal('hide');
  $('#confirmation-modal').modal('show');

- elsif flash.alert
  var page_html = "#{escape_javascript( render partial: 'form', locals: {offering: @offering} )}"
  $('#offering-message').replaceWith(page_html);

- else
  $('#intro-to-founder-modal').modal('hide');
  $('#intro-to-founder-success-modal').modal('show');
  $('.offering-follower').addClass('followed');
  $('.followed a').text('Following for updates');
  $('.flash-notice').hide();
  FF.AnalyticsTracker.followCreate(FF.offering.id);
