#buttons

  .section-title Buttons

  %ul
    %li
      %ul
        %li
          .btn-large.btn-normal
            Normal Large
        %li
          .btn-normal-hover.btn-large
            Normal Hover Large
        %li
          .btn-large.btn-cancel
            Cancel Large
        %li
          .btn-cancel-hover.btn-large
            Cancel Hover Large
        %li
          .btn-outline.btn-large
            Outline Large
        %li
          .btn-outline-hover.btn-large
            Outline Hover Large
    %li
      %ul
        %li
          .btn-medium.btn-normal
            Normal Medium
        %li
          .btn-normal-hover.btn-medium
            Normal Hover Medium
        %li
          .btn-medium.btn-cancel
            Cancel Medium
        %li
          .btn-cancel-hover.btn-medium
            Cancel Hover Medium
        %li
          .btn-outline.btn-medium
            Outline Medium
        %li
          .btn-outline-hover.btn-medium
            Outline Hover Medium
    %li
      %ul
        %li
          .btn-small.btn-normal
            Normal Small
        %li
          .btn-normal-hover.btn-small
            Normal Hover Small
        %li
          .btn-small.btn-cancel
            Cancel Small
        %li
          .btn-cancel-hover.btn-small
            Cancel Hover Small
        %li
          .btn-outline.btn-small
            Outline Small
        %li
          .btn-outline-hover.btn-small
            Outline Hover Small
