#colors
  .section-title Colors

  .subsection-title Primary
  %ul
    %li
      .white.style-info
    %li
      .error-red.style-info
    %li
      .primary-blue.style-info
    %li
      .secondary-blue.style-info
    %li
      .cerulean-blue.style-info
    %li
      .dodger-blue.style-info
    %li
      .light-green.style-info
    %li
      .mid-green.style-info
    %li
      .light-orange.style-info

  .subsection-title Shades
  %ul
    %li
      .white-lilac.style-info
    %li
      .hover-gray.style-info
    %li
      .gray-lighter.style-info
    %li
      .light-gray.style-info
    %li
      .flow-lighter-gray.style-info
    %li
      .lighter-gray.style-info
    %li
      .medium-gray.style-info
    %li
      .mid-gray.style-info
    %li
      .title-gray.style-info
    %li
      .helper-blue.style-info
    %li
      .tundora-gray.style-info

  .subsection-title Gradients
  %ul
    %li
      .dark-blue-gradient-start.style-info
    %li
      .dark-blue-gradient-end.style-info
    %li
      .primary-blue-gradient-start.style-info
    %li
      .primary-blue-gradient-end.style-info
