.main-container#elements
  %h1.title
    Elements

  .row-fluid
    %h5.title Workspace Title/Subtitle with Configurable Left Icon
    %p.description .title-and-subtitle Provide the style for the stacked <h*> elements.
    %p.description The separator can be displayed with the class .left-icon-with-separator or can be omitted using the class .left-icon

  .row-fluid
    .title-and-subtitle.left-icon-with-separator.left-icon-circle-checkmark
      %h1= t('style_guide.elements.workspace_title')
      %h2= t('style_guide.elements.workspace_sub_title')

  .row-fluid
    .span12
      .title-and-subtitle.left-icon.left-icon-briefcase
        %h1= t('style_guide.elements.workspace_title')
        %h2= t('style_guide.elements.workspace_sub_title')

  .row-fluid.push-up-small
    %h5.title Clickable Tabs
    %p.description Click to see active state
    %p.description Requires both .big-tab-box and .tab-box

  .row-fluid
    .span12.tab-box.big-tab-box
      %ul.selections.row-fluid
        %li.span5.tab
          %a.top-tab{ href: '#option-1', data: {toggle: 'tab'} }
            .title-and-subtitle.left-icon.left-icon-case
              .subtitle Option 1
              .title Title 1 here
            %p A big long description for the first item can go here
        %li.span5.tab
          %a.top-tab{ href: '#option-2', data: {toggle: 'tab'} }
            .title-and-subtitle.left-icon.left-icon-wallet
              .subtitle Option 2
              .title Title 2 here
            %p An even bigger and longer description for the second item can go here. The description can easily span 3 or 4 lines, depending on many words you have to say.
      .tab-pane#option-1
        Option 1 content here
      .tab-pane#option-2
        Option 2 content here

  .row-fluid.push-up-small
    %h5.title Modals
    %a.push-down-small.btn-primary{data: {toggle: 'modal', target: '.small-modal'}} Small
    %br
    %a.push-down-small.btn-primary{data: {toggle: 'modal', target: '.medium-modal'}} Medium
    %br
    %a.push-down-small.btn-primary{data: {toggle: 'modal', target: '.large-modal'}} Large

    .modal.small-modal{role: 'dialog', tabindex:'-1', 'aria-hidden' => 'true'}
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            %a.close{href:"#", data: {dismiss: 'modal'}}
              %span &times;
            %h4.modal-title Small Modal
          .modal-body
            %p This is a sample modal window

    .modal.medium-modal{role: 'dialog', tabindex:'-1', 'aria-hidden' => 'true'}
      .modal-dialog.modal-med
        .modal-content
          .modal-header
            %a.close{href:"#", data: {dismiss: 'modal'}}
              %span &times;
            %h4.modal-title Medium Modal
          .modal-body
            %p This is a sample modal window

    .modal.large-modal{role: 'dialog', tabindex:'-1', 'aria-hidden' => 'true'}
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            %a.close{href:"#", data: {dismiss: 'modal'}}
              %span &times;
            %h4.modal-title Large Modal
          .modal-body
            %p This is a sample modal window

