.main-container
  %h1.title
    Basic Form

  .row-fluid
    .span12
      = simple_form_for(@style_guide_form, url: '/foo', html: {class: 'standard-form--container'}) do |f|
        %fieldset
          %legend= t('style_guide.form_section.fieldset_1.title')
          .row-fluid
            .span5
              = f.input :first_name, label:       t('style_guide.form_section.fieldset_1.first_name.label'),
                                     placeholder: t('style_guide.form_section.fieldset_1.first_name.placeholder'),
                                     required: false
            .span1
              = f.input :middle_initial, label:       t('style_guide.form_section.fieldset_1.middle_initial.label'),
                                         placeholder: t('style_guide.form_section.fieldset_1.middle_initial.placeholder'),
                                         required: false
            .span6
              = f.input :last_name, label:       t('style_guide.form_section.fieldset_1.last_name.label'),
                                    placeholder: t('style_guide.form_section.fieldset_1.last_name.placeholder'),
                                    required: false
            .span6
              = f.input :date_of_birth, label:       t('style_guide.form_section.fieldset_1.date_of_birth.label'),
                                        placeholder: t('style_guide.form_section.fieldset_1.date_of_birth.placeholder'),
                                        required: false 
            .span6
              = f.input :ssn, label:       t('style_guide.form_section.fieldset_1.social_security_number.label'),
                              placeholder: t('style_guide.form_section.fieldset_1.social_security_number.placeholder'),
                              required: false
        %fieldset
          %legend= t('style_guide.form_section.fieldset_2.title')
          .row-fluid
            .span6
              = f.input :address1, label:       t('style_guide.form_section.fieldset_2.address_1.label'), 
                                   placeholder: t('style_guide.form_section.fieldset_2.address_1.placeholder'),
                                   required: false
            .span6
              = f.input :address2, label:       t('style_guide.form_section.fieldset_2.address_2.label'),
                                   placeholder: t('style_guide.form_section.fieldset_2.address_2.placeholder'),
                                   required: false
            .span6
              = f.input :city, label:       t('style_guide.form_section.fieldset_2.city.label'),
                               placeholder: t('style_guide.form_section.fieldset_2.city.placeholder'),
                               required: false,
                               input_html: { tabindex: 1 }
            .span3
              = f.input :state_id, label:       t('style_guide.form_section.fieldset_2.state.label'),
                                   placeholder: t('style_guide.form_section.fieldset_2.state.placeholder'),
                                   required: false,
                                   as: :select,
                                   wrapper_class: 'input',
                                   include_blank: false,
                                   collection: us_states_options,
                                   input_html: { tabindex: 2 }
            .span3
              = f.input :zip_code, label:       t('style_guide.form_section.fieldset_2.zip_code.label'),
                                   placeholder: t('style_guide.form_section.fieldset_2.zip_code.placeholder'),
                                   required: false,
                                   input_html: { tabindex: 3 }

            .span6
              = f.input :phone_number, label:   t('style_guide.form_section.fieldset_2.phone.label'),
                                       placeholder: t('style_guide.form_section.fieldset_2.phone.placeholder'),
                                       required: false,
                                       input_html: { tabindex: 4 }


        %fieldset
          %legend= t('style_guide.form_section.non_text_form_inputs.title')

          - collection_labels = ->(option) { t(option.i18n_key) }
          = f.input :select_collection_id, as: :select,
                                    label: t('style_guide.form_section.non_text_form_inputs.select.label'),
                                    collection: @style_guide_form.collection,
                                    label_method: collection_labels,
                                    wrapper_class: 'input',
                                    value_method: :id,
                                    required: false,
                                    include_blank: false,
                                    input_html: { tabindex: 5 }
          .row-fluid

            .span12.prompt= t('style_guide.form_section.non_text_form_inputs.checkbox.prompt')
            .span12.sub-prompt= t('style_guide.form_section.non_text_form_inputs.checkbox.sub_prompt')
            .span12.input
              - collection_labels = ->(option) { t(option.i18n_key) }
              =f.collection_check_boxes :checkbox_collection_ids, @style_guide_form.collection, :id, collection_labels, item_wrapper_class: 'span6' do |investment_risk_level|
                =investment_risk_level.check_box(checked: @style_guide_form.checkbox_collection_ids.include?(investment_risk_level.value.to_s))
                =investment_risk_level.label
              .span12= f.error :checkbox_collection_ids

          = f.input :binary_radio, label: t('style_guide.form_section.non_text_form_inputs.radio.label'),
                                   required: false,
                                   wrapper_class: 'input',
                                   as: :radio_buttons,
                                   collection: %w(yes no)

        %fieldset
          %legend= t('style_guide.form_section.fieldset_3.title')
          .row-fluid.no-margin
            .span6.gutter-right
              .row-fluid
                %fieldset.span12
                  .prompt= t('style_guide.form_section.non_text_form_inputs.checkbox.prompt')
                  .sub-prompt= t('style_guide.form_section.non_text_form_inputs.checkbox.sub_prompt')
                  - collection_labels = ->(option) { t(option.i18n_key) }
                  =f.collection_check_boxes :checkbox_collection_ids, @style_guide_form.collection, :id, collection_labels, item_wrapper_class: 'span6' do |investment_risk_level|
                    =investment_risk_level.check_box(checked: @style_guide_form.checkbox_collection_ids.include?(investment_risk_level.value.to_s))
                    =investment_risk_level.label
                  .span12= f.error :checkbox_collection_ids
                %fieldset.span12
                  - collection_labels = ->(option) { t(option.i18n_key) }
                  = f.input :select_collection_id, as: :select,
                                            label: t('style_guide.form_section.non_text_form_inputs.select.label'),
                                            collection: @style_guide_form.collection,
                                            wrapper_class: 'input',
                                            label_method: collection_labels,
                                            value_method: :id,
                                            required: false,
                                            include_blank: false,
                                            input_html: { tabindex: 6 }
            .span6.gutter-left.separator-left
              .row-fluid
                %fieldset.span12
                  - collection_labels = ->(option) { t(option.i18n_key) }
                  = f.input :select_collection_id, as: :select,
                                            label: t('style_guide.form_section.non_text_form_inputs.select.label'),
                                            collection: @style_guide_form.collection,
                                            wrapper_class: 'input',
                                            label_method: collection_labels,
                                            value_method: :id,
                                            required: false,
                                            include_blank: false,
                                            input_html: { tabindex: 7 }
                %fieldset.span12
                  .prompt= t('style_guide.form_section.non_text_form_inputs.checkbox.prompt')
                  .sub-prompt= t('style_guide.form_section.non_text_form_inputs.checkbox.sub_prompt')
                  - collection_labels = ->(option) { t(option.i18n_key) }
                  =f.collection_check_boxes :checkbox_collection_ids, @style_guide_form.collection, :id, collection_labels, item_wrapper_class: 'span6' do |investment_risk_level|
                    =investment_risk_level.check_box(checked: @style_guide_form.checkbox_collection_ids.include?(investment_risk_level.value.to_s))
                    =investment_risk_level.label
                  = f.error :checkbox_collection_ids

                %fieldset.span12
                  - collection_labels = ->(option) { t(option.i18n_key) }
                  = f.input :select_collection_id, as: :select,
                                            label: t('style_guide.form_section.non_text_form_inputs.select.label'),
                                            collection: @style_guide_form.collection,
                                            wrapper_class: 'input',
                                            label_method: collection_labels,
                                            value_method: :id,
                                            required: false,
                                            include_blank: false,
                                            input_html: { tabindex: 8 }

        .btn--container.pull-right
          = f.button :submit, value: t('buttons.dashboard_link')
          = f.button :submit, value: t('style_guide.form_section.commit'), class: 'btn-primary'

  %h1.title Workspace Errors
  = render partial: 'shared/workspace_header', locals: {errors: {base: ['is invalid', 'you broke it']}}