.main-container#header_dividers
  %h1.title Header Dividers

  %h3.title Workspace Header
  .workspace-header-divider
    .arrow-horizontal-whitespace
    .rotated-square
      %i.fa.fa-arrow-down

  %h3.title Workspace Header With Errors
  .workspace-header-divider.errors
    .arrow-horizontal-whitespace
    .rotated-square
      %i.fa.fa-arrow-down
    #errors
      %ul
        %li I am an error

  %h3.title
    .header-block Header Gray Block

  %h3.title Static Header
  .static-header-divider
    .arrow-horizontal-whitespace
    .rotated-square
      %i.fa.fa-arrow-down

  %h3.title Solid Header
  .solid-header-divider
    .arrow-horizontal-whitespace
    .rotated-square
      %i.fa.fa-arrow-down
