.main-container#icons
  %h1.title
    Icons

  %h2 30 x 30
  .row-fluid
    .span4.style-guide-placeholder
      %p='.icon-small.icon-small-dollar'
      .icon-small.icon-small-dollar
    .span4.style-guide-placeholder
      %p='.icon-small.icon-small-dollar-plus'
      .icon-small.icon-small-dollar-plus
    .span4.style-guide-placeholder
      %p='.icon-small.icon-small-briefcase'
      .icon-small.icon-small-briefcase
  .row-fluid
    .span4.style-guide-placeholder
      %p='.icon-small.icon-small-online-verification'
      .icon-small.icon-small-online-verification
    .span4.style-guide-placeholder
      %p='.icon-small.icon-small-upload'
      .icon-small.icon-small-upload
    .span4.style-guide-placeholder
      %p='.icon-small.icon-small-pen-and-paper'
      .icon-small.icon-small-pen-and-paper
  .row-fluid
    .span4.style-guide-placeholder
      %p='.icon-small.icon-small-header-hamburger'
      .icon-small.icon-small-header-hamburger

  %h2 40 x 40
  .row-fluid
    .span4.style-guide-placeholder
      %p='.icon.icon-briefcase'
      .icon.icon-briefcase
    .span4.style-guide-placeholder
      %p='.icon.icon-briefcase-active'
      .icon.icon-briefcase-active
    .span4.style-guide-placeholder
      %p='.icon.icon-invest'
      .icon.icon-invest
  .row-fluid
    .span4.style-guide-placeholder
      %p='.icon.icon-dollar'
      .icon.icon-dollar
    .span4.style-guide-placeholder
      %p='.icon.icon-dollar-active'
      .icon.icon-dollar-active
    .span4.style-guide-placeholder
      %p='.icon.icon-hourglass'
      .icon.icon-hourglass
  .row-fluid
    .span4.style-guide-placeholder
      %p='.icon.icon-circle-checkmark'
      .icon.icon-circle-checkmark
    .span4.style-guide-placeholder
      %p='.icon.icon-documents'
      .icon.icon-documents
    .span4.style-guide-placeholder
      %p='.icon.icon-clipboard'
      .icon.icon-clipboard
  .row-fluid
    .span4.style-guide-placeholder
      %p='.icon.icon-book'
      .icon.icon-book


  %h2 50 x 50
  .row-fluid
    .span4.style-guide-placeholder
      %p='.icon-large.icon-large-briefcase'
      .icon-large.icon-large-briefcase
    .span4.style-guide-placeholder
      %p='.icon-large.icon-large-briefcase-active'
      .icon-large.icon-large-briefcase-active
    .span4.style-guide-placeholder
      %p='.icon-large.icon-large-invest'
      .icon-large.icon-large-invest
  .row-fluid
    .span4.style-guide-placeholder
      %p='.icon-large.icon-large-dollar'
      .icon-large.icon-large-dollar
    .span4.style-guide-placeholder
      %p='.icon-large.icon-large-dollar-active'
      .icon-large.icon-large-dollar-active
    .span4.style-guide-placeholder
      %p='.icon-large.icon-large-hourglass'
      .icon-large.icon-large-hourglass
  .row-fluid
    .span4.style-guide-placeholder
      %p='.icon-large.icon-large-book'
      .icon-large.icon-large-book
    .span4.style-guide-placeholder
      %p='.icon-large.icon-large-clipboard'
      .icon-large.icon-large-clipboard
    .span4.style-guide-placeholder
      %p='.icon-large-how.icon-large-wallet-colored'
      .icon-large-how.icon-large-wallet-colored.icon-large
  .row-fluid
    .span4.style-guide-placeholder
      %p='icon-large-how.icon-large-briefcase-colored'
      .icon-large-how.icon-large-briefcase-colored.icon-large
    .span4.style-guide-placeholder
      %p='icon-large.icon-large-create-account'
      .icon-large.icon-large-create-account
    .span4.style-guide-placeholder
      %p='icon-large.icon-large-verify-accreditation'
      .icon-large.icon-large-verify-accreditation
  .row-fluid
    .span4.style-guide-placeholder
      %p='icon-large.icon-large-sign-documents'
      .icon-large.icon-large-sign-documents
    .span4.style-guide-placeholder
      %p='icon-large.icon-large-transfer-funds'
      .icon-large.icon-large-transfer-funds
    .span4.style-guide-placeholder
      %p='icon-large.icon-large-transfer-from-account'
      .icon-large.icon-large-transfer-from-account
  .row-fluid
    .span4.style-guide-placeholder
      %p='icon-large.icon-large-transfer-from-account-active'
      .icon-large.icon-large-transfer-from-account-active
    .span4.style-guide-placeholder
      %p='icon-large.icon-large-wire'
      .icon-large.icon-large-wire
    .span4.style-guide-placeholder
      %p='icon-large.icon-large-wire-active'
      .icon-large.icon-large-wire-active

  %h2 Miscellaneous
  .row-fluid
    .span4.style-guide-placeholder
      %p='.icon.icon-chevron-up'
      .icon.icon-chevron-up
    .span4.style-guide-placeholder
      %p='.icon.icon-chevron-down'
      .icon.icon-chevron-down
    .span4.style-guide-placeholder
      %p='.icon.icon-trash'
      .icon.icon-trash
  .row-fluid
    .span4.style-guide-placeholder
      %p='.icon.icon-chevron-left'
      .icon.icon-chevron-left
    .span4.style-guide-placeholder
      %p='.icon.icon-chevron-right'
      .icon.icon-chevron-right
    .span4.style-guide-placeholder
      %p='.icon.icon-small-trash'
      .icon.icon-small-trash
  .row-fluid
    .span4.style-guide-placeholder
      %p='.icon.icon-small-chevron-up'
      .icon.icon-small-chevron-up
    .span4.style-guide-placeholder
      %p='.icon.icon-small-chevron-down'
      .icon.icon-small-chevron-down


  %h2 Rotated Squares
  .row-fluid
    .span4.style-guide-placeholder
      %p='.icon-large-rotated-square.icon-large-rotated-square-team'
      .rotated-square-container
        .rotated-square
          .icon-large-rotated-square.icon-large-rotated-square-team
    .span4.style-guide-placeholder
      %p='.icon-large-rotated-square.icon-large-rotated-square-documents'
      .rotated-square-container
        .rotated-square
          .icon-large-rotated-square.icon-large-rotated-square-documents
    .span4.style-guide-placeholder
      %p='.icon-large-rotated-square.icon-large-rotated-square-rocket'
      .rotated-square-container
        .rotated-square
          .icon-large-rotated-square.icon-large-rotated-square-rocket
