.main-container
  %h4.bold-weight.title
    Layout
  .row-fluid
    .span6
      %p.title
        Spans behave like inline elements, wrapping when the total width of horizontal
        spans exceed the parent's width. Adding a .row_fluid to the parent removes any dangling
        margin off the right edge regardless of how the contained spans are wrapping.
  .row-fluid
    %h6.title
      class="span1"
    .span1.style-guide-placeholder
      span1
    .span1.style-guide-placeholder
      span1
    .span1.style-guide-placeholder
      span1
    .span1.style-guide-placeholder
      span1
    .span1.style-guide-placeholder
      span1
    .span1.style-guide-placeholder
      span1
    .span1.style-guide-placeholder
      span1
    .span1.style-guide-placeholder
      span1
    .span1.style-guide-placeholder
      span1
    .span1.style-guide-placeholder
      span1
    .span1.style-guide-placeholder
      span1
    .span1.style-guide-placeholder
      span1
  .row-fluid
    %h6.title
      class="span2"
    .span2.style-guide-placeholder
      span2
    .span2.style-guide-placeholder
      span2
    .span2.style-guide-placeholder
      span2
    .span2.style-guide-placeholder
      span2
    .span2.style-guide-placeholder
      span2
    .span2.style-guide-placeholder
      span2
  .row-fluid
    %h6.title
      class="span3"
    .span3.style-guide-placeholder
      span3
    .span3.style-guide-placeholder
      span3
    .span3.style-guide-placeholder
      span3
    .span3.style-guide-placeholder
      span3
  .row-fluid
    %h6.title
      class="span4"
    .span4.style-guide-placeholder
      span4
    .span4.style-guide-placeholder
      span4
    .span4.style-guide-placeholder
      span4
  .row-fluid
    %h6.title
      class="span5"
    .span5.style-guide-placeholder
      span5
    .span5.style-guide-placeholder
      span5
    .span2.style-guide-placeholder
      span2
  .row-fluid 
    %h6.title
      class="span6"
    .span6.style-guide-placeholder
      span6
    .span6.style-guide-placeholder
      span6
  .row-fluid
    %h6.title
      class="span7"
    .span7.style-guide-placeholder
      span7
    .span5.style-guide-placeholder
      span5
  .row-fluid
    %h6.title
      class="span8"
    .span8.style-guide-placeholder
      span8
    .span4.style-guide-placeholder
      span4
  .row-fluid
    %h6.title
      class="span9"
    .span9.style-guide-placeholder
      span9
    .span3.style-guide-placeholder
      span3
  .row-fluid
    %h6.title
      class="span10"
    .span10.style-guide-placeholder
      span10
    .span2.style-guide-placeholder
      span2
  .row-fluid
    %h6.title
      class="span11"
    .span11.style-guide-placeholder
      span11
    .span1.style-guide-placeholder
      span1
  .row-fluid
    %h6.title
      class="span12"
    .span12.style-guide-placeholder
      span12



.main-container
  %h4.bold-weight.title
    Offsets
  %h5.title
    Only works if you attach to a span class. Moves container to the right by the specified number of columns.

  .row-fluid
    %h6.title
      class="span2 offset1"
    .span2.offset1.style-guide-placeholder
      '.span2.offset1'

    






