.main-container#panels
  %h1.bold-weight.title
    Panels

  .panel
    %h1.title Standard Panel
    %h5.centered .panel

  .panel
    .panel-icon.icon-large.icon-large-clipboard
    %h1.title Sign-up
    %h5.centered .panel nested .icon-large.icon-large-clipboard
    %p this is content
    %p this is more content


