#pills

  .section-title Pills

  %ul
    %li
      %ul
        %li
          .pill-outline-green.pill-large
            $500,000
        %li
          .pill-solid-green.pill-large
            $864,618 raised
    %li
      %ul
        %li
          .pill-outline-blue.pill-medium
            Founder

    %li
      %ul
        %li
          .pill-outline-blue.pill-small
            10
