.main-container
  %h1.bold-weight.title
    Popovers

  .row-fluid.no-margin
    .span5
      Popover that question mark!
      %span#style-guide-popover{'data-info-popover' => 'true', 'data-content' => 'The details mang'}

  :javascript
    $(function() {
      new FF.Popover('#style-guide-popover');
    })

