#spacing
  .section-title Spacing

  %ul
    %li
      .spacing1.style-info
    %li
      .spacing2.style-info
    %li
      .spacing3.style-info
    %li
      .spacing4.style-info
    %li
      .spacing5.style-info
    %li
      .spacing6.style-info
    %li
      .spacing8.style-info
    %li
      .spacing12.style-info
