.main-container
  %h1.bold-weight.title
    Tabs
  %h5.title
    Unstyled

  .row-fluid.no-margin
    .span12.tab-box
      %ul
        %li.tab.active
          = link_to 'Foo', '#foo', 'data-toggle' => 'tab'
        %li.tab
          = link_to 'Bar', '#bar', 'data-toggle' => 'tab'
        %li.tab
          = link_to 'Baz', '#baz', 'data-toggle' => 'tab'
      #foo.tab-pane.active
        .span2 Stuff
      #bar.tab-pane
        .span2 More Stuff
      #baz.tab-pane
        .span2 Nothing

  %br

  %h5.title
    Static Page Styled

  .static.row-fluid
    .span12.tab-box
      %ul.row-fluid.no-margin
        %li.span4.tab.active
          = link_to 'Xoo', '#xoo', 'data-toggle' => 'tab'
        %li.span4.tab
          = link_to 'Zar', '#zar', 'data-toggle' => 'tab'
        %li.span4.tab
          = link_to 'Zab', '#zab', 'data-toggle' => 'tab'

      #xoo.row-fluid.no-margin.tab-pane.active
        .span4.info-panel
          Stuff
        .span4.info-panel
          Stuff
        .span4.info-panel
          Stuff
      #zar.row-fluid.no-margin.tab-pane
        .span4.info-panel
          More Stuff
        .span8.info-panel.double-info-panel
          More Stuff
      #zab.row-fluid.no-margin.tab-pane
        .span4.info-panel
          Nothing
        .span4.info-panel
          Nothing
        .span4.info-panel
          Nothing