#typography
  .section-title Typography

  %ul
    %li
      .sh.style-info
    %li
      %h1.style-info
    %li
      %h2.style-info
    %li
      %h3.style-info
    %li
      %h4.style-info
    %li
      %h5.style-info
    %li
      %p.style-info

