.main-container{style: 'margin-bottom: 150px;'}
  %h1.bold-weight.title
    Video Player

  .row-fluid.no-margin
    #video-player-container.span12.learn-more-video-container{:data => {'cover-media' => true}}
      #cover-media
        = image_tag image_path('what_is_flashfunders_cover_photo.png'), {style: 'width: 100%;'}
        .play-button
          %i{ class: 'fa fa-play'}

:javascript
  new FF.VideoPlayer({
    videoURL: "//player.vimeo.com/video/85386738",
    videoHeight: 563,
    videoWidth: 1000
  });