.main-container#wells
  %h1.bold-weight.title Wells

  .well
    %p Striped Well

  %br

  .well.well-plain
    %p Plain Well

  %br

  %h1.bold-weight.title Static Page Well
  .static.row-fluid
    .span12.well.description-box.centered
      .icon.icon-invest
      %h1 Title H1
      %h2 Title H2
      %h3 Title H3
      %h4 Title H4
      %p You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide...
