.main-container.widget--container
  %h4.bold-weight.title
    Widgets
  %h5.title
    Dropdown
  .row-fluid
    .span11
    .span1
      .nav-popover--container{ data: {:'popover-trigger' => true} }
        %i.fa.fa-bars
        %ul.nav-popover{ data: {:popover => true} }
          %li=link_to("Foo", "#")
          %li=link_to("Bar", "#")
  %p
    This is the dropdown widget currently used in the header. It's a reusable component that depends on a
    trigger element applying a data-popover-trigger attribute and a child element applying a data-popover
    attribute. The javascript that binds to these two elements also expects the body to have a div#scrim
    laying about somewhere. Clicking on the trigger or the scrim will dismiss the popover. Styles for this
    exist in the widget.css.
