#style-guide
  %h1.centered FlashFunders Style Guide

  = render partial: 'static/style_guide/typography'
  = render partial: 'static/style_guide/spacing'
  = render partial: 'static/style_guide/colors'
  = render partial: 'static/style_guide/gradients'
  = render partial: 'static/style_guide/buttons'
  = render partial: 'static/style_guide/pills'
-#= render partial: 'static/style_guide/layout'
-#= render partial: 'static/style_guide/header_dividers'
-#= render partial: 'static/style_guide/panels'
-#= render partial: 'static/style_guide/forms'
-#= render partial: 'static/style_guide/wells'
-#= render partial: 'static/style_guide/elements'
-#= render partial: 'static/style_guide/icons'
-#= render partial: 'static/style_guide/widgets'
-#= render partial: 'static/style_guide/popovers'
-#= render partial: 'static/style_guide/tabs'
-#= render partial: 'static/style_guide/video_player'
