:ruby
  def yaml_t(key, args={})
    I18n.t("investor_mailer.checking_in.#{key}", args)
  end

  content_for(:header_img) { 'mailer/header_photo.png' }
  content_for(:header_text) do
    header_elements safe_join [
      text_weight(yaml_t('overlay'), 100),
      text_weight(@user.full_name, 300)
    ]
  end

  html = mail_body([
    [[icon('mailer/thumbsup_icon.png')]],
    v_spacer(2),
    [[title(yaml_t('title'))]],
    v_spacer(2),
    [[paragraph(yaml_t('p1', browse_page: link_to('here', browse_url, default_link_attrs)))]],
    v_spacer(5),
    [[icon('mailer/email_icon.png')]],
    v_spacer(2),
    [[paragraph(yaml_t('p2', contact: mail_to(t('contacts.investors'), t('contacts.investors'), default_link_attrs)))]],
  ])

= html
