.row-fluid
  .span12.title-bar
    %h2= t('issuer.editor.title')
    = link_to t('issuer.editor.view_offering'), offering_path(@offering, preview: @offering.uuid), target: '_blank'
    %button.btn-normal.btn-small.title-btn.save-form= t('issuer.editor.save_btn')

  .span12.navigation
    %ul
      %li{class: "#{'active' if active_tab == :details}"}
        = link_to t('issuer.editor.nav.details'), edit_issuer_editor_detail_path(@offering), class: "#{'active' if active_tab == :details}"

      %li{class: "#{'active' if active_tab == :pitch}"}
        = link_to t('issuer.editor.nav.pitch'), edit_issuer_editor_pitch_path(@offering), class: "#{'active' if active_tab == :pitch}"

      %li{class: "#{'active' if active_tab == :members}"}
        = link_to t('issuer.editor.nav.members'), edit_issuer_editor_stakeholder_path(@offering), class: "#{'active' if active_tab == :members}"

      %li{class: "#{'active' if active_tab == :questions}"}
        = link_to t('issuer.editor.nav.questions'), edit_issuer_editor_question_path(@offering), class: "#{'active' if active_tab == :questions}"

      %li{class: "#{'active' if active_tab == :documents}"}
        = link_to t('issuer.editor.nav.documents'), edit_issuer_editor_document_path(@offering), class: "#{'active' if active_tab == :documents}"

