%ul.controls.controls-vertical
  %li
    %a.up-rank{href: '#'}
      .icon.icon-chevron-up
  %li
    %a.down-rank{href: '#'}
      .icon.icon-chevron-down
  %li
    %a.remove-element{href: '#', data: { target: '.section'}}
      .icon.icon-trash
  - if f.object.is_a? Stakeholder
    %li
      %label.notable-investor{href: '#'}
        = f.input_field :is_notable_investor, type: :checkbox, class: "notable_investor", checked: f.object.is_notable_investor
        %span
        %small Mark as Notable Investor


