#faq-page.row-fluid
  .faq-tab
    %ul
      %li{class: "#{'active' if tab == 'startup'}"}
        = link_to 'Startup', faq_startup_path
      %li{class: "#{'active' if tab == 'investor'}"}
        = link_to 'Investor', faq_investor_path
  .jumbotron
    %h1=t("#{action_name}.title")
  .secondary-bg
    .span11
      .row-fluid
        .span4#sticky-categories
          %ul.nav.faq-nav
            - t("#{action_name}.categories").each do |category_key, category_data|
              %li= link_to category_data.fetch(:title), "##{category_key}"
        .span8
          .faq-body
            - t("#{action_name}.categories").each do |category_key, category_data|
              .questions-list{id: category_key}
                .title= category_data.fetch(:title)
                %ul
                  - category_data.fetch(:questions).each do |question_key, question_data|
                    %li
                      %a{href: "##{category_key}-#{question_key}"}= question_data.fetch(:question).html_safe
              %hr
              .questions-answers
                - category_data.fetch(:questions).each do |question_key, question_data|
                  .question{id: "#{category_key}-#{question_key}"}= question_data.fetch(:question).html_safe
                  .answer= question_data.fetch(:answer).html_safe
              %hr
