%li.questions
  %ul
    %li
      %h3= t("#{page}.categories.#{category}.questions.#{question}.question")
    %li.answer
      %p= truncate_html(t("#{page}.categories.#{category}.questions.#{question}.answer"), length: 230)
    %li
      .link
        %a{href: "#{faq_startup_path}##{category}-#{question}", title: t('startups.faq.link.read_more')}
          = t('startups.faq.link.read_more')
          .link-icon
