.row-fluid.responsive
  .span12
    .banner
      .source
        = link_to source, url, target: '_blank', class: 'section-title'
      .title
        = link_to url, target: '_blank' do
          %h2= title
      .date
        %span.h4= date
    %p
      = caption
      = link_to more.html_safe, url, target: '_blank'
