.team-member
  .member-photo
    - img_path ||= image_path("team/#{name}.png")
    %img{ src: img_path }
  .member-info--container
    .member-name= t("team.members.#{name}.name")
    %h4.member-title= t("team.members.#{name}.title")
    %p.bio-container= t("team.members.#{name}.bio")
