<style type="text/css">@import url('https://themes.googleusercontent.com/fonts/css?kit=dB3GuSCq0f_LRNaO3opFPA');ol{margin:0;padding:0}table td,table th{padding:0}.c4{orphans:2;widows:2;text-align:center}.c3{background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt}.c2{font-size:12pt;font-style:italic;font-weight:bold}.c1{height:11pt}.c0{page-break-after:avoid}.title{padding-top:0pt;color:#000000;font-size:18pt;padding-bottom:0pt;font-family:"Open Sans";line-height:1.15;page-break-after:avoid;text-align:center}.subtitle{padding-top:0pt;color:#666666;font-size:13pt;padding-bottom:10pt;font-family:"Trebuchet MS";line-height:1.15;page-break-after:avoid;font-style:italic;text-align:left}li{color:#000000;font-size:11pt;font-family:"Open Sans"}p{margin:0;color:#000000;font-size:11pt;font-family:"Open Sans"}h1{padding-top:10pt;color:#000000;font-size:16pt;padding-bottom:0pt;font-family:"Trebuchet MS";line-height:1.15;page-break-after:avoid;text-align:left}h2{padding-top:10pt;color:#000000;font-weight:bold;font-size:13pt;padding-bottom:0pt;font-family:"Trebuchet MS";line-height:1.15;page-break-after:avoid;text-align:left}h3{padding-top:8pt;color:#666666;font-weight:bold;font-size:12pt;padding-bottom:0pt;font-family:"Trebuchet MS";line-height:1.15;page-break-after:avoid;text-align:left}h4{padding-top:8pt;color:#666666;text-decoration:underline;font-size:11pt;padding-bottom:0pt;font-family:"Trebuchet MS";line-height:1.15;page-break-after:avoid;text-align:left}h5{padding-top:8pt;color:#666666;font-size:11pt;padding-bottom:0pt;font-family:"Trebuchet MS";line-height:1.15;page-break-after:avoid;text-align:left}h6{padding-top:8pt;color:#666666;font-size:11pt;padding-bottom:0pt;font-family:"Trebuchet MS";line-height:1.15;page-break-after:avoid;font-style:italic;text-align:left}</style>
<div class='legal-container'><div class='legal-document'>
<p class="c0 title" id="h.ed11cldoku4v"><span>Important Information About Procedures for </span></p>
<p class="c0 title" id="h.6g0l572n9o8s"><span>Opening a New Account</span></p>
<p class="c1"><span></span></p>
<p class="c4"><span>Last Modified on February 6, 2014</span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class=""><span>To help the government fight the funding of terrorism and money laundering activities, Federal law requires all financial institutions to obtain, verify and record information that identifies each person who opens an account.</span></p>
<p class="c1"><span></span></p>
<p class=""><span class="c2">What This Means For You</span></p>
<p class="c1"><span class="c2"></span></p>
<p class=""><span>When you open an account on FlashFunders, we will ask for your name, address, date of birth and other information that will allow us to verify your identify.  We may also ask to see your driver’s license or other identifying documents.</span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
<p class="c1"><span></span></p>
</div></div>
