#contact
  .contact-section-1
    %h1.sh We look forward to connecting with you.
  .contact-section-2
    .row-fluid.responsive
      .span6.map
        %iframe{:allowfullscreen => '', :frameborder => '0', :height => '575', :src => 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3306.684677915736!2d-118.477769!3d34.026303999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bb36e22614ff%3A0x203dede4d62edb4c!2s1538+20th+St%2C+Santa+Monica%2C+CA+90404%2C+USA!5e0!3m2!1sen!2sth!4v1441992599695', :style => 'border:0', :width => '100%'}
      .span6.info
        .row-fluid
          .span6
            %h4 COME & VISIT
            %h5 Main Office
            %p
              1538 20th St. 2nd Floor
              %br
              Santa Monica, CA 90404

          .span6
            %h4 REACH OUT
            %h5 Investor Relations
            %b= mail_to t('contacts.investors'), t('contacts.investors')
            %br
            %br
            %h5 Startup Operations
            %b= mail_to t('contacts.startups'), t('contacts.startups')
            %br
            %br
            %h5 Flashfunders Shareholder Services
            %b= mail_to t('contacts.shareholderservices'), t('contacts.shareholderservices')

        .row-fluid
          .span6
            %h4 GIVE US A CALL

            %h5 Office
            %p (310) 504-3706
            %h5 Fax
            %p (310) 504-3704
          .span6
            %h4 CONNECT WITH US
            .social-icons
              = link_to 'Facebook', 'https://www.facebook.com/flashfunders', class: 'facebook', target: '_blank', title: 'Facebook'
              = link_to 'LinkedIn', 'https://www.linkedin.com/company/flashfunders', class: 'linkedin', target: '_blank', title: 'LinkedIn'
              = link_to 'Twitter', 'https://twitter.com/flashfunders', class: 'twitter', target: '_blank', title: 'Twitter'

  .contact-section-3
    = render partial: 'contact_forms/form', locals: {contact_form: ContactForm.new(page_name: 'Contact')}

  .contact-section-4
    %h2 General Inquiries
    %p
      Questions, inquiries, feedback about FlashFunders services?
      %b= mail_to t('contacts.other'), t('contacts.other')
    %hr
    %h2 Investor Relations
    %p
      For investor relations, contact
      %b= mail_to t('contacts.investors'), t('contacts.investors')
    %hr
    %h2 Press
    %p
      For Media inquiries, contact
      %b= mail_to t('contacts.marketing'), t('contacts.marketing')
