<style type="text/css">@import url('https://themes.googleusercontent.com/fonts/css?kit=iMc4-4exjgqA-toZgqqJBf35jAjY-31lSKWZb9Fa77M');ol{margin:0;padding:0}table td,table th{padding:0}.c8{background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt}.c1{orphans:2;widows:2;height:11pt}.c5{orphans:2;widows:2;text-align:center}.c6{orphans:2;widows:2}.c2{color:#1155cc;text-decoration:underline}.c3{color:inherit;text-decoration:inherit}.c4{font-weight:700}.c0{font-family:"Open Sans"}.c7{height:11pt}.title{padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.subtitle{padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:11pt;font-family:"Arial"}p{margin:0;color:#000000;font-size:11pt;font-family:"Arial"}h1{padding-top:20pt;color:#000000;font-size:20pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:18pt;color:#000000;font-size:16pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:16pt;color:#434343;font-size:14pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:14pt;color:#666666;font-size:12pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}</style>
<div class='legal-container'><div class='legal-document'>
<p class="c5"><span class="c0">Last Modified on October 29, 2015</span></p>
<p class="c7"><span class="c0"></span></p>
<p class="c7"><span class="c0"></span></p>
<p class="c6"><span class="c0 c4">IMPORTANT NOTICE TO RECIPIENTS:</span></p>
<p class="c1"><span></span></p>
<p class="c6"><span class="c0">This message is intended only for the personal and confidential use of the recipient(s) named above. If you have received this communication in error, please notify us immediately by e-mail, and delete the original message. Erroneous transmission is not intended to waive confidentiality or privilege. </span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c6"><span class="c0">This message has been sent on behalf of the sending Issuer, and all information in this message is solely the Issuer's responsibility. FlashFunders is not responsible for any of the information, and has not reviewed or verified, and does not endorse in any manner, the content of this message. FlashFunders reserves the right, to the extent permitted under applicable law, to monitor electronic communications. </span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c6"><span class="c0">This message is subject FlashFunders </span><span class="c0 c2"><a class="c3" href="https://www.google.com/url?q=https://flashfunders.com/terms&amp;sa=D&amp;ust=1477081109587000&amp;usg=AFQjCNE45MIpdmtzPeLqoEul4yN6prdAqw">Terms of Use</a></span><span class="c0">. If you cannot access this link, please notify us by reply message and we will send the contents to you. By messaging with FlashFunders you consent to the foregoing.</span></p>
</div></div>
