- content_for(:main_container_class) do
  full-width gray

.main-container.get-started.post-signup
  .row-fluid.no-margin
    .span10.offset1.panel
      .row-fluid.push-dowbig
        .span12.heading
          %h2.push-down-small= t('get_started.title')
          %p= t('get_started.subtitle')
        .span6.entrepreneurs
          .row-fluid.no-margin
            %h5= t('get_started.for')
            %h4= t('get_started.investors.title')
            = link_to t('get_started.investors.browse'), browse_path, class: 'btn btn-block', tabindex: 1
            .span12.separating-text
              .row-fluid.no-margin
                %hr.dashed-line.span3.offset2
                %p.centered.span2 OR
                %hr.dashed-line.span3
            = link_to t('get_started.investors.how_to'), faq_investor_path, class: 'btn btn-block', tabindex: 2
        .span6.investors
          .row-fluid
            %h5= t('get_started.for')
            %h4= t('get_started.startups.title')
            %p= t('get_started.startups.subtitle')
            = link_to t('get_started.startups.register'), new_issuer_applications_path, class: 'btn btn-block', tabindex: 3
