#investors.marketing-page
  #main
    .container
      %h1.sh= t('investors.main.title').html_safe
      = link_to(t('investors.main.button'), browse_path, class: 'btn-normal btn-medium')
  #why
    .container--blue
      %h1= t('investors.why.title')
      %hr.bottom-line
      %ul
        %li
          #pie-chart-image.inline-image
        %li
          %h2= t('investors.why.section_1.heading')
          %p= t('investors.why.section_1.body')
  #how
    .container--gray
      %h1= t('investors.how.title')
      %hr.bottom-line
      %ul
        %li
          %ul
            %li
              .number-one
              #find-company-image.block-image
            %hr.border-bg
            %li
              %h3= t('investors.how.section_1.heading')
              %p= t('investors.how.section_1.body')
        %li
          %ul
            %li
              .number-two
              #do-homework-image.block-image
            %li
              %h3= t('investors.how.section_2.heading')
              %p= t('investors.how.section_2.body')
        %li
          %ul
            %li
              .number-three
              #invest-image.block-image
            %li
              %h3= t('investors.how.section_3.heading')
              %p= t('investors.how.section_3.body')
        %li
          %ul
            %li
              .number-four
              #stay-connected-image.block-image
            %li
              %h3= t('investors.how.section_4.heading')
              %p= t('investors.how.section_4.body')
  #what
    .container
      %h1= t('investors.what.title')
      %hr.bottom-line
      %ul
        %li
          #browse-tiles-image.inline-image
        %li
          %h2= t('investors.what.section_1.heading')
          %h3= t('investors.what.section_1.sub_section_1.heading')
          %p= t('investors.what.section_1.sub_section_1.body')
          %h3= t('investors.what.section_1.sub_section_2.heading')
          %p= t('investors.what.section_1.sub_section_2.body')
      %ul
        %li
          #invest-flow-image.inline-image
        %li
          %h2= t('investors.what.section_2.heading')
          %h3= t('investors.what.section_2.sub_section_1.heading')
          %p= t('investors.what.section_2.sub_section_1.body')
          %h3= t('investors.what.section_2.sub_section_2.heading')
          %p= t('investors.what.section_2.sub_section_2.body')
      %ul
        %li
          #security-image.inline-image
        %li
          %h2= t('investors.what.section_3.heading')
          %h3= t('investors.what.section_3.sub_section_1.heading')
          %p= t('investors.what.section_3.sub_section_1.body')
          %h3= t('investors.what.section_3.sub_section_2.heading')
          %p= t('investors.what.section_3.sub_section_2.body')
          .link
            %a{href: "#{faq_investor_path}#general-what-rights-do-investors-get-on-flashfunders", title: t('investors.what.section_3.link_title') }
              = t('investors.what.section_3.link_title')
              .link-icon

  #faq
    .container--gray
      %h1= t('investors.faq.title')
      %hr.bottom-line
      %ul
        = render partial: 'marketing_faq', locals: { page: 'faq_investor', category: 'general', question: 'what-are-the-risks-and-rewards-of-investing-in-startups' }
        = render partial: 'marketing_faq', locals: { page: 'faq_investor', category: 'general', question: 'how-much-may-i-legally-invest-on-flashfunders' }
        = render partial: 'marketing_faq', locals: { page: 'faq_investor', category: 'general', question: 'why-is-there-a-difference-between-reg-cf-and-reg-d-investors' }
      = link_to(t('investors.faq.button'), faq_investor_path, class: 'btn-normal btn-medium')
