#press
  #hero-image
    .hero
      %h1.sh FlashFunders Press & News

  .sections
    .container
      = render partial: 'press_video_left',
          locals: { source: 'MSNBC',
                    url: 'http://www.msnbc.com/your-business/watch/equity-crowdfunding-402618947727',
                    title: 'Equity Crowdfunding',
                    date: 'February 22, 2015',
                    more: 'Read&nbsp;Article',
                    caption: 'There are different types of crowdfunding. Some investors choose to give you cash and get a stake in your small business. Vincent Bradley, the co-founder and CEO of FlashFunders, tells us more about equity crowdfunding...',
                    embed_url: 'https://www.youtube.com/embed/0bT6fVpHG04'}

      = render partial: 'press_article',
          locals: { source: 'Newsweek',
                    url: 'http://www.newsweek.com/democratized-capital-transfer-power-wall-street-main-street-464424',
                    title: 'Democratized Capital Transfers Power From Wall Street To Main Street',
                    date: 'May 28, 2016',
                    more: 'Read&nbsp;Article',
                    caption: 'The old rules ensured that the rich had get-richer tools that were kept away from the rest of us because we allegedly didn’t know how to use them safely. Already, new kinds of crowdfunding sites are popping up to take advantage of the new rules—sites such as SeedInvest, FlashFunders and Wefunder...'}

      = render partial: 'press_article',
          locals: { source: 'TechCrunch',
                    url: 'http://techcrunch.com/2016/05/20/flashfunders-relaunches-with-crowdfunding-support-with-the-pass-of-title-iii-of-the-jobs-act/',
                    title: 'FlashFunders Relaunches with Crowdfunding Support with the Pass of Title III of the JOBS Act',
                    date: 'May 20, 2016',
                    more: 'Read&nbsp;Article',
                    caption: 'In the wake of the passing of Title III of the JOBS Act, crowdfunding equity platform FlashFunders has relaunched its site with new features. The new features allow users to crowdfund investment under Form C, which allows for up to $1 million in a single Series from anyone, not just accredited investors...'}

      = render partial: 'press_article',
          locals: { source: 'AARP',
                    url: 'http://www.aarp.org/money/investing/info-2016/crowdfunding-for-startup-businesses-ea.html',
                    title: 'Start-Up Businesses Can Now Sell Shares Through Crowdfunding',
                    date: 'May 19, 2016',
                    more: 'Read&nbsp;Article',
                    caption: 'It also means that as many as 220 million small investors can now buy a stake in a private company, an option that has generally been reserved for so-called “accredited” investors considered wealthy and sophisticated enough to handle more risk, says Vincent Bradley, cofounder and chief executive of FlashFunders...'}

      = render partial: 'press_article',
          locals: { source: 'Crowdfund Insider',
                    url: 'http://www.crowdfundinsider.com/2016/05/85694-flashfunders-ceo-vincent-bradley-discusses-platform-relaunch-title-iii/',
                    title: 'FlashFunders CEO Vincent Bradley Discusses Title III & Platform Relaunch',
                    date: 'May 17, 2016',
                    more: 'Read&nbsp;Article',
                    caption: 'With Title III regulations of the Jobs Act now in affect, FlashFunders saw the opportunity and officially relaunched as an equity crowdfunding platform. Now startups can now raise capital from the crowd, accredited, and global investors in a single round on the platform, offering crowd investment starting at $50...'}

      = render partial: 'press_article',
          locals: { source: 'Forbes',
                    url: 'http://www.forbes.com/sites/laurashin/2016/05/16/now-anyone-can-become-a-vc-thinking-of-trying-it-here-are-the-risks/#6ebc58ad116f',
                    title: 'Now Anyone Can Become A VC. Thinking of Trying It? Here Are The Risks',
                    date: 'May 16, 2016',
                    more: 'Read&nbsp;Article',
                    caption: 'In anticipation [of the new rules], a host of online investment platforms such as FlashFunders, OurCrowd, SeedInvest, StartEngine, Wefunder and others sprouted up, matching such investors with companies raising capital and spurred some companies to reach out to their (wealthy) customer base...'}

      = render partial: 'press_article',
          locals: { source: 'Time: Money Magazine',
                    url: 'http://time.com/money/4336838/equity-crowdfunding-rules-finalized/',
                    title: 'Now Anyone With $2000 Can Invest in a Startup',
                    date: 'May 16, 2016',
                    more: 'Read&nbsp;Article',
                    caption: 'If you’ve ever wished you could invest in cool startups like they do on “Shark Tank,” you may be in luck...Want in? As of Monday, you can find dozens of companies to invest in on sites like FlashFunders, NextSeed and SeedInvest, which will work as funding portals for investment deals...'}

      = render partial: 'press_article',
          locals: { source: 'New York Times',
                    url: 'http://mobile.nytimes.com/2016/05/15/business/dealbook/new-crowdfunding-rules-let-the-small-fry-swim-with-sharks.html',
                    title: 'New Crowdfunding Rules Let the Small Fry Swim With Sharks',
                    date: 'May 14, 2016',
                    more: 'Read&nbsp;Article',
                    caption: 'To promote their offerings, companies will have to work through a funding portal, a kind of online bazaar for investment deals. More than a dozen websites are preparing to enter the business, including CrowdBoarders, FlashFunders, NextSeed, SeedInvest, StartEngine and ZacksInvest...'}

      = render partial: 'press_article',
          locals: { source: 'Entrepreneur',
                    url: 'https://www.entrepreneur.com/article/275467',
                    title: 'Your Guide to the High-Risk, High-Reward World of Investing in Startups When Fundamental Finance Law Changes Go Into Effect May 16',
                    date: 'May 10, 2016',
                    more: 'Read&nbsp;Article',
                    caption: 'It’s very powerful for your community to feel like they’re part of the bigger picture and this is something that historically has been reserved for high net worths -- now that changes,” says Vincent Bradley, the CEO and co-founder of equity crowdfunding platform FlashFunders...'}

      = render partial: 'press_article',
          locals: { source: 'Entrepreneur',
                    url: 'https://www.entrepreneur.com/article/275451',
                    title: "An Entrepreneur's Essential Guide to the New Wild West of Funding Opening on May 16",
                    date: 'May 09, 2016',
                    more: 'Read&nbsp;Article',
                    caption: '“Communication, post-offering, is going to be very important and probably a challenge until platforms and the industry, as a whole, matures,” says Vincent Bradley, the CEO and co-founder of equity crowdfunding platform FlashFunders...'}

      = render partial: 'press_article',
          locals: { source: 'TechCrunch',
                    url: 'http://techcrunch.com/2016/02/01/fintech-is-just-getting-started/',
                    title: 'Fintech Is Just Getting Started',
                    date: 'February 01, 2016',
                    more: 'Read&nbsp;Article',
                    caption: 'I believe Regulation CF will prove to be revolutionary. It fundamentally blends the societal notion of investment with the longstanding capitalist definition, resulting in a decision that is based in both consumer and investor aspirations...'}

      = render partial: 'press_article',
          locals: { source: 'The Street',
                    url: 'https://www.thestreet.com/story/13397281/1/how-facebook-s-entrance-into-charity-donations-will-disrupt-crowdfunding.html',
                    title: 'How Facebook’s Entrance Into Charity Donations Will Disrupt Crowdfunding',
                    date: 'December 15, 2015',
                    more: 'Read&nbsp;Article',
                    caption: 'There are advantages to each platform for investors and companies. At the highest end, accredited investors can purchase stock in start-ups that have the potential to grow vastly, such as on my platform, FlashFunders...'}

      = render partial: 'press_article',
          locals: { source: 'International Business Times',
                    url: 'http://s4.ibtimes.com/unicorn-workers-could-become-overnight-millionaires-under-law-eases-restrictions-2210460',
                    title: 'Unicorn Workers Could Become Overnight Millionaires Under Law That Eases Restrictions On Private Shares',
                    date: 'December 03, 2015',
                    more: 'Read&nbsp;Article',
                    caption: 'However, there will likely be situations where the changes can benefit both employees and their companies, said Vincent Bradley, CEO and co-founder of FlashFunders...'}

      = render partial: 'press_article',
          locals: { source: 'Built In LA',
                    url: 'http://www.builtinla.com/2015/11/17/how-flashfunders-plans-boost-la-tech-and-adapt-2016s-new-crowdfunding-laws',
                    title: 'FlashFunders CEO on what Title III means for local crowdfunding',
                    date: 'November 17, 2015',
                    more: 'Read&nbsp;Article',
                    caption: 'Instead of wasting time pitching their business to VCs and hassling with legal documents, early-stage founders can now execute their entire seed round online. Flash Funders, an LA based crowdfunding platform founded in 2012...'}

      = render partial: 'press_article',
          locals: { source: 'Forbes',
                    url: 'http://www.forbes.com/sites/moiravetter/2015/11/10/crowdfunding-platforms-flashfunders-the-future-of-matchmaking/',
                    title: 'Crowdfunding Platforms: FlashFunders & The Future Of Matchmaking',
                    date: 'November 10, 2015',
                    more: 'Read&nbsp;Article',
                    caption: 'When people talk about crowdfunding they frequently focus on the world of potential investors being opened up to entrepreneurs. All those investors can quickly become overwhelming if there isn’t a system for managing the inputs...'}

      = render partial: 'press_article',
          locals: { source: 'Xconomy',
                    url: 'http://www.xconomy.com/san-francisco/2015/10/19/as-sec-mulls-equity-crowdfunding-ca-entrepreneurs-test-other-options/3/',
                    title: 'To Be or Not To Be An Equity Crowdfunding Portal?',
                    date: 'November 5, 2015',
                    more: 'Read&nbsp;Article',
                    caption: '... Vincent Bradley, CEO of Santa Monica, CA-based FlashFunders, says the regulations will prevent funding portals from operating at a larger scale, and will limit the number of companies that can use the equity crowdfunding...'}

      = render partial: 'press_article',
          locals: { source: 'MDT (Medical Design Technology)',
                    url: 'http://www.mdtmag.com/blog/2015/11/developing-better-bone-repair-help-crowdfunding',
                    title: 'Developing Better Bone Repair with the Help of Crowdfunding',
                    date: 'November 3, 2015',
                    more: 'Read&nbsp;Article',
                    caption: 'Also of interest, the company used an equity crowdfunding platform called FlashFunders to secure financial support for its technology’s development...'}

      = render partial: 'press_article',
          locals: { source: 'Xconomy',
                    url: 'http://www.xconomy.com/san-francisco/2015/10/19/as-sec-mulls-equity-crowdfunding-ca-entrepreneurs-test-other-options/3/',
                    title: 'As SEC Mulls Equity Crowdfunding, CA Entrepreneurs Test Other Options',
                    date: 'October 19, 2015',
                    more: 'Read&nbsp;Article',
                    caption: 'Santa Monica, CA-based FlashFunders operates under this rule, and it performs those investor verification chores for companies that raise money through its online platform from investors worldwide...'}

      = render partial: 'press_article',
          locals: { source: 'CrowdFund Insider',
                    url: 'http://www.crowdfundinsider.com/2015/10/74886-flashfunders-celebrates-one-year-partners-with-raven-ventures-secures-10-million-in-startup-seed-round-funding/',
                    title: 'FlashFunders Celebrates One Year, Partners with Raven Ventures & Secures $10 Million in Startup Seed Round Funding',
                    date: 'October 6, 2015',
                    more: 'Read&nbsp;Article',
                    caption: 'FlashFunders announced on its one-year anniversary that it has successfully funded over ten million dollars in startup seed rounds...'}

      = render partial: 'press_article',
          locals: { source: 'Finance Magnates',
                    url: 'http://www.financemagnates.com/fintech/crowdfunding/flashfunders-partners-with-raven-ventures-to-boost-crowdfunding-liquidity/',
                    title: 'FlashFunders Partners with Raven Ventures to Boost Crowdfunding Liquidity',
                    date: 'October 6, 2015',
                    more: 'Read&nbsp;Article',
                    caption: 'Raven Ventures partners with FlashFunders to invest $5 million on their equity crowdfunding platform of early stage startups...'}

      = render partial: 'press_article',
          locals: { source: 'Built In LA',
                    url: 'http://www.builtinla.com/2015/10/06/flashfunders-celebrates-one-year-breaks-12m-mark',
                    title: 'FlashFunders celebrates one year, breaks $12M mark',
                    date: 'October 6, 2015',
                    more: 'Read&nbsp;Article',
                    caption: 'For a company that launched less than a year ago, FlashFunders has made its presence known as one of the first equity crowdfunding platforms allowing startups to manage and execute their whole seed funding round online...'}

      = render partial: 'press_article',
          locals: { source: 'NASDAQ',
                    url: 'http://www.nasdaq.com/video/technology--unicorn-herd-may-get-thinner-if-volatility-persists-519126716',
                    title: 'Technology ‘Unicorn’ Herd May Get Thinner If Volatility Persists',
                    date: 'October 3, 2015',
                    more: 'Watch&nbsp;Video',
                    caption: 'There are now more than 125 so-called unicorns - pre-IPO companies worth over $1 billion – stampeding across the country from Silicon Valley to Wall Street and back...' }

      = render partial: 'press_article',
          locals: { source: 'CrowdFund Insider',
                    url: 'http://www.crowdfundinsider.com/2015/09/74806-as-the-number-of-platforms-decreases-the-true-leaders-will-rise-qa-with-vincent-bradley-ceo-of-flashfunders/',
                    title: 'As The Number Of Platforms Decreases, The True Leaders Will Rise: Q&A With Vincent Bradley, CEO Of FlashFunders',
                    date: 'September 24, 2015',
                    more: 'Read&nbsp;Article',
                    caption: 'For a company that launched less than a year ago, FlashFunders has made its presence known as one of the first equity crowdfunding platforms allowing startups to manage and execute their whole seed funding round online...'}

      = render partial: 'press_article',
          locals: { source: 'FORBES',
                    url: 'http://www.forbes.com/sites/moiravetter/2015/09/07/how-many-parties-does-it-take-to-crowdfund-you-is-gajillion-a-word/2/',
                    title: 'How Many Parties Does It Take To Crowdfund You? (Is Gajillion A Word?)',
                    date: 'September 08, 2015',
                    more: 'Read&nbsp;Article',
                    caption: 'So what should an entrepreneur seeking capital do first? I earlier mentioned that entrepreneurs have to balance their focus on their product or company and their access to capital. The first thing to do is ensure your business is strong...'}

      = render partial: 'press_article',
          locals: { source: 'FIT SMALL BUSINESS',
                    url: 'http://fitsmallbusiness.com/flashfunders-vincent-bradley',
                    title: 'FlashFunders: Better Than CrowdFunding',
                    date: 'August 14, 2015',
                    more: 'Read&nbsp;Article',
                    caption: 'I have been a crowdfunding skeptic and still am! However, you don’t need to be fan of crowdfunding to think that FlashFunders has a pretty amazing product for funding startups or early stage companies in the process of raising money...'}

      = render partial: 'press_article',
          locals: { source: 'LA TIMES',
                    url: 'http://www.latimes.com/business/la-fi-0620-equity-crowdfunding-20150620-story.html',
                    title: 'Equity crowdfunding lets start-ups sell shares to average Joe or Jane',
                    date: 'June 19, 2015',
                    more: 'Read&nbsp;Article',
                    caption: "Starting Friday, you'll be able to invest online in privately held companies that could be the next Snapchat Inc. or Tesla Motors Inc., and you won't even have to be rich or well-connected to take advantage..."}

      = render partial: 'press_article',
          locals: { source: 'ENTREPRENEUR',
                    url: 'http://www.entrepreneur.com/article/245908',
                    title: "Entrepreneur's 100 Brilliant Companies",
                    date: 'May 26, 2015',
                    more: 'Read&nbsp;Article',
                    caption: 'The FlashFunders no-fee equity investment platform streamlines the fundraising process by offering entrepreneurs SEC-compliant documents and FDIC-insured escrow accounts, saving them thousands in legal fees...'}

      = render partial: 'press_article',
          locals: { source: 'TECHCRUNCH',
                    url: 'http://techcrunch.com/2015/05/11/equity-crowdfunding-platform-flashfunders-is-automating-securities-law-for-seed-stage-rounds',
                    title: 'Equity Crowdfunding Platform FlashFunders Is Automating Securities Law For Seed-Stage Rounds',
                    date: 'May 11, 2015',
                    more: 'Read&nbsp;Article',
                    caption: 'Thanks to the JOBS Act, the world of equity crowdfunding is blowing wide open. FlashFunders, an equity crowdfunding platform, is announcing a new program that automates the process for entrepreneurs, making it entirely free to raise or invest in a seed round...'}

      = render partial: 'press_article',
          locals: { source: 'CROWDFUND INSIDER',
                    url: 'http://www.crowdfundinsider.com/2015/04/66394-interview-the-influential-networks-ryan-deter-flashfunders-vincent-bradley-make-an-excellent-impression-discuss-their-successful-collaboration',
                    title: 'The Influential Network’s Ryan Detert & FlashFunders’ Vincent Bradley Talk Equity Crowdfunding Success',
                    date: 'April 22, 2015',
                    more: 'Read&nbsp;Article',
                    caption: 'Last fall I interviewed FlashFunders Co-Founder Vincent Bradley to learn more about his newly launched, no-fee equity funding platform.  In the months following, Bradley and his team have stewarded startups and streamlined their process...'}

      = render partial: 'press_article',
          locals: { source: 'Wall Street Journal',
                    url: 'http://blogs.wsj.com/accelerators/2015/02/20/weekend-read-3-misconceptions-about-the-jobs-act',
                    title: 'Weekend Read: 3 Misconceptions about the JOBS Act',
                    date: 'February 20, 2015',
                    more: 'Read&nbsp;Article',
                    caption: 'Vincent Bradley, CEO of FlashFunders: When Congress passed the JOBS Act in 2012, it was expected to fuel small business growth and was widely heralded as a catalyst for transforming how startups raise money...'}

      = render partial: 'press_article',
          locals: { source: 'HUFFINGTON POST',
                    url: 'http://www.huffingtonpost.com/victoria-silchenko/how-to-fund-your-startup-_b_6097734.html',
                    title: 'How to Fund Your Startup - With VCs, Angels and Crowd investing',
                    date: 'November 04, 2014',
                    more: 'Read&nbsp;Article',
                    caption: 'Every one of my books had killed me a little more," - this profound and highly personal quote by American author Norman Mailer has become one of my favorites since I started writing about startups funding...'}

      = render partial: 'press_video_right',
          locals: { source: 'FOX BUSINESS',
                    url: 'http://video.foxbusiness.com/v/3863350656001/improving-startups-access-to-capital/?#sp=show-clips',
                    title: 'Improving startups’ access to capital',
                    date: 'October 28, 2014',
                    more: 'Read&nbsp;Article',
                    caption: 'FlashFunders founder Vincent Bradley on how the platform gives startups more efficient access to funding...',
                    embed_url: 'https://video.foxbusiness.com/static/p/video/app/embed/iframe/vod.html?video_id=3863350656001'}

      = render partial: 'press_article',
          locals: { source: 'WIRED',
                    url: 'http://www.wired.com/2014/10/equity-crowdfunding-takes-another-small-step-forward',
                    title: 'Equity Crowdfunding Takes Another (Small) Step Forward',
                    date: 'October 16, 2014',
                    more: 'Read&nbsp;Article',
                    caption: 'Mark Dyne knows a thing or two about investing money in the youngest of tech startups. He was one of the first investors in Skype, the internet communications outfit now owned by Microsoft...'}

  .media-resource
    .container
      %h1 Media Resources
      %p Download logos and brand icons below.
      %p
        For Media inquiries please email
        = mail_to t('contacts.marketing'), t('contacts.marketing')
      .row-fluid.responsive
        .span4
          = link_to image_tag('FF_Press_Logos@2x_Main.jpg', alt: 'FF Press Logos Main', width: '356', height: '252'), image_url('FF_Press_Logos@2x_Main.jpg'), target: "_blank", download: 'FF_Press_Logos@2x_Main.jpg'
        .span4
          = link_to image_tag('FF_Press_Logos@2x_Stacked.jpg', alt: 'FF Press Logos Main', width: '356', height: '252'), image_url('FF_Press_Logos@2x_Stacked.jpg'), target: "_blank", download: 'FF_Press_Logos@2x_Stacked.jpg'
        .span4
          = link_to image_tag('FF_Press_Logos@2x_BrandIcon.jpg', alt: 'FF Press Logos Main', width: '356', height: '252'), image_url('FF_Press_Logos@2x_BrandIcon.jpg'), target: "_blank", download: 'FF_Press_Logos@2x_BrandIcon.jpg'
        .span4
          = link_to image_tag('FF_Press_Logos@2x_Main_White.jpg', alt: 'FF Press Logos Main', width: '356', height: '252'), image_url('FF_Press_Logos@2x_Main_White.jpg'), target: "_blank", download: 'FF_Press_Logos@2x_Main_White.jpg'
        .span4
          = link_to image_tag('FF_Press_Logos@2x_Stacked_White.jpg', alt: 'FF Press Logos Main', width: '356', height: '252'), image_url('FF_Press_Logos@2x_Stacked_White.jpg'), target: "_blank", download: 'FF_Press_Logos@2x_Stacked_White.jpg'
        .span4
          = link_to image_tag('FF_Press_Logos@2x_BrandIcon_White.jpg', alt: 'FF Press Logos Main', width: '356', height: '252'), image_url('FF_Press_Logos@2x_BrandIcon_White.jpg'), target: "_blank", download: 'FF_Press_Logos@2x_BrandIcon_White.jpg'
