#startups.marketing-page
  #main
    .container
      %h1.sh= t('startups.hero.title_html')
  #panel
    .container
      %ul
        %li
          %ul
            %li
              #raise-up-image.block-image
            %li
              %h3= t('startups.raise_jumbo.first_title_html')
        %li.plus +
        %li
          %ul
            %li
              #raise-fund-image.block-image
            %li
              %h3= t('startups.raise_jumbo.second_title_html')
        %li.plus +
        %li
          %ul
            %li
              #raise-fund-inter-image.block-image
            %li
              %h3= t('startups.raise_jumbo.third_title__html')
      = link_to(t('startups.raise_jumbo.apply_button'), new_issuer_applications_path, class: 'btn-normal btn-medium')
  #how
    .container
      %h1= t('startups.how_it_works.title')
      %hr.bottom-line
      %ul
        %li
          %ul
            %li
              .number-one
              #create-pitch-image.block-image
            %hr.border-bg
            %li
              %h3= t('startups.how_it_works.first.title')
              %p= t('startups.how_it_works.first.detail')
        %li
          %ul
            %li
              .number-two
              #market-round-image.block-image
            %li
              %h3= t('startups.how_it_works.second.title')
              %p= t('startups.how_it_works.second.detail')
        %li
          %ul
            %li
              .number-three
              #close-deal-image.block-image
            %li
              %h3= t('startups.how_it_works.third.title_html')
              %p= t('startups.how_it_works.third.detail')
        %li
          %ul
            %li
              .number-four
              #grow-business-image.block-image
            %li
              %h3= t('startups.how_it_works.forth.title')
              %p= t('startups.how_it_works.forth.detail')
  #what
    .container
      %h1= t('startups.what_we_offer.title')
      %hr.bottom-line
      %ul
        %li
          #offering-page-image.inline-image
        %li
          %h2= t('startups.what_we_offer.sub_title_html')
          %h3= t('startups.what_we_offer.first.title')
          %p= t('startups.what_we_offer.first.detail')
          %h3= t('startups.what_we_offer.second.title')
          %p= t('startups.what_we_offer.second.detail')
      %ul
        %li
          #dashboard-image.inline-image
        %li
          %h2= t('startups.analytics_tools.title_html')
          %h3= t('startups.analytics_tools.first.title')
          %p= t('startups.analytics_tools.first.detail')
          %h3= t('startups.analytics_tools.second.title')
          %p= t('startups.analytics_tools.second.detail')
      %ul
        %li
          #deal-execution-image.inline-image
        %li
          %h2= t('startups.deal_execution.title')
          %h3= t('startups.deal_execution.first.title')
          %p= t('startups.deal_execution.first.detail')
          %h3= t('startups.deal_execution.second.title')
          %p= t('startups.deal_execution.second.detail')
      %ul
        %li
          #investor-management-image.inline-image
        %li
          %h2= t('startups.fundraising_management.title_html')
          %h3= t('startups.fundraising_management.first.title')
          %p= t('startups.fundraising_management.first.detail')
          .link
            %a{href: "#{faq_investor_path}#post_investment", title: t('startups.fundraising_management.link.learn_more')}
              = t('startups.fundraising_management.link.learn_more')
              .link-icon

  #pricing
    .container
      %h1= t('startups.pricing.title')
      %hr.bottom-line
      %ul
        %li.successful-fund-fee
          %h2= t('startups.pricing.successful_fund_fee.title_html')
          %p.pricing-fee= t('startups.pricing.successful_fund_fee.fee_html')
          .pricing-details
            %ul
              %li= t('startups.pricing.successful_fund_fee.detail.first')
              %li= t('startups.pricing.successful_fund_fee.detail.second')
              %li= t('startups.pricing.successful_fund_fee.detail.third')
        %li.plus-icon-container
          .plus-icon
        %li.shareholder-services
          %h2= t('startups.pricing.shareholder_service.title')
          %p.pricing-fee= t('startups.pricing.shareholder_service.fee_html')
          .pricing-details
            %ul
              %li= t('startups.pricing.shareholder_service.detail.first')
              %li= t('startups.pricing.shareholder_service.detail.second')
              %li= t('startups.pricing.shareholder_service.detail.third')
      = link_to(t('startups.pricing.apply_button'), new_issuer_applications_path, class: 'btn-normal btn-medium');
  #faq
    .container
      %h1= t('startups.faq.title')
      %hr.bottom-line
      %ul
        = render partial: 'marketing_faq', locals: { page: 'faq_startup', category: 'general', question: 'what-types-of-companies-raise-capital-on-flashfunders' }
        = render partial: 'marketing_faq', locals: { page: 'faq_startup', category: 'general', question: 'what-are-the-requirements-to-raise-capital-on-flashfunders' }
        = render partial: 'marketing_faq', locals: { page: 'faq_startup', category: 'investment_documents', question: 'what-investment-documents-can-i-use-on-flashfunders' }

      = link_to(t('startups.faq.link.faq'), faq_startup_path, class: 'btn-normal btn-medium')
