#ff-team
  #team-jumbo
    .container
      %h1= t('team.subtitle').html_safe
  #team-execs
    .container
      %h1= t('team.meet_the_exec_team')
      - %w{ vinnie brian alan brad meaghan }.each do |name|
        = render partial: 'team_bio', locals: { name: name }
      .clear
  #team-carousel.simple-slide
    .overlay
    .content
      %h1 Interested in working with FlashFunders?
      .join-button
        = link_to(t('team.link.title'), t('team.link.url'), class: 'btn-normal btn-medium', target: '_blank');
    %ul.images.bxslider
      - 4.times do |i|
        %li= image_tag "team/carousel_#{i+1}.jpg"
  #team-partners
    .container
      %h1= t('team.partners.title')
      - %w{ stubbs eca }.each do |name|
        .partner
          .partner-logo
            - img_path ||= image_path("team/#{name}_logo.png")
            %img{ src: img_path }
          .partner-info--container= t("team.partners.#{name}.bio")
      .clear
  #team-peek
    .container
      %h1= t('team.sneak_peek')
      .team-collage
        - 7.times do |i|
          = image_tag "team/team#{i+1}.jpg", class: 'team-images'
        =image_tag 'team/team_fact.jpg', class: 'team-fact'
        =image_tag 'team/flash_fact.png', class: 'flash-fact'

    .clear



  #team-contact
    = render partial: 'contact_forms/form', locals: {contact_form: ContactForm.new(page_name: 'Team')}

