.row-fluid
  .span10.offset1
    .panel
      %h1.title= t('unsubscribe.title')
      %p.text= t('unsubscribe.text')
      %p.text
        = link_to t('unsubscribe.return_link'), root_path, class: 'btn btn-primary'
