- if flash[:analytics_sign_in_email]
  - if flash[:analytics_sign_in_email][:success]
    :javascript
      FF.AnalyticsTracker.signedIn("#{flash[:analytics_sign_in_email][:success]}");
  - else 
    :javascript
      FF.AnalyticsTracker.signInFailed("#{flash[:analytics_sign_in_email][:failed]}");
