- if flash[:analytics_sign_up_email]
  - if flash[:analytics_sign_up_email][:success]
    :javascript
      FF.AnalyticsTracker.registered('#{flash[:analytics_sign_up_email][:success]}');
  - else
    :javascript
      FF.AnalyticsTracker.registerFailed('#{flash[:analytics_sign_up_email][:failed]}');
