.row-fluid.no-margin
  .span6.offset3
    .panel.error-panel.centered
      %h1= t('error_page.five_oh_oh')
      .sorry-box.row-fluid
        %hr.dashed-line.span3
        %h3.span6= t('error_page.sorry')
        %hr.dashed-line.span3
      %p.explanation= t('error_page.went_wrong')

      %p= t('error_page.support_prompt')
      = link_to t('contacts.other'), "mailto:#{t('contacts.other')}", class: 'support-mail'

      .home-link= link_to t('error_page.back_to_home'), root_path, class: 'btn btn-primary home-link'
