.row-fluid.no-margin
  .span6.offset3
    .panel.error-panel.centered
      %h1= t('error_page.four_oh_four')
      .sorry-box.row-fluid
        %hr.dashed-line.span3
        %h3.span6= t('error_page.sorry')
        %hr.dashed-line.span3
      %p.explanation= t('error_page.not_found')

      %div= link_to t('error_page.back_to_home'), root_path, class: 'btn btn-primary'
