= content_for :step_description do
  .investment-offering.centered
    .span8
      - if @investment.by_individual?
        %h1= t('investor_accreditation.already_accredited.individual_title')
        %small= t('investor_accreditation.already_accredited.subtitle')
      - else
        %h1= t('investor_accreditation.already_accredited.group_title', entity_type: @investor_entity.display_name)
        %small= t('investor_accreditation.already_accredited.subtitle')

= render partial: 'shared/workspace_header', locals: { errors: @accreditation_form.errors }
#offering-invest-accreditation-verified
  = simple_form_for(@accreditation_form, url: offering_invest_accreditation_verified_path(@offering), html: {class: 'standard-form--container' }) do |f|
    .invest-panel.investment-accreditation
      %fieldset
        %legend= t('investor_accreditation.already_accredited.below_the_fold.title')
        %hr
        - if @accreditation.days_until_expiration < 10
          %p.expiring= t('investor_accreditation.already_accredited.low_time_warning', days_left: @accreditation.days_until_expiration )


        .row-fluid
          .already_verified
            .span6.verified-box
              %label=t('investor_accreditation.already_accredited.below_the_fold.method')
              %p= humanize_qualification_name(@accreditation.qualification)
            .span6.verified-box
              %label=t('investor_accreditation.already_accredited.below_the_fold.expiration')
              %p= "#{@accreditation.expiration_date.strftime('%B %d, %Y')} (#{@accreditation.days_until_expiration} days remaining)"


        #confirm-qualification
          - if @accreditation.qualification.is_a?(Accreditor::ThirdPartyQualification)
            =f.input :promise, as: :hidden, input_html: { value: 1 }
          - else
            .row-fluid
              .span1.inline-checkbox
                = f.input :promise, label: false, error: false,
                  as: :boolean, boolean_style: :inline, required: false, input_html: {class: "checkbox", tabindex: 1, data: { 'remove-error-for' => :promise }}

              .span11.checkbox-label-container
                = f.label :promise, already_accredited_promise(@investment, @investor_entity)
              .span11.offset1
                = removable_error(f, :promise)

    #form-buttons
      .row-fluid
        .span6
          = link_to t('investor_accreditation.success.links.dashboard'), dashboard_investments_path, class: "btn btn-block base-btn btlarge"
        .span6
          = button_tag t('investor_accreditation.success.links.continue'), class: "btn btn-primary btn-block btlarge"
          #spinner.centered.btn-block.btlarge.la-ball-clip-rotate.la-sm.hidden
            .btn-spinner
