Hello Compliance,

The engineering team has a new release candidate. The visual differences can be approved here: <%= @data[:percy_build_url] %>.

Please let us know if you have any concerns.

Best,
Eng team
