#newsletter-modal.modal{role: 'dialog', tabindex:'-1', 'aria-hidden' => 'true'}
  .modal-dialog.modal-xs
    = simple_form_for Subscription.new, method: :post, remote: true, html: {id: 'newsletter-modal-form' } do |f|
      .modal-content.cell-right-form
        .modal-header
          .title-image= image_tag('logos/logo.jpg')
          = link_to '', href: dismiss_path, remote: true, method: :post, id: 'newsletter-modal-dismiss', data: {dismiss: 'modal'} do
            %i.fa.fa-times-circle
        .modal-body
          %h5 Welcome back!  Let’s keep in touch with deals straight to your inbox.
          .errors
          = f.text_field :email, length: "10", style: "color: #0880bf", placeholder: "Email Address"
          = f.submit "Sign Up", class: "subscription-confirm"
          = f.text_field :source_page, value: request.fullpath, class: "hidden"

      .modal-content.cell-right-subscription-success.hidden
        .modal-header
          .title Email Accepted!
          = link_to '', href: dismiss_path, remote: true, method: :post, id: 'newsletter-modal-dismiss', data: {dismiss: 'modal'} do
            %i.fa.fa-times-circle
          .success-icon= image_tag('intro_success_icon.png')
        .modal-body
          .centered
            .success-message
              %span Thank you!
              %br
              %br
              %span Your interest is being sent over to FlashFunders.
            .push-up-small.push-down-small.close-modal
              = link_to t('offering_message.ask_a_question.modal.close_label'), '#', class: 'btn btn-medium btn-success', data: {dismiss: 'modal'}
