- content_for(:main_container_class) do
  full-width light-gray

#subscribe
  - if user_has_subscribed_to_newsletter?
    .subscription-section
      .container
        .subscription-panel
          %ul.subscription-success
            %li
              %h2= t('subscription.insider_success')
            %li= link_to t('subscription.insider_browse'), browse_path, class: 'btn-normal btn-medium'
  - else
    = render partial: 'shared/subscription_panel', locals: {subscription: @subscription, form_id: 'email_new_subscription'}
