- return_to = local_assigns[:return_to] || nil
- skip_errors = local_assigns[:skip_errors] || nil

= simple_form_for(resource, as: resource_name, url: session_path(resource_name), remote: true, html: {id: 'user-signin-form', class: 'standard-form--container account-form--container returnable-form'}) do |f|
  .row-fluid
  -if alert && !skip_errors
    %p.centered.error.alert= alert
  %fieldset
    .row-fluid
      = f.input :email, placeholder: t('sign_in.form_section.email.label'), label: false, as: :email, tabindex: 1
    .row-fluid
      = f.input :password, placeholder: t('sign_in.form_section.password.label'), label: false, as: :password, tabindex: 2
    .row-fluid
      .button-row.centered
        = f.button :submit, value: t('sign_in.form_section.commit'), class: 'btn btn-primary', tabindex: 3
    .row-fluid.push-up-smallest
      .span12.centered
        = link_to t('sign_in.forgot_password'), new_password_path(resource_name), tabindex: 4
        |
        = link_to t('sign_in.no_account_prompt'), '#', data: {toggle: 'modal', target: '#new-registration-modal', inherit_return_to: true}, tabindex: 5
