#idle-session-modal.modal{role: 'dialog', tabindex:'-1', 'aria-hidden' => 'true'}
  .modal-dialog.modal-xs
    .modal-content
      .modal-header
        .centered
          %h4.modal-title= t('session.idle.title')
          %span= t('session.idle.body')
          %br
          %br
          %h4#time{ data: { 'time-string' => true } }= t('session.idle.time_remaining')
      .modal-body
        .centered
          .push-up-small.push-down-small.close-modal
            = link_to t('session.idle.btn.logout'), destroy_user_session_path, class: 'btn btn-medium btn-success logout-btn'
            = link_to t('session.idle.btn.continue'), '#', class: 'btn btn-medium btn-success', id: 'session-continue', data: {dismiss: 'modal'}
