#new-session-modal.modal{role: 'dialog', tabindex:'-1', 'aria-hidden' => 'true'}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %a.close{href:'#', data: {dismiss: 'modal'}}
          %span &times;
        %h4.modal-title= t('sign_in.title')
      .modal-body.account-modal
        = social_auth_button(:facebook, 'wh_fb_icon.png', 'Sign in with Facebook')
        = render partial: 'devise/sessions/form', locals: { skip_errors: skip_errors }
