- if success
  FF.AnalyticsTracker.signedIn('#{flash[:analytics_sign_in_email][:success]}');
  window.location = "#{redirect_to}";

- elsif needs_confirmation
  var form_html = "#{escape_javascript( render partial: 'devise/registrations/form', locals: { form_type: 'modal', remote: true } )}";
  $('#new-registration-modal form').replaceWith(form_html);
  $('#new-session-modal').modal('hide');
  $('#new-registration-modal').modal('show');

- else
  var form_html = "#{escape_javascript( render partial: 'form' )}";
  $('form#user-signin-form').replaceWith(form_html);
  FF.AnalyticsTracker.signInFailed('#{flash[:analytics_sign_in_email][:failed]}');
