- content_for(:main_container_class) do
  full-width body-blue

.row-fluid.no-margin#logout
  .span6.offset3
    .panel
      %h5.title= t('sign_out.title')
      .fail-icon.centered= image_tag('warning_icon.png')
      %h6.sign-back.centered= t('sign_out.sign_back')
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {id: 'user-signin-form', class: 'standard-form--container account-form--container'}) do |f|
        -if alert
          %p.centered.error.alert= alert
        -if notice
          %p.centered.notice.notice-reset-password.alert= notice
        %fieldset
          .row-fluid
            .span12= f.input :email, placeholder: t('sign_in.form_section.email.label'), label: false, as: :email, input_html: {tabindex: 1}
          .row-fluid
            .span12= f.input :password, placeholder: t('sign_in.form_section.password.label'), label: false, as: :password, input_html: {tabindex: 2}
        .row-fluid
          .span12
            .button-row
              = f.button :submit, value: t('sign_in.form_section.commit'), class: 'btn-normal btn-medium', tabindex: 3
