- content_for(:main_container_class) do
  full-width body-blue

.row-fluid.no-margin
  .span6.offset3.registration-panel
    .panel.session-new
      %h2.title= t('sign_in.title')
      = social_auth_button(:facebook, 'wh_fb_icon.png', 'Sign in with Facebook')
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {id: 'user-signin-form', class: 'standard-form--container account-form--container'}) do |f|
        -if alert
          %p.centered.error.alert= alert
        -if notice
          %p.centered.notice.notice-reset-password.alert= notice
        %fieldset
          .row-fluid
            .span12= f.input :email, placeholder: t('sign_in.form_section.email.label'), label: false, as: :email, input_html: {tabindex: 1}
          .row-fluid
            .span12= f.input :password, placeholder: t('sign_in.form_section.password.label'), label: false, as: :password, input_html: {tabindex: 2}
          .row-fluid.push-up-small
            .span12.centered
              = link_to t('sign_in.forgot_password'), new_password_path(resource_name), tabindex: 4
              |
              = link_to t('sign_in.no_account_prompt'), new_user_registration_path, tabindex: 5

          .row-fluid.push-up-small
            .button-row
              .span12
                = f.button :submit, value: t('sign_in.form_section.commit'), class: 'btn-normal btn-full', tabindex: 3
          .push-up-big
