.close-campaign
  .container
    - [:reg_cf, :reg_d].each do |key|
      - unless @closed_campaigns[key].empty?
        %h2.successful-banner= t("browse.discovery.successfully_funded.#{key}").html_safe
        .funded-cards{ class: "#{key}" }
          = render partial: 'offering_card', collection: @closed_campaigns[key]
        - if @closed_campaigns[key].count > 3
          .centered
            %button.load-more{ data: { kind: key }}
              Load More
