.open-campaign
  .container
    - [:reg_cf, :reg_d].each do |key|
      .raising-banner
        .header
          %h2= t("browse.discovery.current_raise.#{key}")
          -#.browse-sort-menu{:class => ('hidden' if @open_campaigns[key].length < 3)}
          -#  .label
          -#    %label= 'Sort&nbsp;by:'.html_safe
          -#  = select "browse_sort_#{key}", :offering, {'Money Raised' => :money_raised, 'Newest' => :newest, 'Closing Soon' => :closing_soon}, { selected: @sort_order }
        %p.caption.centered= t("browse.discovery.current_raise.#{key}_caption", finra_link: link_to_finra, sipc_link: link_to_sipc, popover: inline_popover(t("browse.discovery.current_raise.#{key}_popover_title"), t("browse.discovery.current_raise.#{key}_popover_text"), t("browse.discovery.current_raise.#{key}_popover_title"))).html_safe
      .currently-raising{ class: "#{key}" }
        = render partial: 'offering_card', collection: @open_campaigns[key]
        = render partial: 'placeholder_card', collection: @placeholder_campaigns[key]
