- offering = offering_card
#offering-card
  .offering-card{ data: { days_left: offering.days_left, amount_raised: offering.accredited_balance, pct_complete: offering.percent_complete, closed_pending: (offering.closed_pending? ? 1 : 0) } }
    %a{ href: offering_short_path(offering) }
      .card-cover
        = image_tag offering.photo_swatch_url, alt: offering.company_name
        - if offering.closed_successfully?
          .days-left.funded
            = t('browse.discovery.campaign_swatch.offering.end_date.funded')
        - elsif !offering.ended? && offering.days_left != 'N/A' && offering.days_left <= 30
          .days-left
            = "#{pluralize(offering.days_left, 'day')} left"
        - elsif offering.closed_pending?
          .days-left
            = 'Pending Closing'
      .card-body
        %h4= offering.company_name
        %p= offering.tagline_browse || offering.tagline
