- placeholder = placeholder_card
#offering-card
  .offering-card.placeholder-card
    .card-cover
      = image_tag("#{placeholder.photo}")
    .card-cover-overlay
      .button-overlay
        .button Coming Soon
    .card-body
      %h4= placeholder.company_name
      %p= placeholder.tagline
