- content_for(:main_container_class) do
  full-width gray
.empty-browse.offerings-index.browse
  .header.row-fluid.no-margin
    %hr.dashed-line.span3
    %h5.upcase.centered.span6= 'FlashFunders is currently in beta'
    %hr.dashed-line.span3
  .row-fluid.centered.push-down-small
    =image_tag('beta-empty-browse-page-icon.png')
  .row-fluid.centered
    %p= 'We are currently onboarding startups.'
  .row-fluid.centered
    %p= 'Check back soon to discover innovative startups raising capital on FlashFunders.'
