- content_for(:main_container_class) do
  full-width gray

- cache(@cache_key, skip_digest: true) do
  #browse-offerings
    #hero-image
      .hero
        %h1.sh=t('browse.discovery.header.explore')

    = render partial: 'currently_raising'

    = render partial: 'closed'

    = render partial: 'shared/subscription_panel', locals: { form_id: 'browse_new_subscription' }
