:ruby
  def yaml_t(key, args={})
    I18n.t("subscription_mailer.welcome.snazzy.#{key}", args)
  end

  content_for(:header_img) { 'mailer/header_photo.png' }
  content_for(:header_text) do
    header_elements text_weight(yaml_t('overlay'), 100)
  end

  html = mail_body([
    [[icon('mailer/thumbsup_icon.png')]],
    v_spacer(2),
    [[title(yaml_t('title'))]],
    v_spacer(2),
    [[paragraph(yaml_t('p1'))]],
    v_spacer(2),
    [[paragraph(yaml_t('p2'))]],
    v_spacer(5),
    normal_button(yaml_t('btn'), browse_url)
  ])

= html
