=t('subscription_mailer.welcome.header')
="\n"
=t('subscription_mailer.welcome.p1')
="\n"
=t('subscription_mailer.welcome.p2')
="\n"
=t('subscription_mailer.welcome.p3.html', recent_article: "Here is a recent article about us (" + t('subscription_mailer.welcome.p3.link1') + ')', spread_words: "help spread the word. (" + t('subscription_mailer.welcome.p3.link2') + ')')
="\n"
=t('subscription_mailer.welcome.p4')
="\n"
=t('subscription_mailer.welcome.sign1')
=t('subscription_mailer.welcome.sign2')
=investor_hub_url
