%table{ width: '100%', cellpadding: '0', cellspacing: '0' }
  %tr
    %td{ 'mc:edit' => 'paragraph-2', style: 'font:15px/21px Helvetica, Arial, sans-serif; color:#093954; padding:2px 0 5px;' }
      %h4 Hello, fellow Flasher.
  %tr
    %td{ 'mc:edit' => 'paragraph-2', style: 'font:15px/21px Helvetica, Arial, sans-serif; color:#093954; padding:2px 0 5px;' }
      An Investor attempted to perform a Fund America operation on FlashFunders and it didn't work.  The details of the operation are below:
  %tr
    %td{ 'mc:edit' => 'paragraph-2', style: 'font:15px/21px Helvetica, Arial, sans-serif; color:#093954; padding:2px 0 5px;' }
      %h4 User id and registration name:
      %p
        = "#{@investment.user.id} - #{@investment.user.registration_name}"
  %tr
    %td{ 'mc:edit' => 'paragraph-2', style: 'font:15px/21px Helvetica, Arial, sans-serif; color:#093954; padding:2px 0 5px;' }
      %h4 Investor Entity
      %p
        with id# #{@investment.investor_entity.id}
  %tr
    %td{ 'mc:edit' => 'paragraph-2', style: 'font:15px/21px Helvetica, Arial, sans-serif; color:#093954; padding:2px 0 5px;' }
      %h4 Offering
      = link_to @investment.offering.corporate_name, offering_url(@investment.offering)
  %tr
    %td{ 'mc:edit' => 'paragraph-2', style: 'font:15px/21px Helvetica, Arial, sans-serif; color:#093954; padding:2px 0 5px;' }
      %h4 Error message:
      %p= @error



