- if @offering_presenter.convertible?
  #{@offering_presenter.company_name} #{t('investor_investments.part_1')} <span>#{@offering_presenter.maximum_total_investment_display}</span> of #{@offering_presenter.security_title}
- elsif @offering_presenter.llcs?
  #{@offering_presenter.company_name} #{t('investor_investments.part_1')} <span>#{@offering_presenter.maximum_total_investment_display}</span> of #{@offering_presenter.security_title}
- else
  - share_price = number_to_currency(@offering_presenter.share_price, precision: 3)
  #{@offering_presenter.company_name} #{t('investor_investments.part_1')} <span>#{number_with_delimiter(@offering_presenter.shares_offered)} #{t('investor_investments.shares')}</span> (<span>#{share_price}/#{t('investor_investments.share')}</span>) #{t('investor_investments.part_2_stock', stock_offered: @offering_presenter.security_title)}
- if @offering_presenter.model_direct_spv?
  %br
  %br
  #{t('investor_investments.spv_title1', threshold: number_to_currency(@offering.direct_investment_threshold))}
  %br
  - if @offering_presenter.convertible?
    #{t('investor_investments.convertible_title2', security_type:@offering_presenter.other_security_type_title_plural, company: @offering_presenter.company_name)}
  - elsif @offering_presenter.llcs?
    #{t('investor_investments.convertible_title2', security_type: @offering_presenter.security_title, company: @offering_presenter.company_name)}
  - else
    #{t('investor_investments.spv_title2', stock_offered: @offering_presenter.security_title, company: @offering_presenter.company_name)}
  %br
  %br