- content_for(:main_container_class) do
  full-width gray

- content_for :step_description do
  .investment-offering.centered
    %h1.title #{t('investor_investments.workspace_title')} #{@offering_presenter.company_name}
    %small Enter your investment amount

= simple_form_for @investment, url: offering_investment_path(@offering), method: :post, html: { id: 'new_investment' } do |f|
  .new-invest-panel
    .summary.centered
      .title Raised
      .amount-raised= number_to_currency @offering_presenter.accredited_balance
      of
      %span.primary-value= @offering_presenter.minimum_total_investment_display
      Offering Min
      %p.offer-description
        = render partial: 'invest/investments/offering_detail_description_html'
    .row-fluid.no-margin
      .span4.centered
        %dl
          %dt.title= t('investor_investments.offering_max')
          %dd.h4= @offering_presenter.maximum_total_investment_display
      .span4.centered.separator-both
        %dl
          - if @offering_presenter.convertible?
            %dt.title.in-label= with_popover(t('convertible_notes.notes_terms.fifth_section.bullet2_title'), t('convertible_notes.notes_terms.fifth_section.bullet2_content'), t('convertible_notes.notes_terms.fifth_section.bullet2_title'))
            %dd.h4= @offering_presenter.discount_rate
          - else
            %dt.title.in-label= with_popover(t('investor_investments.total_equity_offered'), t('show_campaign.offering_information.equity_popover_html', offering_max: @offering_presenter.maximum_total_investment_display), t('popover_titles.campaign_show'))
            %dd.h4= @offering_presenter.formatted_percent_equity
      .span4.centered
        %dl
          - if @offering_presenter.convertible?
            %dt.title.in-label= with_popover(t('convertible_notes.notes_terms.fifth_section.bullet1_title'), t('convertible_notes.notes_terms.fifth_section.bullet1_content'), t('convertible_notes.notes_terms.fifth_section.bullet1_title'))
            %dd.h4= @offering_presenter.convertible_offering_valuation_cap_display
          - else
            %dt.title= t('investor_investments.pre_money_valuation')
            %dd.h4= @offering_presenter.pre_money_valuation_display
      .span12.separator-top.investment-details#investment-details
        = content_for :investment_details

    #form-buttons
      .row-fluid
        .span6
          =link_to t("investor_investments.form_section.cancel"), path == 'edit' ? new_offering_investment_path(@offering) : offering_path(@offering), class: "btn btn-block base-btn btlarge", tabindex: 3
        .span6
          =button_tag(t("investor_investments.form_section.#{path}"), class: "btn btn-primary btn-block btlarge", tabindex: 2)
          #spinner.centered.btn-block.btlarge.la-ball-clip-rotate.la-sm.hidden
            .btn-spinner
