.span12.successful-share
  .row-fluid.no-margin
    -if campaign.funded?
      .span12
        %h6.company-text= t('investor_transfer_investments.success.share.goal_met', company_name: campaign.company_name, balance: campaign.formatted_accredited_balance, goal: campaign.minimum_total_investment_display)
      .span4
        = link_to '', href: social.facebook.share_url, target: '_blank', class: 'facebook-share' do
          .social.fa.fa-facebook=  "Share"
        = link_to '', href: social.twitter.completed_investment_url, target: '_blank', class: 'twitter-share' do
          .social.fa.fa-twitter=   "Tweet"
    -else
      .span12
        .row-fluid
          %h6.company-text.push-down-medium= t('investor_transfer_investments.success.share.goal_pending', company_name: campaign.company_name, balance: campaign.formatted_accredited_balance, goal: campaign.minimum_total_investment_display, left: campaign.days_left)
          %span.facebook-share.social.push-right-small
          = link_to '', href: social.facebook.share_url, target: '_blank' , class: 'facebook-share social push-right-large' do
            .fa.fa-facebook
            = "Share"
          = link_to '', href: social.twitter.completed_investment_url, target: '_blank' , class: 'twitter-share social push-right-large' do
            .fa.fa-twitter
            =  "Tweet"
          = link_to '', href: social.linkedin.offering_url, target: '_blank' , class: 'linkedin-share social' do
            .fa.fa-linkedin-square
            =  "Share"
