= render partial: 'offering_details', locals: { path: path }
:javascript
  new FF.InvestmentStockFormView({
    $containerEl: $('#investment-details'),
    model: new Backbone.Model({
      errors: #{@investor_investment.errors.to_json},
      pre_money_valuation: "#{@offering_presenter.pre_money_valuation}",
      offering_maximum_investment: "#{@offering_presenter.maximum_total_investment}",
      shares_offered: #{@offering_presenter.shares_offered} ,
      share_price: #{@offering_presenter.share_price},
      minimum_investment_amount: "#{@offering_presenter.minimum_investment_amount_display}",
      has_spv: "#{@offering_presenter.model_direct_spv?}",
      direct_investment_threshold: "#{@offering.direct_investment_threshold}",
      formatted_direct_investment_threshold: "#{@offering_presenter.formatted_direct_investment_threshold}",
      company_name: "#{@offering_presenter.company_name}",
      investment_amount: #{@investment_amount},
      investment_shares: #{@investment_shares},
      investment_percent_ownership: #{@investment_percent_ownership},
      unrounded_investment_amount: "#{@unrounded_investment_amount}",
      spv_fee: "#{@offering.setup_fee_dollar}",
      spv_min: "#{@offering.spv_minimum_goal}",
      spv_total_investment: "#{@offering_presenter.spv_total_investment}",
      offering_id: #{@offering.id}
    }),
    formMethod: "#{@investor_investment.persisted? ? 'PATCH' : 'POST'}",
    formAction: "#{offering_investment_path(@offering)}",
  }).render();

  $('form').areYouSure();