#contact {
  background-color: $white-lilac;

  p, li, h2, h3, h4, h5, h6 {
    color: $title-gray;
  }
  h2 {
    margin-bottom: $spacing2;
  }
  a {
    color: $primary-blue;
  }
  .contact-section-1 {
    height: 340px;
    text-align: center;
    padding-top: 100px;
    @include retina_background_image(contact_header, png, auto, 100%, no-repeat left, linear-gradient(to top, $dodger-blue 20%, $cerulean-blue));
    background-size: cover;

    h1 {
      color: $white;
    }
  }

  .contact-section-2 {
    .row-fluid {
      margin-bottom: 0;
      margin-right: 0;
    }
    .map {
      margin-bottom: -5px;
    }
    .info {
      padding: 85px 50px;
      margin-right: 0;
      .row-fluid:first-child {
        padding-bottom: 30px;
      }
      .social-icons {
        padding-top: 5px;
        a {
          background: image-url('stripe_social_gray.png') no-repeat;
          background-size: cover;
          opacity: 0.7;
          width: 21px;
          height: 21px;
          margin-left: 10%;
          display: inline-block;
          text-indent: -9999px;

          &:first-child {
            margin-left: 0;
          }
          &:hover {
            opacity: 1;
          }
          &.facebook {
            background-position: 4px -21px;
          }
          &.linkedin {
            background-position: -1px -64px;
          }
          &.twitter {
            background-position: 1px -42px;
          }
        }
      }
    }
  }

  .contact-section-3 {
    background-color: $white;
    padding-top: 60px;
    padding-bottom: 60px;
    h1 {
      padding-bottom: 20px;
      text-align: center;
    }
  }

  .contact-section-4 {
    padding: 50px 15px;
    text-align: center;
    hr {
      max-width: 400px;
      margin: 50px auto;
      border-color: $light-gray;
    }
  }

  @include media('>=tablet') {
    .contact-section-1 {
      padding-top: 140px;
    }
    .contact-section-2 {
      .map, .info {
        width: 46%;
      }
      .info {
        height: 575px;
        padding: 85px 0;
      }
    }
  }
}
