#faq-page {
  text-align: center;
  margin-bottom: 0;
  max-width: 100%;

  a {
    text-decoration: none;
  }
  h1 {
    color: $white;
  }
  ul {
    list-style-type: none;
    text-align: left;
  }
  ul li {
    color: $primary-blue-gradient-end;
  }
  &.row-fluid, .row-fluid, .span11, .span8, .span4 {
    position: relative;
  }
  .span11 {
    margin: 0;
    box-shadow: 0 0px 10px 0 $tundora-gray;
  }
  .span11 > .row-fluid {
    margin-bottom: 0;
  }
  .span4 {
    display: none;
  }
  .faq-tab {
    ul {
      text-align: center;
      border-top: 1px solid $white-lilac;
      padding-left: 0;
      li {
        display: inline-block;
        margin-bottom: 0;
        padding: $spacing2 0;
        background-color: $hover-gray;
        width: 50%;
        float: left;
        cursor: pointer;

        &:nth-child(odd) {
          border-right: 1px solid $white-lilac;
        }
        &.active a {
          color: $primary-blue-gradient-end;
          font-weight: $medium-font-weight;
        }
        a {
          display: block;
          color: $mid-gray;
          padding: 0 $spacing2;
          font-size: $base-font-size;
        }
      }
    }
  }
  .jumbotron {
    display: inline-block;
    width: 100%;
    padding: $spacing4 $spacing2;
    margin-bottom: -250px;
    height: 450px;
    background: image_url('bg_faq.png'), linear-gradient(to top, $dodger-blue 20%, $cerulean-blue);
  }
  .secondary-bg {
    background-color: $white-lilac;

    .span11 {
      @include cross-browser('border-top-left-radius', 3px);
      @include cross-browser('border-top-right-radius', 3px);

      background-color: $hover-gray;
    }
  }
  .faq-body {
    @include cross-browser('border-top-left-radius', 3px);
    @include cross-browser('border-top-right-radius', 3px);

    display: inline-block;
    width: 100%;
    background-color: $white;
  }
  .title {
    @extend .h2;
    text-align: left;
    color: $primary-blue-gradient-end;
  }
  .questions-list, .questions-answers {
    padding: $spacing3;
  }
  .questions-list {
    ul {
      list-style-type: circle;
      margin: 0;
      padding-top: $spacing2;
      padding-left: $spacing2;
      li {
        padding-bottom: 5px;
        &:last-child {
          padding-bottom: 0;
        }
        a {
          color: $mid-gray;
          font-size: $base-font-size;
          &.active {
            color: $primary-blue-gradient-end;
          }
        }
      }
    }
  }
  hr {
    color: $gray-lighter
  }
  .question, .answer {
    text-align: left;
  }
  .question {
    @extend .h2;
    color: $title-gray;
    padding-bottom: $spacing2;
  }
  .answer {
    color: $mid-gray;
    padding-bottom: $spacing3;
    ul {
      list-style-type: circle;
      padding: $spacing2;
      margin: 0;
      li {
        padding-bottom: $spacing1;
        p {
          color: $mid-gray;
        }
      }
    }
  }
  .answer, .answer ul, .answer ul li {
    &:last-child {
      padding-bottom: 0;
    }
  }

  @include media(">=tablet") {
    .span11 {
      max-width: $container-large-desktop;
    }
    .jumbotron {
      padding: $spacing5 $spacing2;
      background-size: 100% 495px;
      height: 495px;
      margin-bottom: -195px;
    }
    .faq-tab {
      position: relative;
      ul {
        position: absolute;
        text-align: center;
        left: 50%;
        margin-top: $spacing12;
        margin-left: -332px;
        border-top: 0;
        li {
          display: inline-block;
          width: 300px;
          height: inherit;
          margin: auto $spacing1;
          border-bottom: 2px solid $white;
          cursor: pointer;
          background-color: transparent;
          padding: 0;

          &:nth-child(odd) {
            border-right: 0;
          }
          a {
            display: block;
            padding: 0 0 $spacing1 0;
            color: $white;
          }
          &.active, &:hover {
            border-bottom: 4px solid $white;
            a {
              color: $white;
            }
          }
        }
      }
    }
  }

  @include media(">=desktop") {
    .span11 {
      max-width: $container-large-desktop;
    }
    .jumbotron {
      margin-bottom: -200px;
    }
    .span4 {
      display: inline-block;
      width: 29.33333% + 4%;
      margin: 0;
    }
    .span8 {
      @include cross-browser('border-top-right-radius', 3px);
    }
    .faq-nav {
      @include cross-browser('border-top-left-radius', 3px);

      padding: $spacing4 $spacing5 0 $spacing5;
      background-color: $hover-gray;
      height: 100%;

      a {
        display: block;
        padding-bottom: $spacing1;
        color: $mid-gray;
        &.active {
          color: $primary-blue-gradient-end;
        }
      }
      ul {
        margin: 0;
      }
      li.active a {
        color: $primary-blue-gradient-end;
      }
      li:not(.active):hover a {
        color: $primary-blue;
      }
    }
    .pinned {
      position: fixed;
      top: 0;
      height: inherit;
      max-width: 405px;
    }
    .faq-body {
      border-left: 1px solid $gray-lighter;
    }
    .questions-list, .questions-answers {
      padding: $spacing4 $spacing5;
    }
    .questions-list {
      ul li:not(.active):hover a {
        color: $primary-blue;
      }
    }
    .question {
      padding-bottom: $spacing3;
    }
    .answer {
      padding-bottom: $spacing4;
    }
  }
}
