.marketing-page {
  // generic .container class
  margin: 0 auto;
  .container {
    padding: $spacing4 0;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style-type: none;
      flex-flow: column;
      align-items: center;
      width: 100%;

      li {
        flex: 0 1 auto;
      }
    }
    hr {
      width: 60px;
      height: 3px;
      left: 0;
      right: 0;
      background: $title-gray;
      border: none;
    }
    .sh {
      color: $white;
    }
    h1, .h1 {
      color: $title-gray;
    }
    h2, .h2, h3, .h3 {
      color: $primary-blue-gradient-end;
    }
    h1, .h1, h2, .h2, h3, .h3, p, .p, .link {
      padding: 0 $spacing2;
    }
  }

  // extended .container classes
  .container--blue {
    @extend .container;
    background: linear-gradient(to top, $dark-blue-gradient-start, $dark-blue-gradient-end);

    h1 {
      color: $white;
    }
    h2 {
      padding-top: $spacing2;
      padding-bottom: $spacing1;
    }
    p {
      color: $white;
    }
    hr {
      background: $white;
    }
  }
  .container--gray {
    @extend .container;
    background-color: $white-lilac;

    h2 {
      margin: 0 auto;
    }
    h3 {
      color: $primary-blue-gradient-end;
    }
    p {
      color: $mid-gray;
    }
    hr {
      background: $title-gray;
    }
  }
  // image classes
  .block-image {
    height: 102px;
    width: 102px;
    margin: 0 auto $spacing2 auto;
  }
  .inline-image {
    background-size: contain !important;
    margin: 0 auto;
    min-height: 260px;
  }

  @include media('>=tablet') {
    .container, .container--blue, .container--gray {
      padding: $spacing5 0;
      .sh {
        padding: 0 10%;
      }
      h2, .h2, h3, .h3, p, .p {
        padding-left: 22%;
        padding-right: 22%;
      }
    }
    .inline-image {
      min-height: 400px;
    }
  }

  @include media('>=desktop') {
    .container, .container--blue, .container-gray {
      padding: $spacing5 $spacing3;
      h2, .h2, h3, .h3, p, .p {
        padding: 0 10% 0 20px;
      }
      ul {
        width: 100%;
        flex-flow: row;
        align-items: center;
        max-width: $container-large-desktop;
        &:nth-child(even) {
          flex-flow: row-reverse;
          h2, .h2, h3, .h3, p, .p {
            padding: 0 20px 0 10%;
          }
        }
        li {
          text-align: left;
          flex: 6;
          &:nth-child(even) {
            flex: 4;
          }
        }
      }
    }
  }
}

#investors, #startups {
  .link-icon {
    @include retina_background_image(investors/ic-arrow-right, png, 100%, auto, no-repeat center, transparent);
    background-size: cover;
    display: inline-block;
    width: 25px;
    height: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
  // embedded links for the various sections
  .link {
    bottom: 0;
    padding: 0;
    left: 0;
    text-align: left;
    a {
      color: $primary-blue-gradient-end;
      &:hover {
        color: $secondary-blue;
      }
    }
    .link-icon {
      position: relative;
      top: 3px;
    }
  }
  hr.border-bg {
    display: none;
  }
  #main {
    text-align: center;
    background: linear-gradient(to top, $dodger-blue 20%, $cerulean-blue), image-url('investors/ih-header-wave-lines') repeat 0 0;
    .btn-normal {
      margin-top: $spacing2;
    }
    .container {
      display: block;
      padding: $spacing4 0;
    }
  }
  #how {
    .container, .container--gray {
      ul, ul li {
        width: 100%;
        margin-top: 0;
      }
      ul li ul {
        padding-top: $spacing3;
        li:last-child {
          padding: $spacing2 $spacing1 0 $spacing1;
        }
      }
      .block-image {
        margin: 0 auto;
      }
      p, .p {
        padding-top: $spacing1;
        text-align: center;
      }
    }
  }
  #what {
    ul li:nth-child(even) {
      padding-top: $spacing3;
    }
    .link {
      padding: $spacing1 0 0 $spacing2;
    }
  }
  #what, #faq {
    p, .p, h2, .h2, h3, .h3 {
      text-align: left;
    }
    h3, .h3 {
      padding-top: $spacing2;
      padding-bottom: $spacing1;
      color: $title-gray;
    }
    ul {
      margin: 0;
      padding: $spacing3 0 0 0;
    }
    ul li {
      width: 100%;
    }
  }
  #faq {
    p, .p {
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @-moz-document url-prefix() {
      ul li.questions ul li:nth-child(2) p {
        @include line-clamp($medium-line-height, 6);
        overflow: hidden;
        position: relative;
      }
    }
    .questions {
      padding-top: $spacing3;
      p, .p {
        padding: $spacing1 0;
      }
      ul {
        padding: 0;
      }
    }
    h3, .h3 {
      color: $title-gray;
      padding: 0;
    }
    ul {
      padding: 0 $spacing2 $spacing3 $spacing2;
    }
  }
  @include media('>=tablet') {
    hr.bottom-line {
      margin-top: $spacing1;
    }
    #how {
      .container, .container--gray {
        ul {
          padding: $spacing2 $spacing4 0 $spacing4;
          li ul {
            flex-flow: row;
            padding-top: $spacing3;
            li {
              flex: 2;
              &:last-child {
                padding-top: 0;
                flex: 5;
              }
            }
          }
        }
        h3, .h3 {
          text-align: left;
          padding: 0;
        }
      }
      p, .p {
        //text-align: left;
        padding: 0;
      }
    }
    #what {
      .link {
        padding: $spacing2 22% 0 22%;
      }
    }
    #faq {
      ul {
        padding-top: $spacing3;
        li {
          margin-bottom: $spacing1;
        }
        .questions {
          background-color: $white;
          border: 1px solid $gray-lighter;
          border-top: transparent;
          box-shadow: 0 0 10px 0 $tundora-gray;
          width: 370px;
          padding: $spacing2;
          .link {
            padding-top: $spacing1;
            text-align: right;
          }
          ul {
            align-items: stretch;
            li {
              h2, .h2 {
                margin-top: 0;
              }
              &:last-child {
                align-self: flex-end;
              }
            }
            li.answer {
              height: 144px;
              p, .p {
                max-height: 144px;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }

  @include media('>=desktop') {
    hr.border-bg {
      display: block;
      width: 65%;
      min-width: 720px;
      max-width: 900px;
      background: $primary-blue-gradient-end;
      height: 1px;
      position: absolute;
      margin: -50px auto;
      z-index: -1;
    }
    .number-one {
      @include retina_background_image('investors/01', png, 100%, auto, no-repeat center, transparent);
    }
    .number-two {
      @include retina_background_image('investors/02', png, 100%, auto, no-repeat center, transparent);
    }
    .number-three {
      @include retina_background_image('investors/03', png, 100%, auto, no-repeat center, transparent);
    }
    .number-four {
      @include retina_background_image('investors/04', png, 100%, auto, no-repeat center, transparent);
    }
    .number-one, .number-two, .number-three, .number-four {
      width: 35px;
      height: 30px;
      margin: 0 auto;
      margin-bottom: $spacing2;
    }
    #main {
      .container, .container--blue, .container-gray {
        padding: $spacing6 $spacing3;
      }
      .btn-normal {
        margin-top: $spacing4;
      }
    }
    #how {
      .container, .container--gray {
        ul {
          padding: $spacing2 0 0 0;
          align-items: stretch;
          li {
            flex: 1;
            ul {
              display: block;
            }
          }
          h3, .h3, p, .p {
            text-align: center;
          }
          h3, .h3 {
            padding-top: $spacing3;
            padding-bottom: $spacing1;
          }
        }
      }
    }
    #what {
      .container {
        padding: $spacing5 0;
        ul {
          padding-top: $spacing5;
          .link {
            padding: $spacing2 10% 0 20px;
          }
          li:nth-child(even) {
            padding-top: 0;
            .link {
              padding: $spacing2 20px 0 10%;
            }
          }
        }
      }
    }
    #faq {
      ul {
        padding: $spacing4 0 $spacing5 0;
        align-items: stretch;
        li.questions {
          display: flex;
          flex: 0 1 auto;
          min-width: 265px;
          width: auto;
          margin: 0 $spacing1;
          ul {
            flex-flow: column;
            li.answer {
              height: 165px;
              p, .p {
                max-height: 165px;
              }
            }
            li {
              flex: 1 1 auto;
              &:last-child {
                flex: 0 0.2 auto;
              }
            }
          }
        }
      }
    }
  }
}
