#press {
  span {
    color: $lighter-gray;
  }
  p {
    color: $mid-gray;
  }
  h1, h2 {
    color: $title-gray;
  }

  #hero-image {
    @include retina_background_image(FF_Press_Header, png, auto, 100%, no-repeat center center, linear-gradient(to top, $dodger-blue 20%, $cerulean-blue));
    .hero {
      padding: $spacing6 0;

      h1 {
        color: $white;
        text-align: center;
      }
    }
  }

  .container {
    position: relative;
    width: 100%;
    max-width: $container-large-desktop;
    margin: 0 auto;
    padding: $spacing4 $spacing3;
    box-sizing: border-box;

    .row-fluid {
      margin: 0;
      padding: $spacing4 0;
      border-bottom: 1px solid $light-gray;
      text-align: left;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  .sections {
    h2 {
      &:hover { color: $primary-blue; }
    }
    .section-title {
      @extend .h3;
      color: $primary-blue;
    }
    .title {
      padding: $spacing2 0 $spacing3 0;
    }
    .banner {
      padding-bottom: $spacing2;
    }
    .embedded-container {
      position: relative;
      padding-bottom: 56.25%;
      margin-bottom: 10px;

      iframe {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .row-fluid:last-child { border-bottom: 0px; }
    .right-panel {
      padding-top: $spacing3;
    }
  }
  .media-resource {
    background-color: $white-lilac;

    h1, p {
      color: $title-gray;
      text-align: center;
    }
    h1 {
      padding-bottom: $spacing3;
    }
    .row-fluid {
      margin: 0;
      padding: $spacing4 0 0 0;
      border: 0;
    }
    .span4 {
      position: relative;
      padding-bottom: $spacing2;
      img {
        width: 100%;
        height: 100%;
        border: 1px solid $light-gray;
      }
    }
  }

  @include media(">=tablet") {
    .container {
      position: relative;
      width: 100%;
      max-width: $container-large-desktop;
      margin: 0 auto;
      padding: $spacing5 $spacing3;
      box-sizing: border-box;

      .row-fluid {
        margin: 0;
        padding: $spacing4 0;
        border-bottom: 1px solid $light-gray;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
    .sections {
      .title {
        padding: $spacing2 0;
      }
      .banner {
        padding-bottom: $spacing3;
      }
      .right-panel {
        padding-top: 0;
      }
    }
    .media-resource {
      .row-fluid {
        padding-top: $spacing4;
      }
    }
  }
}
