#style-guide {
  margin: 20px;
  padding: 20px;

  .section-title {
    @extend .h2;
    @include cross-browser(border-bottom, solid 1px gray);
    margin-top: 30px;
    color: $primary-blue;
  }
  .subsection-title {
    @extend .h3;
    color: $title-gray;
    margin-top: 30px;
    text-transform: uppercase;
  }
  .tile {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    padding-top: 10px;
    @include cross-browser(border, solid 1px black);
  }
  .text {
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: $light-font-weight;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    &:hover {
      overflow: visible;
      white-space: normal;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    @include cross-browser(flex-flow, row wrap);
    justify-content: center;
    li {
      margin: 10px;
      width: 150px;
      height: 200px;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
      &:hover {
        white-space: normal;
        overflow: visible;
      }
    }
  }

  #typography {
    ul {
      li {
        height: 150px;
      }
    }
    .tile:hover {
      background-color: $dark-blue-gradient-start;
      color: $white;
    }
  }

  #colors {
    .white {
      background-color: $white;
    }
    .error-red {
      background-color: $error-red;
    }
    .primary-blue {
      background-color: $primary-blue;
    }
    .secondary-blue {
      background-color: $secondary-blue;
    }
    .cerulean-blue {
      background-color: $cerulean-blue;
    }
    .dodger-blue {
      background-color: $dodger-blue;
    }
    .light-green {
      background-color: $light-green;
    }
    .mid-green {
      background-color: $mid-green;
    }
    .light-orange {
      background-color: $light-orange;
    }
    .white-lilac {
      background-color: $white-lilac;
    }
    .hover-gray {
      background-color: $hover-gray;
    }
    .gray-lighter {
      background-color: $gray-lighter;
    }
    .light-gray {
      background-color: $light-gray;
    }
    .flow-lighter-gray {
      background-color: $flow-lighter-gray;
    }
    .lighter-gray {
      background-color: $lighter-gray;
    }
    .medium-gray {
      background-color: $medium-gray;
    }
    .mid-gray {
      background-color: $mid-gray;
    }
    .title-gray {
      background-color: $title-gray;
    }
    .helper-blue {
      background-color: $helper-blue;
    }
    .tundora-gray {
      background-color: $tundora-gray;
    }
    .dark-blue-gradient-start {
      background-color: $dark-blue-gradient-start;
    }
    .dark-blue-gradient-end {
      background-color: $dark-blue-gradient-end;
    }
    .primary-blue-gradient-start {
      background-color: $primary-blue-gradient-start;
    }
    .primary-blue-gradient-end {
      background-color: $primary-blue-gradient-end;
    }
  }

  #gradients {
    .primary-blue-gradient {
      background: $primary-blue-gradient;
    }
    .dark-blue-gradient {
      background: $dark-blue-gradient;
    }
    ul {
      li {
        width: 300px;
      }
    }
  }

  #buttons {
    ul {
      li {
        width: inherit;
        height: inherit;
        ul {
          @include cross-browser(flex-flow, column wrap);
          li {
            height: 80px;
          }
        }
      }
    }
  }

  #pills {
    ul {
      li {
        width: inherit;
        height: inherit;
        ul {
          @include cross-browser(flex-flow, column wrap);
          li {
            height: 80px;
          }
        }
      }
    }
    .pill-outline-green {
      @include pill-style(#28CDAA, #DDF8F2, #28CDAA);
      line-height: 1.2;
    }
    .pill-solid-green {
      @include pill-style($white, $light-green, $light-green);
      line-height: 1.2;
    }
    .pill-outline-blue {
      @include pill-style($dodger-blue, $helper-blue, $dodger-blue);
      line-height: 1.2;
    }
    .pill-large {
      @extend .pill-outline-green;
      width: 230px;
      padding: 5px 30px;
    }
    .pill-medium {
      @extend .pill-outline-blue;
      font-size: 14px;
      width: 75px;
      height: 25px;
      padding: 3px 0;
    }
    .pill-small {
      @extend .pill-outline-blue;
      font-size: 14px;
      width: 40px;
      height: 25px;
      padding: 3px 0;
    }
  }

  #spacing {
    .tile {
      height: inherit;
      &:hover {
        background-color: $primary-blue;
      }
    }
    ul li {
      min-height: 220px;
    }
    .spacing1 {
      height: $spacing1;
    }
    .spacing2 {
      height: $spacing2;
    }
    .spacing3 {
      height: $spacing3;
    }
    .spacing4 {
      height: $spacing4;
    }
    .spacing5 {
      height: $spacing5;
    }
    .spacing6 {
      height: $spacing6;
    }
    .spacing8 {
      height: $spacing8;
    }
    .spacing12 {
      height: $spacing12;
    }
  }

}
