#ff-team {
  h1 {
    text-align: center;
  }
  #team-jumbo {
    background: linear-gradient(to top, $dodger-blue 20%, $cerulean-blue);
    height: initial;
    text-align: center;
    padding: 0 5%;

    h1 {
      color: $white;
    }
  }

  #team-jumbo,
  #team-contact,
  #team-partners,
  #team-peek,
  #team-execs {
    background-color: $white-lilac;

    .clear {
      clear: both;
    }

    .container {
      width: 100%;
      padding: $spacing4 $spacing2;

      .team-member {
        max-width: initial;
        width: 100%;
        padding-top: $spacing4;

        .member-photo {
          padding-bottom: $spacing2;

          img {
            width: 100%;
            max-width: 370px;
          }
        }

        .member-info--container {
          text-align: left;
          .member-name {
            @extend .h3;
            color: $primary-blue;
            text-transform: uppercase;
            padding-bottom: $spacing1;
          }

          .member-title {
            @extend .h4;
            color: $title-gray;
            padding-bottom: $spacing2;
          }

          .bio-container {
            color: $mid-gray;
            padding-right: 10px;
          }
        }
      }
    }
  }

  #team-carousel {
    clear: both;
    overflow: hidden;
    position: relative;
    h1 {
      color: $white;
    }

    .overlay {
      position: absolute;
      background: rgba(52, 64, 93, 0.75);
      height: 100%;
      width: 100%;
      z-index: 2;
    }

    .content {
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: 3;
      padding: $spacing1;
      top: 50%;
      margin-top: -$spacing8;
      .join-button {
        padding-top: $spacing3;
      }
    }

    &.simple-slide {
      /** THEME  ===================================*/

      .bx-wrapper .bx-viewport {
        background: $white;

        /*fix other elements on the page moving (on Chrome)*/
        @include cross-browser(transform, translatez(0));
      }
      .images {
        height: auto;
        margin: auto;
      }
      img {
        width: 100%;
        height: auto;
      }

      .bx-wrapper .bx-pager,
      .bx-wrapper .bx-controls-auto {
        position: absolute;
        bottom: -$spacing2;
        width: 100%;
      }

      /* LOADER */

      .bx-wrapper .bx-loading {
        min-height: 50px;
        background: image-url('bx_loader.gif'), center center no-repeat $white;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2000;
      }

      /* PAGER */

      .bx-wrapper .bx-pager {
        text-align: center;
        font-size: .85em;
        font-weight: bold;
        color: $mid-gray;
        padding-top: 20px;
        z-index: 4;
        bottom: 5%;
      }

      .bx-wrapper .bx-pager .bx-pager-item,
      .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
        display: inline-block;
        *zoom: 1;
        *display: inline;
      }

      .bx-wrapper .bx-pager.bx-default-pager a {
        background: $light-gray;
        text-indent: -9999px;
        display: block;
        width: 15px;
        height: 15px;
        margin: 0 10px;
        outline: 0;
        @include cross-browser(border-radius, 15px);
        position: relative;
      }

      .bx-wrapper .bx-pager.bx-default-pager a:hover,
      .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: $white;

        &:before {
          width: 11px;
          height: 11px;
          position: absolute;
          background: $primary-blue;
          content: "";
          left: 2px;
          @include cross-browser(border-radius, 20px);
          top: 2px;
        }
      }

      /* DIRECTION CONTROLS (NEXT / PREV) */

      .bx-wrapper .bx-prev {
        left: 3%;
        background: image-url('LeftArrow.png') no-repeat;
      }

      .bx-wrapper .bx-next {
        right: 3%;
        background: image-url('RightArrow.png') no-repeat;
      }

      .bx-wrapper .bx-controls-direction a {
        display: block;
        position: absolute;
        top: 50%;
        outline: 0;
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        z-index: 9999;
      }

      .bx-wrapper .bx-controls-direction a.disabled {
        display: none;
      }
    }
  }

  #team-partners {
    .container {
      .partner {
        width: 100%;
        float: left;
        padding: $spacing3 0 $spacing1 0;
        text-align: left;
        &:last-child {
          padding-bottom: 0;
        }
        .partner-logo {
          padding-bottom: $spacing3;
          max-width: 370px;
          img {
            height: $spacing4;
          }
        }
        .partner-info--container {
          color: $mid-gray;
        }
      }
    }
  }

  #team-peek {
    background-color: $white;
    clear: both;
    .team-collage {
      margin: 50px auto 0 auto;
      text-align: center;

      img {
        width: 100%;
        max-width: 370px;
        margin: 0 auto;
        padding: 0;
      }

      .flash_fact {
        max-width: 370px;
        position: relative;
        margin: 0 auto;
        text-align: left;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          max-width: initial;
          left: 0;
        }
        span {
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 20px;
          color: $white;
          font-family: $base-font-family;
          font-size: 20px;
          left: 0;
          top: 0;
          margin-top: 15px;
          text-align: left;

          &:before {
            content: "#flashfact";
            display: block;
            margin-bottom: 10px;
            font-weight: 800;
            text-transform: uppercase;
          }
        }
      }

      .team_fact {
        max-width: 370px;
        position: relative;
        margin: 0 auto;
        text-align: left;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          max-width: initial;
          left: 0;
        }
        h1 {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          text-align: center;
          margin-top: -0.9em;
          color: $white;
          font-family: $base-font-family;
          font-size: 50px;
          font-weight: 800;

        }
        span {
          position: absolute;
          width: 100%;
          padding: 0 20px;
          color: $white;
          font-family: $base-font-family;
          font-size: 20px;
          left: 0;
          top: 47%;
          margin-top: 10px;
          text-align: center;
        }
      }
    }
  }

  #team-contact {
    clear: both;
    padding-bottom: 0px;

    .form-elements {
      margin: 0 auto;
      padding-top: $spacing3;

      .radio-elements {
        padding-top: $spacing1;
        .radio {
          margin: $spacing1 0 $spacing2 0;
        }
        .custom-radio {
          display: inline-block;
        }
        .label {
          display: inline-block;
        }
      }
      .btn-primary {
        width: 100%;
      }
    }
  }

  @include media(">=tablet") {
    #team-contact,
    #team-partners,
    #team-peek,
    #team-execs {
      .container {
        max-width: map-get($breakpoints, 'tablet');
        margin: 0 auto;
        padding: $spacing5 $spacing3;

        h6 {
          font-size: 50px;
        }

        .team-member {
          max-width: 370px;
          width: 48%;
          float: left;
          margin: 0 1%;
          &:first-child {
            padding-top: $spacing5;
          }
        }
      }
    }

    #team-carousel {
      .content .large-title {
        max-width: 700px;
      }
      .content {
        .join-button {
          padding-top: $spacing4;
        }
      }
      .images {
        height: 768px;
      }
    }

    #team-partners {
      .container {
        .partner {
          width: 46%;
          margin: 0 2%;
        }
      }
    }

    #team-peek {
      padding-bottom: $spacing5;
      .team-collage {
        max-width: 900px;
        width: 100%;
        text-align: center;

        img {
          width: 33.3333%;
          max-width: 300px;
          float: left;
          margin: 0;
        }
        .flash_fact {
          width: 33.333%;
          height: 33.333%;
          float: left;

          span {
            font-size: 16px;
          }
        }
        .team_fact {
          width: 33.333%;
          height: 33.333%;
          float: left;
          h1 {
            margin-top: -0.9em;
            line-height: 36px;
          }

          span {
            top: 47%;
            font-size: 16px;
          }
        }
      }
    }

    #team-contact {
      clear: both;
      padding-bottom: 0px;

      .form-elements {
        margin: 0 auto;
        padding-top: $spacing4;

        .radio-elements {
          .radio {
            margin: $spacing2 0 $spacing3 0;
          }
          .custom-radio {
            display: inline-block;
          }
          .label {
            display: inline-block;
          }
        }
        .btn-primary {
          width: 100%;
        }
      }
    }
  }

  @include media('>=desktop') {
    #team-contact,
    #team-partners,
    #team-peek,
    #team-execs {
      .container {
        max-width: $container-large-desktop;
        margin: 0 auto;

        h6 {
          font-size: 50px;
        }

        .team-member {
          max-width: 370px;
          width: 30%;
          float: left;
        }
      }
    }

    #team-carousel {
      .content {
        .large-title {
          font-size: 55px;
        }
      }
      .images {
        height: auto;
      }
    }

    #team-peek {
      .team-collage {
        .team-fact {
          span {
            font-size: 18px;
          }
        }

        .flash_fact {
          span {
            font-size: 18px;
          }
        }
      }
    }
  }
}
