.csv-export= link_to 'Export to .CSV', issuer_dashboard_investment_activity_path(sorting_info(data[:sort_headers]).merge(dashboard_id: @offering.id))
%table.responsive{id: "panel-issuer-#{section}"}
  %tbody
    %tr
      - data[:sort_headers].each do |header|
        %th.left
          = link_to header[:title].html_safe,
              issuer_dashboard_path(id: @offering.id, sort_by: header[:sort_by], sort_dir: header[:sort_dir],
                                    count: data[:displayed] - Issuer::DashboardController::ITEMS_PER_PAGE,
                                    page: data[:page], last_viewed: data[:last_viewed], section: section),
              remote: true, id: header[:id]
      - data[:headers].each do |heading|
        %th.centered= heading

    - data[:items].each do |investment|
      %tr{ class: ('highlight' if data[:last_viewed].blank? || investment.updated_at > data[:last_viewed]) }
        %td= investment.formatted_updated_at
        %td= investment.investor_name
        %td= investment.investor_email
        %td= investment.formatted_amount
        %td.centered
          .content-mobile
            .fa.fa-check-circle
          .content
            .fa.fa-check-circle{ data: { info_popover: 'true', title: 'Started', content: investment.created_at.try(:strftime, '%b %e, %Y %I:%M %P %Z') } }
        %td.centered
          - if investment.has_signed_docs?
            .content-mobile
              .fa.fa-check-circle
            .content
              .fa.fa-check-circle{ data: { info_popover: 'true', title: 'Docs Signed', content: investment.docs_signed_at.try(:strftime, '%b %e, %Y %I:%M %P %Z') } }
        %td.centered
          -if investment.escrowed?
            .content-mobile
              .fa.fa-check-circle
            .content
              .fa.fa-check-circle{ data: { info_popover: 'true', title: 'Funded', content: investment.escrowed_at.try(:strftime, '%b %e, %Y %I:%M %P %Z') } }
        %td.centered
          %a{  href:  dashboard_conversation_path(investment.offering_id, user_id: investment.user_uuid) }
            .fa.fa-comment

.footer
  .page-nav= paginate(data[:items], left: 1, right: 1, window: 4, remote: true,
                      params: { sort_by: data[:sort_by], sort_dir: data[:sort_dir], last_viewed: data[:last_viewed], section: section })
  .page-info= page_entries_info data[:items]
- if data[:remaining] > 0
  .footer-mobile
    = link_to I18n.t('issuer-dashboard.pagination.load-more'),
              issuer_dashboard_path(id: @offering.id, sort_by: data[:sort_by], sort_dir: data[:sort_dir],
                                    count: data[:displayed], last_viewed: data[:last_viewed], section: section),
              remote: true
