%div{ id: "error-retrieving-#{section}", class: "error-retrieving" }
  .well
    %table
      %tr
        %th= image_tag(I18n.t("issuer-dashboard.error-retrieving.icon"))
      %tr
        %td
          %h2= I18n.t("issuer-dashboard.error-retrieving.none")
      %tr
        %td= I18n.t("issuer-dashboard.error-retrieving.caption").html_safe
