.dashboard-panel{ id: "issuer-#{section}" }
  - if any_panel_data?(section, data)
    .well
      %h3= t("issuer-dashboard.#{section}.title")
      = render partial: section.to_s.singularize, locals: { section: section, data: data }
  - else
    = render partial: 'panel_blank', locals: { section: section }
  = render partial: 'panel_error', locals: { section: section }
