%div{ id: "no-#{section}" }
  .well
    %h2= t("issuer-dashboard.#{section}.title")
    %table
      %tr
        %th= image_tag(t("issuer-dashboard.#{section}.icon"))
      %tr
        %td
          %h3= t("issuer-dashboard.#{section}.none")
      %tr
        %td= t("issuer-dashboard.#{section}.caption").html_safe
