var tableHtml = "#{escape_javascript( render partial: 'issuer/dashboard/panel', locals: { section: section, data: data } )}"
$("#issuer-#{section}").replaceWith(tableHtml);
FF.updateTables("panel-issuer-#{section}");
$('[data-info-popover]').each(function() { new FF.Popover(this); });
