#top-traffic.dashboard-panel{data: {end_date: @offering.escrow_end_date || @offering.ends_at, offering_start_date: @offering.created_at.strftime("%Y-%m-%d")}}
  .well
    .row-fluid.responsive
      .span9
        %h3= I18n.t("issuer-dashboard.top-traffic.title")
      .span3
        %select#top-traffic-dropdown.no-placeholder
    .empty
      .icon.top-traffic
      .title= t('issuer-dashboard.top-traffic.no-traffic.title')
      .subtitle= t('issuer-dashboard.top-traffic.no-traffic.subtitle')
    .stats-container
      .timeframe
        %span
      .totals
        %span.number
        %small
          = with_popover(t('issuer-dashboard.top-traffic.total-page-views'), t('issuer-dashboard.top-traffic.total-page-popover'), t('issuer-dashboard.top-traffic.total-page-views'))
      .items.row-fluid.responsive
