= select 'pageview', :metrics, {'Pageviews' => "Pageviews", 'Unique Pageviews' => "UniquePageviews", 'Avg Time on Page' => "AvgTimeOnPage"}, { selected: "Pageviews" }, class: 'no-placeholder'
#date-ranges
  %ul
    %li.daily.active Daily
    %li.weekly Weekly
    %li.monthly Monthly
  #pageview-date-range-text
    %p
.with-data
  %canvas#traffic-chart
  .stats-container
    .totals
      %span.number
      %small#Pageviews-legend.active
        = with_popover(I18n.t('issuer-dashboard.traffic_overview.total-page-views'), t('issuer-dashboard.traffic_overview.total-page-views-popover'), t('issuer-dashboard.traffic_overview.total-page-views-popover-title'))
      %small#UniquePageviews-legend
        = with_popover(I18n.t('issuer-dashboard.traffic_overview.total-unique-page-views'), t('issuer-dashboard.traffic_overview.total-unique-page-views-popover'), t('issuer-dashboard.traffic_overview.total-unique-page-views-popover-title'))
      %small#AvgTimeOnPage-legend
        = with_popover(I18n.t('issuer-dashboard.traffic_overview.total-avg-time-on-page'), t('issuer-dashboard.traffic_overview.total-avg-time-on-page-popover'), t('issuer-dashboard.traffic_overview.total-avg-time-on-page-popover-title'))
.empty
  .icon.traffic_overview
  .title= t('issuer-dashboard.traffic_overview.no-traffic.title')
  .subtitle= t('issuer-dashboard.traffic_overview.no-traffic.subtitle').html_safe
