#issuer-dashboard
  - title = "#{@offering_presenter.company_name} Dashboard"
  = content_for(:page_title, title)

  .title-bar
    %h2= title
    = link_to('View Offering', offering_short_path(@offering_presenter), class: 'title-link')
  #kpi-tiles
    .kpi-tile
      %span.raise
        .title= t('issuer-dashboard.tiles.raised.title')
        .value= @offering_presenter.formatted_accredited_balance
      %span.limits= t('issuer-dashboard.tiles.raised.limits', { min: @offering_presenter.minimum_investment_amount_display, max: @offering_presenter.maximum_total_investment_display}).html_safe
    .kpi-tile.investors
      .title= t('issuer-dashboard.tiles.investors.title')
      .value= @offering_presenter.number_of_investors
    .kpi-tile.daysleft
      .title= t('issuer-dashboard.tiles.days_left.title')
      .value= @offering_presenter.days_left

  = render partial: 'panel', locals: { section: :investments, data: @investment_data }
  = render partial: 'panel', locals: { section: :traffic_overview, data: {}  }
  = render partial: 'top_traffic'

  .footer-spacer
