= render partial: 'shared/tracking/google_analytics'
= render partial: 'shared/tracking/hubspot_analytics'
= render partial: 'shared/tracking/offering_google_analytics' if @offering_google_tracking.present? && @offering_google_tracking[:id].present?
= render partial: 'shared/tracking/offering_google_adwords' if @offering_google_adwords&.all? { |_,v| v.present? }
= render partial: 'shared/tracking/facebook_analytics'
