- @facebook_pixels&.each_with_index do |fb_pixel, index|
  :javascript
    var isLastElement = #{index == (@facebook_pixels.count - 1)};

    fbq('init', "#{fb_pixel[:pixel_id]}");
    if (isLastElement) {
      fbq('track', "#{fb_pixel[:event]}", #{fb_pixel[:opts].to_json});
    }

  %noscript
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=#{fb_pixel[:pixel_id]}&ev=#{fb_pixel[:event]}&noscript=1" />
