:javascript
  var _hsq = window._hsq = window._hsq || [];
  if (gon.email !== undefined && gon.email !== null) {
    _hsq.push(["identify", {email: gon.email}]);
  }

  (function(d,s,i,r) {
  if (d.getElementById(i)){return;}
  var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
  n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+"/#{ENV['HUBSPOT_KEY']}.js";
  e.parentNode.insertBefore(n, e);
  })(document,"script","hs-analytics",300000);
