= simple_form_for comment, url: offering_comment_forms_path(offering_id: offering_presenter.offering_id), html: { id: "#{action}-form-js" } do |f|

  .new-comment
    = f.input_field :return_to, type: :hidden, value: "#{offering_short_path(offering_presenter)}#comment"
    = f.input_field :parent_id, type: :hidden, value: nil
    = f.input_field :offering_id, type: :hidden, value: offering_presenter.offering_id
    = f.input :body, type: 'textarea', as: :text, label: false, placeholder: placeholder
    = f.submit "#{action.capitalize}", class: 'btn btn-primary'
