= simple_form_for contact_form, method: :post, remote: true, html: { id: 'contact-form', class: 'standard-form--container' } do |f|
  .container
    .contact-form
      %h1 Drop us a line below, we'd love to talk.
      .form-elements
        %p.centered Please select an option that applies to you:
        = f.input :page_name, as: :hidden
        .errors
        .row.radio-elements
          - [['I am an Investor', 'investor'] , ['I am an Entrepreneur', 'startup'], ['Other', 'other']].each do |elem|
            .radio
              %label
                = f.input_field :user_type, type: :radio, class: "custom-radio", value: elem[1]
                %span
                = elem[0]
        - if user_signed_in?
          = f.input_field :name, type: :hidden, value: current_user.registration_name
          = f.input_field :email, type: :hidden, value: current_user.email
        - else
          = f.input :name, label: false, placeholder: 'Your Name', :required => false
          = f.input :email, label: false, placeholder: 'Your Email', :required => false
        = f.input :message, label: false, placeholder: 'Your Message', :as => :text, :required => false
        %div
          = f.button :submit, 'Send Your Message', :class=> 'btn-normal btn-full'

    .contact-form-success.hidden
      %h1
        Thank you for your message.
        %br
        We will contact you soon.
