var page_html = "#{escape_javascript( render partial: 'form', locals: { contact_form: @contact_form } )}"
$('#contact-form').replaceWith(page_html);

- if @contact_form.validator.valid?
  $('#contact-form .contact-form').addClass("hidden");
  $('#contact-form .contact-form-success').removeClass("hidden");
- else
  $('#contact-form .errors').html("Please provide the information requested below.");

$('form').errorRemover();

