= content_for(:page_title, "#{@offering.company.name} | Details Editor")

= content_for(:main_container_class) do
  full-width light-gray

.flash-notice= flash[:notice]
.flash-alert= flash[:alert]

#offering-editor
  .offering-editor#company-details
    = render partial: 'issuer/editor/navigation', locals: { active_tab: :details }

    = simple_form_for @offering, url: issuer_editor_detail_path(@offering), method: :put, html: {class: 'content-editor-form'} do |f|

      %h4 Basic Information
      %fieldset
        .row-fluid
          = f.simple_fields_for :company do |ff|
            .span6
              = ff.label :name, "Company Name"
              = ff.input :name, label: false, tabindex: 1
            .span6
              = f.label :public_contact_name, "Contact Person Name"
              = f.input :public_contact_name, label: false, tabindex: 2
            .span6
              = ff.label :location, "Location"
              = ff.input :location, label: false, tabindex: 3
            .span6
              = ff.label :website_url, "Website"
              = ff.input :website_url, label: false, tabindex: 3
            .span12
              = f.label :tagline, "Tagline"
              = f.input :tagline, label: false, tabindex: 3
            .span12
              = f.label :vanity_path, "Offering URL"
              .vanity-path-controls
                = f.label :vanity_path, "http://flashfunders.com/"
                = f.input_field :vanity_path, label: false
              = f.error :vanity_path

      %h4 Analytics Tracking
      %fieldset
        .row-fluid
          .span6
            = f.label :facebook_pixel_id, "Facebook Pixel ID"
            = f.input :facebook_pixel_id, label: false
          .span6
            = f.label :google_tracking_id, "Google Analytics Tracking ID"
            = f.input :google_tracking_id, label: false
        .row-fluid
          .span6
            = f.label :google_adwords_conversion_id, "Google Adwords ID"
            = f.input :google_adwords_conversion_id, label: false
          .span6
            = f.label :google_adwords_conversion_label, "Google Adwords Conversion Label"
            = f.input :google_adwords_conversion_label, label: false

      %h4 Browse Panel
      %p This image shows up when users are browsing all investment opportunities and when your offering is shared through social media.  Your image file should have an aspect ratio of 740x330 and be at least 740px wide.
      %fieldset
        .span8
          = f.input :photo_swatch, as: :image_upload, text: 'Upload Browse Image', label: false, input_html: {accept: 'image/*', class: 'image-browse uploadable-browse-image'}
        .span8.push-up-small.browse-description
          = f.label :tagline_browse, 'Browse Description'
          = f.input :tagline_browse, as: :text, label: false, input_html: {tabindex: 6, class: 'description'}

      - if params["cover"] == "1"
        %h3 Cover Image
        %p Your cover image is located at the top of your offering page and is the first thing that investors see. Your company’s name and basic information overlays the left half of your cover image, so use the right half if you would like to highlight any visuals or text. The ideal image dimensions are 1440x400 pixels.
        %fieldset
          .span12
            = f.input :photo_cover, as: :image_upload, text: 'Upload Cover Image', label: false, input_html: {accept: 'image/*', class: 'image-cover uploadable'}

      %h4 Header Image
      %p This image must be 21:10 ratio and will be displayed on the Offering Landing page. The ideal image dimensions are 1890x900 pixels.
      %fieldset
        .row-fluid
          .span12
            = f.input :photo_header, as: :image_upload, text: 'Upload', label: false, input_html: {accept: 'image/*', class: 'image-header uploadable-image-header'}

      %h4 Logo Image
      %p We recommend this image to be a square and easily distinguishable in small sizes. The ideal image dimensions are 40x40 pixels.
      %fieldset
        .row-fluid
          .span2
            = f.input :photo_logo, as: :image_upload, text: 'Upload', label: false, input_html: {accept: 'image/*', class: 'image-logo uploadable-square-image'}

    = render partial: 'shared/file_upload_form', locals: {uploader: @uploader}
