:ruby
  def yaml_t(key, args={})
    I18n.t("confirmation_instructions.issuer_application.snazzy.#{key}", args)
  end

  content_for(:header_img) { 'mailer/header_photo.png' }
  content_for(:header_text) do
    header_elements safe_join [
      text_weight(yaml_t('overlay'), 100),
      text_weight(@resource.registration_name, 300)
    ]
  end

  def complete_registration_link
    if @resource.confirmed?
      new_user_registration_url(email: @resource.email, registration_name: @resource.registration_name)
    else
      confirmation_url(@resource, confirmation_token: @token, uuid: @resource.uuid)
    end
  end

  html = mail_body([
    [[icon("mailer/thumbsup_icon.png")]],
    v_spacer(2),
    [[title(yaml_t('title'))]],
    v_spacer(5),
    normal_button(yaml_t('btn'), complete_registration_link),
    v_spacer(5),
    [[paragraph(yaml_t('p1'))]],
    v_spacer(2),
    [[paragraph(yaml_t('p2',
        startup_section_link: link_to('startup hub', startups_url, default_link_attrs)
      ))]],
    v_spacer(5),
    [[icon("mailer/email_icon.png")]],
    v_spacer(2),
    [[paragraph(yaml_t('p3',
        startups_email_link: mail_to(t('contacts.startups'), t('contacts.startups'), default_link_attrs)
      ))]]
  ])

= html
