%table{ width: '100%', cellpadding: '0', cellspacing: '0' }
  %tr
    %td{ 'mc:edit' => 'header-1', style: 'font:17px/24px Helvetica, Arial, sans-serif; color:#093954; text-transform:uppercase; padding:32px 0 18px;' }
      = t('confirmation_instructions.html_part.reconfirm_greeting', name: @resource.registration_name)
  %tr
    %td{ 'mc:edit' => 'paragraph-1', style: 'font:15px/21px Helvetica, Arial, sans-serif; color:#093954; padding:0 0 25px;' }
      = t('confirmation_instructions.reconfirm_partially_registered')

  %tr
    %td{ style: 'padding:0 0 38px;' }
      %table{ cellpadding: '0', cellspacing: '0' }
        %tr
          %td{ bgcolor: '#0280c0', style: 'display:block; min-width:251px; min-height:36px;' }
            %table{ width: '100%', cellpadding: '0', cellspacing: '0' }
              %tr
                %td{ 'mc:edit' => 'button', class: 'btn', align: 'center', style: 'font:12px/14px Helvetica, Arial, sans-serif; color:#fff; text-transform:uppercase; padding:11px;' }
                  = link_to(t('confirmation_instructions.html_part.confirm'), confirmation_url(@resource, confirmation_token: @token, uuid: @resource.uuid), style: 'text-decoration:none; color:#fff; letter-spacing: 0.07em;')
