:ruby
  def yaml_t(key, args={})
    I18n.t("unlock_instructions.snazzy.#{key}", args)
  end

  content_for(:header_img) { 'mailer/header_photo3.png' }
  content_for(:header_text) do
    header_elements safe_join [
      text_weight(yaml_t('overlay'), 100),
      text_weight(@resource.email, 300),
      text_weight('!', 100),
    ]
  end

  html = mail_body([
    [[icon("mailer/lock_icon.png")]],
    v_spacer(2),
    [[title(yaml_t('title'))]],
    v_spacer(5),
    normal_button(yaml_t('btn'), unlock_url(@resource, :unlock_token => @token))
  ])

= html
