:ruby
  def yaml_t(key, args={})
    I18n.t("confirmation_instructions.html_part.#{key}", args)
  end

  content_for(:header_img) { 'mailer/header_photo.png' }
  content_for(:header_text) do
    header_elements safe_join [
      text_weight(yaml_t('salutation'), 100),
      text_weight(@resource.registration_name + '!', 300)
    ]
  end

  def features(feature_key)
    [
      [[icon("mailer/#{feature_key}_icon.png")]],
      v_spacer(2),
      [[title(yaml_t("#{feature_key}.title"))]],
      v_spacer(2),
      [[paragraph(yaml_t("#{feature_key}.body"))]],
      v_spacer(5),
    ]
  end

  html = mail_body([
    [[paragraph(yaml_t('intro'))]],
    v_spacer(5),

    * features('investment_dashboard'),
    * features('follow'),
    * features('comment'),
    * features('investment_calculator'),

    [[text_box(yaml_t('outro.body'))]],

    v_spacer(5),
    normal_button(yaml_t('outro.title'), browse_url)
  ])

= html
