= simple_form_for(@offering, url: issuer_editor_stakeholder_path(@offering), as: :stakeholders, method: :put, html: { class: "row-fluid content-editor-form" }) do |f|
  %h4
    Founding Team Members
  %p
    = t('issuer.editor.team')
    .team-members-container.template-group
      = f.simple_fields_for :team_members do |builder|
        = render partial: 'template_team_member', locals: { f: builder }
      .row-fluid.content-creation.push-down-small
        .span11
          = add_section_button_tag('Add Team Member', f, :team_members, class: 'btn-dashed btn-full btn-plus')
  %h4
    Investors, Advisors, &amp; Board Members
  %p
    = t('issuer.editor.investor')
    %br
    = t('issuer.editor.notable_investor')
    .investors-container.template-group
      = f.simple_fields_for :investors do |builder|
        = render partial: 'template_investor', locals: { f: builder }
      .row-fluid.content-creation
        .span11
          = add_section_button_tag('Add Person', f, :investors, class: 'btn-dashed btn-full btn-plus')
