.row-fluid.team-member-fields.rankable.section
  .span11
    .well.well-plain.push-down-smallest
      .row-fluid
        .span3
          = f.input :avatar_photo, as: :image_upload, text: 'Select Photo', label: false, input_html: {accept: 'image/*', class: 'image-avatar uploadable'}

        .span9.left-padded-fields
          .row-fluid
            .span6
              = f.hidden_field :id
              = f.hidden_field :stakeholder_type_id, value: "team_member"
              = f.hidden_field :rank, class: "rank"
              = f.hidden_field :_destroy, value: false, class: "destroy"
              = f.label :full_name, "Name"
              = f.text_field :full_name
            .span6
              = f.label :position
              = f.text_field :position
            .span12
              = f.label :bio
              = f.text_area :bio, rows: "10"
            .span6
              = f.label :linkedin_url, "LinkedIn"
              = f.input :linkedin_url, label: false
            .span6
              = f.label :twitter_url, "Twitter"
              = f.input :twitter_url, label: false
            .span6
              = f.label :website
              = f.input :website, label: false
            .span6
              = f.label :facebook_url, "Facebook"
              = f.input :facebook_url, label: false
  .span1
    = render partial: 'issuer/editor/vertical_controls', locals: {f: f}

