= content_for(:page_title, "#{@offering.company.name} | Team Editor")

= content_for(:main_container_class) do
  full-width light-gray

.flash-notice= flash[:notice]
.flash-alert= flash[:alert]

#offering-editor
  .offering-editor#members-editor
    = render partial: 'issuer/editor/navigation', locals: { active_tab: :members }

    = render partial: 'form'

    = render partial: 'shared/file_upload_form', locals: {uploader: @uploader}
