#flow-selector.invest-panel
  - if @offering.reg_c_only?
    %a{ href: '#reg-c-panel', data: {toggle: 'tab'} }
  - else
    .tab-box.row-fluid
      .span12.centered
        %h3.header= t('investment_flow.invest.flow_selector.title')
      %ul.selections#reg_c_or_reg_d
        %li.span6.tab.short
          %a.span12{ href: '#reg-c-panel', data: {toggle: 'tab'} }
            .title= t('investment_flow.invest.flow_selector.reg_c_button.text', cutoff: number_to_currency(@reg_c_cutoff, precision: 0))
        %li.span6.tab.short
          %a.span12{ href: '#reg-d-panel', data: {toggle: 'tab'} }
            - unless @form.international
              .subtitle= t('investment_flow.invest.flow_selector.reg_d_button.title')
            .title= t('investment_flow.invest.flow_selector.reg_d_button.text', cutoff: number_to_currency(@reg_c_cutoff, precision: 0))

      %ul
        %li.span6.long
          .caption= t('investment_flow.invest.flow_selector.reg_c_button.caption',
                      link: link_to(t('investment_flow.invest.flow_selector.reg_c_button.link_text'), "#{faq_investor_path}#investor_requirements_and_rights-is-there-a-difference-between-the-kinds-of-stock-that-reg-cf-and-reg-d-investors-purchase")).html_safe
        %li.span6.long
          - if @form.international
            .caption= t('investment_flow.invest.flow_selector.reg_d_button.intl_caption',
                      link: link_to(t('investment_flow.invest.flow_selector.reg_d_button.link_text'), '#')).html_safe
          - else
            .caption= t('investment_flow.invest.flow_selector.reg_d_button.caption',
                      link: link_to(t('investment_flow.invest.flow_selector.reg_d_button.link_text'), "#{faq_investor_path}#investor_requirements_and_rights-is-there-a-difference-between-the-kinds-of-stock-that-reg-cf-and-reg-d-investors-purchase")).html_safe

  #reg-c-panel.tab-pane
    = render partial: 'reg_c_calculator', locals: { tabindex: tabindex }

  #reg-d-panel.tab-pane
