#investment-flow-calculator{ style: 'display: none;' }
  = simple_form_for @form, as: :investment, url: offering_investment_flow_path(@offering), method: :post, html: { autocomplete: 'off' } do |f|
    =f.input :reg_c_output, as: :hidden
    =f.input :selector, as: :hidden
    =f.input :income, as: :hidden
    =f.input :net_worth, as: :hidden
    =f.input :external, as: :hidden
    =f.input :internal, as: :hidden
    =f.input :reg_c_cutoff, as: :hidden
    =f.input :reg_c_min, as: :hidden
    =f.input :reg_s_min, as: :hidden
    =f.input :international, as: :hidden

    .invest-panel
      .row-fluid.span12.centered
        %h3.header
          = t('investment_flow.invest.flow_selector.amount_calculator.title')

      .row-fluid
        .span6.offset3.centered
          =f.input :amount, as: :string, label: false, required: false,
                  input_html: { tabindex: tabindex.next,
                                onkeypress: 'return floatInput(event);',
                                onkeyup: 'return handleUserInput(event);',
                                data: { calc_args: InvestorInvestmentCalculator.get_calc(0, OfferingPresenter.new(@offering)).javascript_args }}
      .row-fluid
        .span8.offset2.centered
          .invest-limit
      .row-fluid
        .span8.offset2.centered
          .owner-percent
            = 'Own'
            %span#percent-ownership
            = 'of the company for'
            %span#projected-cost
            = 'at'
            %span#share-price
            = 'per share'

    #form-buttons
      .row-fluid
        .span6
          =link_to t('investment_flow.invest.flow_selector.amount_calculator.buttons.cancel'), |
            path == 'edit' ? new_offering_investment_flow_path(@offering) : offering_path(@offering), |
            class: "btn btn-block base-btn btlarge", tabindex: tabindex.next + 1
        .span6
          =button_tag(t('investment_flow.invest.flow_selector.amount_calculator.buttons.save'), class: "btn btn-primary btn-block btlarge", tabindex: tabindex.next - 1, disabled: true)
          #spinner.centered.btn-block.btlarge.la-ball-clip-rotate.la-sm.hidden
            .btn-spinner
