#reg-c-calculator
  .centered
    =image_tag('calculator_icon.png')
    %h4.header= t('investment_flow.invest.flow_selector.reg_c_calculator.title')

  .row-fluid
    .span8.title
      = t('investment_flow.invest.flow_selector.reg_c_calculator.income', income_popover_text: t('investment_flow.invest.flow_selector.reg_c_calculator.income_popover_text')).html_safe
    .span4
      %input{id: 'income', type: 'text', onkeyup: 'return handleUserInput(event);', onkeypress: 'return floatInput(event);', placeholder: '$0', tabindex: tabindex.next}
  .row-fluid
    .span8.title
      = t('investment_flow.invest.flow_selector.reg_c_calculator.worth', worth_popover_text: t('investment_flow.invest.flow_selector.reg_c_calculator.worth_popover_text')).html_safe
    .span4
      %input{id: 'net_worth', type: 'text', onkeyup: 'return handleUserInput(event);', onkeypress: 'return floatInput(event);', placeholder: '$0', tabindex: tabindex.next}
  .row-fluid#reg-c-limit
    .span8.title= t('investment_flow.invest.flow_selector.reg_c_calculator.limit')
    .span4.computed-value= '$2,000'
  .row-fluid
    .span8
      .span12.title= t('investment_flow.invest.flow_selector.reg_c_calculator.external.title',
      popover: t('investment_flow.invest.flow_selector.reg_c_calculator.external.popover_text',
      link: link_to(t('investment_flow.invest.flow_selector.reg_c_calculator.external.link_text'),
      "#{faq_investor_path}#investor_requirements_and_rights-who-can-invest"))).html_safe
      .span12.subtitle= t('investment_flow.invest.flow_selector.reg_c_calculator.external.subtitle')
    .span4
      %input{id: 'external', type: 'text', onkeyup: 'return handleUserInput(event);', onkeypress: 'return floatInput(event);', placeholder: '$0', tabindex: tabindex.next}
  .row-fluid
    .span8
      .title= t('investment_flow.invest.flow_selector.reg_c_calculator.internal.title')
      .subtitle= t('investment_flow.invest.flow_selector.reg_c_calculator.internal.subtitle')
    .span4.computed-value#previous_investments_sum= "#{number_to_currency(@internal_investments_sum.ceil, precision: 0)}"
  .row-fluid#reg-c-total
    .span8.title= t('investment_flow.invest.flow_selector.reg_c_calculator.total')
    .span4.computed-value= '$0'
  .row-fluid
    .span8
      .disclaimer= t('investment_flow.invest.flow_selector.reg_c_calculator.caption')
    .span4
      .disclaimer= link_to(t('investment_flow.invest.flow_selector.reg_c_calculator.how_link'), "#{faq_investor_path}#investor_requirements_and_rights-why-are-there-investor-limits")

