= content_for(:page_title, 'Investor Calculator')

- content_for(:main_container_class) do
  full-width gray

= content_for(:step_description) do
  .step-title.centered
    %h2= t('investment_flow.invest.title', company: @offering.company.name)

- tabindex = Counter.new(2)

#investment-flow-container
  = render partial: 'flow_selector', locals: { tabindex: tabindex }
  = render partial: 'investment_calculator', locals: { path: 'new', tabindex: tabindex }
