.section.rankable
  .row-fluid
    .span11
      .well.well-plain
        = f.input :rank, as: :hidden, input_html: {class: 'rank'}
        = f.input :_destroy, as: :hidden, input_html: {class: 'destroy'}

        %fieldset.row-fluid
          .span6
            = f.label :name, 'Document Name'
            = f.input :name, label: false, input_html: {tabindex: 1}
          .span6
            = f.label :key, 'Document File'
            = f.input :document_new, as: :file_upload, text: 'Upload File', label: false, input_html: {accept: '', class: 'file-document uploadable'}

    .span1
      = render partial: 'issuer/editor/vertical_controls', locals: {f: f}

