= content_for(:page_title, "#{@offering.company.name} | Documents Editor")

= content_for(:main_container_class) do
  full-width light-gray

.flash-notice= flash[:notice]
.flash-alert= flash[:alert]

#offering-editor
  .offering-editor#documents-editor
    = render partial: 'issuer/editor/navigation', locals: { active_tab: :documents }

    = simple_form_for @offering, url: issuer_editor_document_path(@offering), as: :documents, method: :put, html: {class: 'content-editor-form template-group'} do |f|

      .row-fluid
        .span12
          %h4 Diligence Documents
          %p
            The Documents section gives you the ability to share supplemental content with
            investors. All potential investors are able to view and download these documents.

          = f.simple_fields_for :campaign_documents do |builder|
            = render partial: 'template_campaign_document', locals: { f: builder }

          .content-creation.row-fluid
            .span11
              = add_section_button_tag('Add Document', f, :campaign_documents, class: 'btn-dashed btn-full btn-add-template')

    = render partial: 'shared/file_upload_form', locals: {uploader: @document_uploader}

