.row-fluid
  %legend= t('third_party_verification.review_statement.title')

.well.description-box.padded-ps
  .padding-left-smallest
    %p.push-down-small= t('third_party_verification.review_statement.company_info_html')
    %p= t('third_party_verification.review_statement.salutation')

    = simple_format t('third_party_verification.review_statement.body', investor_name: investor_entity.full_name)

    %ul= simple_format accreditation_statement(investor_entity, qualification), {class: 'push-left-small'}, wrapper_tag: 'li'

    %p= t('third_party_verification.review_statement.swear')
    %p= t('third_party_verification.review_statement.closing')

    .row-fluid
      .span7
        = f.input :signature, label: t('third_party_verification.review_statement.signature'),
                              required: false,
                              disabled: disabled_form?,
                              placeholder: t('third_party_verification.review_statement.signature_placeholder'),
                              input_html: {tabindex: 15}
      .span5
        - confirm = disabled_form? ? {} : { confirm: "Are you sure? We will notify #{investor_entity.full_name} that you were unable to verify they are an accredited investor" }
        .centered.decline-link=link_to t('third_party_verification.review_statement.decline'), disabled_form? ? 'javascript:void(0);' : decline_third_party_qualification_path(@qualification), data: confirm
  .span12.centered.floating-button
    =submit_tag(t('third_party_verification.review_statement.submit'), disabled: disabled_form?, class: 'btn-primary', tabindex: 16)

