.row-fluid
  .span12#workspace
    .workspace-title=t('investor_accreditation.on_completion.success.title')
    .static-header-divider
    %p.push-down-small=t('investor_accreditation.on_completion.success.body', investor_name: @investor_entity.full_name)
    %p=t('investor_accreditation.on_completion.questions_html', email: mail_to(t('contacts.accreditation')))

