.row-fluid
  .span12#workspace
    .workspace-title=t('investor_accreditation.on_completion.decline.title')
    .static-header-divider
    %p=t('investor_accreditation.on_completion.decline.body', investor_name: @investor_entity.full_name)
    %p=t('investor_accreditation.on_completion.questions_html', email: mail_to(t('contacts.accreditation')))
