-if disabled_form?
  - content_for(:below_header) do
    .header-block
      = t('third_party_verification.disabled')

.row-fluid.third-party
  .span12#workspace

    =simple_form_for(@qualification_form, url: third_party_qualification_path(@qualification.uuid), method: :patch, html: {class: 'standard-form--container'}) do |f|
      %input{ type: 'hidden', value: render(partial: 'statement', locals: {f: f, qualification: @qualification, investor_entity: @investor_entity, disabled_form: disabled_form?}), name: 'statement' }

      %h1.workspace-title.investor-title= t('third_party_verification.title', investor_name: @investor_entity.full_name)

      = render partial: 'shared/workspace_header', locals: { errors: @qualification_form.errors, default_message: t('third_party_verification.error.top_message') }

      %p.push-down-small= t('third_party_verification.sub_title_p1', investor_name: @investor_entity.full_name)
      %p.push-down-small= t('third_party_verification.sub_title_p2_html', finra_link: link_to_finra, sipc_link: link_to_sipc)
      %p.push-down-small= t('third_party_verification.sub_title_p3_html', email: mail_to(t('contacts.accreditation')))

      %fieldset
        .row-fluid
          %legend= t('third_party_verification.about_you.title')
          .span6
            = f.input :name, label: t('third_party_verification.about_you.name'),
                             required: false,
                             disabled: disabled_form?,
                             input_html: {tabindex: 1}
            = f.input :company_name, label: t('third_party_verification.about_you.firm'),
                                     required: false,
                                     disabled: disabled_form?,
                                     input_html: {tabindex: 3}
            = f.input :license_state, label: t('third_party_verification.about_you.license_state'),
                                         required: false,
                                         disabled: disabled_form?,
                                         as: :select,
                                         include_blank: false,
                                         collection: Accreditor::ThirdPartyQualification::STATES.map {|abbrev, state| [state, abbrev]},
                                         selected: @qualification_form.license_state || '',
                                         input_html: {tabindex: 5}

          .span6
            = f.input :role, label: t('third_party_verification.about_you.role'),
                             required: false,
                             disabled: disabled_form?,
                             as: :select,
                             include_blank: false,
                             collection: Accreditor::Qualification::VALID_ROLE_TYPES,
                             selected: @qualification_form.role || '',
                             input_html: {tabindex: 2}
            = f.input :license_number, label: t('third_party_verification.about_you.license'),
                                       required: false,
                                       disabled: disabled_form?,
                                       input_html: {tabindex: 4}

      %fieldset
        .row-fluid
          %legend= t('third_party_verification.contact_information.title')
          .span6
            = f.input :phone_number, label:   t('third_party_verification.contact_information.phone'),
                                     disabled: disabled_form?,
                                     required: false,
                                     placeholder: t('third_party_verification.contact_information.phone_placeholder'),
                                     input_html: {tabindex: 11}

          .span6
            = f.input :email, label: t('third_party_verification.contact_information.email'),
                              disabled: true, required: false,
                              input_html: {tabindex: 12}

      - if non_individual_entity?(@investor_entity)
        %fieldset
          .row-fluid
            %legend.push-down-small= t('third_party_verification.criteria.title')
            .span12
              %p.push-down-small=t('third_party_verification.criteria.subtitle')
            .span12.checkbox-container
              - asset_label = trust_entity?(@investor_entity) ? t('third_party_verification.criteria.trust.total_assets') : t('third_party_verification.criteria.total_assets')
              - accredited_label = trust_entity?(@investor_entity) ? t('third_party_verification.criteria.trust.all_accredited') : t('third_party_verification.criteria.all_accredited')
              = f.input :verified_by_assets, label: asset_label,
                                             disabled: disabled_form?, required: false, error: false,
                                             as: :boolean,
                                             input_html: {tabindex: 13, data: { 'remove-error-for' => :verified_by_assets }}

            .span12.checkbox-container
              = f.input :verified_by_accredited, label: accredited_label,
                                                 disabled: disabled_form?, required: false, error: false,
                                                 as: :boolean,
                                                 input_html: {tabindex: 14, data: { 'remove-error-for' => :verified_by_assets }}

            .span12= removable_error f, :verified_by_assets

      = render partial: 'statement', locals: { f: f, qualification: @qualification, investor_entity: @investor_entity }
