:ruby
  def yaml_t(key, args={})
    I18n.t("offering_mailer.from_user.#{key}", args)
  end

  content_for(:header_img) { 'mailer/header_photo.png' }
  content_for(:header_text) do
    header_elements safe_join [
      text_weight(yaml_t('overlay'), 100),
      text_weight(@offering.issuer_user.full_name, 300)
    ]
  end

  html = mail_body([
    [[icon('mailer/envelope_icon.png')]],
    v_spacer(2),
    [[title(yaml_t('title', name: @salutation, company: @offering.company.name))]],
    v_spacer(5),
    normal_button(yaml_t('btn'), dashboard_conversation_url(@offering.id, user_id: @user.uuid))
  ])

= html
