// @import 'bootstrap/modal';

@import '../base/*';
@import '../pages/navs';
// @import '../pages/registration';
// @import '../elements/buttons';
// @import '../elements/forms';
// @import '../elements/modals';

// @import 'tail';

body {
  background-color: transparent;
}
header .top-nav {
  background-color: $white;

  .logo img {
    vertical-align: middle;
  }
  a.burger-menu:after {
    pointer-events: none;
  }
  nav.primary-nav ul {
    box-sizing: border-box;

    li {
      vertical-align: middle;
    }
    li.user-login:hover {
      color: initial;
      cursor: default;
    }
  }
}
