:ruby
  def yaml_t(key, args={})
    I18n.t("offering_comment_mailer.comment_from_user.snazzy.#{key}", args)
  end

  content_for(:header_img) { 'mailer/header_photo3.png' }
  content_for(:header_text) do
    header_elements safe_join [
      text_weight(yaml_t("overlay"), 100),
      text_weight(@offering.public_contact_name, 300)
    ]
  end

  user_full_name = content_tag(:span, @user.full_name, style: "color: #{color[:title_gray]}").html_safe

  html = mail_body([
    [[icon("mailer/comment_icon.png")]],
    v_spacer(2),
    [[title(yaml_t("title", user_name: user_full_name))]],
    v_spacer(2),
    [[paragraph('“', style: { font_size: spacing[:_3], color: color[:light_gray] }, valign: 'top', height: spacing[:_3])]],
    [
      [
        generic_td(''),
        paragraph(@comment.body, style: { font_style: 'italic', width: '100%', MArgin: "0 #{spacing[:_1]}" }),
        generic_td('')
      ], { width: '100%' }
    ],
    [[paragraph('”', style: { font_size: spacing[:_3], text_align: 'right', line_height: '0', color: color[:light_gray] }, valign: 'bottom', height: spacing[:_3])]],
    v_spacer(2),
    normal_button(yaml_t('btn'),
      offering_vanity_url(@offering_presenter, comment_id: @comment.id, anchor: 'comment').to_s)
  ])

= html
