=f.error :file_keys, class: 'file-key-error'

.file-picker
  =f.fields_for :file_keys do |key|
    =key.hidden_field nil, class: 'file-key-input', disabled: true

  - btn_opts ||= {}
  .span7
    = button_tag(button_text, btn_opts.merge(class: 'file-chooser-btn btn btn-block base-btn btlarge btn-file'))
  .file-list

  .existing-file-list.hidden
    - if f.object.file_keys
      - f.object.file_keys.each do |file_key|
        %span=file_key
