#form-buttons
  .row-fluid
    .span6
      - if @action_method == :patch && !@suppress_navbar
        = link_to t('investor_accreditation.buttons.cancel'), new_offering_investment_path(@offering), class: 'btn btn-block base-btn btlarge', tabindex: 4
      - else
        = link_to t("investor_accreditation.buttons.#{'edit_' if @suppress_navbar}finish_later"), dashboard_investments_path, class: 'btn btn-block base-btn btlarge', tabindex: 4
    .span6
      - if @action_method == :patch && !@suppress_navbar
        = button_tag(t('investor_accreditation.buttons.save'), id: 'submit-form-btn', class: 'btn btn-primary btn-block btlarge', tabindex: 3)
      - else
        = button_tag(t("investor_accreditation.buttons.#{'edit_' if @suppress_navbar}submit"), id: 'submit-form-btn', class: 'btn btn-primary btn-block btlarge', tabindex: 3)
      #spinner.centered.btn-block.btlarge.la-ball-clip-rotate.la-sm.hidden
        .btn-spinner
