= simple_form_for(@forms[:individual_income_form], url: @action_url, method: @action_method, html: {class: 'standard-form--container batch-uploader', data: { 'submit-btn' => 'submit-form-btn'} }) do |f|
  .span6.autoscroll-anchor
    .small-title= t('investor_accreditation.new.verify_income.document_verification.individual.form.uploaded.title')
    .solid-header-divider
    =render partial: 'file_picker', locals: { f: f, button_text: t('investor_accreditation.new.verify_income.document_verification.individual.form.uploaded.button') }
  .span6
    .small-title= t('investor_accreditation.new.verify_income.document_verification.individual.form.recommended.title')
    .solid-header-divider
    .small-subtitle= t('investor_accreditation.new.verify_income.document_verification.individual.form.recommended.subtitle')
    %ul.recommended
      %li= t('investor_accreditation.new.verify_income.document_verification.individual.form.recommended.tax_return', one_year_ago: 1.year.ago.year, two_years_ago: 2.years.ago.year)
      %li= t('investor_accreditation.new.verify_income.document_verification.individual.form.recommended.w2', one_year_ago: 1.year.ago.year, two_years_ago: 2.years.ago.year)
      %li= t('investor_accreditation.new.verify_income.document_verification.individual.form.recommended.x1099', one_year_ago: 1.year.ago.year, two_years_ago: 2.years.ago.year)
      %li= t('investor_accreditation.new.verify_income.document_verification.individual.form.recommended.other', one_year_ago: 1.year.ago.year, two_years_ago: 2.years.ago.year)
  .span12.autoscroll-anchor
    .small-title= t('investor_accreditation.new.verify_income.document_verification.individual.form.consent_to_income.title')
  .solid-header-divider
  .span1.inline-checkbox
    = f.input :consent_to_income, label: false, boolean_style: :inline,
                         error: false,
                         as: :boolean,
                         required: false,
                         input_html: {class: 'checkbox autoscroll', tabindex: 3}
  .span11.checkbox-label-container
    = f.label :consent_to_income, or_error(f, :consent_to_income, t('investor_accreditation.new.verify_income.document_verification.individual.form.consent_to_income.label'))
