= simple_form_for(@forms[:individual_net_worth_form], url: @action_url, method: @action_method, html: {class: 'standard-form--container batch-uploader', data: { 'submit-btn' => 'submit-form-btn' } }) do |f|
  .span6.autoscroll-anchor
    .small-title= t('investor_accreditation.new.verify_net_worth.document_verification.individual.form.uploaded.title')
    =render partial: 'invest/accreditation/new/file_picker', locals: { f: f, button_text: t('investor_accreditation.new.verify_net_worth.document_verification.individual.form.uploaded.button') }
  .span6
    .small-title= t('investor_accreditation.new.verify_net_worth.document_verification.individual.form.recommended.title')
    .small-subtitle= t('investor_accreditation.new.verify_net_worth.document_verification.individual.form.recommended.subtitle')
    %ul.recommended
      %li= t('investor_accreditation.new.verify_net_worth.document_verification.individual.form.recommended.financial_institution', this_year: Date.today.year)
      %li= t('investor_accreditation.new.verify_net_worth.document_verification.individual.form.recommended.assets', this_year: Date.today.year)
      %li= t('investor_accreditation.new.verify_net_worth.document_verification.individual.form.recommended.other', this_year: Date.today.year)
  .span12.autoscroll-anchor
    .small-title= t('investor_accreditation.new.verify_net_worth.document_verification.individual.form.authorization.title')
    = t('investor_accreditation.new.verify_net_worth.document_verification.individual.form.authorization.body')
  .solid-header-divider
  .span1.inline-checkbox
    = f.input :credit_report_authorization, label: false, boolean_style: :inline,
                                             error: false,
                                             as: :boolean,
                                             required: false,
                                             input_html: {class: 'checkbox autoscroll', tabindex: 3}
  .span11
    = f.label :credit_report_authorization, or_error(f, :credit_report_authorization, t('investor_accreditation.new.verify_net_worth.document_verification.individual.form.authorization.checkbox'))
