= simple_form_for(@forms[:joint_net_worth_form], url: @action_url, method: @action_method, html: {class: 'standard-form--container batch-uploader', data: { 'submit-btn' => 'submit-form-btn' } }) do |f|
  .span6.autoscroll-anchor
    .small-title= t('investor_accreditation.new.verify_net_worth.document_verification.joint.form.uploaded.title')
    =render partial: 'invest/accreditation/new/file_picker', locals: { f: f, button_text: t('investor_accreditation.new.verify_net_worth.document_verification.joint.form.uploaded.button') }
  .span6
    .small-title= t('investor_accreditation.new.verify_net_worth.document_verification.joint.form.recommended.title')
    .small-subtitle= t('investor_accreditation.new.verify_net_worth.document_verification.joint.form.recommended.subtitle')
    %ul.recommended
      %li= t('investor_accreditation.new.verify_net_worth.document_verification.joint.form.recommended.financial_institution', this_year: Date.today.year)
      %li= t('investor_accreditation.new.verify_net_worth.document_verification.joint.form.recommended.assets', this_year: Date.today.year)
      %li= t('investor_accreditation.new.verify_net_worth.document_verification.joint.form.recommended.other', this_year: Date.today.year)
  .span12
    .small-title= t('investor_accreditation.new.verify_net_worth.document_verification.joint.form.authorization.title')
    = t('investor_accreditation.new.verify_net_worth.document_verification.joint.form.authorization.body')
  .solid-header-divider

  .span1.inline-checkbox
    = f.input :credit_report_authorization,
      label: false,
      boolean_style: :inline,
      error: false,
      as: :boolean,
      required: false,
      input_html: {class: "checkbox", tabindex: 3}
  .span11
    = f.label :credit_report_authorization, or_error(f, :credit_report_authorization, t('investor_accreditation.new.verify_net_worth.document_verification.joint.form.authorization.checkbox'))

  .solid-header-divider
  .span12
    .small-title= t('investor_accreditation.new.verify_net_worth.document_verification.joint.form.spouse.title')
    =t('investor_accreditation.new.verify_net_worth.document_verification.joint.form.spouse.body')
  .span6
    = f.input :spouse_name, label: t('investor_accreditation.new.verify_net_worth.document_verification.joint.form.spouse.name'),
                           required: false,
                           input_html: {tabindex: 3}
  .span6
    = f.input :spouse_email, label: t('investor_accreditation.new.verify_net_worth.document_verification.joint.form.spouse.email'),
                           required: false,
                           input_html: {tabindex: 3}
  .solid-header-divider
  .span6
    = f.input :spouse_ssn, label: t('investor_accreditation.new.verify_net_worth.document_verification.joint.form.spouse.ssn'),
                                             required: false,
                                             input_html: {tabindex: 3}
