= simple_form_for(@forms[:third_party_income_form], url: @action_url, method: @action_method, html: {class: 'standard-form--container row-fluid'}) do |f|
  .centered
    %p.span10= t('investor_accreditation.new.verify_income.third_party_verification.form.fieldset.subtitle')
  .span6
    = f.input :role, label: t('investor_accreditation.new.verify_income.third_party_verification.form.fieldset.role'),
                           collection: Accreditor::Qualification::VALID_ROLE_TYPES,
                           required: false,
                           include_blank: false,
                           input_html: {tabindex: 1, class: "autoscroll"}
  .span6
    = f.input :email, label: t('investor_accreditation.new.verify_income.third_party_verification.form.fieldset.email'),
                           required: false,
                           input_html: {tabindex: 2}
