- content_for :main_container_class do
  full-width workflow

- if @suppress_navbar
  = content_for(:investment_flow_nav) do
    %span

= content_for :step_description do
  .investment-offering.centered
    .span8
      - yaml_prefix = 'previously_verified_' if @accreditation.previously_approved?
      %h1= t("investor_accreditation.new.#{yaml_prefix}title")
      %small= t("investor_accreditation.new.#{yaml_prefix}subtitle")

= render partial: 'shared/workspace_header', locals: { errors: @active_form.try(:errors) }
#invest_accreditation_new.invest-panel.investment-accreditation
  %fieldset
    %legend= t('investor_accreditation.new.verification_method')
    %hr
    %p= t('investor_accreditation.new.how_to_verify.content_html')

    .tab-box.row-fluid
      %ul.selections#income-or-net-worth.autoscroll-anchor
        %li.span6.tab.long.autoscroll
          %a{ href: '#income', data: {toggle: 'tab'} }
            .title= t('investor_accreditation.new.verify_income.name')
            .subtitle= t('investor_accreditation.new.verify_income.description')
        %li.span6.tab.long.autoscroll
          %a{ href: '#net-worth', data: {toggle: 'tab'} }
            .title= t('investor_accreditation.new.verify_net_worth.name')
            .subtitle= t('investor_accreditation.new.verify_net_worth.description')

      #income.tab-pane.autoscroll-anchor
        .span12
          %p= t('investor_accreditation.new.please_select_title')
        .tab-box
          %ul.selections#third-party-or-docs
            %li.span6.tab.long.autoscroll
              %a{href: "#income-third-party", data: {toggle: "tab"}}
                .title= t('investor_accreditation.new.verify_income.third_party_verification.title')
                .subtitle= t('investor_accreditation.new.verify_income.third_party_verification.description')
            %li.span6.tab.long.autoscroll
              %a{href:"#income-doc", data: {toggle: "tab"}}
                .title= t('investor_accreditation.new.verify_income.document_verification.title')
                .subtitle= t('investor_accreditation.new.verify_income.document_verification.description')

          #income-third-party.tab-pane.autoscroll-anchor
            .form-container.span12#third-party-income-form
              = render partial: 'invest/accreditation/new/third_party_income_form'
          #income-doc.tab-pane.autoscroll-anchor
            .form-container#doc-income-form
              .tab-box
                %ul.selections#income-joint-or-individual
                  %li.span6.tab.short.autoscroll
                    %a.span12{ href: '#individual-income', data: {toggle: 'tab'} }
                      .vertical-center
                      .title-and-subtitle
                        %span.title= t('investor_accreditation.new.verify_income.document_verification.individual.title')
                        %br
                        %span.subtitle= t('investor_accreditation.new.verify_income.document_verification.individual.subtitle')
                  %li.span6.tab.short.autoscroll
                    %a.span12{ href: '#joint-income', data: {toggle: 'tab'} }
                      .vertical-center
                      .title-and-subtitle
                        %span.title= t('investor_accreditation.new.verify_income.document_verification.joint.title')
                        %br
                        %span.subtitle= t('investor_accreditation.new.verify_income.document_verification.joint.subtitle')
                #individual-income.tab-pane
                  = render partial: 'invest/accreditation/new/individual_income_form'
                #joint-income.tab-pane
                  = render partial: 'invest/accreditation/new/joint_income_form'

      #net-worth.tab-pane.autoscroll-anchor
        .span12
          %p= t('investor_accreditation.new.verify_net_worth.title')
        .tab-box
          %ul.selections#net-worth-third-party-or-docs
            %li.span6.tab.long.autoscroll
              %a{href: "#net-worth-third-party", data: {toggle: "tab"}}
                .title= t('investor_accreditation.new.verify_net_worth.third_party_verification.title')
                .subtitle= t('investor_accreditation.new.verify_net_worth.third_party_verification.description')
            %li.span6.tab.long.autoscroll
              %a{href: "#net-worth-doc", data: {toggle: "tab"}}
                .title= t('investor_accreditation.new.verify_net_worth.document_verification.title')
                .subtitle= t('investor_accreditation.new.verify_net_worth.document_verification.description')

          #net-worth-doc.tab-pane.autoscroll-anchor
            .form-container#doc-net-worth-form
              .tab-box
                %ul.selections#net-worth-joint-or-individual
                  %li.span6.tab.short.autoscroll
                    %a.span12{ href: '#individual-net-worth', data: {toggle: 'tab'} }
                      .vertical-center
                      .title-and-subtitle
                        %span.title= t('investor_accreditation.new.verify_net_worth.document_verification.individual.title')
                        %br
                        %span.subtitle= t('investor_accreditation.new.verify_net_worth.document_verification.individual.subtitle')
                  %li.span6.tab.short.autoscroll
                    %a.span12{ href: '#joint-net-worth', data: {toggle: 'tab'} }
                      .vertical-center
                      .title-and-subtitle
                        %span.title= t('investor_accreditation.new.verify_net_worth.document_verification.joint.title')
                        %br
                        %span.subtitle= t('investor_accreditation.new.verify_net_worth.document_verification.joint.subtitle')
                #individual-net-worth.tab-pane.active.autoscroll-anchor
                  = render partial: 'invest/accreditation/new/individual_net_worth_form'
                #joint-net-worth.tab-pane.autoscroll-anchor
                  = render partial: 'invest/accreditation/new/joint_net_worth_form'
          #net-worth-third-party.tab-pane.autoscroll-anchor
            .form-container.span12#third-party-net-worth-form
              = render partial: 'invest/accreditation/new/third_party_net_worth_form'
= render partial: 'form_buttons'

= render partial: 'shared/file_upload_form', locals: { uploader: @uploader }

#uploading-spinner.modal
  .modal-dialog
