- content_for :main_container_class do
  full-width workflow

- if @suppress_navbar
  = content_for(:investment_flow_nav) do
    %span

= content_for :step_description do
  .investment-offering.centered
    .span8
      - yaml_prefix = 'previously_verified_' if @accreditation.previously_approved?
      %h1= t("investor_accreditation.new_entity.#{yaml_prefix}title")
      %small= t("investor_accreditation.new_entity.#{yaml_prefix}subtitle")

= render partial: 'shared/workspace_header', locals: { errors: @active_form.try(:errors) }
#invest_accreditation_new_entity.invest-panel.investment-accreditation
  %fieldset
    %legend= t('investor_accreditation.new_entity.how_to_verify.title')
    %hr
    - if @investor_entity.is_a?(InvestorEntity::Trust)
      %p= t('investor_accreditation.new_entity.how_to_verify.trust.title')
      %ul
        %li= t('investor_accreditation.new_entity.how_to_verify.trust.first')
        %li= t('investor_accreditation.new_entity.how_to_verify.trust.second')
    - else
      %p= t('investor_accreditation.new_entity.how_to_verify.other.title')
      %ul
        %li= t('investor_accreditation.new_entity.how_to_verify.other.first', entity_type: @investor_entity.display_name)
        %li= t('investor_accreditation.new_entity.how_to_verify.other.second', entity_type: @investor_entity.display_name)

    %p= t('investor_accreditation.new_entity.select_method')
    .tab-box.row-fluid
      %ul.selections#third-party-or-offline
        %li.span6.tab.long
          %a{ href: '#entity-third-party', data: {toggle: 'tab'} }
            .title= t('investor_accreditation.new_entity.third_party_to_verify.title')
            .subtitle= t('investor_accreditation.new_entity.third_party_to_verify.content')
        %li.span6.tab.long
          %a{ href: '#entity-offline', data: {toggle: 'tab'} }
            .title= t('investor_accreditation.new_entity.offline.title')
            .subtitle= t('investor_accreditation.new_entity.offline.content')
      #entity-third-party.tab-pane
        .form-container.span12#third-party-income-form
          = simple_form_for(@forms[:third_party_entity_form], url: offering_invest_accreditation_new_path(@offering), method: @action_method, html: {class: 'row-fluid standard-form--container'}) do |f|
            .centered
              %p.span11=t('investor_accreditation.new_entity.third_party_to_verify.form.fieldset.subtitle')
            .span6
              = f.input :role, label: t('investor_accreditation.new_entity.third_party_to_verify.form.fieldset.role'),
                         collection: Accreditor::Qualification::VALID_ROLE_TYPES,
                         required: false,
                         include_blank: false,
                         input_html: {tabindex: 1}
            .span6
              = f.input :email, label: t('investor_accreditation.new_entity.third_party_to_verify.form.fieldset.email'),
                                     required: false,
                                     input_html: {tabindex: 2}
      #entity-offline.tab-pane
        = simple_form_for(@forms[:offline_entity_form], url: offering_invest_accreditation_new_path(@offering), method: @action_method, html: {class: 'standard-form--container'}) do |f|
          %p= t('investor_accreditation.new_entity.offline.description', accreditation_email: mail_to(t('contacts.accreditation')), entity_type: @investor_entity.display_name).html_safe
          = f.input :request_contact, as: :hidden, input_html: {value: '1'}

= render partial: 'form_buttons'
