.section.rankable
  .row-fluid
    .span11
      .well.well-plain
        = f.input :rank, as: :hidden, input_html: {class: 'rank'}
        = f.input :_destroy, as: :hidden, input_html: {class: 'destroy'}

        %fieldset
          = f.label :question, 'Question'
          = f.input :question, as: 'text', label: false, input_html: {tabindex: 1}

        %fieldset
          = f.label :answer, 'Answer'
          = f.input :answer, as: 'text', label: false, input_html: {tabindex: 2}

    .span1
      = render partial: 'issuer/editor/vertical_controls', locals: {f: f}



