= content_for(:page_title, "#{@offering.company.name} | Questions Editor")

= content_for(:main_container_class) do
  full-width light-gray

.flash-notice= flash[:notice]
.flash-alert= flash[:alert]

#offering-editor
  .offering-editor#questions-editor
    = render partial: 'issuer/editor/navigation', locals: { active_tab: :questions }

    %h4 Commonly Asked Questions
    %p
      Provide questions you're commonly asked by investors, along with your answers,
      to expedite investors' diligence process. We recommend you have at least 6-8
      Questions &amp; Answers but implore you to have more if the content is strong.

    .row-fluid
      .span12
        = simple_form_for @offering, url: issuer_editor_question_path(@offering), as: :faq, method: :put, html: {class: 'content-editor-form template-group'} do |f|
          = f.simple_fields_for :investor_faqs do |builder|
            = render partial: 'template_investor_faq', locals: { f: builder }

          .content-creation.row-fluid
            .span11
              = add_section_button_tag('Add Question', f, :investor_faqs, class: 'btn-dashed btn-full btn-add-template')
