.footer-container
  .footer-nav
    .row-fluid.no-margin.responsive
      .span12.footer-menu
        = link_to 'Browse Startups', browse_path, title: 'Browse Startups', target: link_target
        = link_to 'Investors', investors_path, title: 'Investors', target: link_target
        = link_to 'Raise Capital', startups_path, title: 'Raise Capital', target: link_target
        = link_to 'FAQ', faq_investor_path, title: 'FAQ', target: link_target
        = link_to 'Blog', 'http://blog.flashfunders.com/', target: '_blank', title: 'Blog'
        = link_to 'About', team_path, title: 'About', target: link_target
        = link_to 'Careers', 'http://flashfunders.jazz.co', target: '_blank', title: 'Careers'
        = link_to 'Press', press_path, title: 'Press', target: link_target
        = link_to 'Contact', contact_path, title: 'Contact', target: link_target
      .span8.contacts
        %h6 VISIT & SAY HELLO
        .row-fluid.no-margin.responsive
          %ul.span4
            %li.address
              %p 1538 20th St. 2nd Floor Santa Monica, CA 90404
          %ul.span4
            %li.phone
              %p (310) 504-3706
            %li.email
              %p contact@flashfunders.com
      .span4.social-icons
        %h6 FOLLOW US
        = link_to 'Facebook', 'https://www.facebook.com/flashfunders', class: 'facebook', target: '_blank', title: 'Facebook'
        = link_to 'Twitter', 'https://twitter.com/flashfunders', class: 'twitter', target: '_blank', title: 'Twitter'
        = link_to 'LinkedIn', 'https://www.linkedin.com/company/flashfunders', class: 'linkedin', target: '_blank', title: 'LinkedIn'

    .disclosure
      %p= t('footer.site_wide_html', footer_legal_links)
