.container
  .footer-nav
    .footer-img
      = link_to image_tag('logos/footer-logo.png'), root_path, alt: 'FlashFunders'
  .disclosure
    %p#site_wide-footer{class: "#{'active' if !@investment.persisted?}"}
      = t('footer.site_wide_html', footer_legal_links)
    %p#reg-c-panel-footer{class: "#{'active' if @investment.persisted? && @investment.is_reg_c?}"}
      = t('footer.reg_c_flow_html', footer_legal_links)
    %p#reg-d-panel-footer{class: "#{'active' if @investment.persisted? && @investment.is_reg_d?}"}
      = t('footer.reg_d_flow_html', footer_legal_links)
