// GOOGLE FONTS
%link{href: '//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700', rel: 'stylesheet', type: 'text/css'}

//FONT AWESOME
%link{href: '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel: 'stylesheet', type: 'text/css'}
