!!!
%html
  %head
    %title= "#{page_title_prefix}#{content_for?(:page_title) ? yield(:page_title) : page_meta_title}"

    %meta{name: 'environment', content: Rails.env}
    = csrf_meta_tags
    - if content_for?(:social_sharing_meta_tags)
      = yield(:social_sharing_meta_tags)
    - else
      = render partial: '/shared/social_sharing_meta_tags'
    = render partial: 'layouts/head_additions'
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    %meta{content: 'FlashFunders', name: 'application-name'}
    = stylesheet_link_tag 'application', media: 'all'

    - if Rails.env.development?
      %link{rel: 'icon', type: 'img/png', href: asset_path('development-favicon.png')}
    - else
      %link{rel: 'icon', type: 'img/png', href: asset_path('favicon.ico')}

    %meta{page_meta_description}

    = Gon::Base.render_data

  %body{class: "#{params[:controller].parameterize}-#{params[:action]}"}

    = render 'impersonations/header' if impersonating? && current_user
    = render 'email_capture/header'
    = render 'home/header'

    %div{class: "#{'main-container ' unless responsive_page?} #{content_for(:main_container_class)}", id: 'main-content' }
      = yield

    %footer{ role: 'contentinfo' }
      = render 'layouts/footer'

    - if current_user
      = render partial: 'devise/sessions/idle_modal', locals: { resource: resource, resource_name: resource_name, skip_errors: true }
    - else
      = render partial: 'devise/sessions/new_modal', locals: { resource: resource, resource_name: resource_name, skip_errors: true }
      = render partial: 'devise/registrations/new_modal', locals: { resource: resource, resource_name: resource_name }
      = render partial: 'devise/confirmations/new_modal', locals: { resource: resource, resource_name: resource_name }
      = render partial: 'subscriptions/newsletter_modal' if should_render_newletter_modal?

    #scrim.scrim

  = javascript_include_tag 'application'
  = render partial: 'devise/trackers/signup'
  = render partial: 'devise/trackers/signin'
  = render partial: 'shared/tracking/analytics'
  = render partial: 'shared/tracking/google_tag_manager'
