!!!
%html
  %head
    = stylesheet_link_tag @stylesheet_file, media: 'all'
    = csrf_meta_tags
    = @optional_styles.map {|css_file| stylesheet_link_tag css_file}.join.html_safe if @optional_styles
    %link{href: '//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700', rel: 'stylesheet', type: 'text/css'}
  %body
    = yield
  = javascript_include_tag @javascript_file if @javascript_file
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.5/iframeResizer.contentWindow.min.js'
