!!!
%html
  %head
    %title= "#{page_title_prefix}#{content_for?(:page_title) ? yield(:page_title) : page_meta_title}"
    = render 'layouts/head_additions'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    = render 'impersonations/header' if impersonating? && current_user

    - if Rails.env.development?
      %link{rel: 'icon', type: 'img/png', href: asset_path('development-favicon.png')}
    - else
      %link{rel: 'icon', type: 'img/png', href: asset_path('favicon.ico')}

    = Gon::Base.render_data
    = javascript_include_tag 'application'

  %body
    .investment-flow
      .investment-nav
        .logo
          = link_to(dashboard_investments_path, class: 'link-home') do
            = image_tag 'FF_Logo_icn_only.png', alt: 'FlashFunders Home', class: 'small-logo'
      .investment-container
        = yield :step_description
        - if content_for?(:investment_flow_nav)
          = yield :investment_flow_nav
        - elsif @investment.persisted?
          = render partial: 'shared/investment_progress_bar', locals: { offering_id: @offering.id }
        = yield

      %footer{ role: 'contentinfo', id: 'footer' }
        = render 'layouts/footer_minimal'

      - if current_user
        = render partial: 'devise/sessions/idle_modal', locals: { resource: resource, resource_name: resource_name, skip_errors: true }

    #scrim.scrim

  = render :partial => 'shared/tracking/analytics'
  = render :partial => 'shared/chat_support'
