= content_for(:closing) do
  %tr
    %td{ 'mc:edit' => 'sign-1', style: 'font:15px/24px Helvetica, Arial, sans-serif; color:#093954; padding:0 0 8px;' }
      = t('mailer.body.sign_off.closing')
  %tr
    %td{ 'mc:edit' => 'sign-2', style: 'font:15px/24px Helvetica, Arial, sans-serif; color:#093954; padding:0 0 25px;' }
      = t('mailer.body.sign_off.company_name')
      %br
      = link_to t('mailer.footer.address.url.text'), root_url, style: 'color:#0280c0; text-decoration:underline;'

=render template: 'layouts/mailer'
