!!!
%html{ xmlns: 'http://www.w3.org/1999/xhtml' }
  %head
    %title= t('mailer.footer.address.recipient')
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8' }
    :css
      * {
          -webkit-text-size-adjust: none;
          -webkit-text-resize: 100%;
          text-resize: 100%;
      }
      @media only screen and (max-width:500px) {
          table[class="wrapper"]{min-width:320px !important;}
          table[class="flexible"]{width:100% !important;}
          td[class="aligncenter"]{text-align:center !important;}
          td[class="add-1"]{padding:15px 15px 0 !important;}
          td[class="add-3"]{padding:0 0 15px !important;}
          td[class="add-4"],
          td[class="add-5"],
          td[class="add-6"]{
              font-size:10px !important;
              line-height:14px !important;
          }
          td[class="add-4"]{padding:15px 0 6px !important;}
          td[class="add-5"]{padding:0 0 15px !important;}
          td[class="add-6"]{
              padding:15px 0 !important;
              text-align:center !important;
          }
          td[class="add-7"]{padding:5px 0 !important;}
          td[class="btn"]{padding:0 !important;}
          td[class="btn"] a{
              display:block !important;
              padding:11px !important;
          }
      }

    %body{ style: "margin:0; padding:0; background:#f1f3f4 #{image_url('diagonal-stripe-tile.png')};", bgcolor: '#f1f3f4', link: '#666666' }
      :css
        * {
            -webkit-text-size-adjust: none;
            -webkit-text-resize: 100%;
            text-resize: 100%;
        }
      %table{ class: 'wrapper', width: '100%', cellspacing: '0', cellpadding: '0', style: 'background-color: #f1f3f4;' }
        %tr
          %td{ style: 'padding: 15px;' }
            %table{ class: 'flexible', width: '621', align: 'center', cellpadding: '0', cellspacing: '0' }
              %tr
                %td{ style: "background-color: #0280c0; height: 5px; border-left: 1px solid #f1f3f4; border-right: 1px solid #f1f3f4;" }
              %tr
                %td{ class: 'add-1', bgcolor: '#ffffff', style: 'border:1px solid #dfe5ec; border-top: none; padding:44px 45px 31px;' }
                  %table{ width: '100%', cellpadding: '0', cellspacing: '0' }
                    %tr
                      %td{ 'mc:edit' => 'logo', class: 'add-2', style: 'padding:0 0 36px; border-bottom:1px dashed #c6cdd0;' }
                        = link_to root_url do
                          = image_tag image_url('logos/logo.jpg'), border: '0', style: 'vertical-align:top;', width: '250', height: '50', alt: t('mailer.header.title')
                    %tr
                      %td
                        = yield
                    =yield(:closing)

              %tr
                %td
                  %table{ width: '100%', cellpadding: '0', cellspacing: '0' }
                    %tr
                      %td{ 'mc:edit' => 'footer-text-2', class: 'add-5', style: 'font:12px/18px Helvetica, Arial, sans-serif; color:#8f9ca3; padding:0 15px 25px 0; border-bottom:1px dashed #c1c9cc;' }
                        - doc = Nokogiri::HTML(open(Rails.root.join('app', 'views', 'static', "email_disclaimer#{'_' + @legal_key unless @legal_key.nil?}.html")))
                        != doc.css('html body').children.to_s
                    %tr
                      %td{ 'mc:edit' => 'footer-text-3', class: 'add-6', style: 'font:12px/18px Helvetica, Arial, sans-serif; color:#8f9ca3; padding:26px 0 32px; border-bottom:1px dashed #c1c9cc;' }
                        = t('mailer.footer.address.company_name')
                        %br
                        = t('mailer.footer.address.address')
                        %br
                        = t('mailer.footer.address.phone.term')
                        %span{ style: 'color:#0280c0;' }
                        = t('mailer.footer.address.phone.definition')
                        &nbsp; | &nbsp;
                        = t('mailer.footer.address.fax.term')
                        %span{ style: 'color:#0280c0;' }
                        = t('mailer.footer.address.fax.definition')
                        &nbsp; | &nbsp;
                        = link_to t('mailer.footer.address.url.text'), root_url, style: 'color:#0280c0;'
                        %br
                        %br
                        = t('mailer.footer.copyright.html_preamble').html_safe
                        = t('mailer.footer.copyright.text')
                        %br
                        = link_to t('mailer.footer.terms_of_use.text'), terms_url, style: 'color:#0280c0; text-decoration:underline;'
                        &nbsp; | &nbsp;
                        = link_to t('mailer.footer.privacy_policy.text'), privacy_url, style: 'color:#0280c0; text-decoration:underline;'
                    %tr
                      %td{ style: 'padding:0 0 20px;'}
                        %table{ class: 'flexible', width: '298', align: 'right', cellpadding: '0', cellspacing: '0', style: 'border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;'}
                          %tr
                            %td{ class: 'add-7', style: 'padding:22px 0;'}
                              %table{ class: 'flexible', align: 'right', cellpadding: '0', cellspacing: '0'}
                                %tr
                                  %td
                                    %table{ align: 'center', style: 'margin:0 auto !important;', cellpadding: '0', cellspacing: '0'}
                                      %tr
                                        %td{ 'mc:edit' => 'ico-soc-1', 'width' => '24'}
                                          = link_to 'https://www.facebook.com/flashfunders', target: '_blank' do
                                            = image_tag image_url('ico-facebook.png'), border: '0', style: 'vertical-align:top;', width: '24', height: '24', alt: 'facebook'
                                        %td{ width: '7'}
                                        %td{ 'mc:edit' => 'ico-soc-2', width: '24'}
                                          = link_to 'https://www.linkedin.com/company/flashfunders', target: '_blank' do
                                            = image_tag image_url('ico-linkedin.png'), border: '0', style: 'vertical-align:top;', width: '24', height: '24', alt: 'linkedin'
                                        %td{ width: '7' }
                                        %td{ 'mc:edit' => 'ico-soc-3', width: '24'}
                                          = link_to 'https://twitter.com/flashfunders', target: '_blank' do
                                            = image_tag image_url('ico-twitter.png'), border: '0', style: 'vertical-align:top;', width: '24', height: '24', alt: 'twitter'
                                        %td{ width: '7' }
                                        %td{ 'mc:edit' => 'ico-soc-4', width: '24'}
                                          = link_to 'https://instagram.com/flashfunders', target: '_blank' do
                                            = image_tag image_url('ico-instagram.png'), border: '0', style: 'vertical-align:top;', width: '24', height: '24', alt: 'instagram'
                                        %td{ width: '2' }
