= t('mailer.header.title')

_________________________________________________

= yield
= yield(:closing) if content_for(:closing)
_________________________________________________
- doc = Nokogiri::HTML(open(Rails.root.join('app', 'views', 'static', "email_disclaimer#{'_' + @legal_key unless @legal_key.nil?}.html")))
!= doc.css('html body').text
= "\n"
= "\n"
= t('mailer.footer.address.recipient')
= t('mailer.footer.address.address')
= "#{t('mailer.footer.address.phone.term')}#{t('mailer.footer.address.phone.definition')} | #{t('mailer.footer.address.fax.term')}#{t('mailer.footer.address.fax.definition')} | #{root_url}"
= "\n"
= "#{t('mailer.footer.copyright.plain_preamble')}#{t('mailer.footer.copyright.text')}"
= "#{t('mailer.footer.terms_of_use.text')} #{terms_url} | #{t('mailer.footer.privacy_policy.text')} #{privacy_url}"

_________________________________________________

= "\n"
= t('flashfunders_social_urls.facebook')
= t('flashfunders_social_urls.linkedin')
= t('flashfunders_social_urls.twitter')
