!!!
%html
  %head
    %title= "#{page_title_prefix}#{content_for?(:page_title) ? yield(:page_title) : page_meta_title}"

    = render 'layouts/head_additions'
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags

    - if Rails.env.development?
      %link{rel: 'icon', type: 'img/png', href: asset_path('development-favicon.png')}
    - else
      %link{rel: 'icon', type: 'img/png', href: asset_path('favicon.ico')}

    = Gon::Base.render_data

  %body
    %div{class: "#{'main-container ' unless responsive_page?} #{content_for(:main_container_class)}" }
      .registration

        .logo
          = link_to(root_path, class: 'link-home') do
            = image_tag 'FFLogo_Primary_AllWhite.png', alt: 'FlashFunders Home', class: 'small-logo'
        = yield

      .site-footer
        %footer{ role: 'contentinfo' }
          = render 'layouts/footer'

  #scrim
  = javascript_include_tag 'application'
  = render partial: 'shared/tracking/analytics'
  = render partial: 'shared/tracking/google_tag_manager'
