!!!
%html{ xmlns: 'http://www.w3.org/1999/xhtml' }
  %head
    %title= t('mailer.footer.address.recipient')
    %meta{ 'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8' }
    %link{ href: '//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700', rel: 'stylesheet', type: 'text/css' }
    = render partial: 'layouts/mailer/internal_css'

  %body{ style: "Margin:0 auto !important; padding:0 #{spacing[:_1]} !important; background-color: #{color[:white_lilac]};", bgcolor: "#{color[:white_lilac]}" }
    %table{ width: '100%', align: 'center', style:'min-width: 290px; Margin:0 auto !important;', cellspacing: '0', cellpadding: '0', bgcolor: "#{color[:white_lilac]}" }
      %tr
        %td{ width: 'auto' }
        %td{ width: 'auto' }
          %table{ width: '680', align: 'center', style:'min-width: 290px; Margin:0 auto !important;', cellspacing: '0', cellpadding: '0', bgcolor: "#{color[:white_lilac]}" }
            %tr
              %td= render partial: 'layouts/mailer/header'
            %tr
              %td= mail_container(yield(:header_text), yield(:header_img), yield)
            %tr
              %td= render partial: 'layouts/mailer/footer', locals: { footer_links: yield(:review_browse_blog_links) }
        %td{ width: 'auto' }
