!!!
%html
  %head
    %title FlashFunders Style Guide
    = render 'layouts/head_additions'
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    = javascript_include_tag "application", "data-turbolinks-track" => true

  %body
    = render 'home/header'
    = yield

  #scrim
